<?php
$html=$this->html;
if (isset($html['title'])) {
    $this->headTitle($html['title']." | ");
}else{
    $this->headTitle("Trazeni oglas ne postoji ili je istekao!");
}
if (isset($html['meta_desc'])) {
    $this->headMeta()->appendName('description',$html['meta_desc']);
}
if (is_array($html)) {
    $meta_keyword=[
        $html['kategorija'],
        $html['mesto'],
      (isset($html['prodaja_izdavanje'])?$html['prodaja_izdavanje']==='Prodaju'?'prodaja':'izdavanje':""),
        (isset($html['oglasivac'])?$html['oglasivac']:""),
        
        
        
        
    ];
    !isset($html['uknjizen'])?:$meta_keyword[]='uknjizen';
    !isset($html['grejanje'])?:$meta_keyword[]=$html['grejanje'];
    
    
    
    
    
    
    $this->headMeta()->appendName('keywords',implode(",",$meta_keyword));
    


// var_dump(\implode(",", $html));
}
$deo_me=isset($html['deo_mesta'])?', '.$html['deo_mesta']:"";
$llok=isset($html['lokacija'])?', '.$html['lokacija']:"";
 
//var_dump($html);
?>
<script>
var PRIJAVA_USPESNO_MODAL=<?=  json_encode($modal_prijavi)?>;
var OGLAS_ID_JEDAN_OGLAS=<?= isset($html['id_oglasi_nk'])?json_encode($html['id_oglasi_nk']):false?>
</script>
<div class="container">
    <div id="main">
        <div class="row">
            
             
     <div  style="background-color: transparent;margin-bottom: 30px;" class="bottom-wrapper">	
 <?=$this->reklame([],false,true)?>
        </div> 
            
            
            
            
            
            <div class="span9">
                
             <?php if(!is_array($html)):?>
                 <div class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Obavestenje!</h4>
            <p>Ovaj oglas je istekao ili je obrisan.</p>
          
          </div>
                
                  <?=$this->reklame()?>
                  <?=$this->reklame()?>
                  <?=$this->reklame()?>
                  <?=$this->reklame()?>
                
             <?php else:?> 
                <div style="background-color: white; overflow: auto;margin-bottom: 0;" class="well well-small">
                  
                    <blockquote style="margin-bottom: 0;">
                       <h1 style="margin-bottom: 0px;margin-top: 0;color: #06a7ea;font-size: 22px;font-weight: bold;font-style: italic;" class="page-header">
                           <?=$html['naslov']?>
                           <span style="font-weight: bold;" class="price pull-right"><?=$html['cena']?></span>                   
                       </h1> 
 <span><?=$html['mesto']?> <cite title="Source Title"><?=$deo_me.$llok?></cite>
              
     <span class="pull-right">
         <a style="color:#616161;" title="Ukoliko ste na ovom oglasu primetili grešku ili nepravilnost, popunite sledece podatke i pošaljite nam." id="prijavi-oglas" href=""><i class="fa fa-exclamation-triangle fa-lg"></i></a> 
         <a style="color:#616161;" id="dodaj-u-favorite-jedan-oglas" data-id="<?=$html['id_oglasi_nk']?>" class="dodaj-u-favorite" title="Dodajte oglas u favorite." href="#"></a>
         <a onclick="window.print()" style="color:#616161;" href="#"><i class="fa fa-print fa-lg"></i></a>
     </span>
                                      
                    
 </span>

</blockquote>
                </div>
                
                
                
                
                
            
                
                
                
                
                <?php if(isset($html['slika_1'])):?>
                    <div id="loadpgwjs" style="">
                    
                    
                    <img style="display: block;
    margin-left: auto;
    margin-right: auto;" src="/img/icons/382.GIF">
                    
                </div>
                <ul id="pgwjsnone" style="display: none" class="pgwjs">
    <li><img src="<?=$html['slika_1']?>" alt="<?=$html['naslov'].' '.$html['cena']?>" data-description="<?=$html['mesto'].$deo_me.$llok?>"></li>
                         



 <?php if(isset($html['slika_2'])):?>
                            <li class="">
                                <img title="<?=$html['naslov']?>" style="max-height: 450px;" src="<?=$html['slika_2']?>" 
                                     alt="<?=$html['naslov']?>">
                            </li>
                            <?php endif?>
                            <?php if(isset($html['slika_3'])):?>
                            <li class="">
                                <img title="<?=$html['naslov']?>" style="max-height: 450px;" src="<?=$html['slika_3']?>" 
                                     alt="<?=$html['naslov']?>">
                            </li>
                            <?php endif?>  
                            <?php if(isset($html['slika_4'])):?>
                            <li class="">
                                <img title="<?=$html['naslov']?>" style="max-height: 450px;" src="<?=$html['slika_4']?>" 
                                     alt="<?=$html['naslov']?>">
                            </li>
                            <?php endif?>
                            <?php if(isset($html['slika_5'])):?>
                            <li class="">
                                <img title="<?=$html['naslov']?>" style="max-height: 450px;" src="<?=$html['slika_5']?>" 
                                     alt="<?=$html['naslov']?>">
                            </li>
                            <?php endif?>
                            <?php if(isset($html['slika_6'])):?>
                            <li class="">
                                <img title="<?=$html['naslov']?>" style="max-height: 450px;" src="<?=$html['slika_6']?>" 
                                     alt="<?=$html['naslov']?>">
                            </li>
                            <?php endif?>
                            <?php if(isset($html['slika_7'])):?>
                            <li class="">
                                <img title="<?=$html['naslov']?>" style="max-height: 450px;" src="<?=$html['slika_7']?>" 
                                     alt="<?=$html['naslov']?>">
                            </li>
                            <?php endif?>
                            <?php if(isset($html['slika_8'])):?>
                            <li class="">
                                <img title="<?=$html['naslov']?>" style="max-height: 450px;" src="<?=$html['slika_8']?>" 
                                     alt="<?=$html['naslov']?>">
                            </li>
                            <?php endif?>
                            <?php if(isset($html['slika_9'])):?>
                            <li class="">
                               <img title="<?=$html['naslov']?>" style="max-height: 450px;" src="<?=$html['slika_9']?>" 
                                     alt="<?=$html['naslov']?>">
                            </li>
                            <?php endif?>
                            <?php if(isset($html['slika_10'])):?>
                            <li class="">
                               <img title="<?=$html['naslov']?>" style="max-height: 450px;" src="<?=$html['slika_10']?>" 
                                     alt="<?=$html['naslov']?>">
                            </li>
                            <?php endif?>
 
                </ul>
                <?php endif?>
                
       
                <div class="property-detail">
         <?=$this->reklame([],false,true)?>
                    <div class="row">
                        <div id="informacije-o-oglasu" style="margin-right: 0;margin-left: 30px;" class=" overview span4" >
                       
                            <div class="">
                                <h2> <i class="fa fa-info-circle"></i> Informacije o oglasu</h2>

                                <table class="table table-striped" style="">
                                    <thead>
                                          <tr class="">
                                        <th>ID oglasa:</th>
                                        <td><?=$html['id_oglasi_nk']?></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                       <tr class="">
                                        <th>Kategorija:</th>
                                        <td><?=$html['kategorija']?></td>
                                    </tr>
                                      <tr class="">
                                        <th>Objavljen:</th>
                                        <td><?=  date('d M Y',  strtotime($html['datum_kreiranja_oglasa']))?></td>
                                    </tr>
                                         <?php if(isset($html['datum_azuriranja'])):?>
                                    <tr>
                                         <th>Ažuriran:</th>
                                        <td><?=$html['datum_azuriranja']?></td>
                                    </tr>
                                    <?php endif?>
                                    <?php if(isset($html['uknjizen'])):?>
                                    <tr>
                                         <th>Uknjizen:</th>
                                        <td>Da</td>
                                    </tr>
                                    <?php endif?>
                                    
                                    
                                    
                                    
                                    
                                    <tr class="">
                                        <th>Cena:</th>
                                        <td style="color: #06a7ea;"><?=$html['cena']?></td>
                                    </tr> 
                                    <?php if(isset($html['oglasivac'])):?>
                                    <tr>
                                         <th>Oglašivač:</th>
                                        <td style="font-weight: bolder;color:#313131;"><?=$html['oglasivac']?></td>
                                    </tr>
                                    <?php endif?>
                                        <th>Mesto:</th>
                                        <td><?=$html['mesto']?></td>
                                    </tr>
                                    <?php if(isset($html['deo_mesta'])):?>
                                    <tr>
                                        <th>Deo mesta:</th>
                                        <td><?=$html['deo_mesta']?></td>
                                    </tr>
                                    <?php endif?>
                                    <?php if(isset($html['lokacija'])):?>
                                    <tr>
                                        <th>Lokacija:</th>
                                        <td><?=$html['lokacija']?></td>
                                    </tr>
                                    <?php endif?>
                                    <?php if(isset($html['ulica'])):?>
                                    <tr>
                                        <th>Ulica:</th>
                                        <td><?=$html['ulica']?></td>
                                    </tr>
                                    <?php endif?>
                       
                                </tbody></table>
                                
                                
                                
                                
                                <?php if($html['kategorija']!='Selidbe'):?>
                              <h2> <i class="fa fa-info-circle"></i> Dodatne informacije</h2>
                                <table  class="table table-striped">
                               
                                    <thead>
                                             <tr>
                                        <th>Oglas za:</th>
                                        <td style="font-weight: bolder;color:#313131;"><?=$html['prodaja_izdavanje']?></td>
                                    </tr>
                                    
                                    </thead>  
                                    <tbody>    
                                        <?php if(isset($html['grejanje'])):?>
                                        <tr>
                                        <th>Grejanje:</th>
                                        <td><?=$html['grejanje']?></td>
                                    </tr>
                                    <?php endif?>
                                    <?php if(isset($html['kvadratura'])):?>
                                     <tr>
                                        <th>Kvadratura:</th>
                                        <td><?=$html['kvadratura']?> m<sup>2</sup></td>
                                    </tr>     
                                    <?php endif?>
                                    <?php if(isset($html['spratnost'])):?>
                                    <tr>
                                        <th>Spratnost:</th>
                                        <td><?=$html['spratnost']?></td>
                                    </tr>
                                    <?php endif?>
                                    <?php if(isset($html['vrsta_kuce'])):?>
                                    <tr>
                                        <th>Vrsta kuce:</th>
                                        <td><?=$html['vrsta_kuce']?></td>
                                    </tr>
                                    <?php endif?>
                                     
                                    <?php if(isset($html['broj_soba'])):?>
                                    <tr>
                                        <th>Sobe:</th>
                                        <td><?=$html['broj_soba']?></td>
                                    </tr>
                                    <?php endif?>
                                    <?php if(isset($html['namestenost'])):?>
                                    <tr>
                                        <th>Nameštenost:</th>
                                        <td><?=$html['namestenost']?></td>
                                    </tr>
                                    <?php endif?>
                                    <?php if(isset($html['tip_objekta'])):?>
                                    <tr>
                                        <th>Tip objekta:</th>
                                        <td><?=$html['tip_objekta']?></td>
                                    </tr>
                                    <?php endif?>
                                    <?php if(isset($html['opis_objekta'])):?>
                                     <tr>
                                        <th>Opis objekta:</th>
                                        <td><?=$html['opis_objekta']?></td>
                                    </tr>                
                                    <?php endif?>
                                    <?php if(isset($html['spratovi'])):?>
                                    <tr>
                                        <th>Sprat:</th>
                                        <td><?=$html['spratovi']?></td>
                                    </tr>
                                    <?php endif?>
                                    <?php if(isset($html['ukupno_spratovi'])):?>
                                    <tr>
                                        <th>Ukupno Spratova:</th>
                                        <td><?=$html['ukupno_spratovi']?></td>
                                    </tr>
                                    <?php endif?>
                                    <?php if(isset($html['godina_izgradnje'])):?>
                                    <tr>
                                        <th>Godina izgradnje:</th>
                                        <td><?=$html['godina_izgradnje']?></td>
                                    </tr>
                                    <?php endif?>
                                </tbody></table>  
                                
                                <?php endif?>
                                
                                
                                
                            </div>
                            <!-- /.span2 -->
                             
                       <!--  </div>
                        /.row -->
                    </div>
                    <div class="span4">
                  <h2 style=""><i class="fa fa-pencil"></i> Opis:</h2>
                  <p class=""><?=$html['opis']?></p>
                   
                    <hr/>
                    
                    <h2 style=""><i class="fa fa-phone"></i> Kontakt podaci oglašivača:</h2>
                    
                    
                    
                    
                          
            <table class="table table-striped">
              
              
              <tbody>
                    <?php if(isset($html['ime'])):?>
                <tr>
                  <td>Oglašivač:</td>
                  <td><strong style="color: #303030;font-size: 17px;"><?=ucwords(strtolower($html['ime']))?></td>
                 
                </tr>
                <?php endif;?> 
                
                   <?php if(isset($html['mesto_kontakt_podaci'])):?> 
                <tr>
                
                  <td>Mesto:</td>
                  <td><strong><?=$html['mesto_kontakt_podaci']?></strong></td>
                </tr>
                <?php endif;?> 
                <?php if(isset($html['ulica_kontakt_podaci'])):?> 
                <tr>
                  <td>Adresa:</td>
                  <td><strong style="color:black;"><?=$html['ulica_kontakt_podaci']?></strong></td>
                 
                </tr>
                <?php endif;?> 
                
                
              
              </tbody>
            </table>            
                <address>
  <abbr class="span2" style="color: #06a7ea;font-weight: lighter;font-size: 18px;" title="">
     <i class="fa fa-phone-square"></i>  Telefon:</abbr> 
                        <strong  style="font-size: 18px;font-style: italic;">
                        <?=$html['telefon']?>
                         </strong><br>
     <?php if(isset($html['dodatni_telefon'])):?>
   <abbr class="span2" style="color: #06a7ea;font-weight: lighter;font-size: 18px;" title="">
       <i class="fa fa-phone-square"></i> Dodatni tel:</abbr> 
                        <strong style="font-size: 18px;font-style: italic;"> <?=$html['dodatni_telefon']?></strong><br>
     <?php endif?>
           <!--               <abbr class="span2" style="color: #06a7ea;font-weight: lighter;font-size: 18px;" title="">
       <i class="fa fa-envelope"></i></i> Email</abbr> 
                        <a href="#" id="send-user-email" data-oglasid="<?=$html['id_oglasi_nk']?>" style="font-size: 18px;font-style: italic;"> Posalji poruku</a><br>
           -->
           
           
          <?php if($html['oglasivac']=='Agencija'):?>
           
                              <div class="span2">
  
  <a style="color:#999999" href="http://nadjinekretnine.com/prodavci/agencija/<?=$html['id_users_nk'].'/'.$html['naziv_firme']?>">
      <i class="fa fa-list-alt"></i> svi oglasi oglasivaca</a>
                      
  </div>   
           
           <?php endif?>
           
         
                        
                        <hr/>                     
  
 </address>
    <address>           
          
           
                  
              
         <?php if (isset($html['logo_agencije'])):?>
                 <div class="span2">
          <img class="span2" src='<?=$html['logo_agencije']?>'/>  
                 </div>  
        <div style="clear:both"></div>
        <hr/>
<?php endif;?>    
     <!--         <div class="span2">
  
  <a style="color:#999999" href="#"><i class="fa fa-list-alt"></i> svi oglasi oglasivaca</a><br> 
  </div>
  </div>  <!--  -->
       
</address>           
            </div>         
             </div>  
                    
                    <div class="clearfix"></div>
            <?=$this->reklame(['desktop'],false,true)?>        
              <?php if(//isset($html['uknjizen'])||
                            isset($html['depozit'])||
                            isset($html['zamena'])||
                            isset($html['odmah_useljiv'])||
                            isset($html['dodatni_podatci_telefon'])||
                            isset($html['interfon'])||
                            isset($html['kablovska'])||
                            isset($html['internet'])||
                            isset($html['klima'])||
                            isset($html['topla_voda'])||
                            isset($html['za_pusace'])||
                            isset($html['za_nepusace'])||
                            isset($html['video_nadzor'])||
                            isset($html['terasa'])||
                            isset($html['lift'])||
                            isset($html['parking'])||
                            isset($html['podrum'])||
                            isset($html['dodatno_graza'])||
                            isset($html['video_nadzor'])):
                         ?>
            
          <h2 style="color: #06a7ea"><i class="fa fa-info-circle"></i> Dodatno</h2>     
                    <div class="row">
                        <ul class="span2">
                            
                            <li class="<?=isset($html['depozit'])?"checked":'plain'?>">
                                Depozit
                            </li>
                            <li class="<?=isset($html['zamena'])?"checked":'plain'?>">
                               Zamena
                            </li>
                            <li class="<?=isset($html['odmah_useljiv'])?"checked":'plain'?>">
                                Odmah useljiv
                            </li>
                         </ul>
                        <ul class="span2">
                            <li class="<?=isset($html['dodatni_podatci_telefon'])?"checked":'plain'?>">
                               Telefon
                            </li>
                          <li class="<?=isset($html['interfon'])?"checked":'plain'?>">
                               Interfon
                            </li>
                            <li class="<?=isset($html['kablovska'])?"checked":'plain'?>">
                               Kablovska
                            </li>
                            <li class="<?=isset($html['internet'])?"checked":'plain'?>">
                                Internet
                            </li>
                            <li class="<?=isset($html['klima'])?"checked":'plain'?>">
                                Klima
                            </li>  
                          </ul>
                         <ul class="span2">
                            
                            <li class="<?=isset($html['topla_voda'])?"checked":'plain'?>">
                               Topla voda
                            </li>
                            <li class="<?=isset($html['za_pusace'])?"checked":'plain'?>">
                                Za pušače
                            </li>
                                     <li class="<?=isset($html['za_nepusace'])?"checked":'plain'?>">
                                Za nepušače
                            </li>
                           <li class="<?=isset($html['video_nadzor'])?"checked":'plain'?>">
                                Video nadzor
                            </li>
                         </ul>
                        <ul class="span2">
                            
                         <li class="<?=isset($html['terasa'])?"checked":'plain'?>">
                                Terasa
                            </li>
                            
                            <li class="<?=isset($html['lift'])?"checked":'plain'?>">
                               Lift
                            </li>
                            <li class="<?=isset($html['parking'])?"checked":'plain'?>">
                                Parking
                            </li>
                             <li class="<?=isset($html['podrum'])?"checked":'plain'?>">
                               Podrum
                            </li>
                            <li class="<?=isset($html['dodatno_graza'])?"checked":'plain'?>">
                                Garaža
                            </li>
                             
                        </ul>
                        </div>     
          <?php endif?>
          
          
          
                 
           <?php if(isset($html['mapa'])):?>      
           
                     <h2><i class="fa fa-map-marker"></i> Mapa</h2>
                    
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvYtramF7qKBJSKqBENBls3KUTgZBj0DM&v=3.exp" type="text/javascript"></script>
       
 <script>
  var map,lat=<?=$html['mapa']['lat']?>,lng=<?=$html['mapa']['lng']?>;
function initialize() {
       var myLatlng = new google.maps.LatLng(lat,lng), 
       mapOptions = {
            zoom: 15,
            center: myLatlng,
            scrollwheel: false,
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
  
           var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
   //   title: 'Hello World!',
      icon:'/img/markers/office-building.png'
  });
 
  
}

google.maps.event.addDomListener(window, 'load', initialize);

  </script>       
                    
  <div style="width: 100%;height: 400px;" id="map-canvas"></div>            
                    
                  <?php elseif(isset($html['e_stan_frame'])):?>
  <div onClick="style.pointerEvents='none'"  class="map-prevent-frame-scroll">
      <?=$html['e_stan_frame']?>
  </div>
  
   
  <?php endif?>  
  
  
  <!--
  ---------------------------------------------------------
  end oglas
  -->
                    
             </div>             
              <?php endif?>      

                    
           </div>          
                    
    
            <div class="sidebar span3">
       
                <div class="widget properties last">
               <?=$this->reklame(['desktop'],'270x600',true)?>       
               <?=$this->reklame(['phone','tablet'],false,true)?>         
                    
                    
                    
                    
                    
                    
                    
                    
                    <?php if(is_array($this->slicni_oglasi)):?>
    <div class="title">
        <h2>Po preporuci</h2>
    </div><!-- /.title -->

    <div class="content">
        
      <?php foreach($this->slicni_oglasi as $k=>$v):?>
        <div class="property">
            <div style="position: relative" class="image">
                <?php if($v['vrsta_oglasa']!=1):?>
                <?php if($v['vrsta_oglasa']==2):?>
                 <button style="position: absolute;top: 0;left: 0;" class="btn btn-xs btn-warning ">
   TOP                    </button>
                <?php else:?>
                <button style="position: absolute;top: 0;left: 0;" class="btn btn-xs btn-danger ">
  PREMIUM                 </button>
                <?php endif?>
                
                
                <?php endif?>
                
               
                <a  title="<?=$v['naslov']?>" href="<?=$v['link']?>"></a>
                <img class="poslednje-slike-foother"  src="<?=$v['slika_1']?>" alt="<?=$v['naslov']?>">
            </div><!-- /.image -->

            <div class="wrapper">
                <div class="title">
                    <h3>
                        <a class="poslednji-oglasi-naslov-foother" title="<?=$v['naslov']?>" href="<?=$v['link']?>"><?=$v['naslov']?></a>
                    </h3>
                </div><!-- /.title -->
                <div class="location"><?=$v['mesto']?></div><!-- /.location -->
                <div class="price"><?=$v['cena']?></div><!-- /.price -->
            </div><!-- /.wrapper -->
        </div><!-- /.property -->
        <?php endforeach ?>
        </div><!-- /.content -->
        <?php endif?>
        

        
    
</div><!-- /.properties -->
            </div>
   
          
        </div> 
        
        
        </div>
    </div>
</div>
<?php
$prijavi_oglas->prepare();
if (isset($html['id_oglasi_nk'])) {
    

?>
<div id="prijavi-oglas-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Prijava nepravilnosti</h3>
  </div>
   
  <div class="modal-body">
      <p>
        Ukoliko ste na ovom oglasu primetili grešku ili nepravilnost, popunite sledece podatke i pošaljite nam.
    </p>
      <?=$this->form()->openTag($prijavi_oglas);?>
   <?=$this->formHidden($prijavi_oglas->get('id')->setValue($html['id_oglasi_nk']))?> 
      <?=$this->formHidden($prijavi_oglas->get('refferer')->setValue($this->serverUrl(true)))?> 
      <div class="control-group">
    <label class="control-label" for="inputEmail">Ime: <span class="form-required" title="This field is required.">*</span></label>
    <div class="controls">
     <?=$this->formInput($prijavi_oglas->get('ime'))?>
    </div>
  </div>
      
          <div class="control-group">
    <label class="control-label" for="inputEmail">Email: <span class="form-required" title="This field is required.">*</span></label>
    <div class="controls">
    <?=$this->formInput($prijavi_oglas->get('email'))?>
    </div>
  </div>
          <div class="control-group">
    <label class="control-label" for="inputEmail">Poruka: <span class="form-required" title="This field is required.">*</span></label>
    <div class="controls">
   <?=$this->formTextarea($prijavi_oglas->get('poruka'))?>
    </div>
  </div>
        <div class="controls">
  <?=$this->formSubmit($prijavi_oglas->get('submit'))?>
    </div>
         
    
    
    <?=$this->form()->closeTag()?>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Zatvori</button>
  
  </div>
</div>



<div id="prijava-uspesno-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Prijava nepravilnosti</h3>
  </div>
   
  <div class="modal-body">
      <p>
          Uspesno ste poslali prijavu.
      </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Zatvori</button>
  
  </div>
</div>








<?php }?>















