<?php
         $user_data=$this->db_data;
//var_dump($user_data);

//podatci iz baze
$us_ime=$user_data['ime_oglasivac'];
$us_telefon=$user_data['telefon_oglasivac'];
$us_mobilni=$user_data['mobilni_oglasivac'];
$us_dob=$user_data['datum_rodjenja'];
$us_pol=$user_data['pol'];
//----------------------------------------------           
                   
/*
 * 
 * forma za sve podatke(iz baze) sem za password i email
 * 
 * 
 */
     $form=$this->form;
     $form->prepare();
    
     $mp_ime=$form->get("mp_ime");
     if (isset($us_ime)) {
        $mp_ime->setValue($us_ime);
     }
    

    $mp_telefon=$form->get("mp_telefon");
    if (isset($us_telefon)) {
     $mp_telefon->setValue($us_telefon);
}
   
    
    $mp_mobilni=$form->get("mp_mobilni");
    if (isset($us_mobilni)) {
    $mp_mobilni->setValue($us_mobilni); 
}
       
    
    $mp_dob=$form->get("mp_dob");
    if (isset($us_dob)&&$us_dob!='0000-00-00') {
     
    $mp_dob->setValue(date('d/m/Y', strtotime($us_dob))); 
}
       

    $mp_pol=$form->get("mp_pol");
    if (isset($us_pol)) {
        if ($us_pol==1) {
            $mp_pol->setValue(1);
        }
        elseif($us_pol==2){
             $mp_pol->setValue(2);
        }
}
    

//--------------------------------------------------------------
    
    
    
    
       /*
     * email obavestenja iz baze(tabela newsletter)
     * 
     * 
     * 
     */
    
   $newsletter=$this->newsletter;


     $mp_noviteti=$form->get("noviteti");
     
     if (isset($newsletter[0]['noviteti'])&&$newsletter[0]['noviteti']==1) {
         $mp_noviteti->setValue(1);
     }
   
     $mp_istekli_oglasi=$form->get("istekli_oglasi");
     if (isset($newsletter[0]['istekli_oglasi'])&&$newsletter[0]['istekli_oglasi']==1) {
         $mp_istekli_oglasi->setValue(1);
     }
    
     $mp_poruke=$form->get("poruke");
     if (isset($newsletter[0]['poruke'])&&$newsletter[0]['poruke']==1) {
          $mp_poruke->setValue(1);
     }
    #------------------------------------------------------

    $mp_submit=$form->get("mp_submit");
    
    

    $form_errors=$form->getMessages();
           
                    
 ?>
                     
               
                        <?=$this->form()->openTag($form);?>       
                      <div style="" class="panel panel-info span3 pull-right">       
                                <div class="panel-heading">     
                                    <h3 class="panel-title">Email obaveštenja</h3>  
                                </div>       <div class="panel-body">       
                                    <table class="table">                    
                                        <thead>                        
                                            <tr>                          
                                                <td> <?=$this->formCheckbox($mp_noviteti)?></td>          
                                                <td>Želim da primam obaveštenja o novitetima.</td>   
                                            </tr>
                                        </thead>                      
                                        <tbody>                       
                                            <tr>                          
                                                <td> <?=$this->formCheckbox($mp_istekli_oglasi)?></td>        
                                                <td> Želim da primam obaveštenja o isteklim oglasima.</td>         
                                            </tr>                                                 
                                            <tr>                           
                                                <td><?=$this->formCheckbox($mp_poruke)?></td>            
                                                <td> Želim da primam email obaveštenja o pristiglim porukama.</td>        
                                            </tr>                                        
                                        </tbody>                                    
                                    </table>              
                                </div>     
                            </div>         
                    <div style="" class="span7 panel panel-info ">
                       
            <div class="panel-heading">
               <h3 class="panel-title">Dodatni podatci</h3>
            </div>
                        <div style="display:<?=  count($form_errors)>0?'block':'none' ?>" class="alert alert-error">
                            <h5>Doslo je do greske!</h5>
                            <ul>
<?php
                                                if (count($form_errors)>0) {
                                                    foreach ($form_errors as $key => $value) {
                                                        foreach ($value as $v) {
                                                            echo "<li>$v</li>";
                                                        }
                                                    }
                                                }

?></ul>
</div>
         
             <div class="panel-body">
                 <table class="table">
                     <thead>
                         <tr>
                             <td>Ime:</td>
                             <td> <?=$this->formInput($mp_ime)?></td>
                         </tr>
                     </thead>
                     <tbody>
                        
                         <tr>
                             <td>Telefon:</td>
                             <th><?=$this->formInput($mp_telefon) ?>
                             </th>
                           
                         </tr>       
                         <tr>
                             <td>Mobilni telefon:</td>
                             <th><?=$this->formInput($mp_mobilni)?></th>
                          </tr>  
                         <tr>
                             <td>Datum rodjenja:</td>
                             <th><?=$this->formInput($mp_dob)?></th>
                         </tr>   
                         <tr>
                             <td>Pol:</td>
                             <th> <?=$this->formRadio($mp_pol)?></th>
                          
                         </tr> 
                     </tbody>
                 </table>
                 
                 
                      

              
                         
             </div>         
                    
                    
     </div>          
                 
                        
                    
                       
     </div>  
                    
      
                                       
                    
                    
                    
                <div style="clear: both"></div>  
                    

            
            <?=$this->formSubmit($mp_submit)?>
            
         <?=$this->form()->closeTag();?>    