<?php


//change email form
     $form_email=$this->change_email;
     $form_email->prepare();
     $new_email=$form_email->get('email');
     $change_email_password=$form_email->get('password');
     $submit_new_email=$form_email->get('change-email-submit');
     
     $change_email_messages=$form_email->getMessages();
     
     if ($this->email_errors) {
    $change_email_messages['custom']=['no_user'=>$this->email_errors];
}
     
//-----------------------------------------------------------
  
     
 //change username 
$form_username=$this->change_username;
$form_username->prepare();
$un_username=$form_username->get("new_username");
$un_password=$form_username->get("password");
$un_submit=$form_username->get("change-username-submit");
     $change_username_errors=$form_username->getMessages();
     if ($this->username_errors) {
    $change_username_errors['custom']=['no_user'=>$this->username_errors];
}
        
     
    
 //change password form
     $form_pass=$this->change_pass;
     $form_pass->prepare();
     
     $pass_old=$form_pass->get("old_password");
     
     $pass_new=$form_pass->get("password");
     $pass_new_ponovi=$form_pass->get("retupepass");
     $new_pass_submit=$form_pass->get("change-pass-submit");
 //----------------------------------------------------------
     
 $erros_change_pass=$form_pass->getMessages();
     
 if ($this->pass_errors) {
    $erros_change_pass['custom']=['old_password'=>$this->pass_errors];
}
     
 $lunch_error_modal=false;
 

if (count($erros_change_pass)>0||count( $change_username_errors)>0||count($change_email_messages)>0) {
    $lunch_error_modal=true;
} 








?>
<script>
var MODAL_OK_EMAIL_PASS=<?=json_encode($this->modal_ok)?>;
var MODAL_ZA_ERRORS=<?=$lunch_error_modal?'false':'true'?>;


 

</script>

 
<!-- Modal ok -->
<div id="modal-za-update-user-data" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div style=" " class="modal-header">
         <a href="#">
         <img style="width: 32px;height: 32px;float: right;" data-dismiss="modal"  aria-hidden="true" src="/img/tmp/remove.png"/>
         </a>
         <h3>Moji podatci</h3>
     </div>
 
      <div class="modal-body">
          Vaši podaci su uspešno izmenjeni!
      </div>
  
   <div class="modal-footer">
   
    <a href="#" data-dismiss="modal" class="btn btn-primary">Zatvori</a>
  </div>
</div>

<!-- errors  -->
<div id="modal-update-errors" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Doslo je do greske</h3>
  </div>
  <div class="modal-body">
      <div class="alert alert-danger">
          Uneti podatci nisu promenjeni!
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-left " data-dismiss="modal" aria-hidden="true">Zatvori</button>
   
  </div>
</div>




<!-- Modal za promeni email -->
<div id="modal-update-email" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Promena Email adrese</h3>
  </div>
  <div class="modal-body">

 <?=$this->form()->openTag($form_email); ?>
                   
  <div class="control-group">
    <label class="control-label" for="inputEmail"> Unesite novu Email adresu: </label>
    <div class="controls">
     <?=$this->formInput($new_email); ?>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">  Lozinka:</label>
    <div class="controls">
     <?=$this->formInput($change_email_password); ?>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
     <?=$this->formSubmit( $submit_new_email);  ?>
    </div>
  </div>     
<?=$this->form()->closeTag();?>                      
    
                         
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-left " data-dismiss="modal" aria-hidden="true">Zatvori</button>
   
  </div>
</div>

<!-- Modal za promeni username -->
<div id="modal-update-username" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Promena Korisnickog imena</h3>
  </div>
  <div class="modal-body">

 <?=$this->form()->openTag($form_username); ?>
                   
  <div class="control-group">
    <label class="control-label" for="inputEmail"> Unesite novo Korisnicko ime: </label>
    <div class="controls">
     <?=$this->formInput($un_username); ?>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">  Lozinka:</label>
    <div class="controls">
     <?=$this->formInput($un_password); ?>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
     <?=$this->formSubmit( $un_submit);  ?>
    </div>
  </div>     
<?=$this->form()->closeTag();?>                      
    
                         
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-left " data-dismiss="modal" aria-hidden="true">Zatvori</button>
   
  </div>
</div>



<!-- Modal za promeni password -->
<div id="modal-update-pass" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Promena Lozinke</h3>
  </div>
  <div class="modal-body">

  <?=$this->form()->openTag($form_pass)?>
                   
  <div class="control-group">
    <label class="control-label" for="inputEmail"> Lozinka: </label>
    <div class="controls">
    <?=$this->formInput($pass_old)?>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Nova lozinka:</label>
    <div class="controls">
   <?=$this->formInput($pass_new)?>
    </div>
  </div>
 <div class="control-group">
    <label class="control-label" for="inputPassword">Ponovi novu lozinku:</label>
    <div class="controls">
  <?=$this->formInput($pass_new_ponovi)?>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
     <?=$this->formSubmit( $new_pass_submit)?>
    </div>
  </div>     
<?=$this->form()->closeTag();?>                      
    
 </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-left " data-dismiss="modal" aria-hidden="true">Zatvori</button>
   
  </div>
</div>

 

