<?php
             


$newsletter_pl=$this->newsletter;

$form_news=$this->form_email;
$form_news->prepare();
 

?> 
<script>
var PRAVNA_LICA_PODATCI_MODAL=<?=json_encode($this->modal_pravni_podatci)?>;
 
var PRAVNA_LICA_EMAIL_OBAVESTENJA_MODAL=<?=json_encode($this->modal_email_obavestenja)?>;
</script>   

      <div style="" class="panel panel-primary span3 pull-right">       
                                <div class="panel-heading">     
                                    <h3 class="panel-title">Email obaveštenja</h3>  
                                </div>       <div class="panel-body">       
             <?=$this->form()->openTag($form_news);?>  
                                    
            <div class="control-group">
                <?=$this->formCheckbox($form_news->get("noviteti"))?>
                    Obaveštenja o novitetima.
            </div>                      
             <div class="control-group">
                <?=$this->formCheckbox($form_news->get("istekli_oglasi"))?>
                    Obaveštenja o isteklim oglasima.
            </div>                                      
             <div class="control-group">
                <?=$this->formCheckbox($form_news->get("poruke"))?>
                   Obaveštenja o pristiglim porukama.
            </div>                                      
                                <div class="form-actions">
  <?=$this->formSubmit($form_news->get("submit_pravna_lica_email_obavestenja"))?>
</div>            
      <?=$this->form()->closeTag();?>                              
                                </div>     
                            </div>   




<?php

  $user_data=$this->db_data;
 // var_dump($user_data);

//podatci iz baze
$us_ime=$user_data['ime_oglasivac'];
$us_telefon=$user_data['telefon_oglasivac'];
$us_mobilni=$user_data['mobilni_oglasivac'];
$us_website=$user_data['website'];
 
//----------------------------------------------           
                   
/*
 * 
 * forma za sve podatke(iz baze) sem za password i email
 * 
 * 
 */
     $form_dod=$this->form_dodatno;
     $form_dod->prepare();
    
     $mp_ime=$form_dod->get("mp_ime");
     if (isset($us_ime)) {
        $mp_ime->setValue($us_ime);
     }
    $mp_mesto=$form_dod->get("mp_mesto");
     if (isset($user_data['mesto_oglasivac'])) {
        $mp_mesto->setValue($user_data['mesto_oglasivac']);
     }
    $mp_ulica=$form_dod->get("mp_ulica");
     if (isset($user_data['ulica_oglasivac'])) {
        $mp_ulica->setValue($user_data['ulica_oglasivac']);
     }
    $mp_telefon=$form_dod->get("mp_telefon");
    if (isset($us_telefon)) {
     $mp_telefon->setValue($us_telefon);
}
$mp_website=$form_dod->get('mp_website');
if ($us_website) {
    $mp_website->setValue($us_website);
}
 
    
    $mp_mobilni=$form_dod->get("mp_mobilni");
    if (isset($us_mobilni)) {
    $mp_mobilni->setValue($us_mobilni); 
}
       



//--------------------------------------------------------------
    
    
    
 

    $mp_submit=$form_dod->get("pl_mp_submit");
    
    

    $form_dod_errors=$form_dod->getMessages();








?>







  
                        <?=$this->form()->openTag($form_dod);?>       
                  
                    <div style="" class="span7 panel panel-primary ">
                       
            <div class="panel-heading">
                <h3 class="panel-title">Kontakt podatci oglasivaca <i title="Ovi podatci ce se pojavljivati kao kontakt podatci u vasim oglasima!" class="fa fa-info-circle"></i></h3>
            </div>
                        <div style="display:<?=  count($form_dod_errors)>0?'block':'none' ?>" class="alert alert-error">
                            <h5>Doslo je do greske!</h5>
                            <ul>
<?php
                                                if (count($form_dod_errors)>0) {
                                                    foreach ($form_dod_errors as $key => $value) {
                                                        foreach ($value as $v) {
                                                            echo "<li>$v</li>";
                                                        }
                                                    }
                                                }

?></ul>
</div>
         
             <div class="panel-body">
                 <table class="table">
                         <thead>
                         <tr>
                             <td>Ime i Prezime:</td>
                             <td> <?=$this->formInput($mp_ime)?></td>
                         </tr>
                     </thead>
                     <tbody>
                        
                         
                          <tr>
                             <td>Mesto:</td>
                             <th><?=$this->formInput($mp_mesto) ?>
                             </th>
                           
                         </tr>    
                         
                                <tr>
                             <td>Ulica:</td>
                             <th><?=$this->formInput($mp_ulica) ?>
                             </th>
                           
                         </tr>  
                         <tr>
                             <td>Telefon:</td>
                             <th><?=$this->formInput($mp_telefon) ?>
                             </th>
                           
                         </tr>       
                         <tr>
                             <td>Dodatni telefon:</td>
                             <th><?=$this->formInput($mp_mobilni)?></th>
                          </tr>  
                           <tr>
                             <td>Web site:</td>
                             <th><?=$this->formInput($mp_website)?></th>
                          </tr>  
                         <tr>
                             <td>Logo:</td>
                             <th><?=$this->formFile($form_dod->get("mp_logo"))?>
                             <?php  if (isset($user_data['logo_oglasivac'])):?>
                                 <img class="span1" src="/img/logo/<?=$user_data['logo_oglasivac']?>"/> 
                                 
                                 <?php endif?>
                            
                             </th>
                          </tr>    
                          
                          
                          
                          
                      
                     </tbody>
                 </table>
                 
                 
                      

              
                         
             </div>         
                    
             <div style="clear: both"></div>  
                    

            
            <?=$this->formSubmit($mp_submit)?>
            
         
     </div>          
                 <?=$this->form()->closeTag();?>           
                        
                    
      <div style="" class="panel panel-danger span3 pull-right">       
                                <div class="panel-heading">     
                                   <h3 class="panel-title">Deklaracija o oglašavanju  <i class="fa fa-exclamation-triangle"></i></h3> 
                                </div>       <div class="panel-body">    
                                    Da popunite ili izmente deklaraciju kliknite <a href="http://nadjinekretnine.com/moj-profil/deklaracija">ovde</a>


</div>   </div>   
                     
                   
               </div>    </div>         

            <!-- Modal -->
<div id="pravna-lica_podatci" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id=" ">Deklaracija</h4>
  </div>
  <div class="modal-body">
    Deklaracija je uspesno kreirana. Ovi podaci neće
biti javno dostupni i tretiramo ih kao poverljive u skladu sa Zakonom o zaštiti podataka o ličnosti.
 U slučaju promene podataka, oglašivač je dužan da tu promenu unese u ovu form.  
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    
  </div>
</div>
            <!-- Modal -->
<div id="pravna-lica_email_obavestenja" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id=" ">Email Obavestenja</h4>
  </div>
  <div class="modal-body">
Podatci su uspesno izmenjeni!
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    
  </div>
</div>              