<div class="container">
    <div id="main">
        <div class="not-found">
            <strong>404</strong>
            <h1>Strana nije pronadjena.</h1>
            <hr>
              <p>
                  <a class="" href="http://nadjinekretnine.com"><i class="fa fa-chevron-circle-left"></i> Pocetna  </a>
            </p>
        </div>
    </div>
</div>
