<?php

$magazin=$this->magazin; 


?>








         <div class="bottom-wrapper">
        
           <div class="bottom container">   
               <h2 style="float: left;" class="page-header">Magazin</h2>
            <ul class="thumbnails">
                
                
                <?php foreach($magazin as $k=>$v):?>
                <?php
                $link='http://nadjinekretnine.com/magazin-nekretnine/'.$v['kategorija'].'/'.$v['id_magazin'].'/'.$v['link'];
                ?>
              <li class="span3">
                <div class="thumbnail">
                    <a href="<?=$link?>">      <img data-src="holder.js/300x200" alt="300x200" src="<?=$v['glavna_slika']?>" 
                       style="width: 300px; height: 200px;"></a>  
                  <div class="caption">
                      <h3><a href="<?=$link?>"> <?=$v['naslov']?></a></h3>
                    <p>
        <?=strip_tags(substr($v['text'],0,400)).'...'?>
                        <a class="btn btn-primary btn-xs" href="<?=$link?>"
                > procitaj <i class="fa fa-chevron-circle-right"></i></a>
                    </p>
                   </div>
                </div>
              </li>
              
              <?php endforeach?>
              
              
              
              
              
              
            </ul>
        
          </div> 
        </div> 
        
        
        
