<?php
$login=$this->login;
$login->prepare();
 
           $login_email=$login->get("login_email_username");
            $login_pass=$login->get("login_pass");
            $login_zapamti=$login->get("login_zapamtime");
            $login_submit=$login->get("login_submit");
            
            $reg_log=$this->show_log_reg;
//------------------------------------------------------------------------------
 $register=$this->register_form;
 $register->prepare();
    
            $reg_username=$register->get("reg_username");
            $reg_email=$register->get("reg_email");
            $reg_password=$register->get("reg_password");
            $reg_retupepass=$register->get("reg_retupepass");
            $reg_oglasivac=$register->get("oglasivac_nekretnine");
            $reg_uslovi_koriscenja=$register->get("reg_uslovi_koriscenja");
            $reg_submit=$register->get("reg_submit");
            #---------------------------------------------------------------

$login_errors =$login->getMessages();  

if ($this->login_error) {
    $login_errors['nepstojeci_user']=[
        'invalid_user'=>$this->login_error
    ];
}


$register_errors=$register->getMessages();
 //------------------------------------------------------------------------------

$zab_lozinka=$this->zab_lozinka;
$zab_lozinka->prepare();

$zab_email=$zab_lozinka->get('zaboravljena-lozinka');
$zab_submit=$zab_lozinka->get('submit-zaboravljena-lozinka');


?>




<div class="container">
    <div style=" ">
        <div class="span10" id="main">
            <h1 class="page-header">Prijava / Registracija</h1>
            <div class="login-register">
<blockquote>
    <p>Registracija je potpuno <strong>BESPLATNA</strong> i možete ostaviti <strong>neograničen broj oglasa.</strong> 
      </p>
    <small>Specijalne ponude za <strong>Pravna lica.</strong></small>
</blockquote>
                
        
                
<div class="span11">
<div class="row">


  
        
        
        
        
        <div class="well span5" id=" ">

            <?=$this->form()->openTag($login);?>
            <legend>Prijava</legend>
            
       <div style="display: <?=count($login_errors)==0?'none':'block'?>" id="error-login-text" class="alert alert-block alert-error fade in animated flipInY">
             
            <h5 class="alert-heading">Doslo je do greske!</h5>
            <ul>
                 <?php
                 if (count($login_errors)>0) {
                     foreach ($login_errors as $k => $v) {
                         foreach ($v as $val) {
                              echo '<li>'.$val.'</li>';
                         }
                     }
                 }
                 ?>  
            </ul>
          </div>
           
            

                <div class="control-group">
                    <label class="control-label" for="inputLoginLogin">
                        Unesite Email adresu ili Korisnicko ime
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                         <?=$this->formInput($login_email) ; ?>
                       
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                <div class="control-group">
                    <label class="control-label" for="inputLoginPassword">
                        Lozinka
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
            <?php echo $this->formInput($login_pass) ; ?>
          
   
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
                
                <div style="margin-top:20px;overflow: auto" class="control-group">
                  
                         <div style="" class="pull-left">
                    <label for="login_zapamtime"> Zapamti me </label>
          <?=$this->formCheckbox($login_zapamti)?>                                     
                        </div>
           
                    
                 
                </div>
                <!-- /.control-group -->
          

                
                
  
                <div id="" style="clear: both" class="form-actions animated flipInY">
               
                  <a style="font-size: 11px;" class="" href="#modal-zaboravljena-lozinka" data-toggle="modal">Zaboravljena lozinka?</a>             
                 <?=$this->formButton($login_submit);  ?>  
                


 
              
           
                </div>
   
             
                <!-- /.form-actions -->
   <?=$this->form()->closeTag();?>
        </div>
        <!-- /.tab-pane -->

        <div class="well span5" id=" ">
            
             <?=$this->form()->openTag($register);?>
            <legend>Registracija<span style="color:red;font-size: 11px"> (za nove korisnike)</span></legend>
       <div style="display: <?=count($register_errors)==0?'none':'block'?>" id="error-register-text" class="alert alert-block alert-error fade in animated flipInY">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h5 class="alert-heading">Doslo je do greske!</h5>
            <ul>
                 <?php
                 if (count($register_errors)>0) {
                     foreach ($register_errors as $k => $v) {
                         foreach ($v as $val) {
                              echo '<li>'.$val.'</li>';
                         }
                     }
                 }
                 ?>                
            </ul>
          </div>
    
            
            
            
                <div class="control-group">
                    <label class="control-label" for="inputRegisterUsername">
                        Korisnicko ime
                        <span class="form-required" title="This field is required.">*</span> 
                    </label>

                    <div class="controls">
                   <?=$this->formInput($reg_username);  ?>
                       </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->           
            
            
         

                <div class="control-group">
                    <label class="control-label" for="inputRegisterEmail">
                        E-mail
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                   <?=$this->formInput($reg_email);  ?>
                       </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                <div class="control-group">
                    <label class="control-label" for="inputRegisterPassword">
                        Lozinka
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                        <?=$this->formInput($reg_password);  ?>
                      </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                <div class="control-group">
                    <label class="control-label" for="inputRegisterRetype">
                        Potvrdi lozinku
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                        <?=$this->formInput($reg_retupepass);  ?>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
                
        
       
    
                <div class="control-group">
                    <label class="control-label" for="inputRegisterRetype">
                       Oglasivac
                        <span class="form-required" title="This field is required.">*</span>
                    </label>
                         <div style="" class="pull-left">
                            <input type="radio" class="icheck-line" name="oglasivac_nekretnine" value="1" data-oglasivac="Fizicko lice" checked>                          
                        </div>
                       <div style="margin-left:30px;" class="pull-left">
                           <input type="radio" class="icheck-line" name="oglasivac_nekretnine" value="2" data-oglasivac="Pravno lice"  >                          
                        </div>
                       
                    
                 
                </div>
                <!-- /.control-group -->
                            
                
                
                
                
                
                <div style="clear: both"></div>
                
                
                
                
                
                
                                <div style="margin-top:20px;overflow: auto; " class="control-group">
    <div class="controls">
        <label class="pull-left">  
       <?=$this->formCheckbox($reg_uslovi_koriscenja);  ?>
              Slažem se sa
             <a href="http://nadjinekretnine.com/info/uslovi-koriscenja"> uslovima korišćenja</a>
            
      </label>
       
        </div>
      
      </div>
                
                
                
                 

                <div class="form-actions animated flipInY">
                  
                   
          
                <?=$this->formSubmit($reg_submit); ?> 
                </div>
                 <!--
               <hr style="border-bottom: 1px dotted #06a7ea;">   
                                         <div style="opacity: 0.9" class="control-group">
    <div class="controls ">

<a style="padding-left: 40px;" class="btn btn-block btn-social btn-facebook btn-mini pull-left" >
    <i style="" class="fa fa-facebook"></i>
    <span style=" ">Registruj se sa facebook nalogom</span>
          </a>
        
        
<a style="padding-left: 40px;" class="btn btn-block btn-social btn-google-plus btn-mini pull-left" >
    <i style="" class="fa fa-google-plus"></i>
    <span style=" ">Registruj se sa google plus nalogom</span>
          </a>        
        
       </div>
      
      </div>     -->
                <!-- /.form-actions -->
           <?=$this->form()->closeTag();?>
        </div>
        <!-- /.tab-pane -->
  
    <!-- /.tab-content -->
</div>
<!-- /.span4-->


















</div>
<!-- /.row -->
</div><!-- /.login-register -->        </div>
    </div>
</div>









 
 
<!-- Modal -->
<div style=" top: 20% !important;" id="modal-zaboravljena-lozinka" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Zaboravljena lozinka</h3>
  </div>
  <div class="modal-body">
    <p> 
Unesite vasu Email adresu i lozinka ce vam biti poslata!
    </p>
    <div style="display:none" id="zab-lozinka-error" class="alert alert-error">
 Email adresa nije validna!
</div>
   
            <?=$this->form()->openTag($zab_lozinka);?>
            
             <?=$this->formInput($zab_email) ; ?>
            <?=$this->formInput($zab_submit) ; ?>
            
            <?=$this->form()->closeTag();?>
   
  </div>

</div>




<!-- Modal -->
<div id="modal-porukajeposlata" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Poruka je poslata</h3>
  </div>
  <div class="modal-body">
    <p>Uputstvo za resetovanje lozinke je poslato na vas Email. Obavezno proverite folder za neželjnu poštu (Spam folder)</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori</button>
    
  </div>
</div>


<!-- Modal -->
<div id="modal-lozinka-zamenjena" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Promena lozinke</h3>
  </div>
  <div class="modal-body ">
    <p>Lozinka je uspesno promenjena!</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori</button>
    
  </div>
</div>

