
<div class="container">
    <div style="margin-left: 50px;">
        <div class="span10" id="main">
            <h1 class="page-header">Zaboravljena lozinka</h1>
         
<div class="row">
  
    <?php

if ($this->form) {
    $form=$this->form;
    $form->prepare();
    $pass=$form->get('new_password');
    $ret=$form->get('new_retupepass');
    $submit=$form->get('new_submit');
    $messages=$form->getMessages();
     
   echo $this->form()->openTag($form);
    
    ?>
     <div style="background-color: white;color:#313131" class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 style="margin-bottom: 20px;color: #313131">Unesite novu lozinku</h4>   
   
  <?php
      if ($messages) {
          echo ' <div style=" " class="alert alert-block alert-error fade in"><ul>';
          foreach ($messages as $k => $v) {
              foreach ($v as $val) {
                  echo "<li>$val</li>";
              }
          }
          
          echo "</ul></div>";
      }
  
  
  
  ?>
     
 


  
  
  
  
  
  <div class="control-group">
    <label class="control-label" for="inputEmail">Lozinka</label>
    <div class="controls">
       <?=$this->formInput($pass)?>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Ponovi lozinku</label>
    <div class="controls">
      <?=$this->formInput($ret)?>     
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
 <?=$this->formSubmit($submit)?> 
    </div>
  </div> 
    
    
    
 <?php  
    
   echo $this->form()->closeTag();
}
  
else{
    
    echo '    <div style="" class="alert alert-block alert-error fade in">
<p>Ovaj link nije aktivan verovatno zato sto je proslo vise od 24h od prijave ili je lozinka vec promenjena!</p>
</div>
';
}
?>


 

 
</div>


    
    

</div>

            
            
            

</div>






    
    
    
    
 </div>   

</div>










