
<div class="features">
    <h2 class="page-header">Brzi linkovi</h2>

    <div class="row">
        <div class="item span4">
            <div class="row">
                <div class="icon span1">
                  
                </div><!-- /.icon -->

                <div class="text span3">
                    <h3>Stambeni objekti prodaja</h3>
                  
                        
                     
            <ul>
            <li> <a href="http://nadjinekretnine.com/pretraga-oglasa/stanovi/prodaja/srbija"> Stan, prodaja</a></li>
            <li> <a href="http://nadjinekretnine.com/pretraga-oglasa/kuce/prodaja/srbija"> Kuća, prodaja </a></li>           
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/graze/prodaja/srbija">Garaža, prodaja</a></li>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/placevi/prodaja/srbija">Plac, prodaja</a></li>
             <li><a href="http://nadjinekretnine.com/pretraga-oglasa/stanovi/prodaja/beograd">Beograd, stan, prodaja</a></li>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/kuce/prodaja/beograd">Beograd, kuća, prodaja</a> </li>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/stanovi/prodaja/novi-sad">Novi Sad, stan, prodaja</a></li>       
      
        </ul>
               
                        
                        
                        
               
                </div><!-- /.logo -->
                
                
          <div class="item span4">
            <div class="row">
                <div class="icon span1">
              
                </div><!-- /.icon -->

                <div class="text span3">
                    <h3>Stambeni objekti izdavanje</h3>
        <ul>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/stanovi/izdavanje/beograd">Beograd, stan, izdavanje</a> </li> 
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/kuce/izdavanje/beograd">Beograd, kuća, izdavanje</a> </li>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/sobe/izdavanje/beograd">Beograd, soba, izdavanje</a></li>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/graze/izdavanje/beograd">Beograd, garaža, izdavanje</a></li>            
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/stanovi/izdavanje/novi-sad">Novi Sad, stan, izdavanje</a></li>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/kuce/izdavanje/novi-sad">Novi sad, kuća, izdavanje</a> </li>


         
        </ul>               
                
                </div><!-- /.logo -->
            </div><!-- /.row -->
        </div><!-- /.item -->

     
                
                
                
            </div><!-- /.row -->
        </div><!-- /.item -->

        <div class="item span4">
            <div class="row">
          <div class="icon span1">
             
                </div>

                <div class="text span3">
                    <h3>Poslovni objekti prodaja</h3>
            
       <ul>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/lokali/prodaja/srbija">Lokal, prodaja</a> </li>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/poslovni-prostori/prodaja/srbija">Poslovni prostor, prodaja</a> </li> 
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/hale/prodaja/srbija">Hala, prodaja</a></li>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/magacin/prodaja/srbija"> Magacin, prodaja</a> </li>     
        </ul>
                
                </div><!-- /.logo -->
                
                
                
                
                   <div class="item span4">
            <div class="row">
          <div class="icon span1">
          
                </div>
                         <div class="text span3">
                    <h3>Poslovni objketi izdavanje</h3>
              
       <ul>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/lokali/izdavanje/srbija">Lokal, izdavanje</a> </li>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/poslovni-prostori/izdavanje/srbija">Poslovni prostor, izdavanje</a> </li> 
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/hale/izdavanje/srbija">Hala, izdavanje</a></li>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/magacin/izdavanje/srbija"> Magacin, izdavanje</a> </li>     
        </ul>
                </div><!-- /.logo -->         
                 </div>
              </div>
                
                
                
                
            </div><!-- /.row -->
        </div><!-- /.item -->

       
        
        
        
        
          <div class="item span4">
            <div class="row">
                <div class="icon span1">
                 
                </div><!-- /.icon -->

                <div class="text span3">
                    <h3>Turisticki</h3>
                  
               <ul>
            <li> <a href="http://nadjinekretnine.com/pretraga-oglasa/vikendice/izdavanje/srbija"> Vikendice, izdavanje</a></li>
            <li> <a href="http://nadjinekretnine.com/pretraga-oglasa/apartmani/izdavanje/srbija">Apartmani, izdavanje </a></li>  
       
      
        </ul>
              
                </div><!-- /.logo -->
        
                
                  
          <div class="item span4">
            <div class="row">
                <div class="icon span1">
             
                </div><!-- /.icon -->

                <div class="text span3">
                    <h3>Zemljista</h3>
        <ul>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/poljoprivredno-zemljiste/prodaja/srbija">Poljoprivredno zemljiste</a> </li> 
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/gradjevinsko-zemljiste/prodaja/srbija">Gradjevinsko zemljiste</a> </li>
          


         
        </ul>               
                
                </div><!-- /.logo -->
            </div><!-- /.row -->
        </div><!-- /.item -->
             
                
                
                
          <div class="item span4">
            <div class="row">
                <div class="icon span1">
            
                </div><!-- /.icon -->

                <div class="text span3">
                    <h3>Ostalo</h3>
        <ul>
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/selidbe/prodaja/srbija">Selidbe</a> </li> 
            <li><a href="http://nadjinekretnine.com/pretraga-oglasa/kuce/prodaja/srbija/vrsta-kuce/montazna_kuca">Montazne kuće</a> </li>
          


         
        </ul>               
                
                </div><!-- /.logo -->
            </div><!-- /.row -->
        </div><!-- /.item -->

     
                
                
                
            </div><!-- /.row -->
        </div><!-- /.item -->

        
        
        
        
        
        
        
        
        
    </div>
    

  
</div><!-- /.features -->



