<?php




#load form--------------------------
if (isset($this->form)) {
    $form=$this->form;
}
#------------------------------------








?>
            
        
<div class="container">

    <div id="main">
        <div class="row">
            <div class="span9">
                <h1 class="page-header">Stambeni Objekti</h1>

                
                
                
                
                
                
              <div class="properties-rows">       
                
                
           
<div class="filter">
    <form action="?" method="get" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputSortBy">
                Sort by
                <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="controls">
                <select id="inputSortBy">
                    <option id="price">Price</option>
                    <option id="published">Published</option>
                </select>
            </div><!-- /.controls -->
        </div><!-- /.control-group -->

        <div class="control-group">
            <label class="control-label" for="inputOrder">
                Order
                <span class="form-required" title="This field is required.">*</span>
            </label>
            <div class="controls">
                <select id="inputOrder">
                    <option id="asc">ASC</option>
                    <option id="desc">DESC</option>
                </select>
            </div><!-- /.controls -->
        </div><!-- /.control-group -->
    </form>
</div><!-- /.filter -->
</div><!-- /.properties-rows -->   












<div class="properties-rows">
    <div class="row">
        
        
        
        
        
        
        
        
        
        
        
        
        
        
                        <div class=" span3">
 
           
               
<div style="background-color: #F2F2F2; " class="property-filter widget">
     
    <div class="content">
        
        <?php
        
 $form->prepare();
    



 $kategorija = $form->get('kategorija');
 $zemlja = $form->get('zemlja');
 $grad = $form->get('grad');
$deo_grada= $form->get('deo_grada');
$prodaja=$form->get('prodaja');
$izdavanje=$form->get('izdavanje');
$sa_slikom=$form->get('sa_slikom');

$cena_od=$form->get('cena_od');
$cena_do=$form->get('cena_do');

$kvadratura_od=$form->get('kvadratura_od');
$kvadratura_do=$form->get('kvadratura_do');
$submit=$form->get('submit');




$submit=$form->get('submit');
      // Render the opening tag
echo $this->form()->openTag($form);   
        
        
        
        
        
        ?>
 
            
     
            
            
<div class="location control-group">
                <label class="control-label label-bold" for="inputLocation">
                   Kategorija
                </label>
                <div  class="controls">
                  <?php echo $this->formSelect($kategorija);  ?>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            
<div class="type control-group">
                <label class="control-label label-bold" for="inputType">
                  Zemlja
                </label>
                <div class="controls">
                     <?php echo $this->formSelect($zemlja);  ?>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

  <div class="type control-group">
                <label class="control-label label-bold" for="inputType">
                Grad
                </label>
                <div class="controls">
                     <?php echo $this->formSelect($grad);  ?>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->          
            
            
          

   <div class=" control-group">
                                    <label class="control-label label-bold" for="zemlja">
                                       Deo Grada
                                    </label>
                                    <div class="controls">
                                    <?=$this->formSelect( $deo_grada );  ?>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->        
                                
                                
                                
                                
                                
        <div class="beds  control-group">
                                    <div class="controls ">
                                        <label class="checkbox  label-bold" for="sa-slikom">
                                        Cena
                                        </label>
                                        
                                       <?php echo $this->formInput( $cena_od ); ?>
                                       
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->               
                                                                              
                <div style="" class="baths  control-group">
                                    <div class="controls ">
                                        <label class="checkbox  label-bold" for="sa-slikom">
                                       
                                        </label>
                                        
                                       <?php echo $this->formInput( $cena_do );  ?>
                                    
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->                          
                                
                                
                                
    <div class="beds control-group">
                                    <div class="controls ">
                                        <label class="checkbox label-bold" for="sa-slikom">
                                        Kvadratura 
                                        </label>
                                        <?php echo $this->formInput( $kvadratura_od ); ?>
                                      
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->      
                               
                                
         <div style=""  class="baths control-group">
                                    <div class="controls ">
                                        <label class="checkbox" for="sa-slikom">
                                   
                                        </label>
                                        
                                       <?php  echo $this->formInput($kvadratura_do );  ?>
                                  
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->                           
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                                      
    <div style=" " class=" control-group">
                                    <div class="controls ">
                                        <label class="checkbox label-bold" for="sa-slikom">
                                           Dodatne opcije
                                        </label>
                                    
                                      
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->                    
                                
                                
  
<div style=" "  class=" control-group">
                                    <div class="controls">
                                        <label class="checkbox" for="sa-slikom">
                                          <?php echo $this->formCheckbox( $sa_slikom );  ?>  Samo oglasi sa slikom
                                        </label>
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->               
                                     
                                
                                
              
               
            <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> Prodaja
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> Izdavanje
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
           
            
            
            
            
                                          
    <div style=" " class=" control-group">
                                    <div class="controls ">
                                        <label class="checkbox label-bold" for="sa-slikom">
                                            <span style=" ">Tip Objekta</span>
                                        </label>
                                    
                                      
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->      
                               
                                 
            
            
            
              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> stara gradnja
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> novogradnja
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
           
            
            
            
            
            
          
            
                    
                                          
    <div style=" " class=" control-group">
                                    <div class="controls ">
                                        <label class="checkbox label-bold" for="sa-slikom">
                                            <span style=" ">  Oglašivač nekretnine</span>
                                        </label>
                                    
                                      
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->      
                               
                                 
            
            
            
              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> Vlasnik
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> Agencija
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            
            
      
            
            
            
            
                                                   
    <div style=" " class=" control-group">
                                    <div class="controls ">
                                        <label class="checkbox label-bold" for="sa-slikom">
                                            <span style=" ">  Grejanje</span>
                                        </label>
                                    
                                      
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->      
                               
                                 
            
            
            
              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (4458)CG
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (68)norveški radijatori
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            



            
                <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (29)mermerni radijatori
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (16)kaljeva peć
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?>(12)podno 
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (163)gas
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (619)TA
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            






            
            
            
            
            
            
            
            
            
                                                               
    <div style=" " class=" control-group">
                                    <div class="controls ">
                                        <label class="checkbox label-bold" for="sa-slikom">
                                            <span style="  ">  Sprat</span>
                                        </label>
                                    
                                      
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->      
                               
                                 
            
            
            
              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (42)psut
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (26)ptk
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            



            
                <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (2)penthouse
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
     

              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (42)psut
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (383)vpr
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (387)pr
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->




                 
            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (3784)do 5
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?>(542)6-10
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (54)11-15
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (11)preko 15
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            

            
          




       
                                                               
    <div style=" " class=" control-group">
                                    <div class="controls ">
                                        <label class="checkbox label-bold" for="sa-slikom">
                                            <span >     Opis objekta</span>
                                        </label>
                                    
                                      
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->      
                               
                                 
            
            
            
              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (1020)izvorno stanje
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (2044)renoviran
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            



            
                <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (1798)lux
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
     

              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (59)salonski
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (68)duplex 
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->


            
            
            
            
            
            
       
      





  
            
            
                                                               
    <div style=" " class=" control-group">
                                    <div class="controls ">
                                        <label class="checkbox  label-bold" for="sa-slikom">
                                            <span  >    Dodatno</span>
                                        </label>
                                    
                                      
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->      
                               
                                 
            
            
            
              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (2621)podrum
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?>(5153)telefon
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            
         
              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (2762)klima
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?>(3646)lift
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            
     










            
                <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (4065)ktv
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
     

              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (3473)internet
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> ((5294)terasa
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (5)lođa
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->




                 
            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (0)francuski balkon
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?>(4689)interfon
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (858)garaža
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
                 <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?> (1837)parking
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            

            
   




  
            
      
                                                               
    <div style=" " class=" control-group">
                                    <div class="controls ">
                                        <label class="checkbox label-bold" for="sa-slikom">
                                            <span  >    Dodatni kriterijumi</span>
                                        </label>
                                    
                                      
                                    </div><!-- /.controls -->
                                </div><!-- /.control-group -->      
                               
                                 
            
            
            
              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (3108)odmah useljiv
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->

            <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputSale">
                        <?php echo $this->formCheckbox( $izdavanje );  ?>(5053)uknjižen
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->
                            
            
         
              <div class=" control-group">
                <div class="controls">
                    <label class="checkbox" for="inputRent">
                        <?php echo $this->formCheckbox( $prodaja );  ?> (357)Može zamena
                    </label>
                </div><!-- /.controls -->
            </div><!-- /.control-group -->      
            
            
           




            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <div class="form-actions">
                  <?php echo $this->formInput($submit);  ?> 
            </div><!-- /.form-actions -->
            
            
            
            
          <?php echo $this->form()->closeTag() ?>
    </div><!-- /.content -->
</div><!-- /.property-filter -->             
                            
                            
                            
                            
                            
                            
</div><!-- /.ad -->
        
        






















        
        <?php
        for ($index = 0; $index < 10; $index++) {
            echo '
                 
        <div class="property span6">
            <div class="row lista-oglasa-row">
                <div style="" class="image span2 lista-oglasa-img ">
                    <div class="content">
                        <a href="#"></a>
                        <img  src="/img/tmp/lista-2.jpg" alt="">
                    </div><!-- /.content -->
                    
                    <div class="lista-ogasa-ispod-slike" style="">
                        11. Mar 2014 | Agencija    
                     </div>
                </div><!-- /.image -->

              <div class="body span4">
                   
                    
                    <div style="padding-top: 0px;" class="title-price row">
                        <div class="title span4">
                            <h2><a style="font-size: 16px;font-weight: bold " href="#">Izdavanje lux modernog stana Vracar, Centar</a>
                            </h2>
                        </div><!-- /.title -->

                     
                    </div><!-- /.title -->
                 
                    
              <div style="font-size: 13px; "  class="location">Beograd,Vracar | Stanovi | Prodaja</div><!-- /.location -->
              
                <p style="font-size: 13px; " >Renoviran, površine 12m2, 4x3, nov pod, struja, police, metalne rešetk...</p>
              
                  <div style="font-size: 16px;float: right; color: #e17862;font-weight: bold " class="price">
                         47.400€
                        </div>   <!--/.price -->
              
                  
                    <div class="area">
                        <span class="key">120m<sup>2</sup></span><!-- /.key -->
                    
                    </div><!-- /.area -->
                    <div class="bedrooms"><div class="content">4</div></div><!-- /.bedrooms -->
                    <div class="bathrooms"><div class="content">3</div></div><!-- /.bathrooms -->
                    
                    
                    <a  class="no-hover" href="#">
                         <img style="width: 60px; height: 25px; "  src="/img/tmp/04_maps.png" alt="" title="Vidi na Mapi">  
                    </a>
                       
                    <a class="no-hover" href="#">
                         <img style="width: 22px; height: 22px; "  src="/img/tmp/star.png" alt="" title="Dodaj u favorite">  
                    </a>
                   </div><!-- /.body -->
                
       </div><!-- /.property -->
        </div><!-- /.row -->



';
        }
        
        
        
        ?>
        
       
        
              
                    
                    
   
        
                <div style="float: right" class="pagination  pagination-right span6">
                    

     <ul style="float: left; margin-top: 10px;" >
        <li><a style="margin: 0" href="#">10</a></li>
        <li class="active"><a style="margin: 0; "  href="#">20</a></li>
        <li><a style="margin: 0"  href="#">30</a></li>
  
    </ul>           
         <ul>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">sledeca <span>»</span></a></li>
       
    </ul>            
              
</div><!-- /.pagination -->       
    
       
 
    
    
    </div>
            
            
            
        
        
        
    </div><!-- /.row -->
</div><!-- /.properties-rows -->





            
            
            
            
            
            
            
            
            
            <div class="sidebar span3">
           
     
                <div class="ad widget">
    <h2>Reklame</h2>
    <div class="content">
        <a href="#"><img src="/img/tmp/banner.gif" alt="Banner"></a>
         <a href="#"><img src="/img/tmp/banner-1.jpg" alt="Banner"></a>
          <a href="#"><img src="/img/tmp/banner-2.jpg" alt="Banner"></a>
           <a href="#"><img src="/img/tmp/banner-3.jpg" alt="Banner"></a>
            <a href="#"><img src="/img/tmp/banner.gif" alt="Banner"></a>
             <a href="#"><img src="/img/tmp/banner-1.jpg" alt="Banner"></a>
                 <a href="#"><img src="/img/tmp/banner.gif" alt="Banner"></a>
         <a href="#"><img src="/img/tmp/banner-1.jpg" alt="Banner"></a>
          <a href="#"><img src="/img/tmp/banner-2.jpg" alt="Banner"></a>
           <a href="#"><img src="/img/tmp/banner-3.jpg" alt="Banner"></a>
            <a href="#"><img src="/img/tmp/banner.gif" alt="Banner"></a>
             <a href="#"><img src="/img/tmp/banner-1.jpg" alt="Banner"></a>
    </div><!-- /.content -->
</div><!-- /.ad -->
            </div>
        </div>
    </div>
</div>
