     


   
                
         <div class="tab-pane" id="mapa-tub">
   <div style="overflow: auto;" class="span11 panel panel-info">
        <div class="panel-heading">
              <h3 class="panel-title">Mapa</h3>
        </div>
                   <div class="panel-body">
                  
                                     
                       
                       <legend>Označite tačnu lokaciju na mapi.</legend>
                       
                       <p>
   Proverite da li je vaš objekat tacno oznacen na mapi. Ako oznaka nije dobro postavljena onda kliknite na marker i vucite ga do tacne lokacije ili
   upisite tacnu adresu u polje i kliknite "Primeni unetu adresu". Skrolovanjem mozete zumirati mapu. Ukoliko tacno obelezite lokaciju vaseg objekta mozete da koristite google servise 
   kao sto su <a target="_blank" href="https://www.google.com/maps/views/view/streetview/serbia-highlights/hotel-moskva/_q_p5c5GPLp2coZ9J98fiQ?gl=rs&heading=212&pitch=103&fovy=75">
       Google Street view
   </a>.
   
                       </p>        
                       
                       
                      
                  <!-- mapa  
                  <script  type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvYtramF7qKBJSKqBENBls3KUTgZBj0DM&libraries=places"></script>
<!-- mapa -->
   
    <script type="text/javascript">
        
   
        
    function loadScript(){
  
    var script = document.createElement("script");
    script.type = "text/javascript";
    document.getElementsByTagName("head")[0].appendChild(script);
    script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCvYtramF7qKBJSKqBENBls3KUTgZBj0DM&libraries=places&callback=initialize';
 
  }
  
        
        
        
var geocoder,map,marker,lat,lng,icon='/img/markers/marker-blue.png';
var default_lat=document.getElementById('input_lat').value || 44.813099;
var default_lng=document.getElementById('input_lng').value || 20.463261;

function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(default_lat,default_lng);
  var mapOptions = {
    zoom: 14,
    center: latlng,
  }
  
   map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    
    marker = new google.maps.Marker({
    position: latlng,
    map: map,
    title:"Kliknite i zatim vucite marker do lokacije vaseg objekta.",
     draggable:true,
     icon:icon,
});
  lat = marker.getPosition().lat();
lng = marker.getPosition().lng();
      google.maps.event.addListener(marker, 'dragend', function(evt){
          lat=evt.latLng.lat();
          lng=evt.latLng.lng();
});  

}












function codeAddress(adr) {
    var errors=document.getElementById("map-adresa-errors");
    var address ;
    if (adr) {
    address=adr;
}
else{
     address = document.getElementById('input_google_address').value;
}

  if (!address) {
    address=$("#mesta_srbija option[value='"+$('#mesta_srbija').val()+"']").text()||"beograd";
}

  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
        errors.style.display="none";
      map.setCenter(results[0].geometry.location);
      if ( marker ) { marker.setMap(null); } 
     marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          draggable:true,
          title:"Kliknite i zatim vucite marker do lokacije vaseg objekta.",
          icon:icon,
      });
            google.maps.event.addListener(marker, 'dragend', function(evt){
           lat=evt.latLng.lat();
          lng=evt.latLng.lng();
}); 
lat = marker.getPosition().lat();
lng = marker.getPosition().lng();

    } else {
     errors.style.display="block";
     if (in_range($('#mesta_srbija').val(),1,179)) {
     codeAddress($("#mesta_srbija option[value='"+$('#mesta_srbija').val()+"']").text());
}else{
     codeAddress("beograd");
     map.setZoom(7);
     return false;
}
    
    }
    
  });
  map.setZoom(14);

}


//google.maps.event.addDomListener(window, 'load', initialize);

    </script>
   
                        
    <div style="margin-bottom: 10px;"  class="control-group span9">
      
                        <label class="control-label" for="inputPropertyFirstName">
                          Unesite lokaciju (npr. Beograd, Voždovac, Južni bulevar 20)
                        </label>
      <div class="controls pull-left">
                    
          <input style="/*width:300px*/;height: 34px;" class=""  id="input_google_address" type="text" value="" >
                     </div><!-- /.controls -->
                        <div class="form-actions pull-left">
                            <input style="margin-left:10px;" type="button" class="btn btn-primary" value="Primeni unetu adresu" onclick="codeAddress()"> 
</div>
                     <div style="clear: both;"></div>
                     <div class="control-group error">
      <span  id="map-adresa-errors" style="display:none"  class="help-inline">Trazena adresa nije nadjena!</span>                    
                     </div>

 
                    </div><!-- /.control-group -->                  
                    
              
     
    <div style="height: 350px;width: 100%;" id="map-canvas"></div> 
    
    
    
    
     <div style='clear: both'></div>     
                
 
 <div style="margin-top: 20px;margin-left: 0 " class="span11">
    <button id='go-to-tab2' class="btn btn-primary btn-medium  arrow-left pull-left" >
        
    <i class='icon-minus-sign icon-white'></i>  
       Nazad
   
   </button>
   <button id='map-done' style="" class="btn btn-primary btn-medium  arrow-right  pull-right" href="#">
       Sledeci korak
  
   </button>
    </div>
      </div>    
    </div>          
  </div>










