/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/

.uploadify {
	position: relative;
	margin-bottom: 1em;
}
.uploadify-button {
	background-color: red;
	background-image: linear-gradient(bottom, red 0%, #FF9A00 100%);
	background-image: -o-linear-gradient(bottom, red 0%, #FF9A00 100%);
	background-image: -moz-linear-gradient(bottom, red 0%, #FF9A00 100%);
	background-image: -webkit-linear-gradient(bottom, red 0%, #FF9A00 100%);
	background-image: -ms-linear-gradient(bottom, red 0%, #FF9A00 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, red),
		color-stop(1, #FF9A00)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/**border: 1px solid black;*/
	color: #FFF;
	font: bold 17px Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	width: 100%;
        padding: 5px;
      
        margin-top: 20px;
        
}
.uploadify:hover .uploadify-button {
	background-color: #CD0000;
	background-image: linear-gradient(top, #CD0000 0%, #FF9100 100%);
	background-image: -o-linear-gradient(top, #CD0000 0%, #FF9100 100%);
	background-image: -moz-linear-gradient(top, #CD0000 0%, #FF9100 100%);
	background-image: -webkit-linear-gradient(top, #CD0000 0%, #FF9100 100%);
	background-image: -ms-linear-gradient(top, #CD0000 0%, #FF9100 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #CD0000),
		color-stop(1, #FF9100)
	);
	background-position: center bottom;
     
      
        
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #FF9100;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url('../img/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}