<?php
//var_dump($lista);

?>
<!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                       Baza podataka 
                        <small>agencije i investitori</small>
                    </h1>
                  
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Agencije i investitori</h3>
                                    
                                    <div class="pull-right">
                                       <button type="button" data-toggle="modal" data-target="#dodaj-agenciju" class="btn btn-primary">Dodaj novu agenciju <i class="fa fa-plus-circle"></i></button>  
   
 
     
                                    
                                    
                                    
                                    
                                    
                                    
                                    </div>
                                   
                                </div><!-- /.box-header -->
                                
                                
                                
                                
                                
                                
               <div class="table-responsive">
                   <table style="font-size: 12px;" class="table table-hover">
        <thead>
                                            <tr>
                                                <th style="width: auto;">#</th>
                                              <!--  <th>ID</th>-->
                                                <th>Naziv</th>
                                              
                                                <th>Adresa</th>
                                                <th>Telefon</th>
                                                <th>Email</th>
                                               
                                                <th class="col-md-1">Website</th>
                                                <th class="col-md-1">Vrsta Korisnika</th>
                                                <th class="col-md-1">Saradnja</th>
                                                <th>Opis</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php if($lista):?>
                                            <?php foreach($lista as $k=>$v):?>
                                            <tr class="odd">
                                                 <td  style="width: auto;"><?=$k+1?></td>
                                              <!--  <td><?=$v['id_users_nk']?></td>-->
                                                 <td><?=strtolower($v['ime'])?></td>
                                             
                                                <td class="col-md-2"><?=$v['adresa'].", ".$v['mesto']?></td>
                                                <td class="col-md-2"><?=$v['telefon']?></td>
                                                <td><a href="#"><?=$v['email']?></a></td>
                                              
                                                <td class="col-md-1"><a href="<?=$v['website']?>">link</a></td>
                                                <td class="col-md-1"><?=$v['investitor_agencija']?></td>
                                                <td class="col-md-1"><?=$v['saradnja']?></td>
                                                <td><?=$v['opis']?></td>
                                                <td>
                                                    <a href="#" data-id="<?=$v['id_agencije_investitori_lista']?>" class="edit-agency">
                                                     <i class="fa fa-pencil-square-o fa-2x"></i> 
                                                    </a>         
                                                    <a href="#" data-id="<?=$v['id_agencije_investitori_lista']?>" class="delete-agency"> 
                                                        <i style="color: red" class="fa fa-times fa-2x"></i>
                                                    </a>
                                                </td>
                                              
                                            </tr>
                                            <?php endforeach?>
                                            <?php endif?>
                                        </tbody>
                                        <tfoot>
                                           <tr>
                                       
                                             <th>#</th>
                                                <th>Naziv</th>
                                              
                                                <th>Adresa</th>
                                                <th>Telefon</th>
                                               <th>Email</th>
                                              
                                                <th class="col-md-1">Website</th>
                                                <th class="col-md-1">Vrsta Korisnika</th>
                                                <th class="col-md-1">Saradnja</th>
                                                <th>Opis</th>
                                                 <th>Edit</th>
                                            </tr>
                                        </tfoot>
      </table>
    </div>               
                                
                                
                                
                                
                                
                                
                            </div><!-- /.box -->
 
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->

   <div class="modal fade bs-example-modal-lg" id="dodaj-agenciju" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Dodaj agenciju</h4>
      </div> 
        <form name="dodaj-agenciju" method="post" action="">
      <div class="modal-body">
       
          <div class="form-group">
            <label for="recipient-name" class="control-label">Naziv:</label>
            <input type="text" class="form-control" name="ime">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Mesto:</label>
            <input type="text" class="form-control" name="mesto">
          </div>   
           <div class="form-group">
            <label for="recipient-name" class="control-label">Adresa:</label>
            <input type="text" class="form-control" name="adresa">
          </div>  
            <div class="form-group">
            <label for="recipient-name" class="control-label">Telefon:</label>
            <input type="text" class="form-control" name="telefon">
          </div>  
             <div class="form-group">
            <label for="recipient-name" class="control-label">Email:</label>
            <input type="text" class="form-control" name="email">
          </div>
             <div class="form-group">
            <label for="recipient-name" class="control-label">Primarni email:</label>
            <input type="text" class="form-control" name="email_primary">
          </div>
             <div class="form-group">
            <label for="recipient-name" class="control-label">Web site:</label>
            <input type="text" class="form-control" name="website">
          </div> 
             <div class="form-group">
            <label for="recipient-name" class="control-label">Vrsta korisnika:</label>
            <select name="investitor_agencija" class="form-control">
  <option value="agencija">agencija</option>
  <option value="investitor">investitor</option>
 
</select>
          </div> 
             <div class="form-group">
            <label for="recipient-name" class="control-label">Saradnja:</label>
            <select name="saradnja" class="form-control">
  <option value="da">da</option>
  <option value="ne">ne</option>
  
</select>
          </div> 
     
            
          <div class="form-group">
            <label for="message-text" class="control-label">Opis:</label>
            <textarea class="form-control" name="opis"></textarea>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
        <button type="submit" name="dodaj-novu-agenciju" class="btn btn-primary">Sacuvaj</button>
      </div></form>
    </div>
  </div>
</div>          
            
            
            
       <!-- modal ok -->     
       <div class="modal fade" id="modal-ok">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Obavestenje</h4>
      </div>
      <div class="modal-body">
        <p>Podatci su uspesno uneti</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
            
            
       <!-- modal not ok -->     
       <div class="modal fade" id="modal-bad">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Obavestenje</h4>
      </div>
      <div class="modal-body">
        <p>Doslo je do greske!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
      
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
            
            
        <!-- modal not ok -->     
       <div class="modal fade" id="modal-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Obavestenje</h4>
      </div>
      <div class="modal-body">
        <p>Da li ste sigurni da zelite da obrisete podatke?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
        <button id="obrisi-agenciju" type="button" class="btn btn-primary" >Obrisi</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
                      
            
            



   <div class="modal fade bs-example-modal-lg" id="update-agenciju" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Edit data</h4>
      </div> 
        <form name="dodaj-agenciju" method="post" action="">
      <div class="modal-body">
          <input type="hidden" class="form-control" name="id_agencije_investitori_lista_update" id="id_agencije_investitori_lista_update">
          <div class="form-group">
            <label for="recipient-name" class="control-label">Naziv:</label>
            <input type="text" class="form-control" name="ime_update">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Mesto:</label>
            <input type="text" class="form-control" name="mesto_update">
          </div>   
           <div class="form-group">
            <label for="recipient-name" class="control-label">Adresa:</label>
            <input type="text" class="form-control" name="adresa_update">
          </div>  
            <div class="form-group">
            <label for="recipient-name" class="control-label">Telefon:</label>
            <input type="text" class="form-control" name="telefon_update">
          </div>  
             <div class="form-group">
            <label for="recipient-name" class="control-label">Email:</label>
            <input type="text" class="form-control" name="email_update">
          </div>
             <div class="form-group">
            <label for="recipient-name" class="control-label">Primarni email:</label>
            <input type="text" class="form-control" name="email_primary_update">
          </div>
             <div class="form-group">
            <label for="recipient-name" class="control-label">Web site:</label>
            <input type="text" class="form-control" name="website_update">
          </div> 
             <div class="form-group">
            <label for="recipient-name" class="control-label">Vrsta korisnika:</label>
            <select id="investitor_agencija_update" name="investitor_agencija_update" class="form-control">
  <option value="agencija">agencija</option>
  <option value="investitor">investitor</option>
 
</select>
          </div> 
             <div class="form-group">
            <label for="recipient-name" class="control-label">Saradnja:</label>
            <select id="saradnja_update" name="saradnja_update" class="form-control">
  <option value="da">da</option>
  <option value="ne">ne</option>
  
</select>
          </div> 
     
            
          <div class="form-group">
            <label for="message-text" class="control-label">Opis:</label>
            <textarea id="opis_update" class="form-control" name="opis_update"></textarea>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
        <button id="agencija_update" type="submit" name="agencija_update" class="btn btn-primary">Sacuvaj</button>
      </div></form>
    </div>
  </div>
</div>          
            


            

        <script type="text/javascript">
           var modals=<?=json_encode($modals)?>,
                   lista=<?=json_encode($lista)?>;
          // console.log(lista)
$(document).ready(function(){
    var oglas_id;
    
    
    if ('dodaj_agenciju' in modals) {
                if (modals.dodaj_agenciju===true) {
                    $("#modal-ok").modal();
                }else{
                    $("#modal-bad").modal();
                }
             }
   
   
   $(".edit-agency").click(function(){
       oglas_id=$(this).data('id'),
       default_values={};
       $("#id_agencije_investitori_lista_update").val(oglas_id)
      
      for(var i=0;i<lista.length;i++){
          for(var key in lista[i]){
              if (key==='id_agencije_investitori_lista'&&lista[i][key]==oglas_id) {
                  default_values=lista[i];
             }
          }
      }
      
      if (default_values) {console.log('yes')
    $("input[name='ime_update']").val(default_values.ime);
    $("#opis_update").val(default_values.opis);
    $("input[name='email_update']").val(default_values.email);
    $("input[name='email_primary_update']").val(default_values.email_primary);
    $("input[name='website_update']").val(default_values.website);
    $("#investitor_agencija_update").val(default_values.investitor_agencija);
    $("#saradnja_update").val(default_values.saradnja);
    $("input[name='adresa_update']").val(default_values.adresa);
    $("input[name='telefon_update']").val(default_values.telefon);
    $("input[name='mesto_update']").val(default_values.mesto);
      
        
        $('#update-agenciju').modal();
        return true;
        }
      
      
      
      alert("Doslo je do greske u sistemu!")
       
   })
   
   $("#agencija_update").click(function(){
       if ($.isNumeric(oglas_id)) { 
              
              return true;
            }
            alert('Doslo je do greske! Zovi Brata!');
            return false;
   })
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   $(".delete-agency").click(function(){
       oglas_id=$(this).data('id');
        $("#modal-delete").modal();
   });
   
   
   
         $("#obrisi-agenciju").click(function(){
          if ($.isNumeric(oglas_id)) { 
              var form = $("<form/>",{ action:'',method:"post" ,name:"obrisi-agenciju",id:"form-delete-agency"});
                form.append($("<input/>",{ type:'text',   name:'id-oglas-delete',value:oglas_id  } )); 
                $("body").append(form); 
               $("#form-delete-agency").submit();
                

            }
       })
   
   
   
   
   
   
   
   
     /*  
  $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
            
    */        
            
            
            
            
            
            
  })       
  
  
  
  
  
  
  
  
  
  
  
        </script>
    