<?php
$form=$this->form;
$form->prepare();

//var_dump($form->getMessages());

?>
<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
        <title>NadjiNekretnine | Login</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="/pub/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="/pub/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="/pub/assets/css/AdminLTE.css" rel="stylesheet" type="text/css" />

       
    </head>
    <body class="bg-black">

        <div class="form-box" id="login-box">
            <div class="header">Prijavi se</div>
            <?=$this->form()->openTag($form)?>
                <div class="body bg-gray">
                    <div class="form-group">
                        <?=$this->formInput($form->get('user_id'))?>
                    </div>
                    <div class="form-group">
                      <?=$this->formInput($form->get('password'))?>
                    </div>          
                  
                </div>
                <div class="footer">                                                               
                 <?=$this->formInput($form->get('submit'))?>
                    
                </div>
           <?=$this->form()->closeTag() ?>
 
        </div>


        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/pub/assets/js/bootstrap.min.js" type="text/javascript"></script>        

    </body>
</html>