 <?php


 ?>
   <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header no-margin">
                    <h1 class="text-center">
                        Mailbox
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- MAILBOX BEGIN -->
                    <div class="mailbox row">
                        <div class="col-xs-12">
                            <div class="box box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4">
                                            <!-- BOXES are complex enough to move the .box-header around.
                                                 This is an example of having the box header within the box body -->
                                            <div class="box-header">
                                                <i class="fa fa-inbox"></i>
                                                <h3 class="box-title">INBOX</h3>
                                            </div>
                                            <!-- compose message btn -->
                                            <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i> Compose Message</a>
                                            <!-- Navigation - folders-->
                                            <div style="margin-top: 15px;">
                                                <ul class="nav nav-pills nav-stacked">
                                                    <li class="header">Folders</li>
                                                    <li class=""><a href="#"><i class="fa fa-inbox"></i> Inbox (0)</a></li>
                                                    <li class="active"><a href="#"><i class="fa fa-mail-forward"></i> Sent(0)</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </div><!-- /.col (LEFT) -->
                                        <div class="col-md-9 col-sm-8">
                                            <div class="row pad">
                                                <div class="col-sm-6">
                                                    <label style="margin-right: 10px;">
                                                        <input type="checkbox" id="check-all"/>
                                                    </label>
                                                    <!-- Action button -->
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
                                                            Action <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#">Mark as read</a></li>
                                                            <li><a href="#">Mark as unread</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Move to junk</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Delete</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                
                                            </div><!-- /.row -->

                                            <div class="table-responsive">
                                                <!-- THE MESSAGES -->
                                                <table class="table table-mailbox">
                                                   
                                                    <tr>
                                                        <td class="small-col"><input type="checkbox" /></td>
                                                        <td class="small-col"><i class="fa fa-star-o"></i></td>
                                                        <td class="name"><a href="#">John Doe</a></td>
                                                        <td class="subject"><a href="#">Urgent! Please read</a></td>
                                                        <td class="time">12:30 PM</td>
                                                    </tr>
                                                 
                                                </table>
                                            </div><!-- /.table-responsive -->
                                        </div><!-- /.col (RIGHT) -->
                                    </div><!-- /.row -->
                                </div><!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <div class="pull-right">
                                        <small>Showing 1-12/1,240</small>
                                        <button class="btn btn-xs btn-primary"><i class="fa fa-caret-left"></i></button>
                                        <button class="btn btn-xs btn-primary"><i class="fa fa-caret-right"></i></button>
                                    </div>
                                </div><!-- box-footer -->
                            </div><!-- /.box -->
                        </div><!-- /.col (MAIN) -->
                    </div>
                    <!-- MAILBOX END -->

                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
        <!-- quick email widget -->
                            <div class="box box-info">
                                <div class="box-header">
                                    <i class="fa fa-envelope"></i>
                                    <h3 class="box-title">Send Email</h3>
                                    <!-- tools box -->
                                    <div class="pull-left box-tools">
                                    <!-- Single button -->

                                    </div><!-- /. tools -->
                                </div>
                                <form action="#" method="post">
                                <div class="box-body">
                                    
                                    
                          
                                        
                                        
                                        <div class="form-group">
                                            <div class="btn-group pull-left">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Email to <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
      <li><a class="izaberi-emailto" data-id="lista-agencija" href="#">Lista Agencija</a></li>
      <li><a class="izaberi-emailto" data-id="lista-investitora" href="#">Lista Investora</a></li>
    <li class="divider"></li>
    <li><a class="izaberi-emailto" data-id="fizicka-lica" href="#">Fizicka lica</a></li>
    <li><a class="izaberi-emailto" data-id="pravna-lica" href="#">Pravna lica</a></li>
  </ul>
</div>
             <input style="width: 80%" type="text" class="form-control" name="emailto" placeholder="Email to:"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="subject" placeholder="Subject"/>
                                        </div>
      <div class="form-group">
          <select id="select-template" class="form-control" name="select-template">
              <option value="">Izaberi template</option>
              <option value="prvi-kupac" >Prvi kupac</option>
          </select>
                                        </div>                                
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                        <div>
                       <!--                                         <div class="btn-group pull-left">
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Template <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Default template</a></li>
  
   
  </ul>
</div>-->
                                            <textarea id="email_html_msg" name="message" class="textarea" placeholder="Message" 
                                                      style="width: 100%; height: 125px; font-size: 14px; line-height: 
                                                      18px; border: 1px solid #dddddd; padding: 10px;">
                                                          
                                            </textarea>
                                        </div>
                                   
                                </div>
                                <div class="box-footer clearfix">
                                    <button name="send_mail" type="submit" class="pull-right btn btn-primary" id="sendEmail">Send <i class="fa fa-arrow-circle-right"></i></button>
                                </div>
                                </form>
                            </div>               
                      
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
         

            
            
    

      <!-- lista email  -->
        <div class="modal fade" id="lista-mails-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Compose New Message</h4>
                    </div>
                  
                        <div id="list-emails-modal-body" class="modal-body ">
                        </div>
                        <div class="modal-footer clearfix">
 <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
 <button id="get-all-chbx-email-vlaues" type="submit" class="btn btn-primary" data-dismiss="modal"> OK</button>
                        </div>
               
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        
            
            
            
            
            
<script>
    var EMAIL_LISTA=<?=json_encode($this->data)?>;
$(document).ready(function(){
  //  console.log(EMAIL_LISTA)
    
     $("#sendEmail").click(function(){
        var errors=[],
        emailto=$("input[name='emailto']").val(),
        subject=$("input[name='subject']").val(),
        message=$("#email_html_msg").val(),
        template=$("#select-template").val();
        console.log()
         if ($.trim(emailto)==="") {
            errors.push('Unesite kome saljete Email!');
         }if ($.trim(subject)==="") {
            errors.push('Polje subject je prazno!');
         }if ($.trim(template)==="") {
           // errors.push('Unesite Poruku!');
         }
        
        if (errors.length>0) {
            alert(errors[0]);
            return false;
            }
        return true;
     });





$('.izaberi-emailto').click(function(e){
    e.preventDefault();
    var data=$(this).data('id');
    $("#list-emails-modal-body").text('');
    var emailto=$("input[name='emailto']").val();
    switch(data){
        case "lista-agencija":
           // $("input[name='emailto']").val(set_value(emailto,EMAIL_LISTA['agencije-lista']))
             
            $("#lista-mails-modal").modal();
            $("#list-emails-modal-body").html(create_chbx(EMAIL_LISTA['agencije-lista']))
            break;
        case "lista-investitora":
           // $("input[name='emailto']").val(set_value(emailto,"Lista investitora"))
            
            $("#lista-mails-modal").modal();
            $("#list-emails-modal-body").html(create_chbx(EMAIL_LISTA['investitori-lista']))
            break;
        case "fizicka-lica":
          //  $("input[name='emailto']").val(set_value(emailto,"Fizicka lica"))
            
            $("#lista-mails-modal").modal();
            $("#list-emails-modal-body").html(create_chbx(EMAIL_LISTA['fizicka-lica']))
            break;
        case "pravna-lica":
         //   $("input[name='emailto']").val(set_value(emailto,"Pravna Lica"))
            
            $("#lista-mails-modal").modal();
            $("#list-emails-modal-body").html(create_chbx(EMAIL_LISTA['pravna-lica']))
            break;
          
    }
})

       
       
       
       
$("#get-all-chbx-email-vlaues").click(function(){
   var data=$("#form-list-chbx").serializeArray(),
   arr=[];
   if (data.length>0) {
    

    for(var i=0;i<data.length;i++){
       arr.push(data[i].value);
    }
    
      } 
     $("input[name='emailto']").val(set_value($("input[name='emailto']").val(),arr.join(",")));
    
    });
       
       
  
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
        
});        


function create_chbx(arr){
    if (!$.isArray(arr)) {
    return "";
}
    var form = $("<form/>",  { action:'',id:'form-list-chbx',class:'span3' } );
    
    for(var i=0;i<arr.length;i++){
        var value=arr[i]['email_nk'] || arr[i]['email_primary']; 
    form.append($("<div/>",{class:"checkbox"}).append(
            $("<label/>",{text:' '+value}).append(
              $('<input />', { type: 'checkbox', value:value,checked:'checked',style:"margin-left:0",name:value})              
              )
                    ))
    }
    return form;

}

function set_value(val,add_val){
if ($.trim(val)!=="") {
    return val+","+add_val;
}
return add_val;


}



















</script>




















      <!-- COMPOSE MESSAGE MODAL -->
        <div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Compose New Message</h4>
                    </div>
                    <form action="#" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">TO:</span>
                                    <input name="email_to" type="email" class="form-control" placeholder="Email TO">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">CC:</span>
                                    <input name="email_to" type="email" class="form-control" placeholder="Email CC">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">BCC:</span>
                                    <input name="email_to" type="email" class="form-control" placeholder="Email BCC">
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="email_message" class="form-control" placeholder="Message" style="height: 120px;"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-success btn-file">
                                    <i class="fa fa-paperclip"></i> Attachment
                                    <input type="file" name="attachment"/>
                                </div>
                                <p class="help-block">Max. 32MB</p>
                            </div>

                        </div>
                        <div class="modal-footer clearfix">

                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>

                            <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-envelope"></i> Send Message</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->






