<?php
 
$form=$this->form;
$form->prepare();

?>
 <script>
     
     var LUNCH_MODAL=<?=  json_encode($modal)?>;
   
 
 </script>
<div class="container">
    <div style=" ">
        <div class="span10" id="main">
            <h1 class="page-header">Mi trazimo za vas</h1>
            <div class="login-register">
                <p>
                    Prijavite se <b>BESPLATNO</b> na  servis "Mi trazimo za vas" i svakog dana na Vašu email adresu stizaće najnoviji oglasi po vasim kriterijumima.
<br/> Odaberite željene parametre i budite prvi ko će saznati za taj objekat kada bude pristigao na naš sajt.
                </p>
                <hr>
                
<div class="span11">
<div class="row">
    <div class="span5">
 <?=$this->form()->openTag($form);?>
              
        
        
                
                 <div class="control-group">
             <label style=" " class="control-label label-hard" for="inputLocation">
                   Izaberite Kategoriju <span class="form-required">*</span>:
             </label>
             <div class="controls">
                <?=$this->formInput($form->get('kategorija')),$this->formElementerrors($form->get('kategorija'),['style'=>'color:red'])?>
             </div>
         </div>
        
  
      <hr/>
 
        
        <div style="overflow: auto;" class="control-group">
            <label title=""  class="control-label label-hard" for="inputLocation">Izaberite lokaciju 
                <span class="form-required" data-hasqtip="5" oldtitle="This field is required." title="" aria-describedby="qtip-5">*</span>:
                <span style="font-size: 12px">(mozete izabrati do sest lokacija)</span></label>
<div style="" class="controls"><?=$this->formInput($form->get('mesta_srbija')),$this->formElementerrors($form->get('mesta_srbija'),['style'=>'color:red']);?></div></div>  
         <hr/>
        
 <?php       
        
      $exp=array_filter(explode('<label>', $this->formRadio($form->get('prodaja_izdavanje'))));
foreach ($exp as $k => $v) { 
$exp[$k]=preg_replace("#\w+</label>#", "", $v);   
}     

echo '
<div class="control-group"> <label  class="control-label label-hard" for="inputLocation">Prodaja / Izdavanje
<span class="form-required" data-hasqtip="5" oldtitle="This field is required." title="" aria-describedby="qtip-5">*</span>:    </label>      
<div style="margin-left:5px;" class="controls span2">
'.$exp[1].'</div><div class="control-group"><div style="margin-left:5px" class="controls span2">'.$exp[2].' </div>
  
</div>
    
   </div> <div style="clear:both"></div>   '.$this->formElementerrors($form->get('prodaja_izdavanje'),['style'=>'color:red']).' <hr/>
';
        
?>
         
         
         
         
         
         <div class="control-group"><label   class="control-label label-hard" for="inputLocation">Cena:</label>
<div style="" class="controls">
<?=$this->formInput($form->get('cena_od')) 
.' - '.
 $this->formInput($form->get('cena_do')),$this->formElementerrors($form->get('cena_do'),['style'=>'color:red']) ,$this->formElementerrors($form->get('cena_od'),['style'=>'color:red'])?>
    
</div></div>    
         <hr/>
         
                  <div class="control-group"><label  class="control-label label-hard" for="inputLocation">Kvadratura:</label>
<div style="" class="controls">
<?=$this->formInput($form->get('kvadratura_od'))  
.' - '.
 $this->formInput($form->get('kvadratura_do')),$this->formElementerrors($form->get('kvadratura_do'),['style'=>'color:red']) ,$this->formElementerrors($form->get('kvadratura_od'),['style'=>'color:red'])?>
</div></div>  <hr/>
         
                <div class="control-group"><label  class="control-label label-hard" for="inputLocation">Min. broj soba:</label>
<div style="" class="controls">
<?= $this->formSelect($form->get('sobe_do')),$this->formElementerrors($form->get('sobe_do'),['style'=>'color:red'])?>
</div></div>      <hr/>
         
         
         
  
<div class="control-group">
    <label   class="control-label label-hard" for="inputLocation">Slike:</label>
<div  style="margin-left:5px;" class="controls span2"><?=$this->formCheckbox($form->get('samo-sa-slikom'))?> </div>
</div> 
      
         <div style="clear:both"></div>
        <hr/>
      <div class="control-group"><label   class="control-label label-hard" for="inputLocation">Grejanje:</label>
          <?php 
          $grejanje=[
              'cg'          =>'CG',
              'eg'          =>'EG'  ,
              'ta'          =>'TA',
              'gas'         =>'gas',
              'podno'       =>'podno grejanje',
              'kaljeva'     =>'kaljeva pec',
              'norveski'    =>'norveski radiatori',
              'mermerni'    =>'mermerni radiatori'
          ];
          foreach($grejanje as $k=>$v):
              echo '<div style="margin-bottom:5px;" class="controls">'.$this->formInput($form->get($k)).' '.$v.'</div>';
              
              
              
          endforeach;
       
        
          ?>

      
      </div> 
      <hr/>
      <div class="control-group"><label  class="control-label label-hard" for="inputLocation">Dodatno:</label>
<div style="" class="controls">
 <?=$this->formInput($form->get('uknjizen'))?> Uknjizen
</div></div>  <hr/>
      
            <div class="control-group"><label   class="control-label label-hard" for="inputLocation">Oglasivac:</label>
          <?php 
          $oglasivac=[
              'vlasnik','agencija','banka','investitor'
           ];
          foreach($oglasivac as $k=>$v):
              echo '<div style="margin-bottom:5px;" class="controls">'.$this->formInput($form->get($v)).' '.  ucfirst($v).'</div>';
              
              
              
          endforeach;
          
          
          ?>

      
      </div> 
       <hr/>
        
        
      
        <div class="control-group">
    <label   class="control-label label-hard" for="inputLocation">Vaši podaci :</label>
      <p>
         Unesite vase ime i email adresu kako bismo vas kontaktirali kada objekat bude postavljen na nasem sajtu. 
    </p>

</div> 
      
        
                <div class="control-group">
    <label   class="control-label " for="inputLocation">Vaše ime <span class="form-required">*</span>:</label>
 <div  style="" class="controls "><?=$this->formInput($form->get('ime')),$this->formElementerrors($form->get('ime'),['style'=>'color:red'])?> </div>
</div> 
              <div class="control-group">
    <label   class="control-label " for="inputLocation">Vaš mail <span class="form-required">*</span>:</label>
<div  style="" class="controls "><?=$this->formInput($form->get('email')),$this->formElementerrors($form->get('email'),['style'=>'color:red'])?> </div>
</div> 
      


        
        
        
       <hr/>   
        
        
        
        
        
        
        
<div class="form-actions">
<?=$this->formInput($form->get('submit-filters'))?>
 </div>  
        
        
        
        
        
        
        
        
 <?=$this->form()->closeTag()?>
  
        
        
        
  </div>
    <!-- /.tab-content -->
</div>
<!-- /.span5-->




</div>
<!-- /.row -->
</div><!-- /.login-register -->        </div>
    </div>
</div>

 
     
<!-- Modal -->
<div id="modal-uspesno" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Uspesno ste se prijavili</h3>
  </div>
  <div class="modal-body">
    <p>Uspesno ste se prijavili na servis "Mi trazimo za vas".</p>
  </div>
  <div class="modal-footer">
 <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori</button>
  </div>
</div>



<!-- Modal -->
<div id="modal-neuspesno" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3  id="myModalLabel">Doslo je do greske</h3>
  </div>
  <div class="modal-body">
    <p style="color: red" >Uneti podatci nisu validni molimo vas da izmenite podatke i da pratite upudstva napisana crvenom bojom.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Zatvori</button>
   
  </div>
</div>
















