<?php
//var_dump($this->tt);

    $form=$this->form;
  
    $form->prepare();

     
     
     $form_errors=$form->getMessages();
 
     
     
     function create_input($label,$el,$required=true,array $arr=[]){
         $class="";$id='';$hr='<hr/>';$msg="";
         if (count($arr)>0) {
             if (isset($arr['class'])) {
                 $class=$arr['class'];
             }if (isset($arr['id'])) {
                 $id=$arr['id'];
        }if (isset($arr['hr'])) {
            $hr="";
        }if (isset($arr['err'])) {
            $msg=$arr['err'];        }
             
         }
         if ($required) {
             $required='<span class="form-required" title="This field is required.">*</span>';
         }
         return '           <div id="'.$id.'"  class="control-group ">  
       <label class="control-label" for="">
                        '.$label.$required.' 
                        </label>
                        <div style="overflow: auto"  class="controls  '.$class.'">
                           '.$el.'
                        </div><!-- /.controls -->
                        <div><p class="text-error" id="'.$msg.'-err"></p></div>'
                 . '       '.$hr.'          
                    </div><!-- /.control-group -->        ';
     }
     
     
     
     
     
     
?>
<script>
    var UPDATE_LOKACIJA=<?=json_encode($this->update_for_js)?>,
            UPDATE_OGLAS=<?=json_encode($this->update)?>;
           // TIMER_FOR_MODAL_ERRORS;
  







</script>


<div class="container">

    
    
    <ul style="margin-top: 50px;" class="breadcrumb">
  <li><a href="http://nadjinekretnine.com/moj-profil">Moj profil</a> <span class="divider">/</span></li>
  <li class="active">Predaj oglas</li>
</ul>

   
    <div class="list-your-property-form">
   


    
    <div class="content">
    
<?=$this->form()->openTag($form);?>
   
        
        
              <ul class="tabs nav nav-tabs hidden-phone" id="myTab">
    <li id="first-tab-menu" class="active"><a href="#opsti_podatci">Opšti Podaci</a></li>
    <li id="slike-tub-menu" class=""><a href="#unos-slika-videa">Fotografije</a></li>
    <li id="mapa-tub-menu" class=""><a href="#mapa-tub">Mapa</a></li>
    <li id="settings-tub-menu" class=""><a href="#settings">Kontakt podaci</a></li>
</ul>
    
     <div style='overflow: auto; '  class="tab-content" id="tab-contents">

            
     
    <div class="tab-pane active" id="opsti_podatci">

        
      <div style="overflow: auto;" class="span11 panel panel-info">
        <div class="panel-heading hidden-phone">
              <h3 class="panel-title">Molimo vas popunite sva obavezna polja.</h3>
        </div>
                   <div class="panel-body">

                       
                       <div id="sh-all-errors" style="display:<?=count($form_errors)>0?'block':"none"?>;" class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
          
            <h5 class="alert-heading">Molimo vas popunite sva obavezna polja.Obavezna polja su obelezena zvedicom!</h5>
                        <?php
                                 if (count($form_errors)>0) {
                                                                        //  var_dump($form_errors);
                                     echo '<ul>';
                                     foreach ($form_errors as $key => $v) {
                                         foreach ($v as $value) {
                                             echo "<li>$value</li>";
                                         }
                                     }
                                     echo '</ul>';
                                 }
                                 
                       ?>          
             
         
          </div>     
                       
                   
<legend>Kategorija</legend>  
<?=
create_input('Kategorija',$this->formInput($form->get('kategorija')),true,['err'=>'kategorija']),
create_input('Da li nekretninu prodajete ili izdajete?',$this->formRadio($form->get('prodaja_izdavanje')),true,[
    'class'=>'radio-con','id'=>'sh-pro_izd']),
create_input('Oglašivač nekretnine',$this->formRadio($form->get('oglasivac_nekretnine')),true,['class'=>'sh-olgasivac','id'=>'sh-oglasivac-div']),                               
'<legend>Lokacija objekta</legend>' ,
create_input(' Mesto',$this->formSelect($form->get('mesta_srbija')),true,['err'=>'mesta_srbija']),     
create_input(' Deo mesta',$this->formSelect($form->get('deo_mesta')),true,['id'=>'sh-deo_mesta','err'=>'deo_mesta']),     
create_input('Lokacija',$this->formSelect($form->get('lokacija')),true,['id'=>'sh-lokacija','err'=>'lokacija']),     
create_input('Ulica',$this->formInput($form->get('ulica')),false,['id'=>'sh-ulica'])
?>      
           <legend>Podaci o objektu</legend> 
<div style="margin-left:0" id="naslov-sh" class="control-group span5"> 
                        <label class="control-label" for="inputPropertyFirstName">
                         Naslov
                         <span style="float: right;font-weight: normal;font-style: italic;">Preostalo je <span id="preostalo-karaktera-naslov">50</span> karaktera</span>
                        <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div class="controls"> 
                            <?php echo $this->formInput($form->get('naslov'));  ?>
                           <p class="text-error" id="naslov-err"></p>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->     
             
                     <div style="clear: both;"></div>  
                     <div style="margin-left:0" id="opis-sh" class="control-group span5">
                        <label class="control-label" for="inputPropertyFirstName">
                         Opis
                          <span style="float: right;font-weight: normal;font-style: italic;">Preostalo je <span id="preostalo-karaktera-opis">200</span> karaktera</span>
                        <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div style=" " class="controls">
                            <?php echo $this->formTextarea($form->get('opis'));  ?>
                            <p class="text-error" id="opis-err"></p>
                          </div><!-- /.controls -->
                    </div><!-- /.control-group -->   
                    
                    <div class="clearfix"></div>
                   
         <hr/> 
                    
         
         
         <?=create_input('Cena',
                '<div class="input-append">'.$this->formInput($form->get('cena')).' 
                    <span class="add-on"><i class="fa fa-eur"></i></span></div>',true,['id'=>'sh-cena','err'=>'cena'])?>
                    
           <?=create_input('Kvadratura',
                '<div class="input-append">'.$this->formInput($form->get('kvadratura')).' 
                   <span class="add-on">m<sup>2</sup></span></div>',true,['id'=>'sh-kvadratura','err'=>'kvadratura'])?>     
         
 <?=create_input('Broj soba', $this->formSelect($form->get('broj_soba')),true,['id'=>'sh-broj_soba','err'=>'broj_soba'])?> 
          <?=create_input('Cena ili   dogovor',
                '<div class="input-append"><div class="input-append">'.$this->formInput($form->get('selidbe-cena')).' 
                   <span class="add-on"><i class="fa fa-eur"></i></span></div></div><div>ili</div>
                         <div>'.$this->formCheckbox($form->get('selidbe_cena_dogovor')).' dogovor</div>',true,
    ['id'=>'sh-cena-selidbe','err'=>'selidbe_cena_dogovor'])?>           
 
 <?=create_input('Površina','    <div class="input-append">
                               '.$this->formInput($form->get('plac_povrsina')).'
                              <span class="add-on">a</span>
                             </div>',true,['err'=>'plac_povrsina','id'=>'sh-plac_povrsina'])?>        
         
       
         
         
              <?php
              function radio($label,$el,$id=''){
 return ' <div id="'.$id.'" class="control-group">
                        <label class="control-label" for="">
                          '.$label.'
                        </label>
                     <div style="margin-left:0;" class="controls"> 
                         '.$el.' 
                        </div><!-- /.controls -->
                         <hr/>
</div><!-- /.control-group --> ';                 
              }
              
              echo    radio('Grejanje',$this->formRadio($form->get('grejanje')),'sh-grejanje'),
                      radio('Tip objekta',$this->formRadio($form->get('tip_objekta')),'sh-tip_objekta'),
                      radio('Opis objekta',$this->formRadio($form->get('opis_objekta')),'sh-opis_objekta'),
                      radio('Nameštenost',$this->formRadio($form->get('namestenost')),'sh-namestenost'),
                      radio('Ostalo plac',$this->formRadio($form->get('ostalo_plac')),'sh-ostalo_plac'),
                      radio('Vrsta plac',$this->formRadio($form->get('vrsta_plac')),'sh-vrsta_plac'),
                      radio('Vrsta kuće',$this->formRadio($form->get('vrsta_kuce')),'sh-vrsta_kuce'),
                      radio('Vrsta objekta',$this->formRadio($form->get('di_tip')),'sh-di_tip'),
                      radio('Spratnost',$this->formRadio($form->get('kuce_sparatnost')),'sh-kuce_spratnost');
        // 'kuhinja','pegla','fen','komp','zivotinje','masina_za_ves','televizor'
    ?>
   
<div id="sh-all_dodatno" class="control-group">
                        <label class="control-label" for="">
                         Dodatno
                        </label>
                     <div style="margin-left:0;" class="controls">
                         <?=
              //zajednicko
              
                                  '<label>'.$this->formCheckbox($form->get('klima'))."  &nbsp; klima </label>",
                                  '<label>'.$this->formCheckbox($form->get('kablovska'))."  &nbsp; kablovska </label>",
                                  '<label>'.$this->formCheckbox($form->get('internet'))."  &nbsp; internet </label>",
                                  '<label>'.$this->formCheckbox($form->get('lift'))."  &nbsp; lift  </label>",
                                      '<label>'.$this->formCheckbox($form->get('podrum'))."  &nbsp;  podrum </label>",
                                    '<label>'.$this->formCheckbox($form->get('topla_voda'))."  &nbsp; topla voda  </label>",
                                  '<label>'.$this->formCheckbox($form->get('telefon'))."  &nbsp; telefon  </label>",
                                  '<label>'.$this->formCheckbox($form->get('interfon'))."  &nbsp;  interfon </label>",
                                  '<label>'.$this->formCheckbox($form->get('graza'))."  &nbsp;  garaža </label>",
                                  '<label>'.$this->formCheckbox($form->get('parking'))."  &nbsp; parking  </label>",
                                  '<label>'.$this->formCheckbox($form->get('terasa'))."  &nbsp;  terasa </label>",
                                  '<label>'.$this->formCheckbox($form->get('video_nadzor'))."  &nbsp;  video nadzor </label>",
              
            
            ///izdavanje
                     "<div id='chbx-samo-za-izdavanje'>",
                                  '<label>'.$this->formCheckbox($form->get('za_pusace'))."  &nbsp; za pušače </label>",
                                  '<label>'.$this->formCheckbox($form->get('za_nepusace'))."  &nbsp; za nepušače </label>",
                                 '<label>'.$this->formCheckbox($form->get('kuhinja'))."  &nbsp; kuhinja  </label>",
                                  '<label>'.$this->formCheckbox($form->get('pegla'))."  &nbsp; pegla  </label>",
                                  '<label>'.$this->formCheckbox($form->get('fen'))."  &nbsp;  fen </label>",
                                  '<label>'.$this->formCheckbox($form->get('komp'))."  &nbsp;  kompjuter </label>",
                                  '<label>'.$this->formCheckbox($form->get('zivotinje'))."  &nbsp; životinje  </label>",
                                  '<label>'.$this->formCheckbox($form->get('masina_za_ves'))."  &nbsp;  mašina za veš </label>",
                                  '<label>'.$this->formCheckbox($form->get('televizor'))."  &nbsp;  televizor </label>",
                     "</div>";
                       
                   
                         ?>
                         </div><!-- /.controls -->
                         <hr/>
</div><!-- /.control-group --> 

<div id="sh-chbx-info" class="control-group">
                        <label class="control-label" for="">
                         Dodatne informacije
                        </label>
                     <div style="margin-left:0;" class="controls">
                         <?='<label>'.$this->formCheckbox($form->get('zamena'))."  &nbsp;  zamena </label>",
                                  '<label>'.$this->formCheckbox($form->get('depozit'))."  &nbsp; depozit  </label>",
                                  '<label>'.$this->formCheckbox($form->get('odmah_useljiv'))."  &nbsp;  odmah useljiv </label>",
                                  '<label>'.$this->formCheckbox($form->get('uknjizen'))."  &nbsp;  uknjižen </label>";
                           ?>
                        
                         </div><!-- /.controls -->
                         <hr/>
</div><!-- /.control-group --> 






<?=create_input('Sprat',$this->formSelect($form->get('sprat')),false,['id'=>'sh-spratovi'])?>
 


<?=create_input('Broj kreveta',$this->formSelect($form->get('broj_kreveta')),false,['id'=>'sh-broj_kreveta'])?>
<?=create_input('Broj osoba',$this->formSelect($form->get('broj_osoba')),false,['id'=>'sh-broj_osoba'])?>






<?=$this->formInput($form->get('lat')),$this->formInput($form->get('lng'))?>

                    
                    
                    
                        
 <div style='clear: both'></div>     
                
 
 <div style="margin-top: 50px " class="span10">
     <a href="http://nadjinekretnine.com/moj-profil" class="btn btn-primary btn-medium  arrow-left pull-left" >
        
    <i class='icon-minus-sign icon-white'></i>  
       Odustani
   
   </a>
     <button onclick="Opsti_podaci.validate_call(event)" id='prvi_korak112' style="" class="btn btn-primary btn-medium pull-right" href="#">
       Sledeci korak <i style="" class="fa fa-chevron-circle-right"></i>
  
   </button>
    </div>
        
             
             
             
             
             
                    
             </div>    
    </div>
        
        
        
  
        
  
   
    </div>
    

         
       <?=$this->mapa_helper?>
         
         
         
         
         
    <div class="tab-pane " id="settings">
          
 
               
                   <div style="overflow: auto;" class="span11 panel panel-info">
        <div class="panel-heading">
              <h3 class="panel-title">Molimo vas popunite sva obavezna polja.</h3>
        </div>
                       <div class="panel-body">
                           
                           <legend>Unesite vaše kontakt podatke na koje bi zainteresovani korisnici mogli da vas kontaktiraju</legend>    
                           
      <div id="sh-kontakt-errors" style="display:none" class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <img style="margin-right: 10px;" class="pull-left" src="/img/tmp/info_form.png"/>
            <h5 class="alert-heading">Molimo vas popunite sva obavezna polja.Obavezna polja su obeležena zvedicom!</h5>
            <div style="clear: both"></div>
            <ul id="kontakt-podatci-errors">
                
            </ul>
         
          </div>               
                        
   <div id="" class="control-group span3">
                        <label class="control-label" for="inputPropertyFirstName">
                            Telefon
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div class="controls">
                            <?=$this->formInput($form->get('kontakt_telefon'))?>
                          </div><!-- /.controls -->
                    </div><!-- /.control-group -->
                     <div style='clear: both'></div> 
                    
          <div id="" class="control-group span3">
                        <label class="control-label" for="inputPropertyFirstName">
                          Dodatni telefon
                       </label>
                        <div class="controls">
                            <?=$this->formInput($form->get('kontakt_telefon2'))?>
                         </div><!-- /.controls -->
                    </div><!-- /.control-group -->
                 <div style='clear: both'></div>     
   <div id="" class="control-group span8">
                          <label class="control-label" for="inputPropertyFirstName">
                          Email
                       </label>
                        <div class="controls">
                            <?=$this->formInput($form->get('email'))?> 
                                                     </div><!-- /.controls -->
                    </div><!-- /.control-group -->
                    
       <div style='clear: both'></div> 
                                   
                 
    <div id="" class="control-group span3">
                        <label class="control-label" for="inputPropertyFirstName">
                            Ime i prezime
                        </label>
                        <div class="controls">
                            <?=$this->formInput($form->get('kp_ime'))?>
                          </div><!-- /.controls -->
                    </div><!-- /.control-group -->                
                  <div style='clear: both'></div>
                 
     <div id="" class="control-group span3">
                        <label class="control-label" for="inputPropertyFirstName">
                            Mesto
                        </label>
                        <div class="controls">
                            <?=$this->formInput($form->get('kp_mesto'))?>
                          </div><!-- /.controls -->
                    </div><!-- /.control-group -->               
                  <div style='clear: both'></div>
       <div id="" class="control-group span3">
                        <label class="control-label" for="inputPropertyFirstName">
                           Ulica
                        </label>
                        <div class="controls">
                            <?=$this->formInput($form->get('kp_ulica'))?>
                          </div><!-- /.controls -->
                    </div><!-- /.control-group -->             
                  <div style='clear: both'></div>
                 
                 
                 
                 
       
       <div style="margin-left: 0;margin-top: 50px;" class="span11">
     <button id="go-to-tab3" class="btn btn-primary  pull-left" >
        
    <i class='icon-minus-sign icon-white'></i>  
       Nazad
   
   </button>
 
     
       <?=$this->formSubmit($form->get('submit'));?>  
  
    </div> </div></div>

 <div style='clear: both'></div>     
 
 
 
 <?=$this->formInput($form->get('slika_1')),
               $this->formInput($form->get('slika_2')),
               $this->formInput($form->get('slika_3')),
               $this->formInput($form->get('slika_4')),
               $this->formInput($form->get('slika_5')),
               $this->formInput($form->get('slika_6')),
               $this->formInput($form->get('slika_7')),
               $this->formInput($form->get('slika_8')),
               $this->formInput($form->get('slika_9')),
               $this->formInput($form->get('slika_10'))?>
 
 <?=$this->form()->closeTag()?>          
    </div>

    <?=$this->slike_helper?>
       

    <?=$this->form()->closeTag();?>
    </div> 
    </div><!-- /.content -->
</div><!-- /.list-your-property-form -->  


</div>



 <div id="loading-dackdrop" style="display:none" class="modal-backdrop fade in"></div>
  

 <img id="circularG"  src="/img/icons/382white.GIF">

 
<!-- Modal -->
<div id="ostavi-oglas-modal-error" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Doslo je do gresaka prilikom popunjavanja podataka</h3>
  </div>
  <div class="modal-body">
    <p>Pogledajte uptstva ispisana crvenom bojom!</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Zatvori</button>
     
  </div>
</div>







