<?php

$slider=$this->slider;
if (!$slider) {
    
    for($x=0;$x<3;$x++){
        $slider[]=[
            'img'
        ];
    }
    
    
    
    
}


?>

<div style="margin-bottom: 0;min-height: 400px;"  id="index-curasel" class="carousel slide">
                <ol class="carousel-indicators">
                    <?php /*for($i=0;$i<count($slider);$i++){
                         $i==0?$active='active':$active="";
                       //  echo '<li data-target="#index-curasel" data-slide-to="'.$i.'" class="'.$active.'"></li>';
                     }*/
                     ?>
                 </ol>
                <div class="carousel-inner">
                   <?php 
                    foreach($slider as $k=>$v){
                        $k==0?$image_active='active':$image_active="";
                        echo '                
                            <div class="item '.$image_active.'">
                                <img src="'.$v['img'].'" alt="'.$v['title'].'">
                                <div class="carousel-caption">
                                   <h4>'.$v['title'].'</h4>
                                   <p>'.$v['text'].'</p>
                                </div>
                            </div>';
                    }
                  ?>
  
                </div>
  <!--  <a style="z-index: 20000" class=" carousel-control left visible-desktop" href="#index-curasel" data-slide="prev">‹</a>
                <a style="z-index: 20000" class=" carousel-control right visible-desktop" href="#index-curasel" data-slide="next">›</a>
          -->    </div>










