<div style="margin-bottom: 0;padding-bottom: 0;"  class="bottom-wrapper">
<div style="margin-bottom: 0" class="carousel">
    <?php
    $html=$this->html;
    ?>

    <div class="content">
        <a class="carousel-prev" href="#" style="display: block;">Previous</a>
        <a class="carousel-next" href="#" style="display: block;">Next</a>
        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; 
             right: auto; bottom: auto; left: auto; z-index: auto; width: 300px; height: 286px; margin: 0px 0px 10px 25px; 
             overflow: hidden;">
            <ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; 
              bottom: auto; left: 0px; margin: 0px; width: 6300px; height: 286px; z-index: auto;">
            <?php foreach ($this->carousel as $key => $v):?>
                <li>
                <div  style="position: relative;" class="image">
                    <?php if(\in_array($v['vrsta_oglasa'], [2,3])):?>
                    
                    <button style="position: absolute;top: 0;left: 0;" 
                            class="btn btn-xs <?=$v['vrsta_oglasa']==2?'btn-warning':"btn-danger"?> ">
   <?=strtoupper($html::vrsta_oglasa($v['vrsta_oglasa']))?>
                    </button> 
                    <?php endif?>
                    <a title="<?=$v['naslov']?>"  style="" href="<?=$v['link']?>"></a>
                    <img alt="<?=$v['naslov']?>" style="width:300px;height: 200px" src="<?=$v['slika_1']?>" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3 title="<?=$v['naslov']?>" style="max-width: 280px">
                        <a style="max-width: 280px;" class="premium-naslov" href="<?=$v['link']?>"><?=$v['naslov']?></a></h3>
                </div><!-- /.title -->
                <div class="location"><?=$v['mesto'],!isset($v['deo_mesta'])?:", ".$v['deo_mesta']?></div><!-- /.location-->
           
                <div class="area">
                    <?php if($v['kvadratura']):?> 
                    <span class="key"><?=$v['kvadratura']?> </span> 
                    <?php endif?>
                    <?php if($v['povrsina_plac']):?> 
                    <span class="key"><?=$v['povrsina_plac']?> </span> 
                    <?php endif?>
                    <?php if($v['oglasivac']):?> | 
                    <span class=" label label-important"> <?=$v['oglasivac']?></span>
                    <?php endif?>
                </div><!-- /.area -->
                <div style="font-weight: bolder;color: #313131;" class=" bathrooms"><?=$v['cena']?></div>  
 
            </li>
            <?php endforeach?>
            </ul>
                
        </div>
    </div><!-- /.content -->
</div>
</div>


