 <!DOCTYPE html>
<html><head data-gwd-animation-mode="proMode"><meta name="GCD" content="YTk3ODQ3ZWZhN2I4NzZmMzBkNTEwYjJlf7a9ef9b5b72ff156739a5a9b97af3b5"/>
    
    <script data-source="custom.elements.min.js" type="text/javascript">/**
 * @license
 * Copyright (c) 2012 The Polymer Authors. All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *    * Redistributions of source code must retain the above copyright
 * notice, this list of conditions and the following disclaimer.
 *    * Redistributions in binary form must reproduce the above
 * copyright notice, this list of conditions and the following disclaimer
 * in the documentation and/or other materials provided with the
 * distribution.
 *    * Neither the name of Google Inc. nor the names of its
 * contributors may be used to endorse or promote products derived from
 * this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
 * OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 * SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
 * LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
 * THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
 * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */
// @version v0.0.20140401

"undefined"==typeof WeakMap&&!function(){var a=Object.defineProperty,b=Date.now()%1e9,c=function(){this.name="__st"+(1e9*Math.random()>>>0)+(b++ +"__")};c.prototype={set:function(b,c){var d=b[this.name];d&&d[0]===b?d[1]=c:a(b,this.name,{value:[b,c],writable:!0})},get:function(a){var b;return(b=a[this.name])&&b[0]===a?b[1]:void 0},"delete":function(a){this.set(a,void 0)}},window.WeakMap=c}(),function(a){function b(a){u.push(a),t||(t=!0,q(d))}function c(a){return window.ShadowDOMPolyfill&&window.ShadowDOMPolyfill.wrapIfNeeded(a)||a}function d(){t=!1;var a=u;u=[],a.sort(function(a,b){return a.uid_-b.uid_});var b=!1;a.forEach(function(a){var c=a.takeRecords();e(a),c.length&&(a.callback_(c,a),b=!0)}),b&&d()}function e(a){a.nodes_.forEach(function(b){var c=p.get(b);c&&c.forEach(function(b){b.observer===a&&b.removeTransientObservers()})})}function f(a,b){for(var c=a;c;c=c.parentNode){var d=p.get(c);if(d)for(var e=0;e<d.length;e++){var f=d[e],g=f.options;if(c===a||g.subtree){var h=b(g);h&&f.enqueue(h)}}}}function g(a){this.callback_=a,this.nodes_=[],this.records_=[],this.uid_=++v}function h(a,b){this.type=a,this.target=b,this.addedNodes=[],this.removedNodes=[],this.previousSibling=null,this.nextSibling=null,this.attributeName=null,this.attributeNamespace=null,this.oldValue=null}function i(a){var b=new h(a.type,a.target);return b.addedNodes=a.addedNodes.slice(),b.removedNodes=a.removedNodes.slice(),b.previousSibling=a.previousSibling,b.nextSibling=a.nextSibling,b.attributeName=a.attributeName,b.attributeNamespace=a.attributeNamespace,b.oldValue=a.oldValue,b}function j(a,b){return w=new h(a,b)}function k(a){return x?x:(x=i(w),x.oldValue=a,x)}function l(){w=x=void 0}function m(a){return a===x||a===w}function n(a,b){return a===b?a:x&&m(a)?x:null}function o(a,b,c){this.observer=a,this.target=b,this.options=c,this.transientObservedNodes=[]}var p=new WeakMap,q=window.msSetImmediate;if(!q){var r=[],s=String(Math.random());window.addEventListener("message",function(a){if(a.data===s){var b=r;r=[],b.forEach(function(a){a()})}}),q=function(a){r.push(a),window.postMessage(s,"*")}}var t=!1,u=[],v=0;g.prototype={observe:function(a,b){if(a=c(a),!b.childList&&!b.attributes&&!b.characterData||b.attributeOldValue&&!b.attributes||b.attributeFilter&&b.attributeFilter.length&&!b.attributes||b.characterDataOldValue&&!b.characterData)throw new SyntaxError;var d=p.get(a);d||p.set(a,d=[]);for(var e,f=0;f<d.length;f++)if(d[f].observer===this){e=d[f],e.removeListeners(),e.options=b;break}e||(e=new o(this,a,b),d.push(e),this.nodes_.push(a)),e.addListeners()},disconnect:function(){this.nodes_.forEach(function(a){for(var b=p.get(a),c=0;c<b.length;c++){var d=b[c];if(d.observer===this){d.removeListeners(),b.splice(c,1);break}}},this),this.records_=[]},takeRecords:function(){var a=this.records_;return this.records_=[],a}};var w,x;o.prototype={enqueue:function(a){var c=this.observer.records_,d=c.length;if(c.length>0){var e=c[d-1],f=n(e,a);if(f)return void(c[d-1]=f)}else b(this.observer);c[d]=a},addListeners:function(){this.addListeners_(this.target)},addListeners_:function(a){var b=this.options;b.attributes&&a.addEventListener("DOMAttrModified",this,!0),b.characterData&&a.addEventListener("DOMCharacterDataModified",this,!0),b.childList&&a.addEventListener("DOMNodeInserted",this,!0),(b.childList||b.subtree)&&a.addEventListener("DOMNodeRemoved",this,!0)},removeListeners:function(){this.removeListeners_(this.target)},removeListeners_:function(a){var b=this.options;b.attributes&&a.removeEventListener("DOMAttrModified",this,!0),b.characterData&&a.removeEventListener("DOMCharacterDataModified",this,!0),b.childList&&a.removeEventListener("DOMNodeInserted",this,!0),(b.childList||b.subtree)&&a.removeEventListener("DOMNodeRemoved",this,!0)},addTransientObserver:function(a){if(a!==this.target){this.addListeners_(a),this.transientObservedNodes.push(a);var b=p.get(a);b||p.set(a,b=[]),b.push(this)}},removeTransientObservers:function(){var a=this.transientObservedNodes;this.transientObservedNodes=[],a.forEach(function(a){this.removeListeners_(a);for(var b=p.get(a),c=0;c<b.length;c++)if(b[c]===this){b.splice(c,1);break}},this)},handleEvent:function(a){switch(a.stopImmediatePropagation(),a.type){case"DOMAttrModified":var b=a.attrName,c=a.relatedNode.namespaceURI,d=a.target,e=new j("attributes",d);e.attributeName=b,e.attributeNamespace=c;var g=a.attrChange===MutationEvent.ADDITION?null:a.prevValue;f(d,function(a){return!a.attributes||a.attributeFilter&&a.attributeFilter.length&&-1===a.attributeFilter.indexOf(b)&&-1===a.attributeFilter.indexOf(c)?void 0:a.attributeOldValue?k(g):e});break;case"DOMCharacterDataModified":var d=a.target,e=j("characterData",d),g=a.prevValue;f(d,function(a){return a.characterData?a.characterDataOldValue?k(g):e:void 0});break;case"DOMNodeRemoved":this.addTransientObserver(a.target);case"DOMNodeInserted":var h,i,d=a.relatedNode,m=a.target;"DOMNodeInserted"===a.type?(h=[m],i=[]):(h=[],i=[m]);var n=m.previousSibling,o=m.nextSibling,e=j("childList",d);e.addedNodes=h,e.removedNodes=i,e.previousSibling=n,e.nextSibling=o,f(d,function(a){return a.childList?e:void 0})}l()}},a.JsMutationObserver=g,a.MutationObserver||(a.MutationObserver=g)}(this),window.CustomElements=window.CustomElements||{flags:{}},function(a){function b(a,c,d){var e=a.firstElementChild;if(!e)for(e=a.firstChild;e&&e.nodeType!==Node.ELEMENT_NODE;)e=e.nextSibling;for(;e;)c(e,d)!==!0&&b(e,c,d),e=e.nextElementSibling;return null}function c(a,b){for(var c=a.shadowRoot;c;)d(c,b),c=c.olderShadowRoot}function d(a,d){b(a,function(a){return d(a)?!0:void c(a,d)}),c(a,d)}function e(a){return h(a)?(i(a),!0):void l(a)}function f(a){d(a,function(a){return e(a)?!0:void 0})}function g(a){return e(a)||f(a)}function h(b){if(!b.__upgraded__&&b.nodeType===Node.ELEMENT_NODE){var c=b.getAttribute("is")||b.localName,d=a.registry[c];if(d)return A.dom&&console.group("upgrade:",b.localName),a.upgrade(b),A.dom&&console.groupEnd(),!0}}function i(a){l(a),r(a)&&d(a,function(a){l(a)})}function j(a){if(E.push(a),!D){D=!0;var b=window.Platform&&window.Platform.endOfMicrotask||setTimeout;b(k)}}function k(){D=!1;for(var a,b=E,c=0,d=b.length;d>c&&(a=b[c]);c++)a();E=[]}function l(a){C?j(function(){m(a)}):m(a)}function m(a){(a.attachedCallback||a.detachedCallback||a.__upgraded__&&A.dom)&&(A.dom&&console.group("inserted:",a.localName),r(a)&&(a.__inserted=(a.__inserted||0)+1,a.__inserted<1&&(a.__inserted=1),a.__inserted>1?A.dom&&console.warn("inserted:",a.localName,"insert/remove count:",a.__inserted):a.attachedCallback&&(A.dom&&console.log("inserted:",a.localName),a.attachedCallback())),A.dom&&console.groupEnd())}function n(a){o(a),d(a,function(a){o(a)})}function o(a){C?j(function(){p(a)}):p(a)}function p(a){(a.attachedCallback||a.detachedCallback||a.__upgraded__&&A.dom)&&(A.dom&&console.group("removed:",a.localName),r(a)||(a.__inserted=(a.__inserted||0)-1,a.__inserted>0&&(a.__inserted=0),a.__inserted<0?A.dom&&console.warn("removed:",a.localName,"insert/remove count:",a.__inserted):a.detachedCallback&&a.detachedCallback()),A.dom&&console.groupEnd())}function q(a){return window.ShadowDOMPolyfill?ShadowDOMPolyfill.wrapIfNeeded(a):a}function r(a){for(var b=a,c=q(document);b;){if(b==c)return!0;b=b.parentNode||b.host}}function s(a){if(a.shadowRoot&&!a.shadowRoot.__watched){A.dom&&console.log("watching shadow-root for: ",a.localName);for(var b=a.shadowRoot;b;)t(b),b=b.olderShadowRoot}}function t(a){a.__watched||(w(a),a.__watched=!0)}function u(a){if(A.dom){var b=a[0];if(b&&"childList"===b.type&&b.addedNodes&&b.addedNodes){for(var c=b.addedNodes[0];c&&c!==document&&!c.host;)c=c.parentNode;var d=c&&(c.URL||c._URL||c.host&&c.host.localName)||"";d=d.split("/?").shift().split("/").pop()}console.group("mutations (%d) [%s]",a.length,d||"")}a.forEach(function(a){"childList"===a.type&&(G(a.addedNodes,function(a){a.localName&&g(a)}),G(a.removedNodes,function(a){a.localName&&n(a)}))}),A.dom&&console.groupEnd()}function v(){u(F.takeRecords()),k()}function w(a){F.observe(a,{childList:!0,subtree:!0})}function x(a){w(a)}function y(a){A.dom&&console.group("upgradeDocument: ",a.baseURI.split("/").pop()),g(a),A.dom&&console.groupEnd()}function z(a){a=q(a);for(var b,c=a.querySelectorAll("link[rel="+B+"]"),d=0,e=c.length;e>d&&(b=c[d]);d++)b.import&&b.import.__parsed&&z(b.import);y(a)}var A=window.logFlags||{},B=window.HTMLImports?HTMLImports.IMPORT_LINK_TYPE:"none",C=!window.MutationObserver||window.MutationObserver===window.JsMutationObserver;a.hasPolyfillMutations=C;var D=!1,E=[],F=new MutationObserver(u),G=Array.prototype.forEach.call.bind(Array.prototype.forEach);a.IMPORT_LINK_TYPE=B,a.watchShadow=s,a.upgradeDocumentTree=z,a.upgradeAll=g,a.upgradeSubtree=f,a.insertedNode=i,a.observeDocument=x,a.upgradeDocument=y,a.takeRecords=v}(window.CustomElements),function(a){function b(b,g){var h=g||{};if(!b)throw new Error("document.registerElement: first argument `name` must not be empty");if(b.indexOf("-")<0)throw new Error("document.registerElement: first argument ('name') must contain a dash ('-'). Argument provided was '"+String(b)+"'.");if(c(b))throw new Error("Failed to execute 'registerElement' on 'Document': Registration failed for type '"+String(b)+"'. The type name is invalid.");if(n(b))throw new Error("DuplicateDefinitionError: a type with name '"+String(b)+"' is already registered");if(!h.prototype)throw new Error("Options missing required prototype property");return h.__name=b.toLowerCase(),h.lifecycle=h.lifecycle||{},h.ancestry=d(h.extends),e(h),f(h),l(h.prototype),o(h.__name,h),h.ctor=p(h),h.ctor.prototype=h.prototype,h.prototype.constructor=h.ctor,a.ready&&a.upgradeDocumentTree(document),h.ctor}function c(a){for(var b=0;b<y.length;b++)if(a===y[b])return!0}function d(a){var b=n(a);return b?d(b.extends).concat([b]):[]}function e(a){for(var b,c=a.extends,d=0;b=a.ancestry[d];d++)c=b.is&&b.tag;a.tag=c||a.__name,c&&(a.is=a.__name)}function f(a){if(!Object.__proto__){var b=HTMLElement.prototype;if(a.is){var c=document.createElement(a.tag);b=Object.getPrototypeOf(c)}for(var d,e=a.prototype;e&&e!==b;){var d=Object.getPrototypeOf(e);e.__proto__=d,e=d}}a.native=b}function g(a){return h(B(a.tag),a)}function h(b,c){return c.is&&b.setAttribute("is",c.is),b.removeAttribute("unresolved"),i(b,c),b.__upgraded__=!0,k(b),a.insertedNode(b),a.upgradeSubtree(b),b}function i(a,b){Object.__proto__?a.__proto__=b.prototype:(j(a,b.prototype,b.native),a.__proto__=b.prototype)}function j(a,b,c){for(var d={},e=b;e!==c&&e!==HTMLElement.prototype;){for(var f,g=Object.getOwnPropertyNames(e),h=0;f=g[h];h++)d[f]||(Object.defineProperty(a,f,Object.getOwnPropertyDescriptor(e,f)),d[f]=1);e=Object.getPrototypeOf(e)}}function k(a){a.createdCallback&&a.createdCallback()}function l(a){if(!a.setAttribute._polyfilled){var b=a.setAttribute;a.setAttribute=function(a,c){m.call(this,a,c,b)};var c=a.removeAttribute;a.removeAttribute=function(a){m.call(this,a,null,c)},a.setAttribute._polyfilled=!0}}function m(a,b,c){var d=this.getAttribute(a);c.apply(this,arguments);var e=this.getAttribute(a);this.attributeChangedCallback&&e!==d&&this.attributeChangedCallback(a,d,e)}function n(a){return a?z[a.toLowerCase()]:void 0}function o(a,b){z[a]=b}function p(a){return function(){return g(a)}}function q(a,b,c){return a===A?r(b,c):C(a,b)}function r(a,b){var c=n(b||a);if(c){if(a==c.tag&&b==c.is)return new c.ctor;if(!b&&!c.is)return new c.ctor}if(b){var d=r(a);return d.setAttribute("is",b),d}var d=B(a);return a.indexOf("-")>=0&&i(d,HTMLElement),d}function s(a){if(!a.__upgraded__&&a.nodeType===Node.ELEMENT_NODE){var b=a.getAttribute("is"),c=n(b||a.localName);if(c){if(b&&c.tag==a.localName)return h(a,c);if(!b&&!c.extends)return h(a,c)}}}function t(b){var c=D.call(this,b);return a.upgradeAll(c),c}a||(a=window.CustomElements={flags:{}});var u=a.flags,v=Boolean(document.registerElement),w=!u.register&&v&&!window.ShadowDOMPolyfill;if(w){var x=function(){};a.registry={},a.upgradeElement=x,a.watchShadow=x,a.upgrade=x,a.upgradeAll=x,a.upgradeSubtree=x,a.observeDocument=x,a.upgradeDocument=x,a.upgradeDocumentTree=x,a.takeRecords=x,a.reservedTagList=[]}else{var y=["annotation-xml","color-profile","font-face","font-face-src","font-face-uri","font-face-format","font-face-name","missing-glyph"],z={},A="http://www.w3.org/1999/xhtml",B=document.createElement.bind(document),C=document.createElementNS.bind(document),D=Node.prototype.cloneNode;document.registerElement=b,document.createElement=r,document.createElementNS=q,Node.prototype.cloneNode=t,a.registry=z,a.upgrade=s}var E;E=Object.__proto__||w?function(a,b){return a instanceof b}:function(a,b){for(var c=a;c;){if(c===b.prototype)return!0;c=c.__proto__}return!1},a.instanceof=E,a.reservedTagList=y,document.register=document.registerElement,a.hasNative=v,a.useNative=w}(window.CustomElements),function(a){function b(a){return"link"===a.localName&&a.getAttribute("rel")===c}var c=a.IMPORT_LINK_TYPE,d={selectors:["link[rel="+c+"]"],map:{link:"parseLink"},parse:function(a){if(!a.__parsed){a.__parsed=!0;var b=a.querySelectorAll(d.selectors);e(b,function(a){d[d.map[a.localName]](a)}),CustomElements.upgradeDocument(a),CustomElements.observeDocument(a)}},parseLink:function(a){b(a)&&this.parseImport(a)},parseImport:function(a){a.import&&d.parse(a.import)}},e=Array.prototype.forEach.call.bind(Array.prototype.forEach);a.parser=d,a.IMPORT_LINK_TYPE=c}(window.CustomElements),function(a){function b(){CustomElements.parser.parse(document),CustomElements.upgradeDocument(document);var a=window.Platform&&Platform.endOfMicrotask?Platform.endOfMicrotask:setTimeout;a(function(){CustomElements.ready=!0,CustomElements.readyTime=Date.now(),window.HTMLImports&&(CustomElements.elapsed=CustomElements.readyTime-HTMLImports.readyTime),document.dispatchEvent(new CustomEvent("WebComponentsReady",{bubbles:!0})),window.HTMLImports&&(HTMLImports.__importsParsingHook=function(a){CustomElements.parser.parse(a.import)})})}if("function"!=typeof window.CustomEvent&&(window.CustomEvent=function(a){var b=document.createEvent("HTMLEvents");return b.initEvent(a,!0,!0),b}),"complete"===document.readyState||a.flags.eager)b();else if("interactive"!==document.readyState||window.attachEvent||window.HTMLImports&&!window.HTMLImports.ready){var c=window.HTMLImports&&!HTMLImports.ready?"HTMLImportsLoaded":"DOMContentLoaded";window.addEventListener(c,b)}else b()}(window.CustomElements);
</script>
    <meta name="generator" content="Google Web Designer 1.1.3.1028">
    <meta name="template" content="Banner 2.0.16">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css" id="gwd-lightbox-style">.gwd-lightbox{overflow:hidden}</style><style data-exports-type="gwd-pagedeck" data-gwd-node="true" type="text/css">.gwd-pagedeck{overflow:hidden;position:relative}.gwd-pagedeck>.gwd-page.transparent{opacity:0}.gwd-pagedeck>.gwd-page{position:absolute;top:0;left:0;-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:transform,opacity;transition-property:transform,opacity}.gwd-pagedeck>.gwd-page.linear{transition-timing-function:linear}.gwd-pagedeck>.gwd-page.ease-in{transition-timing-function:ease-in}.gwd-pagedeck>.gwd-page.ease-out{transition-timing-function:ease-out}.gwd-pagedeck>.gwd-page.ease{transition-timing-function:ease}.gwd-pagedeck>.gwd-page.ease-in-out{transition-timing-function:ease-in-out}</style>
    <style type="text/css">html,body{width:100%;height:100%;margin:0px}.gwd-page-container{position:relative;width:100%;height:100%}.gwd-page-content{background-color:transparent;-webkit-transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);-moz-transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);-webkit-perspective:1400px;-moz-perspective:1400px;perspective:1400px;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;position:absolute}.gwd-page-wrapper{background-color:#fff;position:absolute;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);transform:translateZ(0)}.gwd-page-size{width:180px;height:150px}.gwd-img-fqk5{position:absolute;width:180px;height:150px;left:2px;top:-1px}.gwd-div-39rc{position:absolute;font-family:'Times New Roman';text-align:left;color:#000;left:10px;top:56px}.gwd-div-paz7{position:absolute;font-family:'Times New Roman';text-align:left;color:#000;left:10px;top:74px}.gwd-div-hv2d{position:absolute;font-family:'Times New Roman';text-align:left;color:#000;top:93px;left:9px}</style>
    <script data-source="gwdpage_min.js" data-version="1" data-exports-type="gwd-page" type="text/javascript">(function(){"use strict";var b=function(a){setTimeout(a,0)};var d=function(a,e){var c;c=document.createEvent("Event");c.initEvent(a,!0,!0);e.dispatchEvent(c)};document.register&&document.registerElement("gwd-page",{prototype:Object.create(HTMLDivElement.prototype,{createdCallback:{value:function(){this.c=this.handleReadyEvent_.bind(this);this.a=[];this.b=!1;var a=parseInt(this.getAttribute("data-gwd-width"),10)||this.clientWidth;this.d=(parseInt(this.getAttribute("data-gwd-height"),10)||this.clientHeight)>=a},enumerable:!0},attachedCallback:{value:function(){this.addEventListener("ready",this.c,!1);b(function(){this.a=Array.prototype.slice.call(this.querySelectorAll("*")).filter(function(a){return"function"!=
typeof a.gwdLoad||"function"!=typeof a.gwdIsLoaded||a.gwdIsLoaded()?!1:!0},this);0<this.a.length?(this.style.visibility="hidden",this.b=!1):this.firePageReadyEvent_();d("attached",this)}.bind(this))},enumerable:!0},detachedCallback:{value:function(){this.removeEventListener("ready",this.c,!1);this.classList.remove("gwd-play-animation");d("detached",this)},enumerable:!0},gwdIsLoaded:{value:function(){return 0==this.a.length},enumerable:!0},gwdLoad:{value:function(){if(this.gwdIsLoaded())this.firePageReadyEvent_();
else for(var a=this.a.length-1;0<=a;a--)this.a[a].gwdLoad()},enumerable:!0},handleReadyEvent_:{value:function(a){a=this.a.indexOf(a.target);0<=a&&(this.a.splice(a,1),0==this.a.length&&this.firePageReadyEvent_())},enumerable:!1},firePageReadyEvent_:{value:function(){this.style.visibility="";this.b||(d("ready",this),d("pageload",this));this.b=!0},enumerable:!1},gwdPresent:{value:function(){d("pagepresenting",this);this.classList.add("gwd-play-animation")},enumerable:!0},isPortrait:{value:function(){return this.d}}}),
"extends":"div"});})()
</script>
    <script data-source="gwdpagedeck_min.js" data-version="1.1" data-exports-type="gwd-pagedeck" type="text/javascript">(function(){"use strict";var k=["-ms-","-moz-","-webkit-",""],l=function(a,c){for(var b,d,e=0;e<k.length;++e)b=k[e]+"transition-duration",d=""+c,a.style.setProperty(b,d)};function m(a,c,b,d,e,g,f){this.h=a;this.e=c;this.o=b;a=d||"none";this.i=e="none"===a?0:e||1E3;this.d=g||"linear";this.f=[];if(e){g=f||"top";if(f=this.h){f.classList.add("gwd-page");f.classList.add("center");f="center";if("push"==a)switch(g){case "top":f="top";break;case "bottom":f="bottom";break;case "left":f="left";break;case "right":f="right"}this.f.push(f);"fade"==a&&this.f.push("transparent")}f=this.e;e="center";if("none"!=a&&"fade"!=a)switch(g){case "top":e="bottom";break;case "bottom":e="top";
break;case "left":e="right";break;case "right":e="left"}f.classList.add(e);f.classList.add("gwd-page");"fade"==a&&f.classList.add("transparent")}}m.prototype.start=function(){if(this.i){var a=this.h,c=this.e;n(c,this.r.bind(this));a&&(l(a,this.i+"ms"),a.classList.add(this.d));l(c,this.i+"ms");c.classList.add(this.d);c.setAttribute("gwd-reflow",c.offsetWidth);if(a)for(var b=0;b<this.f.length;++b)a.classList.add(this.f[b]);p(c)}else this.o()};
var q=function(a,c,b,d){b="transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,"+b+","+d+",0,1);";return a+"."+c+"{-webkit-"+b+"-moz-"+b+"-ms-"+b+b+"}"},r="center top bottom left right transparent".split(" "),p=function(a){r.forEach(function(c){a.classList.remove(c)})},n=function(a,c){var b=function(){a.removeEventListener("webkitTransitionEnd",b);a.removeEventListener("transitionend",b);c()};a.addEventListener("webkitTransitionEnd",b);a.addEventListener("transitionend",b)};
m.prototype.r=function(){var a=this.h;a&&(p(a),l(a,0),a.classList.remove(this.d));l(this.e,0);this.e.classList.remove(this.d);this.o()};var s=function(a,c,b){var d;b?(d=document.createEvent("CustomEvent"),d.initCustomEvent(a,!0,!0,b)):(d=document.createEvent("Event"),d.initEvent(a,!0,!0));c.dispatchEvent(d)};document.registerElement&&document.registerElement("gwd-pagedeck",{prototype:Object.create(HTMLDivElement.prototype,{createdCallback:{value:function(){window.addEventListener("WebComponentsReady",this.handleWebComponentsReadyEvent_.bind(this),!1);this.l=this.forwardDeviceEventsToCurrentPage_.bind(this,"shake");this.k=this.forwardDeviceEventsToCurrentPage_.bind(this,"rotatetoportrait");this.j=this.forwardDeviceEventsToCurrentPage_.bind(this,"rotatetolandscape");this.a=[];this.m=this.handlePageLoaded_.bind(this);
this.q=this.endPageTransition_.bind(this);this.c=this.n=null;this.b=-1;this.g=!1;this.classList.add("gwd-pagedeck")},enumerable:!0},handleWebComponentsReadyEvent_:{value:function(){this.a=Array.prototype.slice.call(this.querySelectorAll("div[is=gwd-page]"));for(this.a.forEach(function(a){a.classList.add("gwd-page")});this.firstChild;)this.removeChild(this.firstChild);-1==this.b&&void 0!==this.p&&this.goToPage(this.p)},enumerable:!1},attachedCallback:{value:function(){if(!this.n){var a;a=this.offsetWidth;
var c=this.offsetHeight,b;b=this.id;b=(b&&"#")+b+".gwd-pagedeck > .gwd-page";a=q(b,"center",0,0)+q(b,"top",0,c)+q(b,"bottom",0,-c)+q(b,"left",a,0)+q(b,"right",-a,0);c=document.createElement("style");void 0!==c.cssText?c.cssText=a:c.innerHTML=a;document.head.appendChild(c);this.n=c}this.addEventListener("pageload",this.m,!1);document.body.addEventListener("shake",this.l,!0);document.body.addEventListener("rotatetoportrait",this.k,!0);document.body.addEventListener("rotatetolandscape",this.j,!0)},enumerable:!0},
detachedCallback:{value:function(){this.removeEventListener("pageload",this.m,!1);document.body.removeEventListener("shake",this.l,!0);document.body.removeEventListener("rotatetoportrait",this.k,!0);document.body.removeEventListener("rotatetolandscape",this.j,!0)},enumerable:!0},goToPageImpl_:{value:function(a,c,b,d,e){if(!(this.b==a||0>a||a>this.a.length-1||this.c)){var g=this.a[this.b],f=this.a[a];this.b=a;this.c=new m(g,f,this.q,c,b,d,e);this.appendChild(f);var h=f.gwdLoad&&!f.gwdIsLoaded();this.g=
h;setTimeout(function(){h?f.gwdLoad():this.startPageTransition_()}.bind(this),0)}},enumerable:!1},handlePageLoaded_:{value:function(a){this.g&&a.target.parentNode==this&&(this.startPageTransition_(),this.g=!1)}},startPageTransition_:{value:function(){s("pagetransitionstart",this);this.c.start()},enumerable:!1},endPageTransition_:{value:function(){this.c&&(this.c=null);var a=this.firstChild,c=this.lastChild,b=a==c;s("pagetransitionend",this,{outgoingPage:b?null:a,incomingPage:c});b||this.removeChild(a);
c.gwdPresent()},enumerable:!1},findPageIndexByAttributeValue:{value:function(a,c){for(var b=this.a.length,d,e=0;e<b;e++)if(d=this.a[e],"boolean"==typeof c){if(d.hasAttribute(a))return e}else if(d.getAttribute(a)==c)return e;return-1},enumerable:!0},goToNextPage:{value:function(a,c,b,d,e){var g=this.b,f=g+1;f>=this.a.length&&(f=a?0:g);this.goToPageImpl_(f,c,b,d,e)},enumerable:!0},goToPreviousPage:{value:function(a,c,b,d,e){var g=this.b,f=this.a.length,h=g-1;0>h&&(h=a?f-1:g);this.goToPageImpl_(h,c,
b,d,e)},enumerable:!0},goToPage:{value:function(a,c,b,d,e){this.a.length?(a="number"==typeof a?a:this.findPageIndexByAttributeValue("id",a),0<=a&&this.goToPageImpl_(a,c,b,d,e)):this.p=a},enumerable:!0},currentIndex:{get:function(){return 0<=this.b?this.b:void 0},enumerable:!0},getPage:{value:function(a){if("number"!=typeof a){if(!a)return null;a=this.findPageIndexByAttributeValue("id",a)}return 0>a||a>this.a.length-1?null:this.a[a]},enumerable:!0},getDefaultPage:{value:function(){var a=this.getAttribute("default-page");
return a?this.getPage(this.findPageIndexByAttributeValue("id",a)):this.getPage(0)},enumerable:!0},getOrientationSpecificPage:{value:function(a,c){var b=this.getPage(c),d=b.getAttribute("alt-orientation-page");if(!d)return b;var e=b.isPortrait(),g=1==a,d=this.getPage(d);return g==e?b:d},enumerable:!0},forwardDeviceEventsToCurrentPage_:{value:function(a,c){if(c.target==document.body){var b=this.getPage(this.b);s(a,b)}},enumerable:!1},getElementById:{value:function(a){for(var c=this.a.length,b=0;b<c;b++){var d=
this.a[b].querySelector("#"+a);if(d)return d}return null},enumerable:!0}}),"extends":"div"});})()
</script>
    <script data-source="https://s0.2mdn.net/ads/studio/Enabler.js" data-exports-type="gwd-doubleclick" type="text/javascript" src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
    <script data-source="gwddoubleclick_min.js" data-version="1.2" data-exports-type="gwd-doubleclick" type="text/javascript">(function(){"use strict";var g=function(a,b){if(a.contains&&1==b.nodeType)return a==b||a.contains(b);if("undefined"!=typeof a.compareDocumentPosition)return a==b||Boolean(a.compareDocumentPosition(b)&16);for(;b&&a!=b;)b=b.parentNode;return b==a};function h(){this.b={}}h.prototype.add=function(a,b){this.b[a]||(this.b[a]=[]);this.b[a].push(b)};function k(a,b){this.c=a;this.w=b;this.h=this.handleMetricEvent_.bind(this)}k.prototype.observe=function(a){if(a.nodeType==Node.ELEMENT_NODE)for(var b=Object.keys(this.c.b),d=0;d<b.length;d++){var c=document.getElementById(b[d]);c&&g(a,c)&&(this.c.b[b[d]]||[]).forEach(function(a){c.addEventListener(a.event,this.h,!1)}.bind(this))}};
var l=function(a,b){if(b.nodeType==Node.ELEMENT_NODE)for(var d=Object.keys(a.c.b),c=0;c<d.length;c++){var e=document.getElementById(d[c]);e&&g(b,e)&&(a.c.b[d[c]]||[]).forEach(function(a){e.removeEventListener(a.event,this.h,!1)}.bind(a))}};k.prototype.handleMetricEvent_=function(a){this.w(a)};document.registerElement&&document.registerElement("gwd-metric-event",{prototype:Object.create(HTMLElement.prototype,{})});document.registerElement&&document.registerElement("gwd-metric-configuration",{prototype:Object.create(HTMLElement.prototype,{})});document.registerElement&&document.registerElement("gwd-exit",{prototype:Object.create(HTMLElement.prototype,{})});document.registerElement&&document.registerElement("gwd-timer",{prototype:Object.create(HTMLElement.prototype,{})});document.registerElement&&document.registerElement("gwd-doubleclick",{prototype:Object.create(HTMLElement.prototype,{createdCallback:{value:function(){this.q=this.handleEnablerInit_.bind(this);this.i=this.handleEnablerVisible_.bind(this);this.p=this.handleEnablerPageLoaded_.bind(this);this.m=this.handleEnablerExpandStart_.bind(this);this.l=this.handleEnablerCollapseStart_.bind(this);this.h=this.handleMetricEvent_.bind(this);this.n=this.handlePageTransitionEnd_.bind(this);this.o=this.handleResize_.bind(this);
this.d=this.e=!1;this.j=[];this.r=window.innerHeight>=window.innerWidth?1:2},enumerable:!0},attachedCallback:{value:function(){Enabler.addEventListener(studio.events.StudioEvent.EXPAND_START,this.m);Enabler.addEventListener(studio.events.StudioEvent.COLLAPSE_START,this.l);this.a=this.querySelector("[is=gwd-pagedeck]");this.a.addEventListener("pagetransitionend",this.n,!1);this.c=this.getMetricConfiguration_();this.s=new k(this.c,this.h);window.addEventListener("resize",this.o,!1)},enumerable:!0},
detachedCallback:{value:function(){Enabler.removeEventListener(studio.events.StudioEvent.INIT,this.q);Enabler.removeEventListener(studio.events.StudioEvent.VISIBLE,this.i);Enabler.removeEventListener(studio.events.StudioEvent.PAGE_LOADED,this.p);Enabler.removeEventListener(studio.events.StudioEvent.EXPAND_START,this.m);Enabler.removeEventListener(studio.events.StudioEvent.COLLAPSE_START,this.l);this.a.removeEventListener("pagetransitionend",this.n,!1);window.removeEventListener("resize",this.o,!1)},
enumerable:!0},initAd:{value:function(){this.onEnablerInit_(this.q)},enumerable:!0},exit:{value:function(a,b,d){Enabler.exit(a,b);d&&this.goToPage()},enumerable:!0},exitOverride:{value:function(a,b,d){Enabler.exitOverride(a,b);d&&this.goToPage()},enumerable:!0},incrementCounter:{value:function(a,b){Enabler.counter(a,b)},enumerable:!0},startTimer:{value:function(a){Enabler.startTimer(a)},enumerable:!0},stopTimer:{value:function(a){Enabler.stopTimer(a)},enumerable:!0},reportManualClose:{value:function(){Enabler.reportManualClose()},
enumerable:!0},getMetricConfiguration_:{value:function(){var a=this.querySelector("gwd-metric-configuration"),b=new h;if(a)for(var a=Array.prototype.slice.call(a.getElementsByTagName("gwd-metric-event")),d=0;d<a.length;d++){var c=a[d],e=c.getAttribute("source");if(e){var f=c.getAttribute("exit"),c={event:c.getAttribute("event"),v:c.getAttribute("metric")||f,u:c.hasAttribute("cumulative"),exit:f};b.add(e,c)}}return b}},handleMetricEvent_:{value:function(a){var b=a.target,d=b.getAttribute("id")+": "+
a.type,c;i:{c=this.c.b[b.id]||[];for(var e=0;e<c.length;e++)if(c[e].event==a.type){c=c[e];break i}c=void 0}c.exit&&a.detail&&a.detail.url?(Enabler.exitOverride(b.id+": "+c.exit,a.detail.url),a.detail.handled=!0,a.detail.collapse&&this.goToPage()):this.incrementCounter(c.v||d,c.u)}},onEnablerInit_:{value:function(a){Enabler.isInitialized()?a():Enabler.addEventListener(studio.events.StudioEvent.INIT,a)},enumerable:!1},handleEnablerInit_:{value:function(){if(this.hasAttribute("polite-load"))this.onEnablerPageLoaded_(this.p);
else this.onEnablerVisible_(this.i)},enumerable:!1},onEnablerVisible_:{value:function(a){Enabler.isVisible()?a():Enabler.addEventListener(studio.events.StudioEvent.VISIBLE,a)},enumerable:!1},handleEnablerVisible_:{value:function(a){var b;a&&(b=a.detail);(a=b)?(b=document.createEvent("CustomEvent"),b.initCustomEvent("adinitialized",!0,!0,a)):(b=document.createEvent("Event"),b.initEvent("adinitialized",!0,!0));this.dispatchEvent(b);this.goToPage()},enumerable:!1},onEnablerPageLoaded_:{value:function(a){Enabler.isPageLoaded()?
a():Enabler.addEventListener(studio.events.StudioEvent.PAGE_LOADED,a)},enumerable:!1},handleEnablerPageLoaded_:{value:function(){this.onEnablerVisible_(this.i)},enumerable:!1},goToPage:{value:function(a,b,d,c,e){var f=this.a.getPage(this.a.currentIndex);if(a=a?this.a.getPage(a):this.a.getDefaultPage())a=this.a.getOrientationSpecificPage(window.innerHeight>=window.innerWidth?1:2,a.id),this.f=a.id,b&&(this.g={transition:b,duration:d,t:c,direction:e}),f&&a&&this.shouldExpand_(f,a)?Enabler.requestExpand():
f&&a&&this.shouldCollapse_(f,a)?Enabler.requestCollapse():(this.d=this.e=!1,this.goToNextPage_())},enumerable:!0},shouldExpand_:{value:function(a,b){return!this.e&&!a.hasAttribute("expanded")&&b.hasAttribute("expanded")}},shouldCollapse_:{value:function(a,b){return!this.d&&a.hasAttribute("expanded")&&!b.hasAttribute("expanded")}},handleEnablerExpandStart_:{value:function(){this.e=!0;Enabler.finishExpand();setTimeout(this.goToNextPage_.bind(this),30)},enumerable:!1},handleEnablerCollapseStart_:{value:function(){this.d=
!0;Enabler.finishCollapse();this.f||(this.reportManualClose(),this.f=this.a.getDefaultPage().id);setTimeout(this.goToNextPage_.bind(this),30)},enumerable:!1},handleResize_:{value:function(){if(!this.e&&!this.d){var a=window.innerHeight>=window.innerWidth?1:2;this.r!=a&&(this.r=a,(a=this.a.getPage(this.a.currentIndex))&&this.goToPage(a.id))}}},goToNextPage_:{value:function(){this.f&&(this.g?this.a.goToPage(this.f,this.g.transition,this.g.duration,this.g.t,this.g.direction):this.a.goToPage(this.f));
this.g=this.f=void 0}},handlePageTransitionEnd_:{value:function(a){this.e?this.e=!1:this.d&&(this.d=!1);if(a.target==this.a){var b=a.detail;a=b.outgoingPage;b=b.incomingPage;a&&this.handlePageUnbound_(a);this.handlePageBound_(b)}},enumerable:!1},handlePageBound_:{value:function(a){this.s.observe(a);if((a=a.querySelectorAll("video"))&&0<a.length){var b=studio.video&&studio.video.Reporter,d=this.registerVideoElements_.bind(this);this.k=Array.prototype.slice.call(a);b?d():Enabler.loadModule(studio.module.ModuleId.VIDEO,
d)}},enumerable:!1},handlePageUnbound_:{value:function(a){l(this.s,a);(a=a.querySelectorAll("video"))&&0<a.length&&this.unregisterVideoElements_()},enumerable:!1},registerVideoElements_:{value:function(){for(var a,b;this.k.length;)if(b=this.k.shift(),a=b.id)studio.video.Reporter.attach(a,b,b.autoplay),this.j.push(a)},enumerable:!1},unregisterVideoElements_:{value:function(){for(this.k=[];this.j.length;)studio.video.Reporter.detach(this.j.shift())},enumerable:!1}})});})()
</script>
    <script data-source="gwdimage_min.js" data-version="1" data-exports-type="gwd-image" type="text/javascript">(function(){"use strict";var c=function(a){return"gwd-page"==a.tagName.toLowerCase()||"gwd-page"==a.getAttribute("is")},d=function(a){if(c(a))return a;for(;a&&9!=a.nodeType;)if((a=a.parentElement)&&c(a))return a;return null};var e=function(a,f){var b;b=document.createEvent("Event");b.initEvent(a,!0,!0);f.dispatchEvent(b)};document.registerElement&&document.registerElement("gwd-image",{prototype:Object.create(HTMLImageElement.prototype,{createdCallback:{value:function(){this.a=this.handleLoad_.bind(this);this.b=!1;var a=this.getAttribute("src");a&&(this.setAttribute("source",a),this.removeAttribute("src"))},enumerable:!0},attachedCallback:{value:function(){this.addEventListener("load",this.a,!1);this.addEventListener("error",this.a,!1);d(this)||"function"!=typeof this.gwdLoad||("function"==typeof this.gwdIsLoaded?this.gwdIsLoaded()||
this.gwdLoad():this.gwdLoad())},enumerable:!0},detachedCallback:{value:function(){this.removeEventListener("ready",this.a,!1);this.removeEventListener("error",this.a,!1)},enumerable:!0},gwdIsLoaded:{value:function(){return this.b}},gwdLoad:{value:function(){var a=this.getAttribute("source");a?this.setAttribute("src",a):e("load",this)},enumerable:!0},handleLoad_:{value:function(){e("ready",this);this.b=!0},enumerable:!1},attributeChangedCallback:{value:function(a){"source"==a&&this.removeAttribute("src")},
enumerable:!0}}),"extends":"img"});})()
</script>
  </head>
  
  <body>
    <gwd-doubleclick id="gwd-ad" polite-load="">
      <gwd-metric-configuration></gwd-metric-configuration>
      <div is="gwd-pagedeck" class="gwd-page-container" id="pagedeck">
        <div is="gwd-page" id="page1" class="gwd-page-wrapper gwd-page-size gwd-lightbox" data-gwd-width="180px" data-gwd-height="150px" style="display: block;">
          <div class="gwd-page-content gwd-page-size">
            <img class="gwd-img-fqk5" is="gwd-image" source="/js/banners/pretplata/pretplata-small/Fotor01031191558.jpg" id="gwd-image_1">
            <div class="gwd-div-39rc">Prijavi se na</div>
            <div class="gwd-div-paz7">nas SMS</div>
            <div class="gwd-div-hv2d">servis!</div>
          </div>
        </div>
      </div>
    </gwd-doubleclick>
    <script type="text/javascript" id="gwd-init-code">
      (function() {
document.body.style.opacity = "0";
var gwdAd = document.getElementById('gwd-ad');
/**
 * Handles the DOMContentLoaded event. The DOMContentLoaded event is
 * fired when the document has been completely loaded and parsed.
 */

function handleDomContentLoaded(event) {
  // This is a good place to show a loading or branding image while
  // the ad loads.
}

/**
 * Handles the WebComponentsReady event. This event is fired when all
 * custom elements have been registered and upgraded.
 */
function handleWebComponentsReady(event) {
  document.body.style.opacity = "";
  // Start the Ad lifecycle.
  setTimeout(function() {
    gwdAd.initAd();
  }, 0);
}

/**
 * Handles the event that is dispatched after the Ad has been
 * initialized and before the default page of the Ad is shown.
 */
function handleAdInitialized(event) {
  // This marks the end of the polite load phase of the Ad. If a
  // loading image was shown to the user, this is a good place to
  // remove it.
}

window.addEventListener('DOMContentLoaded',
    handleDomContentLoaded, false);
window.addEventListener('WebComponentsReady',
    handleWebComponentsReady, false);
window.addEventListener('adinitialized',
    handleAdInitialized, false);
})();
    </script>
  

<script type="text/javascript" data-exports-type="gwd-studio-registration">function StudioExports() {
}</script><script type="text/gwd-admetadata">{"version":1,"type":"DoubleClick","format":"","template":"","politeload":true,"counters":[],"timers":[],"exits":[],"creativeProperties":{"minWidth":180,"minHeight":150,"maxWidth":180,"maxHeight":150},"components":["gwd-image","gwd-doubleclick","gwd-page","gwd-pagedeck"]}</script></body></html>
