<?php


    $form=$this->form;
  
    $form->prepare();
    
    // Render the opening tag


#prvi tab
     $kategorija=$form->get('kategorija');
    // $podkategorija=$form->get('podkategorija');
     $mesta_srbija=$form->get('mesta_srbija');
     $deo_mesta=$form->get('deo_mesta');
     $lokacija=$form->get('lokacija');
     $ulica=$form->get('ulica');
     $kvadratura=$form->get('kvadratura');
     $cena=$form->get('cena');
     $broj_soba=$form->get('broj_soba');
     $prodaja=$form->get('prodaja_izdavanje');
      
     
     
     $povrsina=$form->get("plac_povrsina");
     $plac_ha_ar=$form->get("ha_ar");
     
          
      #drugi tab
          $naslov=$form->get('naslov');
          $opis=$form->get('opis');
          $oglasivac_nekretnine=$form->get('oglasivac_nekretnine'); 
          $grejanje=$form->get('grejanje');
          $tip_objekta=$form->get('tip_objekta');
          $opis_objekta=$form->get('opis_objekta');
          $namestenost=$form->get('namestenost');
          $nacin_placanja=$form->get('nacin_placanja');
          $depozit=$form->get('depozit');
          $odmah_useljiv=$form->get('odmah_useljiv');
          
          $za_pusace=$form->get('za_pusace');
          $za_nepusace=$form->get('za_nepusace');
          $sprat=$form->get('sprat');
          $ukupno_spratova=$form->get('ukupno_spratova');
          $vrsta_objekta=$form->get("vrsta_objekta");
          $kuce_sparatnost=$form->get('kuce_sparatnost');
          $ostalo_plac=$form->get('ostalo_plac');
          $vrsta_plac=$form->get('vrsta_plac');
          $kiosk_opis=$form->get('kiosk_opis');
          
          $selidbe_valuta=$form->get('selidbe_valuta');
          $selidbe_cena_dogovor=$form->get('selidbe_cena_dogovor');
          #check box
          $uknjizen=$form->get('uknjizen');
          $zamena=$form->get('zamena');
          $klima=$form->get('klima');
          $kablovska=$form->get('kablovska');
          $internet=$form->get('internet');
          $lift=$form->get('lift');
          $podrum=$form->get('podrum');
          
          $topla_voda=$form->get('topla_voda');
          $telefon=$form->get('telefon');
          $interfon=$form->get('interfon');
          $graza=$form->get('graza');
          $parking=$form->get('parking');
          $terasa=$form->get('terasa');

          
          
   //TAB KONTAKT PODATCI
            $kontakt_tel=$form->get('kontakt_telefon');
            $kontakt_tel2=$form->get('kontakt_telefon2');
            $kontakt_email=$form->get('email');
            /*
            $all_radio_str=$this->formRadio($form->get("tip_oglasa"));
            $radio_ex=explode("</label>", $all_radio_str);

            foreach ($radio_ex as $v) {
                     if (strlen($v)>0) { $arr_radio[]=$v."</label>";}
             }

            $standardni_oglas=$arr_radio[0];
            $istaknuti_oglas=$arr_radio[1];
            $premium_oglas=$arr_radio[2];
            $top_oglas=$arr_radio[3];
            $select_standardni_oglas=$form->get('select_standardni_oglas');
            $select_istaknuti_oglas=$form->get('select_istaknuti_oglas');
            $select_top_oglas=$form->get('select_top_oglas');
            $select_premium_oglas=$form->get('select_premium_oglas');
             * 
             */
//==============================================================================

            
        //google maps
            $lat=$form->get("lat");
            $lng=$form->get("lng");
            
            
            
            
            
            
            
            

          
 #slike--------------------------------------------------------
       $slika_1=$form->get("slika_1"); 
       $slika_2=$form->get("slika_2");      
       $slika_3=$form->get("slika_3");      
       $slika_4=$form->get("slika_4");      
       $slika_5=$form->get("slika_5");      
       $slika_6=$form->get("slika_6"); 
       $slika_7=$form->get("slika_7"); 
       $slika_8=$form->get("slika_8"); 
       $slika_9=$form->get("slika_9"); 
       $slika_10=$form->get("slika_10"); 
        $slika_1->setValue("");  
        $slika_2->setValue(""); 
        $slika_3->setValue(""); 
        $slika_4->setValue(""); 
        $slika_5->setValue(""); 
        $slika_6->setValue(""); 
        $slika_7->setValue(""); 
        $slika_8->setValue(""); 
        $slika_9->setValue(""); 
        $slika_10->setValue(""); 
        
 #end slike--------------------------------------------------------------------           
            
          
          $submit=$form->get('submit');
     $timestamp = time();
     
     
     $form_errors=$form->getMessages();
 
?>



<div class="container">

    
    
    <ul style="margin-top: 50px;" class="breadcrumb">
  <li><a href="http://nadjinekretnine.com/moj-profil">Moj profil</a> <span class="divider">/</span></li>
  <li class="active">Predaj oglas</li>
</ul>
    
    <div class="list-your-property-form">
   

    

    
    <div class="content">
    
<?=$this->form()->openTag($form);?>
        <div class="in" id="circularG">
<div id="circularG_1" class="circularG">
</div>
<div id="circularG_2" class="circularG">
</div>
<div id="circularG_3" class="circularG">
</div>
<div id="circularG_4" class="circularG">
</div>
<div id="circularG_5" class="circularG">
</div>
<div id="circularG_6" class="circularG">
</div>
<div id="circularG_7" class="circularG">
</div>
<div id="circularG_8" class="circularG">
</div>
</div>     
        
        
              <ul class="tabs nav nav-tabs" id="myTab">
    <li id="first-tab-menu" class="active"><a href="#opsti_podatci">Opsti Podatci</a></li>
    <li id="slike-tub-menu" class=""><a href="#unos-slika-videa">Fotografije</a></li>
    <li id="mapa-tub-menu" class=""><a href="#mapa-tub">Mapa</a></li>
    <li id="settings-tub-menu" class=""><a href="#settings">Kontakt podatci</a></li>
</ul>
        
     <div style='overflow: auto; '  class="tab-content" id="tab-contents">
         
         

         
    <?php    
     /*
      * ===========================================================================
      * Pocetak prvog taba=====================
      * ===========================================================================
      * ===========================================================================
      * ========================================================================
      * ===========================================================================
      * ===========================================================================
      * ===========================================================================
      * ===========================================================================
      * ===========================================================================
      */   
        
         
         
     ?>
    <div class="tab-pane active" id="opsti_podatci">

        
      <div style="overflow: auto;" class="span11 panel panel-info">
        <div class="panel-heading">
              <h3 class="panel-title">Molimo vas popunite sva obavezna polja.</h3>
        </div>
                   <div class="panel-body">

                       
                       <div id="sh-all-errors" style="display:<?=count($form_errors)>0?'block':"none"?>;" class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <img style="margin-right: 10px;" class="pull-left" src="/img/tmp/info_form.png"/>
            <h5 class="alert-heading">Molimo vas popunite sva obavezna polja.Obavezna polja su obelezena zvedicom!</h5>
                        <?php
                                 if (count($form_errors)>0) {
                                                                          var_dump($form_errors);
                                     echo '<ul>';
                                     foreach ($form_errors as $key => $v) {
                                         foreach ($v as $value) {
                                             echo "<li>$value</li>";
                                         }
                                     }
                                     echo '</ul>';
                                 }
                       
                       ?>           
             
         
          </div>     
                       <legend>Kategorija</legend>
                       
   
                       
  <div id="kategorija-sh" class="control-group span5">
                        <label class="control-label" for="inputPropertyFirstName">
                            Kategorija
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
      <div class="controls">
                            <?=$this->formInput($kategorija)?>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->
                    <div style="clear: both;"></div>          
          
                   <div style="clear: both;"></div>  
                                  
              
                       
                       
                       
           <div id="sh-prodaja-izdavanje"  class="control-group span5"><hr style="margin-top: 0"/>    
                                   <label style="margin-right: 30px;font-size: 15px; " class="control-label" for="inputPropertyFirstName">
                         Da li nekretninu prodajete ili izdajete?
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div class="controls radio-con">
                            <?=$this->formRadio($prodaja)?>
                        <div class=" alert-error">
                     <?=$this->formElementErrors($prodaja)?>   
                         </div>
                            
                        </div><!-- /.controls -->      <hr style="margin-bottom: 0"/>      
                    </div><!-- /.control-group -->        
                 
                             <div style="clear: both;"></div>  
                             
                             
                             
     <div id="sh-oglasivac" style="margin-top: 10px;" class="control-group span5">
                        <label style="  " class="control-label " for="inputPropertyFirstName">
                       Oglašivač nekretnine
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div class="controls  radio-con">
                            <?=$this->formRadio($oglasivac_nekretnine)?>
                        <div class=" alert-error">
                     <?=$this->formElementErrors($oglasivac_nekretnine)?>   
                         </div>
                            
                        </div><!-- /.controls -->
                        <hr style="margin-bottom: 0"/>      
                    </div><!-- /.control-group -->
                
                     <div style="clear: both;"></div> 
          <legend>Lokacija objekta</legend>                                                                      
<div id="sh-mesta_srbija" class="control-group span5">
                        <label class="control-label" for="inputPropertyFirstName">
                            Mesto
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div class="controls">
                            <?=$this->formSelect($mesta_srbija)?>
                        <div class=" alert-error">
                     <?=$this->formElementErrors($mesta_srbija)?>   
                         </div>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->
                    
                          
                     <div style="clear: both;"></div> 
                    
                                        
<div id="sh-deo_mesta" class="control-group span3">
                        <label class="control-label" for="inputPropertyFirstName">
                           Deo mesta
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div class="controls">
                            <?=$this->formSelect($deo_mesta)?>
                        <div class=" alert-error">
                     <?=$this->formElementErrors($deo_mesta)?>   
                         </div>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->       
                <div style="clear: both;"></div>      
                    
  <div id="sh-lokacija" class="control-group span3">
                        <label style="" id="label_lokacija" class="control-label" for="inputPropertyFirstName">
                           Lokacija
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div class="controls">
                            <?=$this->formSelect($lokacija)?>
                        <div class=" alert-error">
                     <?=$this->formElementErrors($lokacija)?>   
                         </div>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->  
                    
                <div style="clear: both;"></div>      
                                      
<div id="sh-ulica" class="control-group span3">
                        <label class="control-label" for="inputPropertyFirstName">
                          Ulica
                        </label>
                        <div class="controls">
                            <?=$this->formInput($ulica)?>
                        <div class=" alert-error">
                     <?=$this->formElementErrors($ulica)?>   
                         </div>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->        
                    
             
                 <div style="clear: both;"></div>       
                   <legend>Podatci o objektu</legend>  
                   
                   
                   
             
                   <div id="naslov-sh" class="control-group span5"> 
                        <label class="control-label" for="inputPropertyFirstName">
                         Naslov
                         <span style="float: right;font-weight: normal;font-style: italic;">Preostalo je <span id="preostalo-karaktera-naslov">50</span> karaktera</span>
                        <span class="form-required" title="This field is required.">*</span>
                        </label>
                  <div class="controls"> 
                            <?php echo $this->formInput($naslov);  ?>
                     
                        <div class=" alert-error">
                     <?php echo $this->formElementErrors($naslov);?>   
                         </div>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->     
             
                     <div style="clear: both;"></div>  
                     <div id="opis-sh" class="control-group span5">
                        <label class="control-label" for="inputPropertyFirstName">
                         Opis
                          <span style="float: right;font-weight: normal;font-style: italic;">Preostalo je <span id="preostalo-karaktera-opis">200</span> karaktera</span>
                        <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div style=" " class="controls">
                            <?php echo $this->formTextarea($opis);  ?>
                        <div class=" alert-error">
                     <?php echo $this->formElementErrors($opis);?>   
                         </div>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->   
                    
                    
                   
                     <div style="clear: both;"></div>  
                     
         <?php
         /*
          * =============================================================
          * =============================================================
          * =============================================================
          * 
          * ajax form render
          * 
          * 
          * 
          */
                     
                     
                     
         ?>           
                        
                    <div id="render-form-ajax">
    
              
    
                    
                    
                    
                    
                    
                    
                    
                    
                    
         </div>              
         
             
                        
 <div style='clear: both'></div>     
                
 
 <div style="margin-top: 50px " class="span10">
     <a href="http://nadjinekretnine.com/moj-profil" class="btn btn-primary btn-medium  arrow-left pull-left" >
        
    <i class='icon-minus-sign icon-white'></i>  
       Odustani
   
   </a>
   <button id='prvi_korak' style="" class="btn btn-primary btn-medium  arrow-right  pull-right" href="#">
       Sledeci korak
  
   </button>
    </div>
        
             
             
             
             
             
                    
             </div>    
    </div>
        
        
        
  
        
  
   
    </div>
    

    
    
         <?php
         
         
      /*
       * 
       * Kraj prvog taba=========================
       * ===============================================
       * ==============================================
       * =================================================
       * ==================================================
       * 
       * 
       * 
       * 
       * 
       * =================================================================
       * 
       */   
         
         
         
         
         
         
         
         
         
         
      /**
       * 
       * 
       * 
       * 
       * 
       * ================================================
       * ================================================
       * tub mapa========================================
       * ================================================
       * ================================================
       * 
       * 
       */
    
    ?>
    
   
         
         
         
                
         <div class="tab-pane" id="mapa-tub">
   <div style="overflow: auto;" class="span11 panel panel-info">
        <div class="panel-heading">
              <h3 class="panel-title">Mapa</h3>
        </div>
                   <div class="panel-body">
                  
                                     
                       
                       <legend>Označite tačnu lokaciju na mapi.</legend>
                       
                       <p>
   Proverite da li je vaš objekat tacno oznacen na mapi. Ako oznaka nije dobro postavljena onda kliknite na marker i vucite ga do tacne lokacije ili
   upisite tacnu adresu u polje i kliknite "Primeni unetu adresu". Skrolovanjem mozete zumirati mapu. Ukoliko tacno obelezite lokaciju vaseg objekta mozete da koristite google servise 
   kao sto su <a target="_blank" href="https://www.google.com/maps/views/view/streetview/serbia-highlights/hotel-moskva/_q_p5c5GPLp2coZ9J98fiQ?gl=rs&heading=212&pitch=103&fovy=75">
       Google Street view
   </a>.
   
                       </p>        
                       
                       
                      
                  <!-- mapa -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvYtramF7qKBJSKqBENBls3KUTgZBj0DM&libraries=places"></script>
<!-- mapa -->
   
    <script type="text/javascript">
var geocoder,map,marker,lat,lng,icon='/img/markers/marker-blue.png';
var default_lat=44.813099;
var default_lng=20.463261;

function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(default_lat,default_lng);
  var mapOptions = {
    zoom: 7,
    center: latlng,
  }
  
   map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    
    marker = new google.maps.Marker({
    position: latlng,
    map: map,
    title:"Kliknite i zatim vucite marker do lokacije vaseg objekta.",
     draggable:true,
     icon:icon,
});
  lat = marker.getPosition().lat();
lng = marker.getPosition().lng();
      google.maps.event.addListener(marker, 'dragend', function(evt){
          lat=evt.latLng.lat();
          lng=evt.latLng.lng();
});  

}

function codeAddress(adr) {
    var errors=document.getElementById("map-adresa-errors");
    var address ;
    if (adr) {
    address=adr;
}
else{
     address = document.getElementById('input_google_address').value;
}
  if (!address) {
    address=$("#mesta_srbija option[value='"+$('#mesta_srbija').val()+"']").text()||"beograd";
}

  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
        errors.style.display="none";
      map.setCenter(results[0].geometry.location);
      if ( marker ) { marker.setMap(null); } 
     marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          draggable:true,
          title:"Kliknite i zatim vucite marker do lokacije vaseg objekta.",
          icon:icon,
      });
            google.maps.event.addListener(marker, 'dragend', function(evt){
           lat=evt.latLng.lat();
          lng=evt.latLng.lng();
}); 
lat = marker.getPosition().lat();
lng = marker.getPosition().lng();

    } else {
     errors.style.display="block";
     if (in_range($('#mesta_srbija').val(),1,179)) {
     codeAddress($("#mesta_srbija option[value='"+$('#mesta_srbija').val()+"']").text());
}else{
     codeAddress("beograd");
     map.setZoom(7);
     return false;
}
    
    }
    
  });
  map.setZoom(14);

}


google.maps.event.addDomListener(window, 'load', initialize);

    </script>
   
                        
    <div style="margin-bottom: 10px;"  class="control-group span9">
      
                        <label class="control-label" for="inputPropertyFirstName">
                          Unesite lokaciju (npr. Beograd, Voždovac, Južni bulevar 20)
                        </label>
      <div class="controls pull-left">
                    
          <input style="width:300px;height: 34px;" class="input-mini"  id="input_google_address" type="text" value="beograd" >
                     </div><!-- /.controls -->
                        <div class="form-actions pull-left">
                            <input style="margin-left:10px;" type="button" class="btn btn-primary" value="Primeni unetu adresu" onclick="codeAddress()"> 
</div>
                     <div style="clear: both;"></div>
                     <div class="control-group error">
      <span  id="map-adresa-errors" style="display:none"  class="help-inline">Trazena adresa nije nadjena!</span>                    
                     </div>

 
                    </div><!-- /.control-group -->                  
                    
              
     
    <div style="height: 350px;width: 1070px;" id="map-canvas"></div> 
    
    
    <?=$this->formInput($lat),$this->formInput($lng)?>
    
     <div style='clear: both'></div>     
                
 
 <div style="margin-top: 20px;margin-left: 0 " class="span11">
    <button id='go-to-tab2' class="btn btn-primary btn-medium  arrow-left pull-left" >
        
    <i class='icon-minus-sign icon-white'></i>  
       Nazad
   
   </button>
   <button id='map-done' style="" class="btn btn-primary btn-medium  arrow-right  pull-right" href="#">
       Sledeci korak
  
   </button>
    </div>
      </div>    
    </div>          
  </div>
         
        <?php
        /*
         * 
         * 
         * 
         * KRAJ TUBA mape
         * 
         * 
         * 
         * 
         * 
         * 
         */
        
        
        
        
        
        
        
        
        
        
        
        
        
        /**
         * 
         * 
         * 
         * 
         * 
         * 
         * 
         * 
         * tub settitngs Objavi oglas
         * 
         * 
         */
        
        ?>
         
         
         
         
         
         
    <div class="tab-pane " id="settings">
          
 
               
                   <div style="overflow: auto;" class="span11 panel panel-info">
        <div class="panel-heading">
              <h3 class="panel-title">Molimo vas popunite sva obavezna polja.</h3>
        </div>
                       <div class="panel-body">
                           
                           <legend>Unesite vase kontakt podatke na koje bi zainteresovani korisnici mogli da vas kontaktiraju</legend>    
                           
      <div id="sh-kontakt-errors" style="display:none" class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <img style="margin-right: 10px;" class="pull-left" src="/img/tmp/info_form.png"/>
            <h5 class="alert-heading">Molimo vas popunite sva obavezna polja.Obavezna polja su obelezena zvedicom!</h5>
            <div style="clear: both"></div>
            <ul id="kontakt-podatci-errors">
                
            </ul>
         
          </div>               
                           
   <div id="" class="control-group span3">
                        <label class="control-label" for="inputPropertyFirstName">
                            Telefon
                            <span class="form-required" title="This field is required.">*</span>
                        </label>
                        <div class="controls">
                            <?=$this->formInput($kontakt_tel)?>
                        <div class=" alert-error">
                     <?= $this->formElementErrors($kontakt_tel)?>   
                         </div>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->
                     <div style='clear: both'></div> 
                    
          <div id="" class="control-group span3">
                        <label class="control-label" for="inputPropertyFirstName">
                          Dodatni telefon
                       </label>
                        <div class="controls">
                            <?=$this->formInput($kontakt_tel2)?>
                        <div class=" alert-error">
                     <?=$this->formElementErrors($kontakt_tel2)?>   
                         </div>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->
                 <div style='clear: both'></div>     
                    
         <div id="" class="control-group span3">
                        <label class="control-label" for="inputPropertyFirstName">
                           Email
                          </label>
                        <div class="controls">
                            <?=$this->formInput($kontakt_email)?>
                        <div class=" alert-error">
                     <?=$this->formElementErrors($kontakt_email)?>   
                         </div>
                        </div><!-- /.controls -->
                    </div><!-- /.control-group -->
                    
       <div style='clear: both'></div> 
                                   
       <div style="margin-left: 0;margin-top: 50px;" class="span11">
     <button id="go-to-tab3" class="btn btn-primary  pull-left" >
        
    <i class='icon-minus-sign icon-white'></i>  
       Nazad
   
   </button>
 
     
       <?=$this->formSubmit($submit);?>  
  
    </div>              
                           
                       </div>
                
 </div>

    
        
        
        
         <?php
        echo $this->formInput($slika_1);
         echo $this->formInput($slika_2);
          echo $this->formInput($slika_3);
           echo $this->formInput($slika_4);
            echo $this->formInput($slika_5);
             echo $this->formInput($slika_6);
              echo $this->formInput($slika_7);
               echo $this->formInput($slika_8);
                echo $this->formInput($slika_9);
                 echo $this->formInput($slika_10);
       ?>       
             
 <div style='clear: both'></div>     
                
 


            
           
             
     <?php echo $this->form()->closeTag();?>          
    </div>
         
         
    
    
    
    
         
    <div class="tab-pane" id="unos-slika-videa">
     
          <div style="overflow: auto;" class="span11 panel panel-info">
        <div class="panel-heading">
              <h3 class="panel-title">Unos fotografija</h3>
        </div>
              <div class="panel-body">
                   <h4>Postavite fotografije. Fotografije veoma uticu na kvalitet vasih oglasa.</h4>  
                   
             <p>
            Prva fotografija će biti postavljena kao glavna fotografija.Glavnu fotografiju mozete promeniti klikom na text Postavite kao glavnu. Oglasu možete dodati 10 fotografija.
            <br> Ako imate bilo kakvih poblema prilikom dodavanja fotografija posetite nasu stranicu <a href="http://nadjinekretnine.com/moj-profil/pomoc-podrska" class="btn-link">Pomoc i podrska</a>.
             </p>    
             <div class="alert alert-info">
Dozvoljene ekstenzije: jpg,jpeg,png.
</div>
                <ul id="sortable"></ul>
 
              </div>
        
              <div style="clear: both"></div> 
                 <?php 
                         $uploadImg=$this->upload_img;
                         $uploadImg->prepare();
                         echo $this->form()->openTag($uploadImg);
                 ?>
	
		<div id="queue"></div>
                
             <?php  
                     $img=$uploadImg->get('file_upload');
                     echo $this->formFile($img); 
                     echo $this->form()->closeTag();
             ?>   
       
  
        <div style="clear: both;margin-top: 50px;"></div>
        
            
             
        <button  id="image-go-to-tab1" class="btn btn-primary pull-left" href="#">
    <i class='icon-circle-arrow-left icon-white'></i>  
       Nazad
   
   </button>
   <button id="go-to-settings" style="margin-right: 17px;" class="btn btn-primary arrow-right pull-right">
       Sledeci korak
   </button>
                  
    
           
              
              
              </div>
    
    </div>
         
         
         
         
         
      
         
         
         
         
</div>  
        
        
        
        
         
            
               
 
        
    </div><!-- /.content -->
</div><!-- /.list-your-property-form -->
    
    
</div>










            
      

    <script>

 
 function set_images(){
      if (<?=json_encode($for_js_slika1)?>) {
            var img=<?=json_encode($for_js_slika1)?>;
            var dir="/img/oglasi_img/"+img.slice(0,img.indexOf("/")+1);
            img=img.slice(img.indexOf("/")+1);
            new Sortable_manipulation().set_img(dir,img)  
         }
                 if (<?=json_encode($for_js_slika2)?>) {
            var img=<?=json_encode($for_js_slika2)?>;
            var dir="/img/oglasi_img/"+img.slice(0,img.indexOf("/")+1);
            img=img.slice(img.indexOf("/")+1);
            new Sortable_manipulation().set_img(dir,img)  
         }
                 if (<?=json_encode($for_js_slika3)?>) {
            var img=<?=json_encode($for_js_slika3)?>;
            var dir="/img/oglasi_img/"+img.slice(0,img.indexOf("/")+1);
            img=img.slice(img.indexOf("/")+1);
            new Sortable_manipulation().set_img(dir,img)  
         }
                 if (<?=json_encode($for_js_slika4)?>) {
            var img=<?=json_encode($for_js_slika4)?>;
            var dir="/img/oglasi_img/"+img.slice(0,img.indexOf("/")+1);
            img=img.slice(img.indexOf("/")+1);
            new Sortable_manipulation().set_img(dir,img)  
         }
                 if (<?=json_encode($for_js_slika5)?>) {
            var img=<?=json_encode($for_js_slika5)?>;
            var dir="/img/oglasi_img/"+img.slice(0,img.indexOf("/")+1);
            img=img.slice(img.indexOf("/")+1);
            new Sortable_manipulation().set_img(dir,img)  
         }
                 if (<?=json_encode($for_js_slika6)?>) {
            var img=<?=json_encode($for_js_slika6)?>;
            var dir="/img/oglasi_img/"+img.slice(0,img.indexOf("/")+1);
            img=img.slice(img.indexOf("/")+1);
            new Sortable_manipulation().set_img(dir,img)  
         }
                 if (<?=json_encode($for_js_slika7)?>) {
            var img=<?=json_encode($for_js_slika7)?>;
            var dir="/img/oglasi_img/"+img.slice(0,img.indexOf("/")+1);
            img=img.slice(img.indexOf("/")+1);
            new Sortable_manipulation().set_img(dir,img)  
         }
                 if (<?=json_encode($for_js_slika8)?>) {
            var img=<?=json_encode($for_js_slika8)?>;
            var dir="/img/oglasi_img/"+img.slice(0,img.indexOf("/")+1);
            img=img.slice(img.indexOf("/")+1);
            new Sortable_manipulation().set_img(dir,img)  
         }
                 if (<?=json_encode($for_js_slika9)?>) {
            var img=<?=json_encode($for_js_slika9)?>;
            var dir="/img/oglasi_img/"+img.slice(0,img.indexOf("/")+1);
            img=img.slice(img.indexOf("/")+1);
            new Sortable_manipulation().set_img(dir,img)  
         }
                 if (<?=json_encode($for_js_slika10)?>) {
            var img=<?=json_encode($for_js_slika10)?>;
            var dir="/img/oglasi_img/"+img.slice(0,img.indexOf("/")+1);
            img=img.slice(img.indexOf("/")+1);
            new Sortable_manipulation().set_img(dir,img)  
         }
 }

   
function uplodify_call(sortable){
                   

                    //uplodify swf image load
			$('#file_upload').uploadify({
                               'width':'170',
                              'height':'25',
				'formData'     : {
					'timestamp' : '<?php echo $timestamp;?>',
					'token'     : '<?php echo md5('upload_za_slike' . $timestamp);?>'
				},
				'swf'      : '/libraries/uplodify/uploadify.swf',
				'uploader' : 'http://nadjinekretnine.com/ostavi-oglas/upload',
                                'auto'          : true,
                                 'buttonText' : 'Dodajte fotografije',
                                 'fileSizeLimit' : '5MB',
                                  'uploadLimit' : 10, 
                                  'fileTypeDesc' : 'Image Files',
                                  'fileTypeExts' : '*.jpg;*.jpeg;*.png',
                                  
                   

 
        
        onSelectError : function(file, errorCode, errorMsg) {
        var settings = this.settings;
				switch(errorCode) {
					case SWFUpload.QUEUE_ERROR.QUEUE_LIMIT_EXCEEDED:
						if (settings.queueSizeLimit > errorMsg) {
							this.queueData.errorMsg = '\n Maksimalan broj slika po oglasu je 10! ';
						} else {
							//this.queueData.errorMsg += '\nThe number of files selected exceeds the queue size limit (' + settings.queueSizeLimit + ').';
						}
						break;
					case SWFUpload.QUEUE_ERROR.FILE_EXCEEDS_SIZE_LIMIT:
						this.queueData.errorMsg = '\n Maksimalna velicina slike je 10MB!';
						break;
					case SWFUpload.QUEUE_ERROR.ZERO_BYTE_FILE:
						this.queueData.errorMsg = '\nFajl "' + file.name + '" je prazan.';
						break;
					case SWFUpload.QUEUE_ERROR.INVALID_FILETYPE:
						this.queueData.errorMsg = '\n Dozvoljeni formati su: *.jpg;*.jpeg;*.png;';
						break;
				}
		},
        
        
                       'onUploadSuccess' : function(file, data, response) {
                           if (response===false) {
    alert('Doslo je do greske na serveru pokusajte ponovo!');
    return false;
}
 
data=jQuery.parseJSON(data)
     if (data.status=='ok') {
        sortable.set_img(data.dir,data.img)
} 
      
               
        },

       

                          });
 
    //jquery ui drag and drop    
    $( "#sortable" ).sortable({
          stop: function( ) {
        /// console.log('stop')
        }, 
               start: function(event, ui) {
         //  console.log('start')
        },
        change: function(event, ui) {
        // console.log('change')
        },
        update: function(event, ui) {
         sortable.reset_glavna_slika();
         sortable.hidden_fields_reset()
        }
        
        
    });
    $( "#sortable" ).disableSelection();       
      //----------------------------------                
  
    
     //hover menja pointer za drag i drop
     $( "#sortable" ).hover(function(){
        $( "#sortable" ).css("cursor","all-scroll");
    },function(){
      //  console.log('hover off')
        } );
            
  }
                        
    </script>


    <div id="loading-dackdrop" style="display:none" class="modal-backdrop fade in"></div>




