<?php echo $this->doctype(); ?>

<html lang="sr">
    <head>
<?php
  



echo 
   $this->headTitle($this->title),
   $this->headMeta()
          ->appendName('description',$this->meta_desc)
          ->appendName('keywords', $this->meta_keywords)
          ->appendName('Author',"nadjinekretnine.com")
          ->appendName('viewport','width=device-width, initial-scale=1.0')
          ->setCharset('UTF-8'),
  $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/png', 'href' => $this->basePath() . '/img/favicon1.png'), 'PREPEND')
            //    ->appendStylesheet( 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,300')
                ->prependStylesheet( '/css/bootstrap.css')
               ->prependStylesheet( '/libraries/font-awesome-4.1.0/css/font-awesome.min.css')
                ->appendStylesheet('/libraries/chosen/chosen.css')
                ->appendStylesheet('/libraries/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css')
                ->appendStylesheet('/css/bootstrap-responsive.css')
               ->appendStylesheet('/libraries/qtip/jquery.qtip.css')
                ->appendStylesheet($this->cache_main_css, 'screen');
 

?>     

 </head>
   
<body class='header-dark  header-light pattern-cloth-alike brown-dark'>
 <div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
            
            <!-- Go to www.addthis.com/dashboard to customize your tools 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54b3bee948e913f1" async="async">
</script>-->
            
            
            <!-- BREADCRUMB -->
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <ul class="breadcrumb pull-left account">
                                <li><a style="margin-top: 0;" class="btn btn-mini btn-link" href="http://nadjinekretnine.com/">
                                        
                               <i class="  icon-home icon-white"></i> Početna</a></li>
                            </ul><!-- /.breadcrumb -->

                            <div class="account pull-right">
                                <ul class="nav nav-pills">
                                    <li class="hidden-phone"><a class="btn btn-mini btn-link"  href="#"><i class="icon-heart icon-white"></i> Moji favoriti</a>
                                    </li>
                                  
                                    <?=$this->login_logout; ?>
                               
                                    
                                </ul>
                            </div>
                        </div><!-- /.span12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.breadcrumb-wrapper -->

            
        
            
            
            <!-- HEADER -->
            <div id="header-wrapper">
                <div id="header">
                    <div id="header-inner">
                        <div class="container">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="row">
                                        <div class="logo-wrapper span3">
                                            <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                                       <div style="" title="NadjiNekretnine.com" class="logo">
                                                <a href="http://nadjinekretnine.com/" >
                                                    <img style="" src="/img/logo-blue.png" alt="Home">
                                                </a>
                                            </div>
                                           <div style="" class="site-slogan">
                                              <span>Veliki izbor <strong>Nekretnina</strong><br> NadjiNekretnine.com</span>
                                            </div>  
                                        </div><!-- /.logo-wrapper -->

                                        <div class="pull-right">
                                             <?=$this->reklame(['banner'=>[
                                                 'name'=>'reklamni_baner',
                                             ]],false,true)?>
                        
                                        </div><!-- /.info -->

                                        
                                        <!--
                                        <a id="ostavi-oglass-button-layout" 
                                           class="btn btn-primary btn-large list-your-property" 
                                           href="http://nadjinekretnine.com/ostavi-oglas">
                                            Predaj Oglas &nbsp; &nbsp;
                                            <i style="" class="fa fa-chevron-circle-right"></i></a>
                                    -->
                                    
                                    
                                    
                                    </div><!-- /.row -->
                                </div><!-- /.navbar-inner -->
                            </div><!-- /.navbar -->
                        </div><!-- /.container -->
                    </div><!-- /#header-inner -->
                </div><!-- /#header -->
            </div><!-- /#header-wrapper -->

            
            <!-- NAVIGATION -->
            <div id="navigation">
                <div class="container">
                    <div class="navigation-wrapper">
                        <div class="navigation clearfix-normal">

                            <ul class="nav">
                      <li class="menuparent">
                                           <a href="#" class="menuparent">Stambeni objekti</a>
                                            <ul>
                                                     <li><a href="http://nadjinekretnine.com/pretraga-oglasa/stanovi/prodaja/srbija">Stan</a></li>
                                                <li><a href="http://nadjinekretnine.com/pretraga-oglasa/sobe/izdavanje/srbija">Soba</a></li>
                                                <li><a href="http://nadjinekretnine.com/pretraga-oglasa/kuce/prodaja/srbija">Kuca</a></li>
                                                <li><a href="http://nadjinekretnine.com/pretraga-oglasa/graze/prodaja/srbija">Garaža</a></li>
                                                <li><a href="http://nadjinekretnine.com/pretraga-oglasa/placevi/prodaja/srbija">Plac</a></li>
                                            
                                                  
                                            </ul>
                                        </li>
                                <li class="menuparent">
                                           <a href="#" class="menuparent">Poslovni objekti</a>
                                            <ul>  
                                                <li><a href="http://nadjinekretnine.com/pretraga-oglasa/lokali/prodaja/srbija">Lokal</a></li>
                                                <li><a href="http://nadjinekretnine.com/pretraga-oglasa/poslovni-prostori/prodaja/srbija">Poslovni Prostor</a></li>
                                                <li><a href="http://nadjinekretnine.com/pretraga-oglasa/hale/prodaja/srbija">Hala</a></li>
                                                <li><a href="http://nadjinekretnine.com/pretraga-oglasa/magacin/prodaja/srbija">Magacin</a></li>
                                                  
                                            </ul>
                                        </li>
                           <!--       <li class="menuparent">
                                    <span class="menuparent nolink">Zemljista</span>
                                    <ul>
                                          <li><a href="http://nadjinekretnine.com/pretraga-oglasa/poljoprivredno-zemljiste/prodaja/srbija">Poljoprivredna</a></li>
                                                  <li><a href="http://nadjinekretnine.com/pretraga-oglasa/gradjevinsko-zemljiste/prodaja/srbija">Gradjevinska</a></li>
                                    </ul>
                                </li>
                               <li><a href="http://nadjinekretnine.com/pretraga-oglasa/selidbe/prodaja/srbija">Selidbe</a></li> -->
                                
                              
                               
                                <li><a class="nav-hard" href="http://nadjinekretnine.com/pretraga-oglasa/dnevno-izdavanje/izdavanje/srbija">Dnevno izdavanje</a></li> 
                                  <li><a class="nav-medium" href="http://nadjinekretnine.com/prodavci">Prodavci</a></li>
                                        <li><a class="nav-medium" href="http://nadjinekretnine.com/mi-trazimo-za-vas"><i class="fa fa-search-plus"></i> Mi tražimo za vas</a></li> 
                                 <li><a href="http://nadjinekretnine.com/magazin-nekretnine">Magazin</a></li> 
                            </ul><!-- /.nav -->
                            
<a id="ostavi-oglass-button-layout" class="btn btn-primary btn-large list-your-property pull-right" 
                                           href="http://nadjinekretnine.com/ostavi-oglas">
                                            Predaj Oglas &nbsp; &nbsp;
                                            <i style="" class="fa fa-chevron-circle-right"></i></a>                       
         
                            
                         </div><!-- /.navigation -->
                    </div><!-- /.navigation-wrapper -->
                </div><!-- /.container -->
            </div><!-- /.navigation -->

            
            <!-- CONTENT -->
            <div id="content">
                
                
                
                <?php echo $this->content;?>
           
            </div><!-- /#content -->
</div><!-- /#wrapper-inner -->

<!--

footer starts

-->
<div id="footer-wrapper">
       
    <div id="footer-top">
        <div id="footer-top-inner" class="container">
            <div class="row">
                <div class="widget properties span3">
                    <div class="title">
                        <h2>Najnoviji oglasi</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <?php /*if($this->POSLEDNJI_OGLASI):?>
                        <?php foreach($this->POSLEDNJI_OGLASI  as $Poslednji_Oglas):?>
                        <div class="property">
                            <div class="image">
                                <a title="<?=$Poslednji_Oglas['naslov']?>" href="<?=$Poslednji_Oglas['link']?>"></a>
                                <img class="poslednje-slike-foother" style="" src="<?=$Poslednji_Oglas['slika_1']?$Poslednji_Oglas['slika_1']:"nema-slike1.jpg"?>" alt="">
                            </div><!-- /.image -->
                            <div class="wrapper">
                                <div class="title">
                                    <h3>
                                        <a title="<?=$Poslednji_Oglas['naslov']?>" class="poslednji-oglasi-naslov-foother" href="<?=$Poslednji_Oglas['link']?>"><?=$Poslednji_Oglas['naslov']?></a>
                                    </h3>
                                </div><!-- /.title -->
                                <div class="location"><?=$Poslednji_Oglas['mesto']?></div><!-- /.location -->
                                <div class="price"><?=$Poslednji_Oglas['cena_valuta']?></div><!-- /.price -->
                            </div><!-- /.wrapper -->
                        </div><!-- /.property -->
 
                        
                        <?php endforeach?>
                        <?phpendif */?>
                         
                    </div><!-- /.content -->
                </div><!-- /.properties-small -->
 
                <div class="widget span3">
                    <div class="title">
                        <h2>Kontakt</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <table class="contact">
                            <tbody>
                            <tr>
                                <th class="address">Adresa:</th>
                                <td>Milosa Pocerca 23a<br>Beograd, Srbija</td>
                            </tr>
                            <tr>
                                <th class="phone">Telefon:</th>
                                <td>+381 60/0-333-807</td>
                            </tr>
                            <tr>
                                <th class="email">E-mail:</th>
                                <td><a href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a></td>
                            </tr>
                          
                            </tbody>
                        </table>
                    </div><!-- /.content -->
                </div><!-- /.widget -->

                <div class="widget span3">
                    <div class="title">
                        <h2 class="block-title">Informacije</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="http://nadjinekretnine.com/info/o-nama">O nama</a></li>
                            <li class="first leaf"><a href="http://nadjinekretnine.com/info/marketing">Marketing</a></li>
                            <li class="first leaf"><a href="http://nadjinekretnine.com/info/impressum">Impressum</a></li>
                            <li class="first leaf"><a href="http://nadjinekretnine.com/info/uslovi-koriscenja">Uslovi koriscenja</a></li>
                            <li class="first leaf"><a href="http://nadjinekretnine.com/info/partnerski-sajtovi">Partnerski sajtovi</a></li>
                          
   
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.widget -->

              
                
                
                <div class="widget span3">
                    <div class="title">
                        <h2 class="block-title">Opste</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <ul class="menu nav">
               
                            <li class="first leaf"><a href="http://nadjinekretnine.com/info/kontakt">Kontakt</a></li>
                            <li><a href="http://nadjinekretnine.com/magazin-nekretnine">Magazin</a></li> 
                        </ul>
                        <a style="" class="btn btn-primary btn-large list-your-property
                                          " href="http://nadjinekretnine.com/ostavi-oglas">Predaj Oglas &nbsp; &nbsp;<i style="" class="fa fa-chevron-circle-right"></i></a>
                    </div><!-- /.content -->
                </div><!-- /.widget -->
                    
            </div><!-- /.row -->
        </div><!-- /#footer-top-inner -->
    </div><!-- /#footer-top -->

    <div id="footer" class="footer container">
        <div id="footer-inner">
            <div class="row">
                <div class="span6 copyright">
                    <p>© Copyright <?=date("Y")?> by <a href="http://nadjinekretnine.com">NajdiNekretnine.com</a>. By <a href="mailto:alexa.manasijevic85@gmail.com">Qwert</a></p>
                </div><!-- /.copyright -->

                <div class="span6 share">
                    <div class="content">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="http://www.facebook.com/nadjinekretnine.com" class="facebook">Facebook</a></li>
                            <li class="leaf"><a href="http://google.com/+Nadjinekretnine-srbija-beograd" class="google">Google+</a></li> 
                            <li class="leaf"><a href="http://www.twitter.com/NadjiNekrentine" class="twitter">Twitter</a></li> 
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.span6 -->
            </div><!-- /.row -->
        </div><!-- /#footer-inner -->
    </div><!-- /#footer -->
</div>
</div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="/js/jquery.js"><\/script>')</script>

<?= $this->headScript()
                 ->appendFile('/libraries/form-master/jquery.form.js')
                 ->appendFile('/js/jquery.cookie.js')
                 ->appendFile('/js/bootstrap.min.js')
                 ->appendFile('/js/carousel.js')
                 ->appendFile('/libraries/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js')
                 ->appendFile('/libraries/qtip/jquery.qtip.js')
                 ->appendFile($this->cache_custom_js);
?>

</body>
</html>        
                
      
<script>/*
  
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57588207-1', 'auto');
  ga('send', 'pageview');
*/
</script>










