<?php echo $this->doctype(); ?>

<html lang="sr">
    <head>
 <!-- <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>-->
  <?php
  
  
  
  #get variables from controller  
$vars_from_controller = $this->viewModel()->getCurrent()->getChildren();
$controller_vars = $vars_from_controller[0];
#--------------------------------------------------------------------------

#check if page title is set!
if (!$controller_vars->page_title) {
  //  throw new Exception('Page Title is not Set!');
}






 $this->headMeta()
         ->appendName('description',$controller_vars->meta_desc)
         ->appendName('keywords', $controller_vars->meta_keywords)
          ->appendName('author',"alexa.manasijevic85@gmail.com")
          ->appendName('viewport','width=device-width, initial-scale=1.0')
          ->setCharset('UTF-8');

 
  $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/png', 'href' => $this->basePath() . '/img/favicon.png'), 'PREPEND')
                //->appendStylesheet( 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,300')
                ->appendStylesheet( '/css/bootstrap.css')
                ->appendStylesheet( '/css/bootstrap-responsive.css')
                ->appendStylesheet('/libraries/chosen/chosen.css')
                ->appendStylesheet('/libraries/bootstrap-fileupload/bootstrap-fileupload.css')
                ->appendStylesheet('/libraries/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css')
                ->appendStylesheet('/css/bootstrap-responsive.css')
                ->appendStylesheet('/libraries/chosen/chosen.css')
                ->appendStylesheet('/css/realia-gray-blue.css', 'screen');
            
#echo all meta
 echo $this->headMeta()."\n";          
#echo all css and favicon.ico                
echo $this->headLink();
#page title
echo $this->headTitle($controller_vars->page_title);




?>
        

 
                
                
                
                
 </head>
   
<body class='header-dark  header-light pattern-cloth-alike brown-dark'>
 <div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
            
            
            
            
            <!-- BREADCRUMB -->
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <ul class="breadcrumb pull-left">
                                <li><a href="http://nadjinekretnine.com/">
                                        
                                      <!--      <img style="width: 22px;height: 22px;" src="/img/tmp/home_55.png"/> --> 
                               Početna
                                       </a></li>
                            </ul><!-- /.breadcrumb -->

                            <div class="account pull-right">
                                <ul class="nav nav-pills">
                                    <li><a id="" href="#">
                                       <img style="width: 22px;height: 22px;" src="/img/tmp/favorites.png"/>
                                            Moji favoriti</a>
                                    </li>
                                    <li class="<?php echo $this->login_logout['li_class'] ?>">
                                    <?php echo $this->login_logout['a_tag']; ?>
                                        
                                        
                                        
                                        
                                        <ul class="dropdown-menu">
                                     <li><a id="" href="http://nadjinekretnine.com/moj-profil">
                                       <img   src="/img/tmp/user1.png"/>
                                            Moj profil</a>
                                    </li>
                                                        
                                    
                                     <li><a id="" href="http://nadjinekretnine.com/moj-profil/moji-podatci">
                                       <img  src="/img/tmp/list_moji_podatci.png"/>
                                            Moji podatci</a>
                                    </li>
                                    <li><a id="" href="http://nadjinekretnine.com/ostavi-oglas">
                                       <img  src="/img/tmp/dodaj_novi_oglas.png"/>
                                            Dodaj novi oglas</a>
                                    </li>
                                    <li><a id="" href="http://nadjinekretnine.com/moj-profil/moji-oglasi">
                                       <img src="/img/tmp/lista_oglasa.png"/>
                                            Moji oglasi</a>
                                    </li>
                                    <li><a id="" href="?action=logout">
                                       <img src="/img/tmp/exit.png"/>
                                           Odjavi se</a>
                                    </li>                 
                                    
                                    
                                    
                                        </ul>
                                        
                                        
                                        
                                        
                                        
                                    </li>                              
                                </ul>
                            </div>
                        </div><!-- /.span12 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.breadcrumb-wrapper -->

            
            
            
            

            
            
            
            <?php
            //registracija novog korisnika
            $register=$this->register_form;
            $register->prepare();
    
            $reg_email=$register->get("reg_email");
            $reg_password=$register->get("reg_password");
            $reg_retupepass=$register->get("reg_retupepass");
            $reg_uslovi_koriscenja=$register->get("reg_uslovi_koriscenja");
            $reg_submit=$register->get("reg_submit");
            #---------------------------------------------------------------
            #login 
            $login=$this->login_form;
            $login->prepare();
            
            $login_email=$login->get("login_email");
            $login_pass=$login->get("login_pass");
            $login_zapamti=$login->get("login_zapamti");
            $login_submit=$login->get("login_submit");
            //----------------------------------------------------
            ?>
      
<!-- Modal bootstrap za login-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
  <div style="background-color: #faa732;border-radius: 5px;" class="modal-header">
      <a  href="#">
    <img style="width: 32px;height: 32px;float: right;" data-dismiss="modal"  aria-hidden="true" src="/img/tmp/remove.png"/>
      </a>
      
     
    <h3 id="myModalLabel">
        <img style="width: 32px;height: 32px;" src="/img/tmp/user4.png"/>
        Prijava / Registracija</h3>
  </div>
    
  <div class="modal-body">
      
      
      
      
      
     
      
      
      <div style="margin-left: 0;width: 220px; "  class="pull-left">
      <h3>Postojeći korisnik</h3>
    <div style="font-size: 11px;padding: 3px;display: none;" id="login_errors" class=" alert-error">
      
       
      
            </div>
 <?php echo $this->form()->openTag($login);?>
  <div class="control-group ">
    <label  class="control-label" for="inputEmail">E-mail:</label>
    <div class="controls">
      <?php echo $this->formInput($login_email) ; ?>
          <?php echo $this->formElementErrors($login_email);?> 
    </div>
   
  </div>
      
      
      
  <div class="control-group">
    <label class="control-label" for="inputPassword">Lozinka:</label>
    <div class="controls">
            <?php echo $this->formInput($login_pass) ; ?>
           <?php echo $this->formElementErrors($login_pass);?> 
    </div>
  </div>
      
      
      
  <div class="control-group">
    <div class="controls">
      <label class="checkbox"> Zapamti me
          &nbsp;<?php echo $this->formCheckbox($login_zapamti);  ?>
             <?php echo $this->formElementErrors($login_zapamti);?> 
      </label>
        </div>
      
      
      <?php echo $this->formSubmit($login_submit); ?>
   <!--   <button style="margin-top:10px;margin-bottom: 10px;" class="btn btn-warning pull-right" type="button">
          Prijavi se &nbsp;<i class="icon-share-alt icon-white"></i></button>
 -->
  </div>
<?php echo $this->form()->closeTag();?>
        
 </div>       
    
   
    
    
 
     
      <div style="margin-left: 0;width: 250px;padding-left: 30px;border-left: 1px solid silver;  "  class="pull-right">
      <h3>Novi korisnik</h3>
    
<?php echo $this->form()->openTag($register);?>
  <div class="control-group ">
    <label  class="control-label" for="inputEmail">E-mail:</label>
    <div class="controls">
      <?php echo $this->formInput($reg_email);  ?>
    <div style="width: 216px;font-size: 13px;" id="reg_email_errors" class=" alert-error">
        <?php echo $this->formElementErrors($reg_email);?>   
            </div>
    </div>
    
  </div>
      
      
      
  <div class="control-group">
    <label class="control-label" for="inputPassword">Lozinka:</label>
    <div class="controls">
     <?php echo $this->formInput($reg_password);  ?>
    <div style="width: 216px;font-size: 13px;" id="reg_password_errors" class=" alert-error">
        <?php echo $this->formElementErrors($reg_password);?>   
            </div>
    </div>
  </div>
   <div class="control-group">
    <label class="control-label" for="inputPassword">Potvrdi lozinku:</label>
    <div class="controls">
      <?php echo $this->formInput($reg_retupepass);  ?>
    <div id="reg_retupepassword_errors" style="width: 216px;font-size: 13px;" class=" alert-error">
        <?php echo $this->formElementErrors($reg_retupepass);?>   
            </div>
    </div>
  </div>     
      
      
  <div class="control-group">
    <div class="controls">
      <label class="checkbox"> 
         <?php echo $this->formCheckbox($reg_uslovi_koriscenja);  ?>
   &nbsp;
         <a style="font-size: 11px;" href="#"> Slažem se sa uslovima korišćenja</a>
         <div style="width: 216px;font-size: 13px;" id="reg_uslovi_koriscenja_errors" class=" alert-error">
        <?php echo $this->formElementErrors($reg_uslovi_koriscenja);?>   
            </div>
      </label>
        <?php echo $this->formSubmit($reg_submit); ?>
       <!-- <button style="margin-top:10px;" class="btn btn-warning pull-right" type="button">
       Registruj se &nbsp;<i class="icon-circle-arrow-right icon-white"></i>
       </button>
       -->
    </div>
  </div>
<?php echo $this->form()->closeTag();?>
        
        

    
    
    
  </div>
  
  
  
     
  
  
  
  
    
  </div>
   
  <div class="modal-footer">  
      <a href="#" class="pull-left" style="font-size: 12px;">Zaboravljena lozinka?</a>   
  
        <span>Uloguj se sa:</span>
      <a href="#"> <img src="/img/tmp/social/facebook.png"></a>
    <a href="#">   <img src="/img/tmp/social/google_plus.png"></a>

  </div>

</div>  
            










            
            
   








            
            
            
            
            
            
            
            
            <!-- HEADER -->
            <div id="header-wrapper">
                <div id="header">
                    <div id="header-inner">
                        <div class="container">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="row">
                                        <div class="logo-wrapper span6">
                                            <a href="#nav" class="hidden-desktop" id="btn-nav">Toggle navigation</a>

                                            <div class="logo">
                                                <a href="http://nadjinekretnine.com/" title="Home">
                                                    <img src="/img/logo.png" alt="Home">
                                                </a>
                                            </div><!-- /.logo -->

                                            <div class="site-name">
                                                <a href="http://nadjinekretnine.com/" title="Home" class="brand">Nadji nekretnine</a>
                                            </div><!-- /.site-name -->

                                          <div class="site-slogan">
                                              <span>NAJBOLJI SAIT za nekretnine u Srbiji<br>Trazenje preko google mape</span>
                                            </div>  <!-- /.site-slogan -->
                                        </div><!-- /.logo-wrapper -->

                                        <div class="info">
                                            <div class="site-email">
                                                <a title="Imate pitanje? Posaljite name E-mail" href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a>
                                            </div><!-- /.site-email -->

                                      <!--    <div class="site-phone">
                                                <span>+381600333807</span>
                                            </div>   /.site-phone -->
                                        </div><!-- /.info -->

                                        <a style="font-weight: bolder;font-style: italic; " class="btn btn-primary btn-large list-your-property arrow-right"
                                           href="http://nadjinekretnine.com/ostavi-oglas">Predaj Oglas</a>
                                    </div><!-- /.row -->
                                </div><!-- /.navbar-inner -->
                            </div><!-- /.navbar -->
                        </div><!-- /.container -->
                    </div><!-- /#header-inner -->
                </div><!-- /#header -->
            </div><!-- /#header-wrapper -->

            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <!-- NAVIGATION -->
            <div id="navigation">
                <div class="container">
                    <div class="navigation-wrapper">
                        <div class="navigation clearfix-normal">

                            <ul class="nav">
                      
                                 
                   
                                                           <li class="menuparent">
                                           <a href="#" class="menuparent">Stambeni objekti</a>
                                            <ul>
                                                     <li><a href="#">Stan</a></li>
                                                <li><a href="#">Soba</a></li>
                                                <li><a href="#">Kuca</a></li>
                                                <li><a href="#">Graža</a></li>
                                                <li><a href="#">Plac</a></li>
                                                <li><a href="#">Ostalo</a></li>
                                                  
                                            </ul>
                                        </li>
                                
                              
                            
                                     <li class="menuparent">
                                           <a href="#" class="menuparent">Poslovni objekti</a>
                                            <ul>  
                                                <li><a href="#">Lokal</a></li>
                                                <li><a href="#">Poslovni Prostor</a></li>
                                                <li><a href="#">Hala</a></li>
                                                <li><a href="#">Kiosk</a></li>
                                                <li><a href="#">Stovariste</a></li>
                                                <li><a href="#">Magacin</a></li>
                                                <li><a href="#">Ostalo</a></li>
                                                  
                                            </ul>
                                        </li>
                                
                                
                       
                                
                                   <li><a href="#">Novogradnja</a></li>
                                  
                                
                                <li class="menuparent">
                                    <span class="menuparent nolink">Zemljista</span>
                                    <ul>
                                          <li><a href="#">Poljoprivredna</a></li>
                                                  <li><a href="#">Gradjevinska</a></li>
                                    </ul>
                                </li>
                                
                                
                                
                                
                                <li><a href="#">Selidbe</a></li>
                                
                                
                                <li><a href="#">Agencije</a></li>  
                                
                                
                               
                                
                             
                               <li><a href="#">Magazin</a></li> 
                                
                            </ul><!-- /.nav -->
  <!-- 
                            <div class="language-switcher">
                                <div class="current en"><a href="/" lang="en">English</a></div>
                                <div class="options">
                                    <ul>
                                        <li class="fr"><a href="#">Français</a></li>
                                        <li class="de"><a href="#">Deutsch</a></li>
                                    </ul>
                                </div> 
                            </div>

                         <form method="get" class="site-search" action="?">
                                <div class="input-append">
                                    <input title="Enter the terms you wish to search for." class="search-query span2 form-text" placeholder="Pretrazi Site" type="text" name="">
                                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                                </div>
                            </form>/.site-search -->
                        </div><!-- /.navigation -->
                    </div><!-- /.navigation-wrapper -->
                </div><!-- /.container -->
            </div><!-- /.navigation -->

            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            <!-- CONTENT -->
            <div id="content">
                
                
                
                <?php echo $this->content;?>
  
                
                
                

                
                
                
                
                
                
                
                
                
                
            </div><!-- /#content -->
</div><!-- /#wrapper-inner -->













<!--

footer starts

-->
<div id="footer-wrapper">
    <div id="footer-top">
        <div id="footer-top-inner" class="container">
            <div class="row">
                
         
                
                
                
                
              
                
                
                
                <div class="widget span3">
                    <div class="title">
                        <h2 class="block-title">Pomoć i podrška</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <ul class="menu nav">
                         
                            <li class="leaf"><a href="#">Uslovi korišćenja</a></li>
                            <li class="leaf"><a href="#">FAQ</a></li>
                            <li class="leaf"><a href="#">Marketing</a></li>
                            <li class="leaf"><a href="#">Kontakt</a></li>
                            
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.widget -->

                
                
                               
                
                
                <div class="widget span3">
                    <div class="title">
                        <h2 class="block-title">Info</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="#">O Nama</a></li>
                            <li class="leaf"><a href="#">Impresum</a></li>
                          
                            <li class="leaf"><a href="#">FAQ</a></li>
                            <li class="leaf"><a href="#">Marketing</a></li>
                         
                            
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.widget -->
                
                
                
                
                
                  
                <div class="widget span3">
                    <div class="title">
                        <h2>Kontakt</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <table class="contact">
                            <tbody>
                            <tr>
                                <th class="address">Adresa:</th>
                                <td>Vozdovac, Vojvode Stepe 255<br></td>
                            </tr>
                            <tr>
                                <th class="phone">Telefon:</th>
                                <td>+381600333807</td>
                            </tr>
                            <tr>
                                <th class="email">E-mail:</th>
                                <td><a href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a></td>
                            </tr>
                            <tr>
                                <th class="skype">Skype:</th>
                                <td>info@nadjinekretnine.com</td>
                            </tr>
                        
                            </tbody>
                        </table>
                    </div><!-- /.content -->
                </div><!-- /.widget -->

        
                
                
                
                
                <div class="widget span3">
                    <div class="title">
                        <h2 class="block-title">Newsletter</h2>
                    </div><!-- /.title -->

                    <div class="content">
                        <form method="post">
                            <div class="control-group">
                                <label class="control-label" for="inputName">
                                   Ime
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" id="inputName">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputEmail">
                                    Email
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" id="inputEmail">
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                          
                            <div class="form-actions">
                                <input type="submit" class="btn btn-primary arrow-right" value="Prijavi se">
                            </div><!-- /.form-actions -->
                        </form>
                    </div><!-- /.content -->
                </div><!-- /.widget -->
            </div><!-- /.row -->
        </div><!-- /#footer-top-inner -->
    </div><!-- /#footer-top -->

    <div id="footer" class="footer container">
        <div id="footer-inner">
            <div class="row">
                <div class="span6 copyright">
                    <p>© Copyright <?php echo date("Y"); ?> by <a href="#">Http</a>.  Powered by <a href="#">Http</a>.</p>
                </div><!-- /.copyright -->

                <div class="span6 share">
                    <div class="content">
                        <ul class="menu nav">
                            <li class="first leaf"><a href="http://www.facebook.com" class="facebook">Facebook</a></li>
                            <li class="leaf"><a href="http://flickr.net" class="flickr">Flickr</a></li>
                            <li class="leaf"><a href="http://plus.google.com" class="google">Google+</a></li>
                            <li class="leaf"><a href="http://www.linkedin.com" class="linkedin">LinkedIn</a></li>
                            <li class="leaf"><a href="http://www.twitter.com" class="twitter">Twitter</a></li>
                            <li class="last leaf"><a href="http://www.vimeo.com" class="vimeo">Vimeo</a></li>
                        </ul>
                    </div><!-- /.content -->
                </div><!-- /.span6 -->
            </div><!-- /.row -->
        </div><!-- /#footer-inner -->
    </div><!-- /#footer -->
</div><!-- /#footer-wrapper -->
</div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->







	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="/js/jquery.js"><\/script>')</script>
 <script src="http://malsup.github.com/jquery.form.js"></script> 
<?php

         echo    $this->headScript()
                ->appendFile('/js/jquery.ezmark.js')
                ->appendFile('/js/jquery.currency.js')
                ->appendFile('/js/jquery.cookie.js')
                ->appendFile('/js/retina.js')
                ->appendFile('/js/bootstrap.min.js')
                ->appendFile('/js/carousel.js')
                ->appendFile('/libraries/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js')
               ->appendFile('/libraries/chosen/chosen.jquery.min.js')
               ->appendFile('/libraries/iosslider/_src/jquery.iosslider.min.js')
               ->appendFile('/libraries/bootstrap-fileupload/bootstrap-fileupload.js')
                ->appendFile('/js/custom.js');
         
         ?>

</body>
</html>        
                
      











