<?php
 

?>
<script>
var USER_NOT_VALIDE=<?=json_encode($this->user_valid_obavesenje)?>;
 



</script>
<div class="container">
    <div id="main">
     <div class="" style="">
      <ul style="margin-top: 50px;" class="breadcrumb">
  <li><a href="http://nadjinekretnine.com/moj-profil">Moj profil</a> <span class="divider">/</span></li>
  <li class="active">Deklaracija o oglašavanju</li>
</ul>



<div class="panel panel-danger ">
      <div class="panel-heading">
        <h3 class="panel-title">Deklaracija o oglašavanju  <i class="fa fa-exclamation-triangle"></i></h3>
      </div>
      <div class="panel-body">
          <div class="alert alert-info span10">
              <i style="margin-right: 0" class="fa fa-info-circle fa-5x pull-left"></i>
              <p class="span9 pull-right">
            
               Podaci koje unosite činiće Deklaraciju, koja je po Zakonu o oglašavanju (član 11.), 
               obavezna za sva pravna lica.
Oglašivač je dužan da  tačno popuni sve podatke. Ovi podaci neće
biti javno dostupni i tretiramo ih kao poverljive u skladu sa Zakonom o zaštiti podataka o ličnosti.
 U slučaju promene podataka, oglašivač je dužan da tu promenu unese u ovu formu. 
              </p>
          </div>
          <div style="clear: both"></div>
<?php
$form=$this->form;
$form->prepare();

$naziv_firme=$form->get('naziv_firme');
$ulica=$form->get('ulica');
$maticni_broj=$form->get('maticni_broj');
$pib=$form->get('pib');
$telefon=$form->get('telefon');
$ime_prezime=$form->get('ime_prezime');
/*
$jmbg=$form->get('jmbg');
$broj_licne_karte=$form->get('broj_licne_karte');
$mesto_izdavanja=$form->get('mesto_izdavanja');
*/
$saglasnost=$form->get('saglasnost');

$submit_firma=$form->get('submit_pravna_lica_podatci');


$firma_errors=$form->getMessages();
//var_dump($firma_errors);

 


 
   ?>       
        
          
      <?=$this->form()->openTag($form)?>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Naziv firme
    <span class="form-required" title="Ovo polje je obavezno.">*</span>
    </label>
    <div class="controls">
      <?=$this->formInput($naziv_firme),$this->formElementErrors($naziv_firme,array('style' => 'color:red;'))?>
        
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Ulica
    <span class="form-required" title="Ovo polje je obavezno.">*</span>
    </label>
    <div class="controls">
      <?=$this->formInput($ulica),$this->formElementErrors($ulica,array('style' => 'color:red;'))?>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">PIB
    <span class="form-required" title="Ovo polje je obavezno.">*</span>
    </label>
    <div class="controls">
      <?=$this->formInput($pib),$this->formElementErrors($pib,array('style' => 'color:red;'))?>
    </div>
  </div>          
             <div class="control-group">
    <label class="control-label" for="inputEmail">Maticni broj
    <span class="form-required" title="Ovo polje je obavezno.">*</span>
    </label>
    <div class="controls">
      <?=$this->formInput($maticni_broj),$this->formElementErrors($maticni_broj,array('style' => 'color:red;'))?>
    </div>
  </div>
             <div class="control-group">
    <label class="control-label" for="inputEmail">Ime i prezime odgovornog lica
    <span class="form-required" title="Ovo polje je obavezno.">*</span>
    </label>
    <div class="controls">
      <?=$this->formInput($ime_prezime),$this->formElementErrors($ime_prezime,array('style' => 'color:red;'))?>
    </div>
  </div>

             <div class="control-group">
                 <label class="control-label" for="inputEmail">Telefon
    <span class="form-required" title="Ovo polje je obavezno.">*</span>
    </label>
    <div class="controls">
      <?=$this->formInput($telefon),$this->formElementErrors($telefon,array('style' => 'color:red;'))?>
    </div>
  </div>
             <div class="control-group">
    <label class="control-label" for="inputEmail">Garantujem da su uneti podaci tačni
    <span class="form-required" title="Ovo polje je obavezno.">*</span>
    </label>
    <div class="controls">
      <?=$this->formCheckbox($saglasnost),$this->formElementErrors($saglasnost,array('style' => 'color:red;'))?>
    </div>
  </div>

      <div class="form-actions">
  <?=$this->formSubmit($submit_firma)?>
</div>     
           
<?=$this->form()->closeTag()?>  
          
          
          
          
          
          
          
          
          
          
          
          
      </div>
    </div>
 </div>
    </div>
    </div>
    
    
    
<!-- Modal -->
<div id="modal-deklaracija-required" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="background-color: #da4f49;" class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 style="color: white;">Obavestenje</h3>
  </div>
  <div class="modal-body">
    <p>Da bih ste ostavili oglas kao PRAVNO LICE morate da popunite Deklaraciju o oglašavanju. </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    
  </div>
</div>






