<?php
//var_dump($this->user_type);
//var_dump($this->pl_validation);






?>
<script>
window.onload=function(){
    animate_moj_profil()
}
function animate_moj_profil(){
    var img;
    $(".thumbnails .span3").hover(function(){
        var th=$(this).children();
          img=$(th).children().first();
        $(img).addClass('animated swing')
    },function(){
        $(img).removeClass('animated swing')
    })
  
}
 
</script> 
<div class="container">
    <div id="main">
     <div class="" style="">
        <h2 style="" class="page-header">Moj profil</h2>
   <?php if($this->user_type==2&&!$this->pl_validation):?>
        
         <div class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Vazno obavestenje!</h4>
            <p>Da bih ste ostavili oglase na nasem portalu kao pravno lice morate da popunite DEKLARACIJU o oglasavanju.</p>
            <p>
              <a class="btn btn-danger" href="http://nadjinekretnine.com/moj-profil/deklaracija">Popuni Deklaraciju <i class="fa fa-external-link"></i></a> 
             
            </p>
          </div>
       
       
       
       
       <?php endif?>
      
  <div class="row-fluid">
            <ul class="thumbnails">
                
                
                
              <li class="span3">
                 <div data-profil='moji-podatci' class="thumbnail thum-click">
                 <img class=""  src="/img/tmp/list_moji_podatci.png"/>
                 <div class="caption">
                 <h3>Moji Podaci</h3>
                    <p> Pomena ili pregled lozinke i vasih licnih podataka.</p>
                    <p>
                        <a class="btn btn-primary pull-right" href="http://nadjinekretnine.com/moj-profil/moji-podatci">Detalji
                            <i class="icon-share-alt icon-white"></i>
                        </a>
                    </p>
                  </div>
                </div>
              </li>  
                
                
              
              <li class="span3">
                <div data-profil='predaj-oglas' class="thumbnail thum-click">
                  <img  src="/img/tmp/predaj_oglas.png" 
                       style="">
                  <div class="caption">
                    <h3>Predaj oglas</h3>
                    <p>
                       Kreirajte novi oglas.
                    </p>
                    <p>
                        <a class="btn btn-primary pull-right" href="http://nadjinekretnine.com/ostavi-oglas">Detalji
                            <i class="icon-share-alt icon-white"></i>
                        </a>
                    </p>        
                  </div>
                </div>
              </li>
  
              
              
              
              
              
              <li class="span3">
                <div data-profil='moji-oglasi' class="thumbnail thum-click">
                  <img  src="/img/tmp/moji_oglasi.png" 
                       style="">
                  <div class="caption">
                    <h3>Moji oglasi</h3>
                    <p>
                        
                       Lista svih vaših aktivnih i neaktivnih oglasa.
                    </p>
                     <p>
                        <a class="btn btn-primary pull-right" href="http://nadjinekretnine.com/moj-profil/moji-oglasi">Detalji
                            <i class="icon-share-alt icon-white"></i>
                        </a>
                    </p>                  
                  </div>
                
                </div>
              </li>             
              
              
              
              
              
              
              
              
              
              
                  <li class="span3">
                <div data-profil='pomoc-podrska' class="thumbnail thum-click">
                  <img  src="/img/tmp/help_user.png" 
                       style="">
                  <div class="caption">
                    <h3>Pomoc i podrska</h3>
                    <p>
                    Trebate pomoć?
                    </p>
                     <p>
                        <a class="btn btn-primary pull-right" href="http://nadjinekretnine.com/moj-profil/pomoc-podrska">Detalji
                            <i class="icon-share-alt icon-white"></i>
                        </a>
                    </p>      
                  </div>
                </div>
              </li>
              
              
              
              
              
              
              
              
              
              
              
              
              
            </ul>
          </div> 
            
            
       <!--     
                     
  <div class="row-fluid">
            <ul class="thumbnails">
                
                
           
                 <li class="span3">
                <div data-profil='favoriti' class="thumbnail thum-click">
                  <img  src="/img/tmp/profil_favorites.png" 
                       style="">
                  <div class="caption">
                    <h3>Favoriti</h3>
                    <p>
                        
                        Odabrani oglasi i sačuvane kombinacije pretrage.
                    </p>
                     <p>
                        <a class="btn btn-primary pull-right" href="http://nadjinekretnine.com/moj-profil/favoriti">Detalji
                            <i class="icon-share-alt icon-white"></i>
                        </a>
                    </p>                
                  </div>
                </div>
              </li>
              
              
                         
              
              
                     
              <li class="span3">
                <div data-profil='poruke' class="thumbnail thum-click">
                  <img  src="/img/tmp/mail.png" 
                       style="">
                  <div class="caption">
                    <h3>Poruke</h3>
                    <p>
                        
                     Korespodencija sa klijentima
                    </p>
                     <p>
                        <a class="btn btn-primary pull-right" href="http://nadjinekretnine.com/moj-profil/poruke">Detalji
                            <i class="icon-share-alt icon-white"></i>
                        </a>
                    </p>            
                  </div>
                </div>
              </li>
              
              
              
              
              
          
  
              
   
              
              
              
 </ul>
      
      
     
      
      
      
          </div>   
            
            -->
  
            

        
        
        
        
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </div>  
</div>









