<?php
$user_data=$this->db_data;
?>                   
<div class="container">
    <div id="main">
        <div class="row">
            <?=$this->menu?>
</div>

 
        <div style=" ">
  
    
        <div style="overflow: auto" class="panel ">
           
           
            
            
                <div style="" class="span11 pull-left"> 
                    
                    <div style="overflow: auto;" class="span7 panel panel-danger">
        <div class="panel-heading">
              <h3 class="panel-title">Obavezna polja</h3>
        </div>
                   <div class="panel-body">
                       
                       <div style="overflow: auto;">
                               <span class="span2 ">E-mail adresa:</span>
                               
                             <span class="input-xmedium uneditable-input"><?=$user_data['email_nk']?></span>
                             <button title="Kliknite da promenite Email adresu" id="promeni-email" class="btn btn-danger btn-xs pull-right">
                                 Promeni Email 
                                <i class="fa fa-pencil-square-o"></i></button>
                        </div>
                      
                       <div style="overflow: auto;">
                               <span class="span2 ">Korisnicko ime:</span>
                               
                             <span class="input-xmedium uneditable-input"><?=$user_data['user_name']?></span>
                             <button  title="Kliknite da promenite Korisnicko ime" id="promeni-username" class="btn btn-danger btn-xs pull-right">
                                 Promeni Korisnicko ime
                                <i class="fa fa-pencil-square-o"></i></button>
                        </div>                       
                        <p>
                             <span class="span2 ">Lozinka:</span>
                             <span class="input-xmedium uneditable-input">*****</span>
                             <button title="Kliknite da promenite Lozinku" id="promeni-pass" class="btn btn-danger btn-xs pull-right">Promeni Lozinku 
                                <i class="fa fa-pencil-square-o"></i></button>
                        </p>
                           
    
                 
              
             </div>    
    </div>               
                    
   
                        
   <?=$this->moji_podatci?>
        </div>
        




</div>








</div>
</div>








<?=$this->dodatni_podatci_modals?>



