  
 

<div class="container">

    <div id="main">
        <div class="row">
           <?=$this->menu?>
            
 <?=$this->placena_ponuda?>        
            
            
         <?=$this->user_helper?>   
           <?=$this->user_filter?>   
    
          
        </div>
    </div>
</div>        



<?=$this->modals?>
  

 

