<?php
$data=$this->data;

?>
<script>
    var MODAL_OK=<?=json_encode($this->modal)?>;
   
 window.onload=function(){
        
  
    
    if (MODAL_OK) {
    $("#modal-ok-message").modal()
}
    
    
   }   
</script>
<div class="container">

    <div id="main">
        <div class="row">
        <?=$this->menu?>

            
            
          
            
            <div class="span6 well well-large">
                <h2>Naplata putem sms-a ili uplatnice</h2>

                <div class="accordion" id="faq1">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#collapse1">
                                <span class="sign"></span> Placen oglas putem sms-a nije vidljiv
                            </a>
                        </div><!-- /.accordion-heading -->

                        <div id="collapse1" class="accordion-body collapse">
                            <div class="accordion-inner">
                              Ukoliko je oglas placen putem sms-a u roku od nekoliko minuta oglas bih trebao da bude vidljiv.
                              Ako je proslo vise od 10 minuta obavezno nas kontaktirajte!
                            </div><!-- /.accordion-inner -->
                        </div><!-- /.accordion-body -->
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#collapse2">
                                <span class="sign"></span> Placen oglas putem uplatnice 
                            </a>
                        </div><!-- /.accordion-heading -->

                        <div id="collapse2" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Oglas ce biti aktiviran u roku od 24h.
                                Da bi vas oglas mogli da aktiviramo sto pre, posaljite nam sliku uplatnice na mail: 
                                <a href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a>. U koliko posaljete mail
                                radnim danima od 8h - 17h oglas ce biti aktiviran odmah!
                                
                            </div><!-- /.accordion-inner -->
                        </div><!-- /.accordion-body -->
                    </div><!-- /.accordion-group -->
                    <h2>Ostalo</h2>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#collapse3">
                                <span class="sign"></span> Problem sa pregledom portala
                            </a>
                        </div><!-- /.accordion-heading -->

                        <div id="collapse3" class="accordion-body collapse">
                            <div class="accordion-inner">
                            Ukoliko imate problem sa vidljivostu sadrzaja portala, verovatno koristite stari browser. Ovaj sait je optimizovan za sve 
                            novije web pretrazivace.
                            </div><!-- /.accordion-inner -->
                        </div><!-- /.accordion-body -->
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#collapse4">
                                <span class="sign"></span> Email obavestenja
                            </a>
                        </div><!-- /.accordion-heading -->

                        <div id="collapse4" class="accordion-body collapse">
                            <div class="accordion-inner">
                             U koliko ne zelite da vam stizu Email obavestenja mozete da ih iskljucite na sledeci nacin:
                             Kliknite na dugme Moji Podatci i u polju Email obavestenja iskljucite sta zelite.
                            </div><!-- /.accordion-inner -->
                        </div><!-- /.accordion-body -->
                    </div><!-- /.accordion-group -->

                    
                </div><!-- /.accordion -->

                 
            </div>
               
            
            
            
            
            
            
            
            
            
            
            
<?php 
       $form=$this->form;
       $form->prepare();
       
       $name=$form->get('name');
       $message=$form->get("message");
       $submit=$form->get("submit");
       $errors=$form->getMessages();
?>
<div class="span5 well well-large">
                 <h2>Sva polja su obavezna!</h2>
                 <div style="display: <?=count($errors)>0?'block':'none'?>" class="alert alert-danger">
                    <?php
                     if (count($errors)>0) {
                         echo '<h3 class="alert-heading">Doslo je do greske! </h3> <ul>';
                         foreach ($errors as $key => $value) {
                             foreach ($value as $k => $v) {
                                 echo "<li>$v</li>";
                             }
                         }
                         echo '</ul>';
                     }
                     ?>
                 </div>

                        <?=$this->form()->openTag($form)?>
                            <div class="name control-group">
                                <label class="control-label" for="inputContactName">
                                    Ime
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>
                                <div class="controls">
                                  <?=$this->formInput($name)?>
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="email control-group">
                                <label class="control-label" for="inputContactEmail">
                                    Email
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>
                                <div class="controls">
                                    <span style="padding: 6px;height: 40px;" class="input-block-level uneditable-input">
                                    <?=$data['email_nk']?>    
                                    </span>
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->

                            <div class="control-group">
                                <label class="control-label" for="inputContactMessage">
                                    Poruka
                                    <span class="form-required" title="This field is required.">*</span>
                                </label>

                                <div class="controls">
                                  <?=$this->formTextArea($message)?>
                                </div><!-- /.controls -->
                            </div><!-- /.control-group -->
       
                            <div class="form-actions">
                                <?=$this->formSubmit($submit)?>
                            </div><!-- /.form-actions -->
                       <?=$this->form()->closeTag()?>
                </div>
            
            
 
         
       </div> 
            </div>
                </div>
 






<div id="modal-ok-message" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Poruka je poslata</h3>
  </div>
  <div class="modal-body">
    <p>Poruka je uspesno poslata, odgovoricemo vam za najkasnije 24h.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
 
  </div>
</div>



















