<?php

?>
<div class="container">
    <div id="main">
        <div class="row">
            <?=$this->menu?> 
            
  <div class="span9">
             <div class="properties-rows">
                     <div class="row">
        
           <div class="alert alert-info span9">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Trenutno nemate Poruka!</strong>
            </div>   
        
    
 

  

    
            </div>      
            
</div>
        </div>
    </div> </div> </div>
        
        
        