
<?php if ($this->pageCount): ?>
<div style="margin-top:20px;" class="pagination pagination-centered">
         <ul class="pull-left hidden-phone">
             <?php //var_dump($this->pageCount);var_dump($this->currentItemCount);
                 
                   $get=$this->get;
                   if (!isset( $get['po-strani'])) {
                        $get['po-strani']=10;
                   }
                  
             ?>
            <li class="<?=$get['po-strani']==10?'active':''?>">
                <a href="<?=$this->url($this->route,array_merge($get,['po-strani'=>10]))?>">
                    10</a>
            </li>
            <li class="<?=$get['po-strani']==20?'active':''?>">
                <a href="<?=$this->url($this->route, array_merge($get,['po-strani'=>20]))?>">
                    20</a>
            </li>
            <li class="<?=$get['po-strani']==50?'active':''?>">
                <a href="<?=$this->url($this->route, array_merge($get,['po-strani'=>50]))?>">
                    50</a>
            </li>
         </ul>                 
                    
 

<?php if($this->pageCount>1):?>
                    
                    <ul class="pull-right">
                        
                        <li class="<?=isset($this->previous)?"":"disabled" ?>">
                            <?php if (isset($this->previous)): ?>   
                            <a href="<?=$this->url($this->route, array_merge($get,['strana'=>$this->previous]))?>">
                            &larr; Prethodna
                            </a>
                            <?php else: ?>
                             <span>&larr; Prethodna</span> 
                            <?php endif; ?>
                         </li>  
                         
                         <?php if (isset($this->previous)): ?>
                         
                             <?php //if ($this->current>2): ?>
                             <li>
                                <a href="<?=$this->url($this->route, array_merge($get,['strana' => $this->first]))?>">
                                <?=$this->first?>
                                </a>
                            </li>                                
                             <?php //endif; ?>
                           <?php   
                             
                        $currp=$this->current-1;$nump=[];
                         while($currp>1&&  count($nump)<1){
                             $nump[]=$currp;   $currp--;
                                 } 
                                 asort($nump);
                          ?>   
                 
                         
                         <?php foreach ($nump as $v):?> 
                            <li>
                                <a href="<?=$this->url($this->route, array_merge($get,['strana'=>$v]))?>">
                                <?=$v?>
                                </a>
                            </li>                             
                            <?php endforeach;?>
                         <?php endif; ?>
                         
                             <li  class="active">
                                <a href="<?=$this->url($this->route,array_merge($get,['strana'=>$this->current]))?>">
                                <?=$this->current?>
                                </a>
                            </li>                              
                             <?php
                            $numn=1;$curn=$this->current+1;
                            while($curn<$this->last&&$numn<3){
                                                             
                              ?>  
                             <li>
                                <a href="<?=$this->url($this->route,array_merge($get,['strana' => $curn]))?>">
                                <?=$curn?>
                                </a>
                            </li>                              
                            <?php
                            $curn++;$numn++;
                            }
                            ?>
     
       <?php if (isset($this->next)): ?>
              
        <li> 
            <a href="<?=$this->url($this->route,array_merge($get,['strana' => $this->last])) ?>">
            <?=$this->last;?>
            </a>
        </li>
        <li>
            <a href="<?php echo $this->url($this->route,array_merge($get,['strana' => $this->next]) )?>">
                Sledeća &rarr;</a>
        </li>
        <?php else: ?>
        <li class="disabled"><span>Sledeća &rarr;</span></li>
        <?php endif; ?>
        
</ul>      
<?php endif; ?>
</div><!-- /.pagination -->       
<?php endif; ?>


