<?php
$get=$this->get;
 


$form=$this->form;
$form->prepare();


?>


             <div class="sidebar span3">
                
              
                <div style="background-color:#ffffff" class="property-filter widget">
    <div class="content">
        <legend>Pretraga oglasa</legend>
   <?=$this->form()->openTag($form);?> 
        
        
        
        
        
<?php

$kvadratura=<<<HTML
<div class="control-group"> <label style="color: #313131;" class="control-label" for="inputLocation">Kvadratura </label>        
<div style=" " class="controls">{$this->formInput($form->get("kvadratura_od"))} -
{$this->formInput($form->get("kvadratura_do"))}
</div><!-- /.controls --></div><!-- /.control-group -->      
HTML;
        
        
 
$exp=array_filter(explode('<label>', $this->formRadio($form->get('prodaja_izdavanje'))));
foreach ($exp as $k => $v) { 
$exp[$k]=preg_replace("#\w+</label>#", "", $v);   
}     




$prodaja_izdavanje=<<<H
<div class="control-group"> <label style="color: #313131;" class="control-label" for="inputLocation">Prodaja / Izdavanje    </label>      
<div style="margin-left:5px;" class="controls">
{$exp[1]}</div></div><div class="control-group"><div style="margin-left:5px" class="controls">{$exp[2]}</div></div>     
H;


//$form->get('mesta_srbija')->setValue('21');


$mesto=<<<H
<div style="overflow: auto;" class="control-group">
<label style="color: #313131;" class="control-label" for="inputLocation">Unsesite lokaciju</label>
<div style="" class="controls">{$this->formInput($form->get('mesta_srbija'))}</div></div>             
H;
 
$sobe=<<<H
<div class="control-group"><label style="color: #313131;" class="control-label" for="inputLocation">Sobe</label>
<div style="" class="controls">
{$this->formSelect($form->get('sobe_od'))} 
-
{$this->formSelect($form->get('sobe_do'))}
</div></div>        
H;
$cena=<<<H
<div class="control-group"><label style="color: #313131;" class="control-label" for="inputLocation">Cena</label>
<div style="" class="controls">
{$this->formInput($form->get('cena_od'))} 
-
{$this->formInput($form->get('cena_do'))}
</div></div>        
H;

$nadji_oglas=<<<HTML
<hr/>
<div class="form-actions">
<button id="pretraga-filteri-submit" type="submit" class="btn btn-primary btn-large btn-block">Nadji oglas <i style="" class="fa fa-chevron-circle-right"></i></button>
 </div>                
HTML;
        
?>
  
         
        
         <div class="control-group">
             <label style="color: #313131;" class="control-label" for="inputLocation">
                    Kategorija
             </label>
             <div class="controls">
                <?=$this->formInput($form->get('kategorija'))?>
             </div>
         </div>
 
      <hr/>
<?php

       
 echo $mesto,$prodaja_izdavanje,$cena,$sobe,$kvadratura,$nadji_oglas;
        
?>
        
        
         

        
 <?=$this->form()->closeTag()?>
    
    
    
    
    
    </div><!-- /.content -->
</div><!-- /.property-filter -->

  </div>


