<?php

$magazin=$this->magazin; 
$this->headTitle($magazin[0]['naslov']." | ");
//var_dump($magazin);
$article=true;
if ($this->clanak&&$this->kategorija&&$magazin) {
  
   $article=false;
}

?>

<div class="container">
 
        <div id="main">
            <div class="row">
 
            
            
            
            
            
            <div class="our-agents-large">
 <h2 class="page-header">Magazin</h2>
    <?php if($magazin):?>
      <div class="content "> 
                <!--
    
    
    SIDE BAR
    
    
    
    -->


<div class="sidebar span3 pull-right">
                    <div class="widget properties last">
 
    <div class="content">
        <div class="property">
      <div class="well" style="max-width: 340px;margin-bottom: 0;padding-top: 2px; ">
              <ul class="nav nav-list">
                  <li class="nav-header"><h5 style="margin-bottom: 0;">Kategorije</h5></li>
                  <li class="divider"></li>
                  <li class="<?=$this->kategorija==null?"active":""?>"><a href="http://nadjinekretnine.com/magazin-nekretnine">Sve kategorije</a></li>
                <li class="<?=$this->kategorija=='vesti'?"active":""?>"><a href="http://nadjinekretnine.com/magazin-nekretnine/vesti">Vesti </a></li>
                <li class="<?=$this->kategorija=='saveti'?"active":""?>"><a href="http://nadjinekretnine.com/magazin-nekretnine/saveti"> Saveti</a></li>
                <li class="<?=$this->kategorija=='dizajn'?"active":""?>"><a href="http://nadjinekretnine.com/magazin-nekretnine/dizajn">Dizajn </a></li>
              
                 
              </ul>
            </div>
        </div><!-- /.property -->

        
    </div><!-- /.content -->
</div><!-- /.properties -->
   


<?php
/*
<div class="ad widget">
    <h2>Advertisements</h2>
    <div class="content">
        <a href="#"><img src="assets/img/banner/1.gif" alt="Banner"></a>
        <a href="#"><img src="assets/img/banner/2.gif" alt="Banner"></a>
        <a href="#"><img src="assets/img/banner/3.gif" alt="Banner"></a>
        <a href="#"><img src="assets/img/banner/4.gif" alt="Banner"></a>
    </div><!-- /.content -->
</div><!-- /.ad -->
  
 * 
 */

?>
  </div>

    <?php foreach($magazin as $k=>$v):?>
     <?php
     $link=isset($v['link'])?'http://nadjinekretnine.com/magazin-nekretnine/'.$v['kategorija'].'/'.$v['id_magazin'].'/'.$v['link']:"";
    ?>
   
        <div class="agent span9">
             
                <div class="image span2">
                    <?php if($article):?>
                    <img src="<?=$v['glavna_slika']?>" alt="">
                    <?php endif?>
                </div><!-- /.image -->

                <div class="body  <?=$article?"span6":"span8 well well-large"?>">
                    <h2 style="<?=$article?"margin-top: 0;line-height:20px;":""?>" class="<?=$article?"":"page-header"?>">
                        <a href="<?=$link?>"
                                 >
                         <?=$v['naslov']?>
                        </a>
                    </h2>
                     <?php if($article):?>
                    <p>
                       
                        <?=strip_tags(substr($v['text'],0,500))?>
             <a href="<?=$link?>"
                >... procitaj <i class="fa fa-chevron-circle-right"></i></a>
                    </p>
                         <?php else:?> 
                        <?=$v['text']?>
                        <?php endif?>                   
                    <span style="color: silver">
                        <?=$v['datum']?> <?=' | Izvor: ',$v['autor']?> 
     
                    </span>
                </div><!-- /.body -->

            
             
        </div><!-- /.agent -->

  

     <?php endforeach?> 
        
        
   

        
      </div><!-- /.content -->
<?php endif?>
  
 
  </div>
</div><!-- /.our-agents -->    
        
        
        
        
        
        
        
        </div>

</div>










 
     

