<?php
$test=range(1,19);
echo $this->tt;
?>
       <?php
$kvadratura=<<<HTML
    <div class="control-group">
         <label style="color: #313131;" class="control-label" for="inputLocation">
                 Kvadratura     
         </label>        
         <div style=" " class="controls">
           {$this->formInput($form->get("kvadratura_od"))}
                            -
           {$this->formInput($form->get("kvadratura_do"))}
           <a href="#" class="btn btn-primary submit-form-filter btn-xs">Primeni kvadraturu</a>
         </div><!-- /.controls -->
    </div><!-- /.control-group -->      
HTML;
          
       ?>
  <?=$kvadratura?>

<div>test</div>