<?php
$oglasi=$this->paginator;      
$html=$this->render_html;
 //var_dump($oglasi);
?>
<div class="properties-rows">
    <div class="row">
        
        <?php if(count($oglasi)>0):?>
        
        <?php foreach($oglasi as $key => $v):?>
          
     
        <?php if($key===3):?>
        
       <div class="property span9">
            <div class="row">
                <div class="text-center">
<?=$this->reklame([],false,true)?>
        </div>
                </div>
        </div>
        
         <?php elseif($key===9):?>
      
     <div class="property span9">
            <div class="row">
                <div class="text-center">
<?=$this->reklame([],false,true)?>
        </div>
                </div>
        </div>
        
    
        
        <?php endif;?>
        
        
 
        
        
        
        
   <?php
   $link=$html::create_link($v['kategorija'],$v['id_oglasi_nk'],$v['naslov']);
    ?>  

        <div class="property span9">
            <div class="row">
                <div style="position: relative;" class="image span3">
                    <?php if(\in_array($v['vrsta_oglasa'], [2,3])):?>
                    
                    <button style="position: absolute;top: 0;left: 0;" 
                            class="btn btn-xs <?=$v['vrsta_oglasa']==2?'btn-warning':"btn-danger"?> ">
   <?=strtoupper($html::vrsta_oglasa($v['vrsta_oglasa']))?>
                    </button> 
                    <?php endif?>
                    <div class="content">
                        <a href="<?=$link?>"></a>
                        <img style="max-height: 189px;min-height: 180px" src="<?=$html::image($v['slika_1'])?>" alt="">
                    </div><!-- /.content -->
                </div><!-- /.image -->

                <div style="" class="body span6">
                    <div style="padding-top: 8px;" class="title-price row">
                        <div class="title span6">
                            <h4 style="margin: 0;margin-bottom: 5px;">
                                 <a style="" 
                      class="naslov-oglasa" href="<?=$link?>"><?=$v['naslov']?></a>
                            </h4> 
                        </div><!-- /.title -->

                     
                    </div><!-- /.title -->

                    <div style="font-size: 12px;margin-bottom: 7px;padding-bottom: 7px;" class="location location-line">
                         <?php
                         echo $html::kategorija($v['kategorija']).' | ',
                          $html::get_mesto($v['mesto']);
                           if ($deo_mesta=$html::get_deo_mesta($v['mesto'],$v['deo_mesta'])) {
                               echo ' - '.$deo_mesta;
                           }if ($lokacija=$html::get_lokacija($v['mesto'],$v['deo_mesta'],$v['lokacija'])) {
                               echo ' - '.$lokacija;
                           }if ($v['ulica']) {
                           echo ' - '.$v['ulica'];
                           }
                         ?> 
                       
                    </div><!-- /.location -->
                    
                <div style="font-size: 15px;margin-bottom: 7px;padding-bottom: 7px;" class="location location-line">
                             
                                                      
                           <?php
                            if ($povrs=$html::povrsina($v['kvadratura'],$v['povrsina_plac'],$v['jedinica_mere_plac'])) {
                                  echo '<button class="btn  btn-xs">'.$povrs.' | </button>'; 
                             }                        
                           ?> 
                      
                    <button class="btn  btn-xs"><?=date('j M Y',  \strtotime($v['datum_kreiranja_oglasa'])) ?></button> 
                         <span class=" "> | </span><!-- /.key -->
                         <button class="btn btn-xs"><?=strtoupper($html::oglasivac($v['oglasivac']))?></button>
           
        
       
                     </div><!-- /.location -->      
                      <p class="opis-lines " style="font-size: 12px;"><?=$v['opis']?></p>
                    <div style="" class="area pull-left">
                         
                        <a style="overflow: auto;margin-right: 5px;" class="dodaj-u-favorite" data-id="<?=$v['id_oglasi_nk']?>" title="Dodaj u favorite." href="#">
                           <?php if($this->cookie):?>
                            <?php if(in_array($v['id_oglasi_nk'],explode("&",$this->cookie))):?>
                                <i data-favorite="<?=$v['id_oglasi_nk']?>" class="fa fa-star fa-2x"></i> 
                           <?php else:?>
                             <i data-favorite="<?=$v['id_oglasi_nk']?>" class="fa fa-star-o fa-2x"></i> 
                                <?php endif?>
                           <?php else:?>
                            <i data-favorite="<?=$v['id_oglasi_nk']?>" class="fa fa-star-o fa-2x"></i> 
                                <?php endif?>
                        </a>
                        <?php if($v['mapa']||$v['e_stan_frame']):?>
                                  <a title="Pogledajte lokaciju na mapi." href="" 
                                     data-toggle="modal">
                             <img id="" data-link="<?=$link?>" data-naslov="<?=$v['naslov']?>"  
                                  data-mapcord='<?=json_encode($v['mapa'])?>' data-mapframe='<?=json_encode($v['e_stan_frame'])?>'
                                  style="width: 26px;height: 28px;float: right; "
                                        class="show-mapa-modal" src="/img/tmp/04_maps.png"/> 
                            </a>
                       
                        <?php endif?>
                        
                        
                        
                        
                        
                        
                      </div>  <!-- /.area -->
                  <div style="clear: right;color: #313131;float: right;font-size: 21px;margin-top: 3px;padding-right: 30px;text-align: right;
" class="price pull-right"> 
                         <?=$html::cena_valuta($v['cena'],$v['valuta'])?>
                        </div><!-- /.price -->
                
                </div><!-- /.body -->
            </div><!-- /.property -->
        </div><!-- /.row -->

        
             
        <?php endforeach?>
        
        <?php else:?>
  <div class="alert span8 alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3 class="alert-heading">Nema oglasa za prikaz</h3>
            <p>Trenutno nema rezultata po zadatom kriterijumu pretrage. Iskljucite ili promenite neke od primenjenih filtera ili ostavite novi oglasa. </p>
        
          </div>
        
 <?=$this->reklame()?>
         <?=$this->reklame()?>
         <?=$this->reklame()?>
         <?=$this->reklame()?>
        
        
         <?php endif?>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
       
    </div><!-- /.row -->
</div><!-- /.properties-rows -->
            




<?=$this->paginationControl($this->paginator,'Sliding','paginacija',['get'=>$this->get])?>

<div style="clear:both"></div>

    <script>
        var lng,lat,map,markers=[];
    function initialize() {
              var myLatlng = new google.maps.LatLng(lat,lng);  
            var mapOptions = {
              zoom: 15,
              center: myLatlng
            };

              map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
              var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!',
      icon:'/img/markers/office-building.png'
  });
  markers.push(marker);
  google.maps.event.trigger(map, 'resize');
}

// Sets the map on all markers in the array.
function setAllMap(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
  }
}

// Removes the markers from the map, but keeps them in the array.
function clearMarkers() {
  setAllMap(null);
}

// Shows any markers currently in the array.
function showMarkers() {
  setAllMap(map);
}

// Deletes all markers in the array by removing references to them.
function deleteMarkers() {
  clearMarkers();
  markers = [];
}



    </script>

 

 
<!-- Modal -->
<div id="map-show-propery-location" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><a id="map-modal-naslov" href=""></a></h3>
  </div>
    <div id="" class="modal-body">
        <div style="width: 100%;height: 250px;" id="map-canvas"></div>
        
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <a id="modal-vidi-oglas" href="" class="btn btn-primary" >Vidi oglas <i class="fa fa-share"></i></a>
  </div>
</div>

<!-- Modal frame -->
<div id="map-frame-show-propery-location" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3><a id="map-frame-modal-naslov" href=""></a></h3>
  </div>
    <div id="" class="modal-body">
       
         <div style="width: 100%;height: 250px;" id="modal-body-google-map"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <a id="modal-frame-vidi-oglas" href="" class="btn btn-primary" >Vidi oglas <i class="fa fa-share"></i></a>
  </div>
</div>
 



