<?php
$get=$this->get;
 


$form=$this->form;
$form->prepare();

$counter=$this->counter;
   


$get_kat=$get['kategorija'];
$get_pro_izd=$get['prodaja_izdavanje'];










 
?>
<script>
var GLOBAL_COUNTER=<?=json_encode($counter)?>;
</script>

             <div class="sidebar span3">
                
              
                <div style="background-color:#ffffff" class="property-filter widget">
    <div class="content">
        <legend>Pretraga oglasa</legend>
   <?=$this->form()->openTag($form);?> 
        
        
        
        
        
<?php

$kvadratura=<<<HTML
<div class="control-group"> <label style="color: #313131;" class="control-label" for="inputLocation">Kvadratura </label>        
<div style=" " class="controls">{$this->formInput($form->get("kvadratura_od"))} -
{$this->formInput($form->get("kvadratura_do"))}
</div><!-- /.controls --></div><!-- /.control-group -->      
HTML;
        
        
 
$exp=array_filter(explode('<label>', $this->formRadio($form->get('prodaja_izdavanje'))));
foreach ($exp as $k => $v) { 
$exp[$k]=preg_replace("#\w+</label>#", "", $v);   
}     




$prodaja_izdavanje=<<<H
<div class="control-group"> <label style="color: #313131;" class="control-label" for="inputLocation">Prodaja / Izdavanje    </label>      
<div style="margin-left:5px;" class="controls">
{$exp[1]}</div></div><div class="control-group"><div style="margin-left:5px" class="controls">{$exp[2]}</div></div>     
H;


//$form->get('mesta_srbija')->setValue('21');


$mesto=<<<H
<div style="overflow: auto;" class="control-group">
<label style="color: #313131;" class="control-label" for="inputLocation">Unsesite lokaciju</label>
<div style="" class="controls">{$this->formInput($form->get('mesta_srbija'))}</div></div>             
H;
 
$slike=<<<H
<div class="control-group"><label style="color: #313131;" class="control-label" for="inputLocation">Slike</label>
<div style="" class="controls">{$this->formCheckbox($form->get('samo-sa-slikom'))} </div> </div>
H;
$sobe=<<<H
<div class="control-group"><label style="color: #313131;" class="control-label" for="inputLocation">Sobe</label>
<div style="" class="controls">
{$this->formSelect($form->get('sobe_od'))} 
-
{$this->formSelect($form->get('sobe_do'))}
</div></div>        
H;
$cena=<<<H
<div class="control-group"><label style="color: #313131;" class="control-label" for="inputLocation">Cena</label>
<div style="" class="controls">
{$this->formInput($form->get('cena_od'))} 
-
{$this->formInput($form->get('cena_do'))}
</div></div>        
H;


function create_checkbox($label,array $label_value){
    $str='<div class="control-group">
                  <label style="color: #313131;" class="control-label" for="inputLocation">
                  '.$label.'
                 </label> ';
    foreach ($label_value as $l => $v) {
$str.=<<<H
<div style="" class="controls">
<label style="color: #313131;" class="control-label">
{$v} &nbsp; &nbsp;{$l}
</label> </div>                
H;
}
$str.='</div>';
return $str;
}




//GREJANJE
if (isset($counter['grejanje'])) {
$grejanje_cunter=$counter['grejanje'];
$arr_gr=[];      
foreach($grejanje_cunter as $k=>$v):
        switch((int)$v['grejanje']):
            case 1:
            $arr_gr["CG ({$v['count']})"]=$this->formCheckbox($form->get('cg'));
            break;
            case 2: 
            $arr_gr["EG ({$v['count']})"]=$this->formCheckbox($form->get('eg'));
            break;
            case 3: 
            $arr_gr["TA ({$v['count']})"]=$this->formCheckbox($form->get('ta'));
            break;
            case 4:
            $arr_gr["gas ({$v['count']})"]=$this->formCheckbox($form->get('gas'));
            break;
            case 5: 
            $arr_gr["podno ({$v['count']})"]=$this->formCheckbox($form->get('podno'));
            break;
            case 6: 
            $arr_gr["kaljeva ({$v['count']})"]=$this->formCheckbox($form->get('kaljeva'));
            break;
            case 7:$nradiatori="norveski radiatori ({$v['count']})";
            $arr_gr["norveski radiatori ({$v['count']})"]=$this->formCheckbox($form->get('norveskiradiatori'));
            break;
            case 8: 
            $arr_gr["mermerni radiatori ({$v['count']})"]=$this->formCheckbox($form->get('mermerniradiatori'));
            break;
        endswitch;
endforeach;
if (count($arr_gr)>0) {
    $grejanje=create_checkbox('Grejanje',$arr_gr);
}else{
    $grejanje="";
}

}
//-----------------------------------------------------------------------------------




$spratovi=<<<H
<div class="control-group"><label style="color: #313131;" class="control-label" for="inputLocation">Spratovi</label>
<div style="" class="controls">
{$this->formSelect($form->get('sprat'))} 
-
{$this->formSelect($form->get('ukupno_spratova'))}
<button id="primeni-spratove" data-detect="spratovi" class="btn btn-primary btn-xs range-button-click">Primeni Spratove</button></div></div>        
H;



if (isset($counter['opis_objekta'])) {
    $arr_oo=[];

foreach($counter['opis_objekta'] as $k=>$v):
    switch((int)$v['opis_objekta']):
    case 1: 
    $arr_oo["izvorno stanje ({$v['count']})"]=$this->formCheckbox($form->get('izvorno_stanje'));
    break;
    case 2: 
    $arr_oo["renoviran ({$v['count']})"]=$this->formCheckbox($form->get('renoviran'));
    break;
    case 3: 
    $arr_oo["lux ({$v['count']})"]=$this->formCheckbox($form->get('lux'));
    break;
    case 4: 
    $arr_oo["salonski ({$v['count']})"]=$this->formCheckbox($form->get('salonski'));
    break;
    case 5: 
    $arr_oo["duplex ({$v['count']})"]=$this->formCheckbox($form->get('duplex'));
    break;
    case 6: 
    $arr_oo["za renoviranje  ({$v['count']})"]=$this->formCheckbox($form->get('za_renoviranje'));
    break;
    endswitch;
endforeach;

if (count($arr_oo)>0) {
    $opis_objekta=create_checkbox('Opis objekta',$arr_oo);
    
}else{
    $opis_objekta="";
}

}

if (isset($counter['tip_objekta'])) {
    $arr_to=[];


foreach($counter['tip_objekta'] as $k=>$v):
    switch((int)$v['tip_objekta']):
    case 1: 
    $arr_to["stara gradnja ({$v['count']})"]=$this->formCheckbox($form->get('stara_gradnja'));
    break;
    case 2: 
    $arr_to["novogradnja ({$v['count']})"]=$this->formCheckbox($form->get('novogradnja'));
    break;
    case 3: 
    $arr_to["u izgradnji ({$v['count']})"]=$this->formCheckbox($form->get('u_izgradnji'));
    break;
    endswitch;
endforeach;

if (count($arr_to)>0) {
    $tip_objekta=create_checkbox('Tip objekta',$arr_to);
}else{
    $tip_objekta="";
}
}



if (isset($counter['dodatni_podatci'])) {
    $dodatni_podatci=[]; 
    $di=$counter['dodatni_podatci'][0];
    if (isset($di['depozit'])) {
        $dodatni_podatci['depozit ('.$di['depozit'].")"]=$this->formCheckbox($form->get('depozit'));
    }if (isset($di['odmah_useljiv'])&&$di['odmah_useljiv']>0 ) {
        $dodatni_podatci['odmah useljiv ('.$di['odmah_useljiv'].")"]=$this->formCheckbox($form->get('odmah_useljiv'));
    }if (isset($di['uknjizen'])&&$di['uknjizen']>0 ) {
        $dodatni_podatci['uknjižen ('.$di['uknjizen'].")"]=$this->formCheckbox($form->get('uknjizen'));
    }if (isset($di['zamena'])&&$di['zamena']>0 ) {
        $dodatni_podatci['zamena ('.$di['zamena'].")"]=$this->formCheckbox($form->get('zamena'));
    }if (isset($di['za_pusace'])&&$di['za_pusace']>0 ) {
        $dodatni_podatci['za pušače ('.$di['za_pusace'].")"]=$this->formCheckbox($form->get('za_pusace'));
    }if (isset($di['za_nepusace'])&&$di['za_nepusace']>0 ) {
        $dodatni_podatci['za nepušače ('.$di['za_nepusace'].")"]=$this->formCheckbox($form->get('za_nepusace'));
    }if (isset($di['klima'])&&$di['klima']>0 ) {
        $dodatni_podatci['klima ('.$di['klima'].")"]=$this->formCheckbox($form->get('klima'));
    }if (isset($di['kablovska'])&&$di['kablovska']>0 ) {
        $dodatni_podatci['kablovska ('.$di['kablovska'].")"]=$this->formCheckbox($form->get('kablovska'));
    }if (isset($di['internet'])&&$di['internet']>0 ) {
        $dodatni_podatci['internet ('.$di['internet'].")"]=$this->formCheckbox($form->get('internet'));
    }if (isset($di['lift'])&&$di['lift']>0 ) {
        $dodatni_podatci['lift ('.$di['lift'].")"]=$this->formCheckbox($form->get('lift'));
    }if (isset($di['podrum'])&&$di['podrum']>0 ) {
        $dodatni_podatci['podrum ('.$di['podrum'].")"]=$this->formCheckbox($form->get('podrum'));
    }if (isset($di['topla_voda'])&&$di['topla_voda']>0 ) {
        $dodatni_podatci['topla voda ('.$di['topla_voda'].")"]=$this->formCheckbox($form->get('topla_voda'));
    }if (isset($di['dodatni_podatci_telefon'])&&$di['dodatni_podatci_telefon']>0 ) {
        $dodatni_podatci['telefon ('.$di['dodatni_podatci_telefon'].")"]=$this->formCheckbox($form->get('telefon'));
    }if (isset($di['interfon'])&&$di['interfon']>0 ) {
        $dodatni_podatci['interfon ('.$di['interfon'].")"]=$this->formCheckbox($form->get('interfon'));
    }if (isset($di['dodatno_graza'])&&$di['dodatno_graza']>0 ) {
        $dodatni_podatci['garaža ('.$di['dodatno_graza'].")"]=$this->formCheckbox($form->get('garaza'));
    }if (isset($di['parking'])&&$di['parking']>0 ) {
        $dodatni_podatci['parking ('.$di['parking'].")"]=$this->formCheckbox($form->get('parking'));
    }if (isset($di['terasa'])&&$di['terasa']>0 ) {
        $dodatni_podatci['terasa ('.$di['terasa'].")"]=$this->formCheckbox($form->get('terasa'));
    }
    
    
        

    if (count($dodatni_podatci)>0) {
        $dodatno=create_checkbox('Dodatne informacije',$dodatni_podatci);
    }else{
        $dodatno="";
    }
    
  //  var_dump($dodatno);
    
   /*    $d=create_checkbox('Dodatno',[
           $odmah_useljiv           =>$this->formCheckbox($form->get('odmah_useljiv')),
           $terasa                 =>$this->formCheckbox($form->get('terasa')),
       ]) ;
*/
}

    
if (isset($counter['oglasivac'])) {
    
$arr_oglasivac=[];
    
foreach($counter['oglasivac'] as $k=>$v):
    switch((int)$v['oglasivac']):
    case 1: 
    $arr_oglasivac["Vlasnik ({$v['count']})"]=$this->formCheckbox($form->get('vlasnik'));
    break;
    case 2: 
    $arr_oglasivac["Agencija ({$v['count']})"]=$this->formCheckbox($form->get('agencija'));
    break;
    case 3: 
    $arr_oglasivac["Investitor ({$v['count']})"]=$this->formCheckbox($form->get('investitor'));
    break;
    case 4: 
    $arr_oglasivac["Banka ({$v['count']})"]=$this->formCheckbox($form->get('banka'));
    break;
    endswitch;
endforeach;


if (count($arr_oglasivac)>0) {
    $oglasivac=create_checkbox('Oglašivač nekretnine',$arr_oglasivac);
}else{
    $oglasivac="";
}

}
/*
 * IZDAVANJE
 */
$izdavanje="";
if (isset($counter['namestenost'])) {
    
$arr_namestenost=[];
foreach ($counter['namestenost'] as $k => $v) {
    switch((int)$v['namestenost']){
        case 1: 
            $arr_namestenost["namešten (".$v['count'].")"]=$this->formCheckbox($form->get('namesten'));
            break;
        case 2: 
            $arr_namestenost["polunamešten(".$v['count'].")"]=$this->formCheckbox($form->get('polunamesten'));
            break;
        case 3: 
            $arr_namestenost["prazan(".$v['count'].")"]=$this->formCheckbox($form->get('prazan'));
            break;
    }
}

if (count($arr_namestenost)>0) {
    $izdavanje_namestenost=create_checkbox('Nameštenost',$arr_namestenost);
}else{
    $izdavanje_namestenost="";
}

if ($get_pro_izd==='izdavanje') {
  $izdavanje=$izdavanje_namestenost;   
} 
    
 }
/*
 * /izdavanje
 */
//-----------------------------------------------
/*
 * KUCE
 *  
 */






if (isset($counter['vrsta_kuce'],$counter['spratnost_kuce'])):
 $arr_vk=[];

        
foreach($counter['vrsta_kuce'] as $k=>$v):
    switch((int)$v['vrsta_kuce']):
    case 1:$celakuca="cela kuca ({$v['count']})";
    $arr_vk["cela kuća ({$v['count']})"]=$this->formCheckbox($form->get('cela_kuca'));
    break;
    case 2:$duplex_viseporodicne_kuce="duplex/viseporodicne kuce ({$v['count']})";
    $arr_vk["duplex/višeporodicne kuce ({$v['count']})"]=$this->formCheckbox($form->get('duplex_viseporodicne_kuce'));
    break;
    case 3:$vila="vila ({$v['count']})";
    $arr_vk["vila ({$v['count']})"]=$this->formCheckbox($form->get('vila'));
    break;
    case 4:$montaznakuca="montazna kuca ({$v['count']})";
    $arr_vk["montažna kuca ({$v['count']})"]=$this->formCheckbox($form->get('montazna_kuca'));
    break;
    case 5:$stambenoposlovnakuca="stambeno-poslovna kuca ({$v['count']})";
    $arr_vk["stambeno-poslovna kuca ({$v['count']})"]=$this->formCheckbox($form->get('stambeno_poslovna_kuca'));
    break;
    case 6:$horizontala_kuce="horizontala kuce  ({$v['count']})";
    $arr_vk["horizontala kuce  ({$v['count']})"]=$this->formCheckbox($form->get('horizontala_kuce'));
    break;
    case 7:$vertikala_kuce="vertikala kuce  ({$v['count']})";
    $arr_vk["vertikala kuce  ({$v['count']})"]=$this->formCheckbox($form->get('vertikala_kuce'));
    break;
    endswitch;    
endforeach;




if (count($arr_vk)>0) {
$vrsta_kuce=create_checkbox('Vrsta kuce',$arr_vk);
}else{
    $vrsta_kuce="";
}

    $arr_sk=[];

foreach($counter['spratnost_kuce'] as $k=>$v):
    switch((int)$v['spratnost']):
    case 1:$prizemna="prizemna ({$v['count']})";
    $arr_sk["prizemna ({$v['count']})"]=$this->formCheckbox($form->get('prizemna_kuca'));
    break;
    case 2:$spratna="spratna ({$v['count']})";
    $arr_sk["spratna ({$v['count']})"]=$this->formCheckbox($form->get('spratna_kuca'));
    break;
    endswitch;
endforeach;
if (count($arr_sk)>0) {
    $spratnost_kuce=create_checkbox('Spratnost',$arr_sk);
}else{
    $spratnost_kuce="";
}
endif;
/*
 * /kuce
 */
//------------------------------------------------------
/*
 * PLAC
 */
if (isset($counter['ostalo_plac'],$counter['vrsta_plac'])):
    $arr_op=[];

    
foreach($counter['ostalo_plac'] as $k=>$v):
    switch((int)$v['ostalo_plac']):
    case 1: 
    $arr_op["dozvoljena gradnja ({$v['count']})"]=$this->formCheckbox($form->get('dozvoljena_gradnja'));
    break;
    case 2: 
    $arr_op["započeta gradnja ({$v['count']})"]=$this->formCheckbox($form->get('zapoceta_gradnja'));
    break;
    case 3: 
    $arr_op["deljiv ({$v['count']})"]=$this->formCheckbox($form->get('deljiv'));
    break;
    endswitch;
endforeach;

if (count($arr_op)>0) {
    $ostalo_plac=create_checkbox('Ostalo',$arr_op);
}else{
    $ostalo_plac="";
}



$plac_povrsina=<<<H
<div class="control-group"><label style="color: #313131;" class="control-label" for="inputLocation">Povrsina</label>
<div style="" class="controls">
{$this->formInput($form->get('plac_povrsina_od'))}
-
{$this->formInput($form->get('plac_povrsina_do'))}
<div style="margin:7px;"></div>
<button id="primeni-povrsinu" data-detect="povrsina_plac" class="btn btn-primary btn-xs ">Primeni povrsinu</button></div></div>        
H;



    
$arr_vp=[];
foreach($counter['vrsta_plac'] as $k=>$v):
    switch((int)$v['vrsta_plac']):
    case 1: 
    $arr_vp["plac ({$v['count']})"]=$this->formCheckbox($form->get('plac'));
    break;
    case 2: 
    $arr_vp["njiva ({$v['count']})"]=$this->formCheckbox($form->get('njiva'));
    break;
    case 3: 
    $arr_vp["voćnjak ({$v['count']})"]=$this->formCheckbox($form->get('vocnjak'));
    break;
    case 4: 
    $arr_vp["vinograd ({$v['count']})"]=$this->formCheckbox($form->get('vinograd'));
    break;
    case 5: 
    $arr_vp["šuma ({$v['count']})"]=$this->formCheckbox($form->get('suma'));
    break;    
    endswitch;
endforeach;
    
if (count($arr_vp)>0) {
    $vrsta_plac=create_checkbox('Vrsta',$arr_vp);
}else{
    $vrsta_plac="";
}

endif;
/*
 * /plac
 */

$nadji_oglas=<<<HTML
<hr/>
<div class="form-actions">
<button id="pretraga-filteri-submit" type="submit" class="btn btn-primary btn-large btn-block">Nadji oglas <i style="" class="fa fa-chevron-circle-right"></i></button>
 </div><legend style='margin-top:30px'>Filteri</legend>                 
HTML;
        
?>
  
         
        
         <div class="control-group">
             <label style="color: #313131;" class="control-label" for="inputLocation">
                    Kategorija
             </label>
             <div class="controls">
                <?=$this->formInput($form->get('kategorija'))?>
             </div>
         </div>
 
      <hr/>
<?php
        
        switch($get_kat){
             case 'stanovi':
                 echo $mesto,$prodaja_izdavanje,$cena,$sobe,$kvadratura,$nadji_oglas,
                     $slike,$izdavanje,$grejanje,$spratovi,$opis_objekta,$tip_objekta,$dodatno,$oglasivac;
                 break;
             case 'kuce':
                 echo $mesto,$prodaja_izdavanje,$cena,$sobe,$kvadratura,$nadji_oglas, $slike,$izdavanje,
                     $vrsta_kuce,$spratnost_kuce,$grejanje,$tip_objekta,$dodatno,$oglasivac;
                 break;
             case 'sobe':
                 echo $mesto,$prodaja_izdavanje,$cena,$kvadratura,$nadji_oglas, $slike,$izdavanje,$grejanje,$dodatno,$spratovi,$oglasivac;
                 break;
         
             case 'garaze':
                 echo $mesto,$prodaja_izdavanje,$cena,$kvadratura,$nadji_oglas, $slike,$izdavanje/*,$dodatno*/,$oglasivac;
                 break;
         
             case 'placevi':
                 echo  $mesto,$prodaja_izdavanje,$cena,$nadji_oglas, $slike,$izdavanje,$ostalo_plac,$vrsta_plac,$plac_povrsina,$dodatno,$oglasivac;
                 break;
         
             case 'lokali':
             case 'poslovni-prostori':
                 echo $mesto,$prodaja_izdavanje,$cena,$kvadratura,$nadji_oglas, $slike,$izdavanje,
                     $grejanje,$spratovi,$opis_objekta,$tip_objekta,$dodatno,$oglasivac;
                 break;
             case 'hale': 
                 echo  $mesto,$prodaja_izdavanje,$cena,$kvadratura,$nadji_oglas, $slike,$spratovi,
                     $dodatno,$oglasivac;
                 break;
             case 'magacin':
                 echo $mesto,$prodaja_izdavanje,$cena,$kvadratura,$nadji_oglas, $slike,$dodatno,$oglasivac;
                 break;
             case 'poljoprivredno-zemljiste': 
             case 'gradjevinsko-zemljiste':
                 echo $mesto,$prodaja_izdavanje,$cena,$kvadratura,$nadji_oglas, $slike,$dodatno,$oglasivac;
                 break;    
             case 'vikendice': 
             case 'apartmani':  
                 echo  $mesto,$prodaja_izdavanje,$cena,$sobe,$kvadratura,$nadji_oglas, $slike,
                    $grejanje,$spratovi,$opis_objekta,$tip_objekta,$dodatno,$oglasivac;     
                 break;
             case 'selidbe':
                  echo  $mesto,$nadji_oglas, $slike;
                 break;
         
        }
 
        
?>
        
        
         

        
 <?=$this->form()->closeTag()?>
    
    
    
    
    
    </div><!-- /.content -->
</div><!-- /.property-filter -->
           


  </div>


