<?
 


?>
<div class="container">
    <h1 class="page-header">Cesto Postavljana piranja</h1>
        <div id="main">
            <div class="row">
                <div class="span9">
                    
             <div class="faq">
    
    <div class="content">
        <div class="row">
            <div class="span6">
      
<?php 
/*
                <div class="accordion" id="faq1">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#collapse1">
                                <span class="sign"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            </a>
                        </div><!-- /.accordion-heading -->

                        <div id="collapse1" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis tincidunt elit. Donec ut ligula vel ante eleifend dapibus nec at libero. Aliquam a diam eu risus porttitor placerat. Praesent volutpat sem sed nibh dapibus adipiscing. Aenean congue porta mauris eget interdum. Nunc pharetra tempor ante vel fringilla. In aliquet fringilla dolor, eget auctor ipsum pellentesque sed. Morbi elit erat, laoreet at tincidunt quis, feugiat a libero. Nam vitae lacus eget augue ultrices placerat vel eget neque. Phasellus volutpat tincidunt dapibus. Integer adipiscing lectus vel mi porta eget pharetra elit iaculis. Vestibulum a augue quis nulla pharetra lacinia ut vel ante. Mauris tristique tellus id nibh tincidunt lobortis.
                            </div><!-- /.accordion-inner -->
                        </div><!-- /.accordion-body -->
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#collapse2">
                                <span class="sign"></span> Sed dignissim tortor dignissim eros consequat tincidunt
                            </a>
                        </div><!-- /.accordion-heading -->

                        <div id="collapse2" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis tincidunt elit. Donec ut ligula vel ante eleifend dapibus nec at libero. Aliquam a diam eu risus porttitor placerat. Praesent volutpat sem sed nibh dapibus adipiscing. Aenean congue porta mauris eget interdum. Nunc pharetra tempor ante vel fringilla. In aliquet fringilla dolor, eget auctor ipsum pellentesque sed. Morbi elit erat, laoreet at tincidunt quis, feugiat a libero. Nam vitae lacus eget augue ultrices placerat vel eget neque. Phasellus volutpat tincidunt dapibus. Integer adipiscing lectus vel mi porta eget pharetra elit iaculis. Vestibulum a augue quis nulla pharetra lacinia ut vel ante. Mauris tristique tellus id nibh tincidunt lobortis.
                            </div><!-- /.accordion-inner -->
                        </div><!-- /.accordion-body -->
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#collapse3">
                                <span class="sign"></span> Pellentesque habitant morbi tristique senectus et netus
                            </a>
                        </div><!-- /.accordion-heading -->

                        <div id="collapse3" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis tincidunt elit. Donec ut ligula vel ante eleifend dapibus nec at libero. Aliquam a diam eu risus porttitor placerat. Praesent volutpat sem sed nibh dapibus adipiscing. Aenean congue porta mauris eget interdum. Nunc pharetra tempor ante vel fringilla. In aliquet fringilla dolor, eget auctor ipsum pellentesque sed. Morbi elit erat, laoreet at tincidunt quis, feugiat a libero. Nam vitae lacus eget augue ultrices placerat vel eget neque. Phasellus volutpat tincidunt dapibus. Integer adipiscing lectus vel mi porta eget pharetra elit iaculis. Vestibulum a augue quis nulla pharetra lacinia ut vel ante. Mauris tristique tellus id nibh tincidunt lobortis.
                            </div><!-- /.accordion-inner -->
                        </div><!-- /.accordion-body -->
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#collapse4">
                                <span class="sign"></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit
                            </a>
                        </div><!-- /.accordion-heading -->

                        <div id="collapse4" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis tincidunt elit. Donec ut ligula vel ante eleifend dapibus nec at libero. Aliquam a diam eu risus porttitor placerat. Praesent volutpat sem sed nibh dapibus adipiscing. Aenean congue porta mauris eget interdum. Nunc pharetra tempor ante vel fringilla. In aliquet fringilla dolor, eget auctor ipsum pellentesque sed. Morbi elit erat, laoreet at tincidunt quis, feugiat a libero. Nam vitae lacus eget augue ultrices placerat vel eget neque. Phasellus volutpat tincidunt dapibus. Integer adipiscing lectus vel mi porta eget pharetra elit iaculis. Vestibulum a augue quis nulla pharetra lacinia ut vel ante. Mauris tristique tellus id nibh tincidunt lobortis.
                            </div><!-- /.accordion-inner -->
                        </div><!-- /.accordion-body -->
                    </div><!-- /.accordion-group -->

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq1" href="#collapse5">
                                <span class="sign"></span> Praesent luctus pulvinar pretium. In lectus risus
                            </a>
                        </div><!-- /.accordion-heading -->

                        <div id="collapse5" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis tincidunt elit. Donec ut ligula vel ante eleifend dapibus nec at libero. Aliquam a diam eu risus porttitor placerat. Praesent volutpat sem sed nibh dapibus adipiscing. Aenean congue porta mauris eget interdum. Nunc pharetra tempor ante vel fringilla. In aliquet fringilla dolor, eget auctor ipsum pellentesque sed. Morbi elit erat, laoreet at tincidunt quis, feugiat a libero. Nam vitae lacus eget augue ultrices placerat vel eget neque. Phasellus volutpat tincidunt dapibus. Integer adipiscing lectus vel mi porta eget pharetra elit iaculis. Vestibulum a augue quis nulla pharetra lacinia ut vel ante. Mauris tristique tellus id nibh tincidunt lobortis.
                            </div><!-- /.accordion-inner -->
                        </div><!-- /.accordion-body -->
                    </div><!-- /.accordion-group -->
                </div><!-- /.accordion -->

              
          

*/
?>
             </div><!-- /.span6 -->
        </div><!-- /.row -->
    </div><!-- /.content -->
</div>   
 
                </div>

            
                
       <div class="sidebar span3 pull-right">
                    <div class="widget properties last">
 
    <div class="content">
        <div class="property">
      <div class="well" style="max-width: 340px;margin-bottom: 0;padding-top: 2px; ">
              <ul class="nav nav-list">
                  <li class="nav-header"><h5 style="margin-bottom: 0;">Navigacija</h5></li>
                  <li class="divider"></li>
                  <li class=""><a href="http://nadjinekretnine.com/info/o-nama">O nama</a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/marketing">Marketing </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/impressum">Impressum </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/uslovi-koriscenja">Uslovi koriscenja </a></li>
                <li class="active"><a href="http://nadjinekretnine.com/info/partnerski-sajtovi">Partnerski sajtovi </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/cesta-pitanja"> Cesta pitanja</a></li>
                 <li class=""><a href="http://nadjinekretnine.com/info/kontakt">Kontakt </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/mapa-sajta">Mapa sajta </a></li>
                
                 
              </ul>
            </div>
        </div><!-- /.property -->

        
    </div><!-- /.content -->
</div><!-- /.properties -->
   


  </div>         
                
                
                
                
                
                
                
                
                
                
            </div>
        </div>
    </div>