<?
 


?>
<div class="container">
    <h1 class="page-header">Impressum</h1>
        <div id="main">
            <div class="row">
                <div class="span9">
                    
             <a href="http://NadjiNekretnine.com">NadjiNekretnine.com</a> je vodeći portal za oglašavanje nekretnine.
             <ul>
                 <li>Direktor: Nikola Manasijević</li>
                  <li>Prodaja: Goran Manasijević</li>
                  <li>Webmaster: <a href="mailto:qwertalexa@yahoo.com">Aleksa Manasijević</a></li>
                    <li>Kontakt: <a href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a> </li>
             </ul>

 




                     
 
                </div>

            
                
       <div class="sidebar span3 pull-right">
                    <div class="widget properties last">
 
    <div class="content">
        <div class="property">
      <div class="well" style="max-width: 340px;margin-bottom: 0;padding-top: 2px; ">
              <ul class="nav nav-list">
                  <li class="nav-header"><h5 style="margin-bottom: 0;">Navigacija</h5></li>
                  <li class="divider"></li>
                  <li class=""><a href="http://nadjinekretnine.com/info/o-nama">O nama</a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/marketing">Marketing </a></li>
                <li class="active"><a href="http://nadjinekretnine.com/info/impressum">Impressum </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/uslovi-koriscenja">Uslovi koriscenja </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/partnerski-sajtovi">Partnerski sajtovi </a></li>
              
                 <li class=""><a href="http://nadjinekretnine.com/info/kontakt">Kontakt </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/mapa-sajta">Mapa sajta </a></li>
                
                 
              </ul>
            </div>
        </div><!-- /.property -->

        
    </div><!-- /.content -->
</div><!-- /.properties -->
   


  </div>         
                
                
                
                
                
                
                
                
                
                
            </div>
        </div>
    </div>