 
<div class="container">
    <h1 class="page-header">Kontakt</h1>
        <div id="main">
            <div class="row">
           <div class="span9">
               

                        <div class="row">
                            <div class="span3">
                                <h3 class="address">Adresa</h3>
                                <p class="content-icon-spacing">
                                    Milosa Pocerca 23a<br>
                                    Beograd, Srbija
                                </p>
                            </div>
                            <div class="span3">
                                <h3 class="call-us">Telefon</h3>
                                <p class="content-icon-spacing">
                                    +381 60 0-333-807<br>
                                     
                                </p>
                            </div>
                            <div class="span3">
                                <h3 class="email">Email</h3>
                                <p class="content-icon-spacing">
                                    <a href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a><br>
                         
                                </p>
                            </div>
                        </div>

               <h2>Mozete da nas kontaktirate i na strani <a href="http://nadjinekretnine.com/moj-profil/pomoc-podrska">Pomoc i podrska</a></h2>

             
                </div>
            
                
       <div class="sidebar span3 pull-right">
                    <div class="widget properties last">
 
    <div class="content">
        <div class="property">
      <div class="well" style="max-width: 340px;margin-bottom: 0;padding-top: 2px; ">
              <ul class="nav nav-list">
                  <li class="nav-header"><h5 style="margin-bottom: 0;">Navigacija</h5></li>
                  <li class="divider"></li>
                  <li class=""><a href="http://nadjinekretnine.com/info/o-nama">O nama</a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/marketing">Marketing </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/impressum">Impressum </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/uslovi-koriscenja">Uslovi koriscenja </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/partnerski-sajtovi">Partnerski sajtovi </a></li>
                 <li class="active"><a href="http://nadjinekretnine.com/info/kontakt">Kontakt </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/mapa-sajta">Mapa sajta </a></li>
                
                 
              </ul>
            </div>
        </div><!-- /.property -->

        
    </div><!-- /.content -->
</div><!-- /.properties -->
   


  </div>         
                
                
                
                
                
                
                
                
                
                
            </div>
        </div>
    </div>