
<div class="container">
    <h1 class="page-header">Marketing</h1>
        <div id="main">
            <div class="row">
                <div class="span9">
                    
                  <div class="tabbable" style="margin-bottom: 18px;">
                      <ul id="main-nav-tabs" class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Pravna lica</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">Fizicka lica</a></li> 
                 <li class=""><a href="#tab3" data-toggle="tab">Postanite nas partner i zaradite</a></li> 
		<li class=""><a href="#tab4" data-toggle="tab">Banerske pozicije</a></li>
              </ul>
              <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                <div class="tab-pane active" id="tab1">
                    <h2>Ponuda za pravna lica</h2>
                            <blockquote><p>
                                    Na nasem portalu mozete <strong style="color:#313131">BESPLATNO</strong> da postavite neogranicen 
                                    broj oglasa!
                        
                        </p></blockquote>
                     <hr>
                    <h2>STANDARDNI OGLAS</h2>
                     <h4>
                        Na nasem portalu mozete postaviti neogranicen broj standardnih oglasa potpuno BESPLATNO!
                    </h4>
                    <p>
                        Standardni oglas je oglas koji se ne istice u listi svih oglasa.
                    </p>
                    <div>
                        <img style="width: 360px;height: 158px;" src="/img/baneri/standardponuda.png">   
                    </div>
                    <hr>
                   
                    <h2>TOP OGLAS</h2>
                     <h4>
                         Na nasem portalu mozete postaviti neogranicen broj <span class="label label-warning">TOP</span> oglasa po ceni od 
                        <?=$Info::get_pl_top_cena()?> RSD /dan.
                    </h4>
                    <p>
                     <span class="label label-warning">TOP</span> se nalazi pri vrhu liste oglasa!
                    </p>
                    
                     <img src="/img/baneri/topponuda.png"> 
                    
                    
                     
                      <hr>
                      <h2>PREMIUM OGLAS</h2>
                     <h4>
                         Na nasem portalu mozete postaviti neogranicen broj <span class="label label-important">PREMIUM</span> oglasa po ceni od 
                        <?=$Info::get_pl_premium_cena()?> RSD /dan.
                    </h4>
                    <p>
                    <span class="label label-important">PREMIUM</span> oglas se nalazi na listi oglasa na naslovnoj strani kao i
                     pri vrhu liste oglasa!
                    </p>
                    
                     <img src="/img/baneri/premiumponuda.png"> 
                    
                      <hr>
                     
                      
                      
                      <h2>RELPER - SOFTVER ZA NEKRETNINE</h2>
                      <img src="/img/baneri/Relper_468x60px.gif"/>
                      <p>
                          RELPER je online aplikacija za upravljanje ponudom nekretnina zasnovana na najnovijim tehnologijama koja je svojim funkcionalnostima i ergonomijom u potpunosti prilagođena načinu poslovanja agencija u Srbiji i regionu.
                      </p>                      
                      <ul>
                          <li>Program RELPER Vam omogućava da automatski objavite Vaše oglase na vodećim portalima za oglašavanje nekretnina.</li>
                           <li>Agenti koji koriste RELPER su u mogućnosti da potencijalnim klijentima brzo i lako ponude nekretnine koje odgovaraju njihovim potrebama.</li>
                            <li>Vlasnici agencija pomoću RELPER-a mogu lako organizovati svoje agente i pratiti njihovu aktivnost i efikasnost.</li>
                             <li>RELPER-u možete pristupiti iz kancelarije, stana, restorana… Potrebna je samo internet konekcija.</li>
                      </ul>

                     
    
    
    
           <hr>

                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                     <h2> PROGRAM-SOFTVER ZA NEKRETNINE</h2>
                     <p> Softverom automatski 
                         postavljate oglase na sajt, a takođe ih i ažurirate kada izvršite promene u 
                         karakteristikama ili ceni nekretnine.</p>
                     Iznajmite program-softver za nekretnine.<br>
                     Cena - samo 25e mesečna nadoknada.<br>
                     <p>Za prvih 20 agencija za nekretnine mogućnost da iznajme program-softver za nekretnine</p>
                  
                   

                     
                   <hr>
 
                   <div style="padding: 0" class="hero-unit span8">
                       <h3 style="margin-left: 5px;">
        Ako imate  pitanja u vezi oglašavanja slobodno nas kontaktirajte.
    </h3>
         <div class="row">
                            
                            <div class="span3">
                                <h3 class="call-us">Telefon</h3>
                                <p class="content-icon-spacing">
                                    +381 062/100-9361<br>
                                     
                                </p>
                            </div>
                            <div class="span3">
                                <h3 class="email">Email</h3>
                                <p class="content-icon-spacing">
                                    <a href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a><br>
                         
                                </p>
                            </div>
                        </div>
            </div>

 
                     
                </div>
                <div class="tab-pane" id="tab2">
                  <p>Ponuda za fizicka lica</p>
           
                  <p> Svako fizičko lice ima pravo na jedan besplatan oglas.</p>  
               
                  <h3>   Da objavite drugi i ostale oglase</h3>
                  <ul>
                      <li>Cena: <?=$Info::USER_STANDARD_CENA?> RSD</li>
                      <li>Da biste aktivirali oglas pošaljite <?=$Info::USER_STANDARD_KEYWORD?> ID OGLASA   na broj <?=$Info::BROJ?>. </li>
                      <li>Oglas će biti aktivan narednih <?=$Info::USER_TRAJANJE_DANA?> dana od prijema vašeg sms-a.</li>
                  </ul>
                  <h3>   Da objavite <span class="label label-warning">TOP</span> oglas</h3>
                  <ul>
                      <li>Cena: <?=$Info::USER_TOP_CENA?> RSD</li>
                      <li>Da biste aktivirali oglas pošaljite <?=$Info::USER_TOP_KEYWORD?> ID OGLASA   na broj <?=$Info::BROJ?>. </li>
                      <li>Oglas će biti aktivan narednih <?=$Info::USER_TOP_TRAJANJE_DANA?> dana od prijema vašeg sms-a.</li>
                  </ul>
 <h3>   Da objavite <span class="label label-important">PREMIUM</span> OGLAS</h3>
                  <ul>
                      <li>Cena: <?=$Info::USER_PREMIUM_CENA?> RSD</li>
                      <li>Da biste aktivirali oglas pošaljite <?=$Info::USER_PREMIUM_KEYWORD?> ID OGLASA   na broj <?=$Info::BROJ?>. </li>
                      <li>Oglas će biti aktivan narednih <?=$Info::USER_PREMIUM_TRAJANJE_DANA?> dana od prijema vašeg sms-a.</li>
                  </ul>
              <div style="padding: 0" class="hero-unit span8">
                       <h3 style="margin-left: 5px;">
        Ako imate  pitanja u vezi oglašavanja slobodno nas kontaktirajte.
    </h3>
         <div class="row">
                            
                            <div class="span3">
                                <h3 class="call-us">Telefon</h3>
                                <p class="content-icon-spacing">
                                    +381 062/100-9361<br>
                                     
                                </p>
                            </div>
                            <div class="span3">
                                <h3 class="email">Email</h3>
                                <p class="content-icon-spacing">
                                    <a href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a><br>
                         
                                </p>
                            </div>
                        </div>
            </div>

                     
     </div>
       
                  <div class="tab-pane" id="tab3">
                      <blockquote>
                          <p>
                              Specijalna ponuda za AGENCIJE
                               <small> 
                                   Postanite nas partner i zaradite.
                               </small>
                          </p>
                      </blockquote> 
                      <h3>Prvi kupac</h3>
          
                      <ul>
                          <li>Vas klijent se putem SMS-a prijavi na servis.</li>
                           <li>Vi vasim klijentima saljete ekskluzivne informacije.</li>
                            <li>Informacije se prijavlenom korisniku isporucuju dok se ne odjavi</li>
                             <li>Svaki SMS se primaocu naplacuje po ceni od 70 din + PDV</li>
                      </ul>
                      <h3>Kome se nudi informacija</h3>
                      <ul>
                          <li>Onima koji zele da saznaju za novu ponudu pre ostalih.</li>
                           <li>Onima koji su spremni da za ovu informaciju plate.</li>
                      </ul>
                      <h3>Opis informacije</h3>
                      <ul>
                          <li>Nekretnine koje do sada nisu bile u ponudi. </li>
                               <li>SMS se salje nekoliko sati pre nego sto se informacija objavi bilo gde drugo. </li>
                                   <li> Vi zaradjujete na ekskluzivnosti informacije.</li>
                                       <li>Klijenti profitiraju na  ekskluzivnosti informacije. </li>
                                         <li>Informaciju o ponudi unosite putem web aplikacije koju mi obezbedjujemo. </li>
                                           <li> Odaberite parametre  o ponudi:</li>
                                           <ul>
                                               <li>Vrsta objekta</li>
                                               <li>Prodaja ili izdavanje...</li>
                                              
                                           </ul>
                                             <li>Klijenti dobijaju tacno one informacije za koje su se prijavili. </li>
                      </ul>
                      
                      
                      
                      <h3>Stedite novac i zaradite</h3>
                      <p>
                          U regularnim uslovima kako biste obavestili svoje korisnike da se pojavila nova nekretnina
                          na trzistu, potrebno je da:
                      </p>
                      <ul>
                          <li>Pronadjete u svojoj bazi sve one koji su zainteresovani za takvu vrstu ponude.</li>
                           <li>Pozovete i obavestite zainteresovane korisnike.</li>
                            <li>Na 50 korisnika i prosecno trajanje poziva od 3 minuta trosak izgleda ovako:
                                <ul>
                                    <li>Uspostava poziva 9.9 din</li>
                                    <li>+ 3 x minut poziva 9.9 din = 39.6 din x 50 poziva </li>
                                    <li><span class="label label-important">1980 din troska</span></li>
                                     
                                </ul>
                            </li>
                           
                      </ul>
                      <blockquote>
                          <p>Uz servis prvi kupac potrebno je da:</p>
                      </blockquote>
                         <ul>
                          <li>Unesete detalje poruke u aplikaciju.</li>
                           <li>Stisnete OK</li>
                           <li>Na 50   <strong>POSLATIH PORUKA PRIHOD</strong> izgleda ovako:
                                <ul>
                                    <li>Cena poruke je 70 din </li>
                                    <li>21 do 35 din za mobilne operatere </li>
                                      <li>50% prihoda * 50 poruka </li>
                                      <li><span class="label label-important">Oko 3000 din PRIHODA </span></li>
                                </ul>
                            </li>
                           
                      </ul>
                <div style="padding: 0" class="hero-unit span8">
                       <h3 style="margin-left: 5px;">
        Ako imate  pitanja u vezi oglašavanja slobodno nas kontaktirajte.
    </h3>
         <div class="row">
                            
                            <div class="span3">
                                <h3 class="call-us">Telefon</h3>
                                <p class="content-icon-spacing">
                                    +381 062/100-9361<br>
                                     
                                </p>
                            </div>
                            <div class="span3">
                                <h3 class="email">Email</h3>
                                <p class="content-icon-spacing">
                                    <a href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a><br>
                         
                                </p>
                            </div>
                        </div>
            </div>

 
                  </div>   
                  
                  
               <div class="tab-pane" id="tab4">
                     <iframe src="http://docs.google.com/gview?url=http://nadjinekretnine.com/pdf/cenovnik.pdf&embedded=true" style="width:100%; height:700px;" frameborder="0"></iframe>
              
                             <div style="padding: 0" class="hero-unit span8">
                       <h3 style="margin-left: 5px;">
        Ako imate  pitanja u vezi oglašavanja slobodno nas kontaktirajte.
    </h3>
         <div class="row">
                            
                            <div class="span3">
                                <h3 class="call-us">Telefon</h3>
                                <p class="content-icon-spacing">
                                    +381 062/100-9361<br>
                                     
                                </p>
                            </div>
                            <div class="span3">
                                <h3 class="email">Email</h3>
                                <p class="content-icon-spacing">
                                    <a href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a><br>
                         
                                </p>
                            </div>
                        </div>
            </div>

               
               </div>    
                   

                  
              </div>
            </div>
                         
 
                </div>

            
                
       <div class="sidebar span3 pull-right">
                    <div class="widget properties last">
 
    <div class="content">
        <div class="property">
      <div class="well" style="max-width: 340px;margin-bottom: 0;padding-top: 2px; ">
              <ul class="nav nav-list">
                  <li class="nav-header"><h5 style="margin-bottom: 0;">Navigacija</h5></li>
                  <li class="divider"></li>
                  <li class=""><a href="http://nadjinekretnine.com/info/o-nama">O nama</a></li>
                <li class="active"><a href="http://nadjinekretnine.com/info/marketing">Marketing </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/impressum">Impressum </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/uslovi-koriscenja">Uslovi koriscenja </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/partnerski-sajtovi">Partnerski sajtovi </a></li>
                 <li class=""><a href="http://nadjinekretnine.com/info/kontakt">Kontakt </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/mapa-sajta">Mapa sajta </a></li>
                
                 
              </ul>
            </div>
        </div><!-- /.property -->

        
    </div><!-- /.content -->
</div><!-- /.properties -->
   


  </div>         
                
                
                
                
                
                
                
                
                
                
            </div>
        </div>
    </div>
<script>
var hash = window.location.hash;
if (hash==='#baneri') {
    try{
         document.getElementById('tab1').className='tab-pane';
         document.getElementById('tab4').className='tab-pane active';
         var tabs_nav=document.getElementById('main-nav-tabs');
         tabs_nav.children[0].className="";
         tabs_nav.children[tabs_nav.children.length-1].className="active";
    }catch(e){
        console.error(e)
    }
        
      
         
         
         
         
         
         
    }


</script>