<?
 


?>
<div class="container">
    <h1 class="page-header">O nama</h1>
        <div id="main">
            <div class="row">
                <div class="span9">
                    
                    <blockquote>
                         <p>
                          <a href="http://NadjiNekretnine.com">NadjiNekretnine.com</a> je vodeći portal za oglašavanje nekretnina u Srbiji, a uskoro i u regionu.
                         </p>  
                    </blockquote>
                     <blockquote>
                         <p>
            Na portalu  <a href="http://NadjiNekretnine.com">NadjiNekretnine.com</a> mozete lako da predate vas oglas kao i da 
            trazite zeljene oglase. Portal je prilagodjen svim uredjajima(mobilnim telefonima, tabletima, desktop racunarima).
            
                         
                         </p>  
                    </blockquote>

                         
 
                </div>

            
                
       <div class="sidebar span3 pull-right">
                    <div class="widget properties last">
 
    <div class="content">
        <div class="property">
      <div class="well" style="max-width: 340px;margin-bottom: 0;padding-top: 2px; ">
              <ul class="nav nav-list">
                  <li class="nav-header"><h5 style="margin-bottom: 0;">Navigacija</h5></li>
                  <li class="divider"></li>
                  <li class="active"><a href="http://nadjinekretnine.com/info/o-nama">O nama</a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/marketing">Marketing </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/impressum">Impressum </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/uslovi-koriscenja">Uslovi koriscenja </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/partnerski-sajtovi">Partnerski sajtovi </a></li>
            
                 <li class=""><a href="http://nadjinekretnine.com/info/kontakt">Kontakt </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/mapa-sajta">Mapa sajta </a></li>
                
                 
              </ul>
            </div>
        </div><!-- /.property -->

        
    </div><!-- /.content -->
</div><!-- /.properties -->
   


  </div>         
                
                
                
                
                
                
                
                
                
                
            </div>
        </div>
    </div>