 
<div class="container">
   
    <div style="margin-top: 30px;" class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert">×</button>
                 <h2><?=$msg?></h2>
            </div>
    </div>










