<?
 


?>
<div class="container">
    <h1 class="page-header">Partneri</h1>
        <div id="main">
            <div class="row">
                <div class="span9">
                    <ul>
                        <li><a href="http://superdizajn.com">superdizajn.com</a></li>
                          <li><a href="http://www.feng-shui.in.rs/">feng-shui.in.rs</a></li>
                            <li><a href="http://altheafengshui.com/">altheafengshui.com</a></li>
                            <li><a href="http://www.estan.rs/nekretnine/">estan.rs</a></li>
                            <li><a href="http://www.fonlider.rs/">fonlider.rs</a></li>
                    </ul>
                
                    <p>
                        U koliko zelite da se vas sajt nadje na ovoj listi kontaktirajte nas <a href="mailto:info@nadjinekretnine.com">
                            info@nadjinekretnine.com
                        </a>
                    </p>
                </div>

            
                
       <div class="sidebar span3 pull-right">
                    <div class="widget properties last">
 
    <div class="content">
        <div class="property">
      <div class="well" style="max-width: 340px;margin-bottom: 0;padding-top: 2px; ">
              <ul class="nav nav-list">
                  <li class="nav-header"><h5 style="margin-bottom: 0;">Navigacija</h5></li>
                  <li class="divider"></li>
                  <li class=""><a href="http://nadjinekretnine.com/info/o-nama">O nama</a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/marketing">Marketing </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/impressum">Impressum </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/uslovi-koriscenja">Uslovi koriscenja </a></li>
                <li class="active"><a href="http://nadjinekretnine.com/info/partnerski-sajtovi">Partnerski sajtovi </a></li>
              
                 <li class=""><a href="http://nadjinekretnine.com/info/kontakt">Kontakt </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/mapa-sajta">Mapa sajta </a></li>
                
                 
              </ul>
            </div>
        </div><!-- /.property -->

        
    </div><!-- /.content -->
</div><!-- /.properties -->
   


  </div>         
                
                
                
                
                
                
                
                
                
                
            </div>
        </div>
    </div>