<?
 


?>
<div class="container">
    <h1 class="page-header">Uslovi koriscenja portala <a href="http://NadjiNekretnine.com">NadjiNekretnine.com</a></h1>
        <div id="main">
            <div class="row">
                <div class="span9">
                    <blockquote>
                        <p>
                      Portal <a href="http://NadjiNekretnine.com">NadjiNekretnine.com</a> u ciji je vlasnik Kopirnica Gogi d.o.o.
                      u daljem tekstu Portal
                        </p>
                    </blockquote>
                    <h3> 1. Vlasništvo nad sadržajem</h3>
                    <p>
                        Portal je vlasnik nad celokupnim sadrzajem, tekstom,slikama i video materialom na poralu 
                        <a href="http://NadjiNekretnine.com">NadjiNekretnine.com</a>.
 Portal zadržava pravo promene ovih Pravila i uslova korišćenja, u bilo kom trenutku i bez prethodne najave. 
Saznanje o promeni uslova korišćenja možete steći isključivo i jedino povremenom posetom ove stranice.
                       
                    </p>

                    <h3>2. Registracija</h3>
                    <p>
Za korišćenje usluga sajta <a href="http://NadjiNekretnine.com">NadjiNekretnine.com</a> neophodna je registracija,
koja je besplatna. Registrovani korisnik koji je postavio oglas ima sva prava i obaveze proistekla iz 
Zakona o oglašavanju Republike Srbije. Fizičko ili pravno lice može imati i koristiti samo jedan registrovan nalog.                        
                    </p>


                    <h3>3. Deklaracija</h3>

Deklaracija predstavlja dokument sa podacima o proizvođaču oglasne poruke, kao i podacima o oglašivaču. Prema Zakonu o oglašavanju,
član 11, proizvođač oglasne poruke je dužan da dostavi deklaraciju sa tačnim podacima emiteru oglasne poruke. Deklaracijom se 
garantuje tačnost unetih podataka i sadržina oglasne poruke. Uredno popunjena Deklaracija je obavezna za oglašavanje pravnih
lica ili preduzetnika, kao i za fizička lica.

Oglašivač je dužan da tačno popuni sve obavezne podatke vezane za deklaraciju.
Ovi podaci neće biti javno dostupni i tretiramo ih kao poverljive u skladu sa Zakonom o zaštiti podataka o ličnosti. 
Deklaracija važi sve do promene podataka o oglašivaču. U slučaju promene podataka, oglašivač je dužan da tu promenu unese na strani
<a href="http://nadjinekretnine.com/moj-profil/moji-podatci">http://nadjinekretnine.com/moj-profil/moji-podatci</a>.

<h3>4. Sadržaj oglasa</h3>

Prema Zakonu o oglašavanju zabranjen je svaki vid neistinitog, upoređujućeg i prevarnog oglašavanja kojim se dovode u 
zabludu primaoci oglasne poruke. Oglas treba da sadrži isključivo podatke o predmetu koji se prodaje ili usluzi koja se pruža.
Naslov oglasa i opis treba da se odnose samo na predmet prodaje ili uslugu. U naslovu i tekstu oglasa nije dopušteno upisivanje
web adrese. Nije dopušteno oglašavanje više predmeta, usluga, 
potražnje ili bilo čega drugog što nije direktno predmet prodaje. U oglasima nije dopuštena upotreba fotografija sa drugih
oglasnih sajtova ili iz oglasa drugih oglašivača na našem sajtu. U jedan oglas dopušteno je uneti samo jedan predmet prodaje 
ili jednu uslugu. Oglas mora svojim sadržajem da pripada kategoriji u kojoj je postavljen.

<h3>5. Zabrana oglašavanja</h3>

Zabranjeno je oglašavanje svega sto nema veze sa nekretninama,selidbama,montaznim kucama.
Takođe i:- oglašavanje kojim se neistinito označava identitet oglašivača, njegova aktivnost, proizvod ili usluga;- 
izostavljanje važnih podataka, upotreba neodređenih ili višeznačnih izraza, zastarelih ili neažurnih navoda ili drugih podataka koji 
izazivaju zabludu o identitetu oglašivača, njegovoj aktivnosti, proizvodu ili usluzi (vrsti, svojstvima, kvalitetu, poreklu ili drugim
podacima o proizvodu ili usluzi) i drugim porukama upućenim primaocu oglasne poruke;- oglašavanje koje predstavlja podražavanje ili
kopiju drugog lica, njegove aktivnosti, proizvoda ili usluga;- oglašavanje kojim se omalovažava, sumnjiči ili na drugi nedostojan 
način prikazuje identitet drugog lica, njegove aktivnosti, proizvoda ili usluge;- poređenje oglašivača, njegove aktivnosti, proizvoda 
ili usluge sa drugim oglašivačem, njegovom aktivnošću, proizvodom ili uslugom na štetu drugog, odnosno radi sticanja materijalne
koristi;- oglašavanje kojim se aludirajući na drugoga, njegovo poslovno ime, naziv, zaštićeni žig, aktivnost, proizvod ili uslugu,
iskorišćava ugled tog drugog lica na način kojim se dovode u zabludu primaoci oglasne poruke.


<h3>6. Uklanjanje oglasa sa <a href="http://NadjiNekretnine.com">NadjiNekretnine.com</a></h3>
Oglasi (tekstovi i fotografije), koji ne pripadaju oblasti nekretnina, biće uklonjeni sa sajta.


<h3>8. Obaveštavanje na mejl korisnika</h3>

Registracijom korisnik pristaje na periodično primanje promotivnih mejlova od Portala, kao i na obaveštavanje o statusu oglasa.
Korisniku je na stranici <a href="http://nadjinekretnine.com/moj-profil/moji-podatci">Moj profil</a>,
u profilu omogućeno da otkaže primanje jednih i/ili drugih mejlova.

<h3>9. Upotreba i zaštita podataka</h3>

Portal je duzan da zaštiti privatnost ličnih podataka oglašivača u skladu sa Zakonom o autorskim i srodnim pravima.
Portal zadržava pravo na korekturu sadržaja oglasa dostavljenih od strane korisnika, bez promene osnovnog smisla,
a u skladu sa Zakonom o oglašavanju i usvojenim pravilima Portal. Korišćenjem sajta saglasni ste da podaci ili 
informacije koje ste predali, budu dostupni svima koji su zainteresovani. Portalprikupljaju samo nužne i osnovne
podatke o oglašivačima, kao i one propisane Zakonom o oglašavanju, informišu korisnike o načinu njihovog korišćenja i 
redovno daju korisnicima mogućnost izbora o upotrebi njihovih podataka.

<h3>10. Dozvoljeno je samo lično korišćenje</h3>

Ovaj sajt je namenjen isključivo ličnom, a ne komercijalnom korišćenju. U tom smislu je zabranjeno preuzimanje sadržaja,
njegovo kopiranje, prikazivanje, reprodukovanje, objavljivanje, licenciranje, prerada, prodaja, preoblikovanje i objavljivanje
na drugim sajtovima ili "preslikavanje" početne strane sajta, niti bilo koje druge strane odnosno bilo kog dela sadržaja na nekom 
drugom sajtu, što se smatra povredom Zakona o autorskim i srodnim pravima. Takođe je zabranjena zloupotreba svih podataka naših
oglašivača od strane drugih pravnih ili fizičkih lica, a u cilju nuđenja svojih usluga i mogućnosti oglašavanja putem drugih medija.
Zabranjen je svaki vid zloupotrebe registracije. Portalzadržavaju pravo da obustave oglašavanje ukoliko utvrde da se fizičko
lice oglašava preko više naloga i na taj način oglašava više od dozvoljenih besplatnih oglasa ili da se pravno lice registrovalo u 
delu predviđenom za fizička lica i kao takvo objavilo oglasnu poruku.

<h3>10. Dozvoljeno je samo lično korišćenje</h3>

Podaci na sajtu su zaštićeni Zakonom o autorskim i srodnim pravima, a autorska prava se odnose na sadržaj sajta, tekstove, 
njihovo oblikovanje, slikovne sadržaje, grafičke i druge prikaze koji pripadaju Portal. Podaci se mogu koristiti 
samo na način i pod uslovima predviđenim ovim uslovima korišćenja. Svi podaci o korisnicima/kupcima se strogo čuvaju i 
dostupni su samo zaposlenima, koji su dužni da poštuju načelo zaštite privatnosti.

<h3>12. Portal ne odgovara za:</h3>
 
<ul>
    <li>
        tačnost, sadržinu, kompletnost, zakonitost, pouzdanost ili dostupnost informacija i sadržaja prikazanih na sajtu, osim onih
koje se odnose na usluge Portal, za koje odgovara u skladu sa Opštim uslovima za dostupnost i pružanje tih usluga, u 
skladu sa zakonskom regulativom koja reguliše tu oblast.
    </li>
    <li>
        brisanje, pogrešno dostavljanje ili neblagovremeno dostavljanje bilo kakvih informacija ili sadržaja, za greške na stranicama 
ili za kontinuirano funkcionisanje sajta.
    </li> 
    <li>
        bilo kakvu štetu nastalu skidanjem fajlova ili pristupom bilo kakvom sadržaju na Internetu, do koga se došlo pomoću ovih sajtova.
Korišćenjem sajtova prihvatate punu odgovornost za bilo kakvu štetu nastalu zbog informacija do kojih ste došli pomoću ovog sajta,
za štetu nastalu učitavanjem fajlova i dokumenata na vaš računar i za bilo koji drugi vid štete nastao zbog bilo kakvih sadržaja 
do kojih ste došli pomoću ovog sajta. Portalzadržavaju pravo da iz dalje upotrebe stranica isključe onog korisnika koji 
zloupotrebljava ili na bilo koji način neovlašćeno koristi ovaj sajt.
    </li> 
    <li>
        svi eventualni sporovi nastali iz odnosa oglašivača i korisnika rešavaju se isključivo između oglašivača i korisnika. 
Portalnisu odgovorni za štetu bilo koje vrste nastale kao posledica takvih odnosa.
    </li> 
    <li>
 za pravilno ili nepravilno korišćenje sajta, kao i za eventualnu štetu koja nastane po tom osnovu,
za bilo kakvu štetu koju korisnik pretrpi pravilnim ili nepravilnim korišćenjem sajta, kao i drugih informacija, servisa, usluga,
saveta ili proizvoda do kojih se došlo pomoću linkova ili reklama na sajtu, ili onih koje su na bilo koji način povezane sa sajtom.
za nepravilno funkcionisanje ili prekid rada servisa, koji je prouzrokovan direktno ili indirektno prirodnim silama ili drugim 
uzrocima van razumne moći kontrole, u šta spadaju: problemi u funkcionisanju Interneta, kvarovi na kompjuterskoj opremi,
problemi u funkcionisanju telekomunikacione opreme i uređaja, nestanak struje, štrajkovi, obustave rada, nemiri, nestašice
sadržaja ili manjak radne snage, naredbe državnih i drugih organa. Svi stavovi izneti u okviru sajta nisu stavovi Portala, 
već ih na sajtu samo prenosimo "onakve kakve jesu" i za njihovu sadržinu nismo odgovorni u bilo kom smislu. Ukoliko je korisnik
prekršio autorsko pravo trećeg lica, svu odgovornost snosi sam, a Portal će nakon prijema obaveštenja o eventualnom kršenju 
autorskog prava, ukloniti naznačeni sadržaj do razrešenja spora, po osnovu povrede bilo kog autorskog ili drugog srodnog prava.
Oglašivač koji se odlučio da učini javnim bilo koje podatke koji omogućavaju ličnu identifikaciju, čini to na sopstvenu odgovornost.       
    </li>
</ul>

 



<h3>13. Pristanak na pravila i uslove korišćenja sajta</h3>

Samim korišćenjem sajta pristajete na ove uslove i nikakav poseban pristanak od strane korisnika nije potreban da bi ga
ovi uslovi obavezivali. Poznavanje ovih Pravila i uslova korišćenja sajta u svakom trenutku predstavlja obavezu korisnika sajta.

                         
 
                </div>

            
                
       <div class="sidebar span3 pull-right">
                    <div class="widget properties last">
 
    <div class="content">
        <div class="property">
      <div class="well" style="max-width: 340px;margin-bottom: 0;padding-top: 2px; ">
              <ul class="nav nav-list">
                  <li class="nav-header"><h5 style="margin-bottom: 0;">Navigacija</h5></li>
                  <li class="divider"></li>
                  <li class=""><a href="http://nadjinekretnine.com/info/o-nama">O nama</a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/marketing">Marketing </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/impressum">Impressum </a></li>
                <li class="active"><a href="http://nadjinekretnine.com/info/uslovi-koriscenja">Uslovi koriscenja </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/partnerski-sajtovi">Partnerski sajtovi </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/cesta-pitanja"> Cesta pitanja</a></li>
                 <li class=""><a href="http://nadjinekretnine.com/info/kontakt">Kontakt </a></li>
                <li class=""><a href="http://nadjinekretnine.com/info/mapa-sajta">Mapa sajta </a></li>
                
                 
              </ul>
            </div>
        </div><!-- /.property -->

        
    </div><!-- /.content -->
</div><!-- /.properties -->
   


  </div>         
                
                
                
                
                
                
                
                
                
                
            </div>
        </div>
    </div>