<div class="container">
   <div id="main">
       <div  style="background-color: transparent;margin-bottom: 30px;" class="bottom-wrapper">
           <?=$this->reklame([],false,true)?>
       </div>
     <div class="row">
            <div class="span9">
                <?php
             // var_dump($prodavac);
                $prodavac=$prodavac[0];
                
                ?>
               
                <div style="overflow: auto;" class="hero-unit">
              <h3><?=$prodavac->naziv_firme?></h3>
              <?php if(isset($prodavac->logo_oglasivac)):?>
              <img class="pull-right span2" src="/img/logo/<?=$prodavac->logo_oglasivac?>" alt=" ">
               <?php endif?>
               <div class="pull-left">
                   <address>
           
              <?php if($prodavac->mesto_oglasivac):?>
              <?=$prodavac->mesto_oglasivac?><br>
               <?php endif?>
              <?php if($prodavac->ulica_oglasivac):?>
               <?=$prodavac->ulica_oglasivac?><br>
                <?php endif?>
               <?php if($prodavac->telefon):?>
              <abbr title="Phone">Telefon:</abbr> <?=$render::telefon($prodavac->telefon)?><br>
               <?php endif?>
                <?php if($prodavac->telefon_oglasivac):?>
              <abbr title="Phone">Telefon 1:</abbr> <?=$render::telefon($prodavac->telefon_oglasivac)?><br>
               <?php endif?>
               <?php if($prodavac->mobilni_oglasivac):?>
              <abbr title="Phone">Telefon 2:</abbr>  <?=$render::telefon($prodavac->mobilni_oglasivac)?>
               <?php endif?>
            </address>
              
                     <?php if($prodavac->website):?>
            <address>
              <strong>Web sajt</strong><br>
              <a href="<?=strpos($prodavac->website, 'http')===0?$prodavac->website:'http://'.$prodavac->website?>"><?=$prodavac->website?></a>
            </address>
                    <?php endif?>
                   
                   
                   
                   
            </div>
                 </div>
                
                
                
                
<?=$this->lista_oglasa?>
 </div>
<?=$this->sidebar?>
         </div>
    </div>
</div> 



























