<?php
function to_utf8($str){
             $cir=['č','ć','đ','š','ž','Č','Ć','Đ','Š','Ž'];
             $lat=['c','c','d','s','z','C','C','D','S','Z'];         
        return strtolower(str_replace($cir,$lat,$str));
    }
function only_letters_num($str){
        return \preg_replace("/[^a-zA-Z0-9]/", '-', to_utf8($str)); 

    } 



?>
<div class="container">
    <div>
        <div id="main">
            <div class="our-agents-large">
    <h2 class="page-header">Prodavci</h2>

    <div class="content">
   
        <?php foreach($result as $v):?>
        
        
        
        
              <div class="agent">
            <div class="row">
          

                <div class="body span9">
                                        <div class="pull-left image span2">
                                            <?php if ($v->logo_oglasivac) :?>
                                              <img src="/img/logo/<?=$v->logo_oglasivac?>" alt=" ">
                                             <?php else:?>
                                              <img src="/img/oglasi_img/nema-slike1.jpg" alt=" ">
                                            <?php endif?>
                                                    
                                                
                  
                </div><!-- /.image -->             
                                 
                         <div class="info  ">
                             
                             <div style="padding-top: 0;" class=" span5 box ">
                      
                               
                                 <h3><a href="http://nadjinekretnine.com/prodavci/agencija/<?=$v->id_users_nk?>/<?=only_letters_num($v->naziv_firme)?>"><?=$v->naziv_firme?></a></h3>
                                  <div class="address"><?=$v->mesto_oglasivac?> </div>
                       <div class="office"><?=$render::telefon($v->telefon)?> </div>
                       
                               
                   
                    </div>
                </div><!-- /.info -->
                </div><!-- /.body -->

           
            </div><!-- /.row -->
        </div><!-- /.agent --> 
        
        <?php endforeach?>
     </div><!-- /.content -->
</div><!-- /.our-agents -->        </div>
    </div>
</div>









