<?php





?>
<div class="container">
    <div>
        <div id="main">
            <h1 class="page-header">Login</h1>
        
   
<div class="login-register">
<div class="row">
<div class="span4">
    <ul class="tabs nav nav-tabs">
        <li class="<?php print $this->active_class==TRUE?'active':""; ?>"><a href="#login">Login</a></li>
        <li class="<?php  print $this->active_class==TRUE?'':"active"; ?>"><a href="#register">Register</a></li>
    </ul>
    <!-- /.nav -->

    <div class="tab-content">
        <div class="tab-pane <?php print $this->active_class==TRUE?'active':""; ?>" id="login">
            
            <?php
            
// within a view script
$form = $this->form;
$form->prepare();

// Render the opening tag
echo $this->form()->openTag($form);

$email = $form->get('email');
$pass=$form->get('password');
$submit=$form->get('submit');

            
            ?>
            
          
      
   
                
                
                <div class="control-group">
                    
                    <label class="control-label" for="inputLoginLogin">
                        Login
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                     <?php echo $this->formInput($email);  ?>
                        <div class=" alert-error">
                     <?php echo $this->formElementErrors($email);?>   
                         </div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                
                
                
                <div class="control-group">
                    <label class="control-label" for="inputLoginPassword">
                        Password
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                  <?php echo $this->formInput( $pass);?>
                                 <div class=" alert-error">
                     <?php  echo $this->formElementErrors( $pass); ?>   
                         </div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                
                
                
                
                
                <div class="form-actions">
                     <?php echo $this->formInput( $submit); ?>
                   
                </div>
                <!-- /.form-actions -->
         <?php echo $this->form()->closeTag(); ?>
        </div>
        <!-- /.tab-pane -->
        
        
        
        
        
        
        

        <div class="tab-pane <?php  print $this->active_class==TRUE?'':"active"; ?>" id="register">
            
            <?php
   // within a view script
$register = $this->register;
$register->prepare();

// Render the opening tag
echo $this->form()->openTag($register);

$name_R = $register->get('name');
$last_name_R=$register->get('lastname');
 $email_R = $register->get('email');
 $pass_R=$register->get('password');
 $repeat_pass_R=$register->get('retupepass');

$submit_R=$register->get('submit_register');        
            
            
            
            
            
            ?>
            
            
            
            
            <form method="post" action="?">
                <div class="control-group">
                    <label class="control-label" for="inputRegisterFirstName">
                        First name
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                      <?php echo $this->formInput( $name_R);  ?>
                        <div class=" alert-error">
                       <?php   echo $this->formElementErrors( $name_R);  ?>  
                        </div>
                        
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                <div class="control-group">
                    <label class="control-label" for="inputRegisterSurname">
                        Surname
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                        <?php echo $this->formInput($last_name_R);  ?>
                                 <div class=" alert-error">
                       <?php  echo $this->formElementErrors($last_name_R);  ?>  
                        </div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                <div class="control-group">
                    <label class="control-label" for="inputRegisterEmail">
                        E-mail
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                      <?php echo $this->formInput( $email_R);  ?>
                                 <div class=" alert-error">
                       <?php echo $this->formElementErrors( $email_R); ?>  
                        </div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                <div class="control-group">
                    <label class="control-label" for="inputRegisterPassword">
                        Password
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                        <?php echo $this->formInput( $pass_R);  ?>
                                 <div class=" alert-error">
                       <?php echo $this->formElementErrors( $pass_R); ?>  
                        </div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                <div class="control-group">
                    <label class="control-label" for="inputRegisterRetype">
                        Retype
                        <span class="form-required" title="This field is required.">*</span>
                    </label>

                    <div class="controls">
                        <?php echo $this->formInput(  $repeat_pass_R); ?>
                                 <div class=" alert-error">
                       <?php echo $this->formElementErrors( $repeat_pass_R);  ?>  
                        </div>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->

                <div class="form-actions">
                   <?php echo $this->formInput($submit_R); echo $this->formElementErrors($submit_R); ?>
                </div>
                <!-- /.form-actions -->
           <?php echo $this->form()->closeTag(); ?>
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
<!-- /.span4-->






















<div class="span8">
    <h2 class="page-header">Why to work with us?</h2>

    <div class="images row">
        <div class="item span2">
            <img src="/img/icons/circle-dollar.png" alt="">

            <h3>Cheap services</h3>
        </div>
        <!-- /.item -->
        <div class="item span2">
            <img src="/img/icons/circle-search.png" alt="">

            <h3>Easy to find you</h3>
        </div>
        <!-- /.item -->
        <div class="item span2">
            <img src="/img/icons/circle-global.png" alt="">

            <h3>Act global or local</h3>
        </div>
        <!-- /.item -->
        <div class="item span2">
            <img src="/img/icons/circle-package.png" alt="">

            <h3>All in one package</h3>
        </div>
        <!-- /.item -->
    </div>
    <!-- /.row -->

    <hr class="dotted">

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper libero sed ante auctor vel
        gravida nunc placerat. Suspendisse molestie posuere sem, in viverra dolor venenatis sit amet. Aliquam
        gravida nibh quis justo pulvinar luctus. Phasellus a malesuada massa.
    </p>

    <ul class="unstyled dotted">
        <li>
                                        <span class="inner">
                                            <strong>Lorem ipsum dolor sit amet</strong><br>

                                                Consectetur adipiscing elit. Proin aliquam lorem sed urna viverra
                                                accumsan. Aliquam sit amet dui et diam rutrum aliquet. Sed vulputate,
                                                arcu vitae aliquet facilisis, ligula sem posuere nisl, sit amet pretium
                                                ligula dolor

                                        </span>
        </li>

        <li>
                                        <span class="inner">
                                            <strong>Lorem ipsum dolor sit amet</strong><br>
                                                Consectetur adipiscing elit. Proin aliquam lorem sed urna viverra
                                                accumsan. Aliquam sit amet dui et diam rutrum aliquet. Sed vulputate,
                                                arcu vitae aliquet facilisis, ligula sem posuere nisl, sit amet pretium
                                                ligula dolor
                                        </span>
        </li>

        <li>
                                        <span class="inner">
                                            <strong>Lorem ipsum dolor sit amet</strong><br>
                                                Consectetur adipiscing elit. Proin aliquam lorem sed urna viverra
                                                accumsan. Aliquam sit amet dui et diam rutrum aliquet. Sed vulputate,
                                                arcu vitae aliquet facilisis, ligula sem posuere nisl, sit amet pretium
                                                ligula dolor
                                        </span>
        </li>
    </ul>
</div>
</div>
<!-- /.row -->
</div><!-- /.login-register -->
     </div>
    </div>
</div>