<?php
$user=$this->user_type;
$route=$this->action;
 
function set_class($name,$route){
   
    if ($route===$name) {
        return 'active';
    }
    return "";
}
if ($user==1) {
    

?>
 <div class="span12">
            <div style="margin: 30px 0;" class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li><a href="http://nadjinekretnine.com/moj-profil">
                              <i class="fa fa-home"></i> Moj pofil</a></li><li class="divider-vertical"></li>
                              <li class="<?=set_class('moji-podatci',$route)?>"><a href="http://nadjinekretnine.com/moj-profil/moji-podatci">
                              <i class="fa fa-user"></i> Moji podatci</a></li><li class="divider-vertical"></li>
                      <li><a href="http://nadjinekretnine.com/ostavi-oglas">
                              <i class="fa fa-plus-circle"></i> Dodaj oglas</a></li><li class="divider-vertical"></li>
                      <li class="<?=set_class('moji-oglasi',$route)?>"><a href="http://nadjinekretnine.com/moj-profil/moji-oglasi/po-strani/10">
                              <i class="fa fa-list"></i> Moji oglasi</a></li><li class="divider-vertical"></li>
                       <li class="<?=set_class('favoriti',$route)?>"><a href="http://nadjinekretnine.com/moj-profil/favoriti">
                               <i class="fa fa-star"></i> Favoriti
                           </a></li>
                           <li class="divider-vertical"></li>
                      <li class="<?=set_class('poruke',$route)?>"><a href="http://nadjinekretnine.com/moj-profil/poruke">
                            <i class="fa fa-comments"></i> Poruke</a></li><li class="divider-vertical"></li>
                      <li class="<?=set_class('pomoc-podrska',$route)?>"><a href="http://nadjinekretnine.com/moj-profil/pomoc-podrska">
                              <i class="fa fa-ambulance"></i> Pomoc i podrska</a></li>    <li class="divider-vertical"></li>  
                       
                    </ul>
                   
                    <ul class="nav pull-right">
                         
                      <li><a href="http://nadjinekretnine.com/moj-profil?action=logout">
                             <i class="fa fa-power-off"></i>  Odjavi se
                          </a></li> 
                      
                 
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>
                </div>

<?php
}else{
    


?>
 <div class="span12">
            <div style="margin: 30px 0;" class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li><a href="http://nadjinekretnine.com/moj-profil">
                              <i class="fa fa-home"></i> Moj pofil</a></li><li class="divider-vertical"></li>
                              <li class="<?=set_class('moji-podatci',$route)?>"><a href="http://nadjinekretnine.com/moj-profil/moji-podatci">
                              <i class="fa fa-user"></i> Moji podatci</a></li><li class="divider-vertical"></li>
                      <li><a href="http://nadjinekretnine.com/ostavi-oglas">
                              <i class="fa fa-plus-circle"></i> Dodaj oglas</a></li><li class="divider-vertical"></li>
                      <li class="<?=set_class('moji-oglasi',$route)?>"><a href="http://nadjinekretnine.com/moj-profil/moji-oglasi/po-strani/10">
                              <i class="fa fa-list"></i> Moji oglasi</a></li><li class="divider-vertical"></li>
                       <li class="<?=set_class('favoriti',$route)?>"><a href="http://nadjinekretnine.com/moj-profil/favoriti">
                               <i class="fa fa-star"></i> Favoriti
                           </a></li>
                           <li class="divider-vertical"></li>
                      <li class="<?=set_class('poruke',$route)?>"><a href="http://nadjinekretnine.com/moj-profil/poruke">
                            <i class="fa fa-comments"></i> Poruke</a></li><li class="divider-vertical"></li>
                      <li class="<?=set_class('pomoc-podrska',$route)?>"><a href="http://nadjinekretnine.com/moj-profil/pomoc-podrska">
                              <i class="fa fa-ambulance"></i> Pomoc i podrska</a></li>    <li class="divider-vertical"></li>  
                       
                    </ul>
                   
                    <ul class="nav pull-right">
                         
                      <li><a href="http://nadjinekretnine.com/moj-profil?action=logout">
                             <i class="fa fa-power-off"></i>  Odjavi se
                          </a></li> 
                      
                 
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>
                </div>


<?php
}



?>





