<?php
$user_type=$this->user_type;

if ($user_type==1) {
    
    


?>
 
 
<!-- Modal Za breisanje oglasa-->
<div id="modal-delete-ad" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Brisanje oglasa</h3>
  </div>
  <div class="modal-body">
    <p>Da li ste sigurni da zelite da obrisete oglas?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button id="modal-delete-ad-definitivno" class="btn btn-primary">Obrisi</button>
  </div>
</div>




 
 
<!-- Modal -OGLAS JE VEC AKTIVIRAN -->
<div id="modal-standard" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Aktivacija Standardnog oglasa</h3>
  </div>
  <div class="modal-body">
    <p>
   Oglas je vec aktiviran!
    </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
  </div>
</div>



<!-- Modal AKTIVACIJA TOP OGLASA-->
<div id="modal-top" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="/*background-color: #06a6ea;color:white;*/" class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="">Aktivacija TOP oglasa</h3>
  </div>
  <div class="modal-body">
      <ul class="nav nav-tabs" id="top-tabs">
  <li class="active"><a href="#top-placenje-sms">Putem SMS-a</a></li>
 
 
</ul>
 
      <div style="padding-top: 0;padding-bottom: 0;" class="tab-content">
  <div class="tab-pane active" id="top-placenje-sms">
    
      <p style="margin-bottom: 0;">Da aktivirate <strong>TOP ponudu</strong> za vas oglas posaljite SMS sledece sadrzine
          <strong style="color: black;font-size: 20px;">na broj <?=$Ads_info::BROJ?></strong>:  </p>
      <h4 style="margin-top: 0;color: black;" class="text-center"><strong><?=$Ads_info::USER_TOP_KEYWORD?> <span id="top-id-oglasa"></span></strong></h4>
      
      
      <p>Cena poruke za sve mreze je <?=$Ads_info::USER_TOP_CENA?>,00 RSD. Oglas je aktivan 30 dana od trenutka slanja poruke.</p>
  </div>

</div>
   
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
  </div>
</div>




 
<!-- Modal AKTIVACIJA PREMIUM OGLASA-->
<div id="modal-premium" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Aktivacija PREIMIUM oglasa</h3>
  </div>
  <div class="modal-body">
   <ul class="nav nav-tabs" id="top-tabs">
  <li class="active"><a href="#premium-placenje-sms">Putem SMS-a</a></li>

 
</ul>
 
      <div style="padding-top: 0;padding-bottom: 0;" class="tab-content">
  <div class="tab-pane active" id="premium-placenje-sms">
    
      <p style="margin-bottom: 0;">Da aktivirate <strong>PRIMIUM ponudu</strong> za vas oglas posaljite SMS sledece sadrzine 
          <strong style="color: black;">na broj <?=$Ads_info::BROJ?></strong>:  </p>
      <h4 style="margin-top: 0;color: black;" class="text-center"><strong><?=$Ads_info::USER_PREMIUM_KEYWORD?> <span id="premium-id-oglasa"></span></strong></h4>
      
      
      <p>Cena poruke za sve mreze je <?=$Ads_info::USER_PREMIUM_CENA?> RSD. Oglas je aktivan 30 dana od trenutka slanja poruke.</p>
  </div>
</div></div>
  <div class="modal-footer">
 
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
  </div>
</div>



<!-- Modal  ISKLJUCIVANJE PLACENOG OGLASA-->
<div id="modal-off" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Iskljucivanje oglasa</h3>
  </div>
  <div class="modal-body">
    <p>
        Oglas je <span class="label label-success">AKTIVAN</span>.  Da li ste sigurni da zelite da iskljucite ovaj oglas?
    </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori</button>
    <button data-id-oglasa="" id="potvrdi-iskljucivanje-oglasa" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Potvrdi</button>
  </div>
</div>


<!-- Modal  ISKLJUCIVANJE STANDARDNOG OGLASA-->
<div id="modal-standard-off" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Iskljucivanje oglasa</h3>
  </div>
  <div class="modal-body">
    <p>
        Oglas je <span class="label label-success">AKTIVAN</span>.  Da li ste sigurni da zelite da iskljucite ovaj oglas?
    </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button data-id-oglasa="" id="potvrdi-iskljucivanje-standardnog-oglasa" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Potvrdi</button>
  </div>
</div>










<?php
/*


<!-- Modal OSVEZI OGLAS
<div id="modal-osvezi-oglas" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div style="" class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="">Osvezi oglas</h3>
  </div>
  <div class="modal-body">
      <ul class="nav nav-tabs" id="oo-tabs">
  <li class="active"><a href="#oo-placanje-sms">Putem SMS-a</a></li>
 
 
</ul>
 
      <div style="padding-top: 0;padding-bottom: 0;" class="tab-content">
  <div class="tab-pane active" id="oo-placanje-sms">
     
      <p style="margin-bottom: 0;">Da osvezite <strong>STANDARDNI OGLAS</strong>   posaljite SMS sledece sadrzine 
          <strong style="color: black;">na broj 
       <?=$Ads_info::BROJ?></strong>:  </p>
      <h4 style="color: black;" class="text-center"><strong><?=$Ads_info::USER_STANDARD_REFRESH_KEYWORD?> 
              <span id="oo-standard-id-oglasa"></span></strong></h4>
       <p>Cena poruke za sve mreze je <?=$Ads_info::USER_STANDARD_REFRESH_CENA?> RSD. Oglas ce biti na vrhu liste aktivnog oglasa.</p>
        <hr>
       
      
      <p style="margin-bottom: 0;">Da osvezite <strong>TOP OGLAS</strong>   posaljite SMS sledece sadrzine 
          <strong style="color: black;">na broj 
       <?=$Ads_info::BROJ?></strong>:  </p>
      <h4 style="color: black;" class="text-center"><strong><?=$Ads_info::USER_TOP_REFRESH_KEYWORD?> 
              <span id="oo-top-id-oglasa"></span></strong></h4>
       <p>Cena poruke za sve mreze je <?=$Ads_info::USER_TOP_REFRESH_CENA?> RSD. Oglas ce biti na vrhu liste aktivnog oglasa.</p>
          <hr> 
           
       
        <p style="margin-bottom: 0;">Da osvezite <strong>PREMIUM OGLAS</strong>   posaljite SMS sledece sadrzine 
          <strong style="color: black;">na broj 
       <?=$Ads_info::BROJ?></strong>:  </p>
      <h4 style="color: black;" class="text-center"><strong><?=$Ads_info::USER_PREMIUM_REFRESH_KEYWORD?> 
              <span id="oo-premium-id-oglasa"></span></strong></h4>
       <p>Cena poruke za sve mreze je <?=$Ads_info::USER_PREMIUM_REFRESH_CENA?> RSD. Oglas ce biti na vrhu liste aktivnog oglasa.</p>
         
          
       
       
  </div>
 
</div>
   
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
  </div>
</div>


-->

 *
 */
 ?>


 
<!-- Modal AKTIVACIJA STANDARDNOG OGLASA-->
<div id="modal-standard-activate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Aktivacija STANDARDNOG oglasa</h3>
  </div>
  <div class="modal-body">
   <ul class="nav nav-tabs" id="top-tabs">
  <li class="active"><a href="#standard-placenje-sms">Putem SMS-a</a></li>

 
</ul>
 
      <div style="padding-top: 0;padding-bottom: 0;" class="tab-content">
  <div class="tab-pane active" id="standard-placenje-sms">
    
      <p style="margin-bottom: 0;">Da aktivirate <strong>STANDARDNI</strong> oglas posaljite SMS sledece sadrzine 
          <strong style="color: black;">na broj <?=$Ads_info::BROJ?></strong>:  </p>
      <h4 style="margin-top: 0;color: black;" class="text-center"><strong><?=$Ads_info::USER_STANDARD_KEYWORD?> 
              <span id="standard-id-oglasa"></span></strong></h4>
      
      
      <p>Cena poruke za sve mreze je <?=$Ads_info::USER_STANDARD_CENA?> RSD. Oglas je aktivan Mesec dana od trenutka slanja poruke.</p>
  </div>
</div></div>
  <div class="modal-footer">
 
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
  </div>
</div>



<?php
}elseif($user_type==2){
$istorija_uplate=$this->istorija_uplate;
/*
 * 
 * 
 * 
 * 
 * 
 * 
 * PRAVNA LICA
 * -----------------------------------------------------------------------------
 *  -----------------------------------------------------------------------------
 *  -----------------------------------------------------------------------------
 *  -----------------------------------------------------------------------------
 * v
 *  -----------------------------------------------------------------------------
 *  -----------------------------------------------------------------------------
 * 
 *  -----------------------------------------------------------------------------
 * 
 *  -----------------------------------------------------------------------------
 * 
 * 
 *  -----------------------------------------------------------------------------
 * 
 *  -----------------------------------------------------------------------------
 *  -----------------------------------------------------------------------------
 * 
 *  -----------------------------------------------------------------------------
 *  -----------------------------------------------------------------------------
 *  -----------------------------------------------------------------------------
 *  -----------------------------------------------------------------------------
 *  -----------------------------------------------------------------------------
 * 
 */



?>







 
<!-- Modal -OGLAS JE VEC AKTIVIRAN -->
<div id="modal-standard" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Aktivacija Standardnog oglasa</h3>
  </div>
  <div class="modal-body">
    <p>
   Oglas je vec aktiviran!
    </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
  </div>
</div>







<!-- Modal  Aktivacija Standardnog oglasa-->
<div id="modal-standard-pl" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Aktivacija Standardnog oglasa</h3>
  </div>
  <div class="modal-body">
      
      
      
      <p>
  <label for="from">Trajanje standardnog oglasa:</label>
  od:
  <span style="margin: 0;" id="startni-datum" class="input-small uneditable-input"><?=date("d M Y")?></span>
do:
<input class="span2 datepicker-oglas-pl-do" type="text" id="standardni-oglas-pl-do" name="standardni-oglas-trajanje">
<span id="standard-trajanje-dana" class="help-inline"></span>          
      </p>
      
       <div style="clear: both"></div>
      <p class="" style="color: red" id="standard-nema-dovoljno-na-racunu"></p>
          <hr style="margin-top: 0;" class="dotted"/>
      <p style="font-size: 12px;">
          Cena standardnog oglasa je <?=$Ads_info::PRAVNA_LICA_STANDARD_CENA?> rsd / dan.<br /> Ukoliko imate nekih problema sa koriscenjem naseg servisa,
          posaljite nam email na <a href="mailto:info@nadjijekretnine.com">info@nadjijekretnine.com</a> ili nas pozovite telefonom 
          <strong><?=$Ads_info::KONTAKT_TELEFON?></strong>,
      </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button data-id-oglasa="" id="pl-standardni-potvrdi" class="btn btn-primary pl-potvrdi-transakciju" data-dismiss="modal" aria-hidden="true">Potvrdi 
        <i class="fa fa-shopping-cart"></i></button>
  </div>
</div>


















<!-- Modal  Aktivacija top oglasa-->
<div id="modal-top-pl" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Aktivacija Top oglasa</h3>
  </div>
  <div class="modal-body">
       <p>
  <label for="from">Trajanje Top oglasa:</label>
  od:
  <span style="margin: 0;" class="input-small uneditable-input"><?=date("d M Y")?></span>
do:
<input class="span2 datepicker-oglas-pl-do" type="text" id="top-oglas-pl-do" name="top-oglas-trajanje">
<span id="top-trajanje-dana" class="help-inline"></span>          
      </p>
      <p style="overflow: auto;">
       
            <button class="btn btn-warning pull-left btn-xs">
               Cena: <span id="top-cena-dana"> 0</span> rsd  
          </button>
          
          <button class="btn btn-info btn-xs pull-right">
              Stanje na racunu:<span id="modul-pl-top-stanje-na-racunu"></span>
          </button>
        
               
      </p>
      <div style="clear: both"></div>
      <p class="" style="color: red" id="top-nema-dovoljno-na-racunu"></p>
          <hr style="margin-top: 0;" class="dotted"/>
          
      <p style="font-size: 12px;">
          Cena top oglasa je <?=$Ads_info::PRAVNA_LICA_TOP_CENA?> rsd / dan.<br /> Ukoliko imate nekih problema sa koriscenjem naseg servisa,
          posaljite nam email na <a href="mailto:info@nadjijekretnine.com">info@nadjijekretnine.com</a> ili nas pozovite telefonom 
          <strong><?=$Ads_info::KONTAKT_TELEFON?></strong>,
      </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button data-id-oglasa="" id=" " class="btn btn-primary pl-potvrdi-transakciju" data-dismiss="modal" aria-hidden="true">Potvrdi 
        <i class="fa fa-shopping-cart"></i></button>
  </div>
</div>








<!-- Modal  Aktivacija PP oglasa-->
<div id="modal-premium-pl" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Aktivacija Premium oglasa</h3>
  </div>
  <div class="modal-body">
       <p>
  <label for="from">Trajanje  Premium oglasa:</label>
  od:
  <span style="margin: 0;" class="input-small uneditable-input"><?=date("d M Y")?></span>
do:
<input class="span2 datepicker-oglas-pl-do" type="text" id="premium-oglas-pl-do" name="premium-oglas-trajanje">
<span id="premium-trajanje-dana" class="help-inline"></span>          
      </p>
               <p style="overflow: auto;">
       
            <button class="btn btn-warning pull-left btn-xs">
               Cena: <span id="premium-cena-dana"> 0</span> rsd  
          </button>
          
          <button class="btn btn-info btn-xs pull-right">
              Stanje na racunu: <span id="modul-pl-premium-stanje-na-racunu"></span>
          </button>
         
      </p>
       <div style="clear: both"></div>
 
      <p class="" style="color: red" id="premium-nema-dovoljno-na-racunu"></p>
          <hr style="margin-top: 0;" class="dotted"/>
          
      <p style="font-size: 12px;">
          Cena top oglasa je <?=$Ads_info::PRAVNA_LICA_PREMIUM_CENA?> rsd / dan. <br /> Ukoliko imate nekih problema sa koriscenjem naseg servisa,
          posaljite nam email na <a href="mailto:info@nadjijekretnine.com">info@nadjijekretnine.com</a> ili nas pozovite telefonom 
          <strong><?=$Ads_info::KONTAKT_TELEFON?></strong>,
      </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button data-id-oglasa="" id=" " class="btn btn-primary pl-potvrdi-transakciju" data-dismiss="modal" aria-hidden="true">Potvrdi 
        <i class="fa fa-shopping-cart"></i></button>
  </div>
</div>



<!-- Modal  ISKLJUCIVANJE PLACENOG OGLASA-->
<div id="modal-iskljuci-payd-ads" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Iskljucivanje oglasa</h3>
  </div>
  <div class="modal-body">
    <p>
       Da li ste sigurni da zelite da iskljucite ovaj oglas?
    </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button  id="potvrdi-iskljucivanje-oglasa" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Potvrdi  <i class="fa fa-shopping-cart"></i></button>
  </div>
</div>



<!-- Modal  OSVEZI OGLAS-->
<div id="modal-osvezi-payd-ads" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Osvezi oglas</h3>
  </div>
  <div class="modal-body">
    <p>
    Ako želite da vaš oglas ponovo premestite na prvo mesto u listi potvrdite transakciju. Za dodatne informacije posetite
    nasu stranu <a href="http://nadjinekretnine.com/marketnig#pravna-lica-osvezi-oglas">marketnig.</a>
    </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button  id="potvrdi-osvezi-ad" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Potvrdi  <i class="fa fa-shopping-cart"></i></button>
  </div>
</div>


<!-- Modal Za breisanje oglasa-->
<div id="modal-delete-ad" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Brisanje oglasa</h3>
  </div>
  <div class="modal-body">
    <p>Da li ste sigurni da zelite da obrisete oglas?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button id="modal-delete-ad-definitivno" class="btn btn-primary">Obrisi</button>
  </div>
</div>



<!-- Modal Za dopunu racuna-->
<div id="modal-dopuna-racuna" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Dopuna racuna</h3>
  </div>
  <div class="modal-body">
      <p>
 Da bih ste ostvarili saradnju sa nasim portalom kontaktirajte nas.


<address>
 
  <abbr title="Phone">Telefon:</abbr> (381) 65 831-5363
</address>
      <address>
  
  <abbr title="Phone">Email: </abbr><a href="mailto:info@nadjinekretnine.com">info@nadjinekretnine.com</a>
</address>
      </p>
  
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>

  </div>
</div>



<!-- Modal Za istoriju uplate-->
<div id="modal-istorija-uplate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Istorija racuna</h3>
  </div>
  <div class="modal-body">
      <table class="table table-hover">
    <thead>
                <tr>
                 <th>ID uplate</th>
                
                  <th>Stanje(rsd)</th>
                  <th>Datum</th>
                </tr>
              </thead>
      <tbody>
          <?php if($istorija_uplate):?>
      <?php foreach($istorija_uplate as $k=>$v):?>
             <tr>
                  <td><?=$v['id_istorija_uplate_pravna_lica']?></td>
               
                  <td><?=number_format( $v['stanje'], 0, '', '.')?></td>
                  <td><?=$v['datum_vreme']?></td>
              </tr>
   
      <?php endforeach?>
              <?php endif?>
                  </tbody>
  </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-right" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
   
  </div>
</div>






<!-- Modal  standardnog produzi oglas-->
<div id="modal-standard-produzi" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Produzi standardni oglas </h3>
  </div>
  <div class="modal-body">
      <p>
  <label for="from">Trajanje standardnog oglasa:</label>
  od:
  <span style="margin: 0;" id="datum-isteka-standardni" class="input-small uneditable-input"></span>
do:
<input class="span2" type="text" id="standardni-oglas-produzi" name="standardni-oglas-produzi">
<span id="standard-trajanje-dana-produzi" class="help-inline"></span>          
      </p>
          <p style="overflow: auto;">
       
            <button class="btn  pull-left btn-xs">
               Cena: <span id="standard-cena-dana-produzi"> 0</span> rsd  
          </button>
          
          <button class="btn btn-xs pull-right">
              Stanje na racunu: <span id="modul-pl-standard-stanje-na-racunu-produzi"></span>
          </button>
         
      </p>
      
       <div style="clear: both"></div>
      <p class="" style="color: red" id="standard-nema-dovoljno-na-racunu-produzi"></p>
          <hr style="margin-top: 0;" class="dotted"/>
      <p style="font-size: 12px;">
          Cena standardnog oglasa je <?=$Ads_info::PRAVNA_LICA_STANDARD_CENA?> rsd / dan. Ukoliko imate nekih problema sa koriscenjem naseg servisa,
          posetite nasu stranu 
          <a href="http://nadjinekretnine.com/moj-profil/pomoc-podrska">pomoc i podrska</a>.
      </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button data-id-oglasa=""  
            class="btn btn-primary oglas-potvrdi-produzi" data-dismiss="modal" aria-hidden="true">Potvrdi 
        <i class="fa fa-shopping-cart"></i></button>
  </div>
</div>














<!-- Modal  top produzi oglas-->
<div id="modal-top-produzi" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Produzi TOP oglas </h3>
  </div>
  <div class="modal-body">
      <p>
  <label for="from">Trajanje top oglasa:</label>
  od:
  <span style="margin: 0;" id="datum-isteka-top" class="input-small uneditable-input"></span>
do:
<input class="span2" type="text" id="top-oglas-produzi" name="standardni-oglas-produzi">
<span id="top-trajanje-dana-produzi" class="help-inline"></span>          
      </p>
          <p style="overflow: auto;">
       
            <button class="btn  pull-left btn-xs">
               Cena: <span id="top-cena-dana-produzi"> 0</span> rsd  
          </button>
          
          <button class="btn btn-xs pull-right">
              Stanje na racunu: <span id="modul-pl-top-stanje-na-racunu-produzi"></span>
          </button>
         
      </p>
      
       <div style="clear: both"></div>
      <p class="" style="color: red" id="top-nema-dovoljno-na-racunu-produzi"></p>
          <hr style="margin-top: 0;" class="dotted"/>
      <p style="font-size: 12px;">
          Cena standardnog oglasa je <?=$Ads_info::PRAVNA_LICA_TOP_CENA?> rsd / dan. Ukoliko imate nekih problema sa koriscenjem naseg servisa,
          posetite nasu stranu 
          <a href="http://nadjinekretnine.com/moj-profil/pomoc-podrska">pomoc i podrska</a>.
      </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button data-id-oglasa="" id=" " 
            class="btn btn-primary oglas-potvrdi-produzi" data-dismiss="modal" aria-hidden="true">Potvrdi 
        <i class="fa fa-shopping-cart"></i></button>
  </div>
</div>








<!-- Modal  premium produzi oglas-->
<div id="modal-premium-produzi" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Produzi TOP oglas </h3>
  </div>
  <div class="modal-body">
      <p>
  <label for="from">Trajanje top oglasa:</label>
  od:
  <span style="margin: 0;" id="datum-isteka-premium" class="input-small uneditable-input"></span>
do:
<input class="span2" type="text" id="premium-oglas-produzi" name="standardni-oglas-produzi">
<span id="premium-trajanje-dana-produzi" class="help-inline"></span>          
      </p>
          <p style="overflow: auto;">
       
            <button class="btn  pull-left btn-xs">
               Cena: <span id="premium-cena-dana-produzi"> 0</span> rsd  
          </button>
          
          <button class="btn btn-xs pull-right">
              Stanje na racunu: <span id="modul-pl-premium-stanje-na-racunu-produzi"></span>
          </button>
         
      </p>
      
       <div style="clear: both"></div>
      <p class="" style="color: red" id="premium-nema-dovoljno-na-racunu-produzi"></p>
          <hr style="margin-top: 0;" class="dotted"/>
      <p style="font-size: 12px;">
          Cena standardnog oglasa je <?=$Ads_info::PRAVNA_LICA_PREMIUM_CENA?> rsd / dan. Ukoliko imate nekih problema sa koriscenjem naseg servisa,
          posetite nasu stranu 
          <a href="http://nadjinekretnine.com/moj-profil/pomoc-podrska">pomoc i podrska</a>.
      </p>
  </div>
  <div class="modal-footer">
 
    <button class="btn btn-primary pull-left" data-dismiss="modal" aria-hidden="true">Zatvori <i class="fa fa-times"></i></button>
    <button data-id-oglasa=""   
            class="btn btn-primary oglas-potvrdi-produzi" data-dismiss="modal" aria-hidden="true">Potvrdi 
        <i class="fa fa-shopping-cart"></i></button>
  </div>
</div>












<?php

    
}



