 <?php if ($this->pageCount): ?>
<div style="margin-top:20px;" class="pagination pagination-centered">
         <ul class="pull-left">
             <?php //var_dump($this->pageCount);var_dump($this->currentItemCount);
             $deset="";$dvadeset="";$pedeset="";$po_strani=10;
             switch((int)$this->po_strani){
                 case 10:$deset='active';$po_strani=10;break;
                 case 20:$dvadeset='active';$po_strani-20;break;
                 case 50:$pedeset='active';$po_strani=50;break;
             }
             $get="";
             if ($this->get) {
                $get="?".$this->get; 
             }
            
             ?>
            <li class="<?=$deset ?>">
                <a href="<?=$this->url($this->route, array('action'=>'moji-oglasi','strana' => $this->current,'po-strani'=>10));?>">
                    10</a>
            </li>
            <li class="<?=$dvadeset?>">
                <a href="<?=$this->url($this->route, array('action'=>'moji-oglasi','strana' => $this->current,'po-strani'=>20));?>">
                    20</a>
            </li>
            <li class="<?=$pedeset?>">
                <a href="<?=$this->url($this->route, array('action'=>'moji-oglasi','strana' => $this->current,'po-strani'=>50));?>">
                    50</a>
            </li>
         </ul>                 
                    
                 

<?php if($this->pageCount>1):?>
                    
                    <ul class="pull-right">
                        
                        <li class="<?=isset($this->previous)?"":"disabled" ?>">
                            <?php if (isset($this->previous)): ?>   
                            <a href="<?=$this->url($this->route, array(
                                'action'=>'moji-oglasi','strana' => $this->previous,'po-strani'=>$this->po_strani)).$get;?>">
                            &larr; Prethodna
                            </a>
                            <?php else: ?>
                             <span>&larr; Prethodna</span> 
                            <?php endif; ?>
                         </li>  
                         
                         <?php if (isset($this->previous)): ?>
                         
                             <?php if ($this->current>2): ?>        <?php endif; ?>
                             <li>
                                <a href="<?=$this->url($this->route, array(
                                    'action'=>'moji-oglasi','strana' => $this->first,'po-strani'=>$this->po_strani)).$get; ?>">
                                <?=$this->first?>
                                </a>
                            </li>                                
                     
                           <?php   
                             
                        $currp=$this->current-1;$nump=[];
                         while($currp>1&&  count($nump)<1){
                             $nump[]=$currp;   $currp--;
                                 } 
                                 asort($nump);
                          ?>   
                 
                         
                         <?php foreach ($nump as $v):?>
                            <li>
                                <a href="<?=$this->url($this->route, array('action'=>'moji-oglasi','strana' => $v,'po-strani'=>$this->po_strani)).$get; ?>">
                                <?=$v?>
                                </a>
                            </li>                             
                            <?php endforeach;?>
                         <?php endif; ?>
                         
                             <li  class="active">
                                <a href="<?=$this->url($this->route, array('action'=>'moji-oglasi','strana' => $this->current,'po-strani'=>$this->po_strani)).$get; ?>">
                                <?=$this->current?>
                                </a>
                            </li>                              
                             <?php
                            $numn=1;$curn=$this->current+1;
                            while($curn<$this->last&&$numn<3){
                            
                                
                              ?>  
                             <li>
                                <a href="<?=$this->url($this->route, array('action'=>'moji-oglasi','strana' => $curn,'po-strani'=>$this->po_strani)).$get; ?>">
                                <?=$curn?>
                                </a>
                            </li>                              
                            <?php
                            $curn++;$numn++;
                            }
                            ?>
     
       <?php if (isset($this->next)): ?>
        <li> 
            <a href="<?php echo $this->url($this->route, array('action'=>'moji-oglasi','strana' => $this->last,'po-strani'=>$this->po_strani)).$get; ?>">
            <?=$this->last;?>
            </a>
        </li>
        <li>
            <a href="<?php echo $this->url($this->route, array('action'=>'moji-oglasi','strana' => $this->next,'po-strani'=>$this->po_strani)).$get; ?>">
                Sledeća &rarr;</a>
        </li>
        <?php else: ?>
        <li class="disabled"><span>Sledeća &rarr;</span></li>
        <?php endif; ?>
        
</ul>      
<?php endif; ?>
</div><!-- /.pagination -->       
<?php endif; ?>


