<?php
switch($user_type){
    case "2":$user='pravno';break;
    case '1':$user='fizicko';break;
}

if ($user=="fizicko") {
    

?>
<div class="span12">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                    <img class=""  src="/img/baneri/standardponuda.png"/>   
                  <div class="caption">
                    <h3>Standardni oglas</h3>
                    <p>Postavite besplatno jedan standardni oglas. Standardni oglas se ne istice posebno u listi oglasa!</p>
                 <!--   <p><a href="#" class="btn btn-primary pull-right">Detalji  <i class="fa fa-info-circle"></i></a>  </p>-->
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                <img  src="/img/baneri/topponuda.png"/>   
                 <div class="caption">
                    <h3>Top Ponuda</h3>
                    <p><strong style="text-decoration: underline;font-size: 15px;">Povecajte vidljivost vaseg oglasa uz nasu TOP ponudu.</strong> 
                        Vas oglas ce biti postavljen pri vrhu liste oglasa i imace oznaku <strong>TOP</strong>.
                      Kliknite na dugme  <button class="btn btn-danger btn-xs"> AKTIVIRAJ TOP <i class="fa fa-share-square"></i></button>
                       </p>
      
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                 <img  src="/img/baneri/premiumponuda.png"/>   
                  <div class="caption">
                    <h3>Premium Ponuda</h3>
                    <p>Vas oglas ce biti <strong style="text-decoration: underline;font-size: 15px;">istaknut na prvoj strani sajta 
                            <a href="http://nadjinekretnine.com/">NadjiNekretnine.com.</a></strong>
                    Vas oglas ce takodje biti postavljen pri vrhu liste oglasa i imace oznaku <strong>PREMIUM</strong>.
                      Kliknite na dugme  <button class="btn btn-danger btn-xs"> AKTIVIRAJ PPREMIUM <i class="fa fa-share-square"></i></button>
                     
                    </p>
   
                  </div>
                </div>
              </li>
                          
            </ul>
          </div>

<?php }

/*
 * 
 * 
 * 
 * PRAVNA LICA
 * 
 * 
 * 
 * 
 */







else{
    $pl_data=$this->pravna_lica_data;
   $Ads_info=$this->ads_info;
   $trenutno_stanje=isset($pl_data->trenutno_stanje)?$pl_data->trenutno_stanje:0;
   $all_ads_info=[
       'stanje'=>$trenutno_stanje,
       'standard'=>[
          'trajanje'=>$Ads_info::PRAVNA_LICA_STANDARD_TRAJANJE,
           'cena'   =>$Ads_info->get_pl_standard_cena()
       ],
       'top'=>[
           'trajanje'=>$Ads_info::PRAVNA_LICA_TOP_TRAJANJE,
           'cena'   =>$Ads_info->get_pl_top_cena()
       ],
       'premium'=>[
            'trajanje'=>$Ads_info::PRAVNA_LICA_PREMIUM_TRAJANJE,
           'cena'   =>$Ads_info->get_pl_premium_cena()          
       ]
   ];
    
?>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
var top_ten=<?=json_encode($this->ads_top_ten_counter)?>;
  if (top_ten.length>0) {
        
  
     var top_ten_arr=[];
     var arr=[['Element', 'Pregleda']];
        for(var i in top_ten){
            arr.push(['id:'+top_ten[i].id_oglasi_nk,parseInt(top_ten[i].max_count)])
         }
    
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.


      function drawChart1() {

          var data = google.visualization.arrayToDataTable(arr);

        var options = {
            legend: 'none' ,
             title: 'Top 10 vasih oglasa po broju pregleda!',
                  
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('col_chart_custom_tooltip'));
        
        chart.draw(data, options);
                google.visualization.events.addListener(chart, 'click', function(e) {
    
   // console.log(e);  
});


 google.visualization.events.addListener(chart, 'onmouseover', function(e) {
   $('*').css( 'cursor', 'pointer' );
});
 google.visualization.events.addListener(chart, 'onmouseout', function(e) {
   $('*').css( 'cursor', 'auto' );
});
      }
      }  
      google.setOnLoadCallback(function(){
          drawChart1();
      });
     var pl_ads_info=<?=json_encode($all_ads_info)?>;
    
      
    </script>
    <div style="padding: 0;position: relative;" class="span12 well well-small well-white">
     <!--Div that will hold the pie chart
     <div class=" span4" id="tooltip_action" style="height: 200px;margin-left: 0;"></div>-->
   
     <div class="span7" id="col_chart_custom_tooltip" style="height: 200px;margin-left: 0;"></div>
      
 
             <div style="margin:10px 10px auto 0;" class="span4 panel panel-primary pull-right">
                       
            <div class="panel-heading">
               <h3 class="panel-title">Moj račun</h3>
            </div>
               <div class="panel-body">
   
             <ul style="margin: auto 0;" class="nav nav-list span2 pull-left">
                 <li style=""  class="nav-header">Trenutno stanje na računu:</li>
                <li> <a style="font-size: 20px;"> 
                        
    <?=isset($pl_data->trenutno_stanje)?number_format( $pl_data->trenutno_stanje, 2, '.', ','):0?> RSD</a></li>
           
                
              </ul>                   
                   
                         
                 <ul style="margin: auto 0;" class="nav nav-list span2 pull-right">
    
                     <li><a href="#" id="modal-dopuna-racuna-lunch"> <i class="fa fa-money"></i> Dopuna računa</a></li>
                     <li><a href="#" id='modal-istorija-uplate-lunch'> <i class="fa fa-history"></i> Istorija racuna </a></li>
              
                <li><a href="http://nadjinekretnine.com/info/uslovi-koriscenja"><i class="fa fa-info-circle"></i> Pravilnik </a></li>
              </ul>            
                     
                   
            
                   
                 </div>  
             </div> 
                 
                 
    </div>  
   

    
    

<?php }?>

    
    
    
    