  <?php
 $user_type=$this->user_type;
 $paginator=$this->paginator;
 // var_dump($this->paginator);
 // die('end');
 ?>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/sr_RS/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<?php
 if ($user_type==1) {
    
    
  ?>
<script>
var CHECK_ACTIVE_ADS=<?=json_encode($this->free)?>;



</script>








        <div class="span9">
             <div class="properties-rows">
                     <div class="row">
        
                         
                 
            <?php
            /*
             * =================================================================
             * ======================================================================
             * =========================================================
             * 
             *                                 <button style="padding: 7px 15px;" type="button" class="btn btn-link btn-small">
                                  Obnovi oglas    <i class="icon-refresh"></i>
                                 </button> 
             * 
             * LISTA OGLASA
             * 
             * 
             * 
             */
    
                            
        if (count($paginator)){
                   //   var_dump($this->paginator);
           foreach ($paginator as $key => $v) {
            
             ?>    
       
        <div style="" class="property span9">
            <div class="row">
                <div class="image span3">
                    <div class="content">
                        <a href="<?='link'?>"></a>
                        <img style="width:270px;height: 200px;" src="<?=$v['slika_1']?>" alt="">
                    </div><!-- /.content -->
                </div><!-- /.image -->

                <div class="body span6  ">
                    <div style="padding-top: 8px;" class="title-price row">
                        <div class="title span4">
                            <h2><a style="font-size: 15px;" href="<?=$v['link']?>"><?=$v['naslov']?></a></h2>
                        </div><!-- /.title -->

                      <div style="font-size: 15px;" class="price">
                            <?=$v['cena']?>
                        </div> <!--  /.price -->
                    </div><!-- /.title -->

                     <div style="font-size: 13px;margin-bottom: 0px;padding-bottom: 5px;" class="location">
                    <?=$v['mesto'],!isset($v['deo_mesta'])?:" - ".$v['deo_mesta'],!isset($v['lokacija'])?:" - ".$v['lokacija']?> 
                    
                    </div><!-- /.location -->
                    
                    
      <?php
      /*
       * 
       * LINKOVI
       * 
       * 
       * 
       * 
       * 
       * 
       * 
       */
       ?>              
                    <div style="font-size: 13px;padding-bottom: 0" class="location">
                    <a href="http://nadjinekretnine.com/ostavi-oglas/ad/<?=$v['id_oglasi_nk']?>" 
                            style="padding: 7px 15px 7px 0;color: #313131;" type="button" class="btn btn-link btn-small">
                                 Izmeni <i class="fa fa-pencil-square-o"></i>
                                 </a>
                    <button data-oglas="<?=$v['id_oglasi_nk']?>"  style="padding: 7px 15px;color: #313131;" type="button" class="btn btn-link btn-small delete-ad">
                                 Obrisi <i class="fa fa-trash-o"></i>
                                 </button>
                      
                                       
            <!--   <a href='http://nadjinekretnine.com/moj-profil/favoriti/<?=$v['id_oglasi_nk']?>' data-oglas="<?=$v['id_oglasi_nk']?>"
                       title="Koliko je korisnika stavilo u favorite ovaj oglas" data-oglas="1274" 
                       style="padding: 7px 10px;color: #313131;" type="button" class="btn btn-link btn-small favorites-ad">
                        Favoriti  <i class="fa fa-star-o"></i>
                                 </a>                     
    -->
                        <div style=" padding-top: 5px;" class="pull-right">
                                                     
                    <div title="Podelite na facebooku" class="fb-share-button pull-right" data-href="<?=$v['link']?>" data-layout="button"></div> 
           <!-- Place this tag where you want the share button to render. -->
           <a class="pull-right" href="https://plus.google.com/share?url=<?=$v['link']?>" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
                src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Podeli na Google+" title="Podeli na Google+"/>&nbsp;</a> 

            
                        
                        </div>     
                 
 </div>
           
                    
                     <?php
          /*
           * 
           * 
           * foother left
           * 
           * 
           */
          
          ?>
                    
                    
                    
                    <div style="padding-left:0px;margin-left: 0;" class="pull-left span2 ">
                     <dl class="dl-horizontal oglasi-info-pregled">
  <dt>  ID oglasa:  </dt>  <dd>         <?=$v['id_oglasi_nk']?>  </dd>
  <dt> Kategorija: </dt>  <dd>  <?=$v['kategorija']?></dd>
    <dt>  Pregleda: </dt>  <dd>  <?=$v['broj_pregleda']?> </dd>
   
</dl>
              <!--          <button title="Pomeri oglas na vrh liste aktivnog tipa oglasa."   style="margin-top:5px;" 
                                data-oglas="<?=$v['id_oglasi_nk']?>" class="btn btn-xs btn-info pull-left  osvezi-oglas">
                          OSVEZI OGLAS <i class="fa fa-refresh"></i></button>                      
                  -->              
                       
                    </div>              
                          
  <?php
          /*
           * -----------------------------------------------------------------------------
           * 
           * 
           * ------------------------------------------------------------------------------
           * 
           * 
           * FOOTHER OGLASA
           * 
           */           
      $active_text='AKTIVAN <i class="fa fa-check-square-o"></i>';
      $aktiviraj_text='AKTIVIRAJ <i class="fa fa-share-square"></i>';
      $active_css='btn-success';
      $aktiviraj_css='btn-danger';
               
      
      $standard_text='AKTIVIRAJ <i class="fa fa-share-square"></i>';
      $standard_css=$aktiviraj_css;
      
       $top_text='AKTIVIRAJ TOP <i class="fa fa-share-square"></i>';
      $top_css=$aktiviraj_css;
      
      $premium_text='AKTIVIRAJ PREMIUM <i class="fa fa-share-square"></i>';
      $premium_css=$aktiviraj_css;     
      
      
      $top_datum='';$premium_datum=''; $standard_datum='';
      
             $oglas_payd='active';
               $ads_standard_actite='off'; 
               $ads_top_actite='off'; 
               $ads_premium_actite='off'; 
          $date_od=date("j M Y",  strtotime(date($v['datum_postavljanja_oglasa'])));
          $date_do=date("j M Y",  strtotime(date($v['datum_isteka'])));
          switch($v['vrsta_oglasa']){
              case 1:
                  $oglas_payd='false';
                  $standard_datum="$date_od - $date_do";
                  $standard_css=$active_css;
                  $standard_text=$active_text;
                  $ads_standard_actite='on';
                  break;
              case 2:
               $top_datum="$date_od - $date_do";     
                         $top_text=$active_text;
                        $top_css=$active_css;
                         $ads_top_actite='on';
                  break;
              case 3:
               $premium_datum="$date_od - $date_do"; 
                        $premium_text=$active_text;
                         $premium_css=$active_css; 
                          $ads_premium_actite='on';
                  break;
              default :$oglas_payd='false';break;
              
              
          }
      
             ?>          
                    
                                           <div style="margin-left:0;margin-right: 30px;" class="pull-right span4  ">
                        
                        
             <div id="" style="margin-left: 0;" class="alert  vrsta-oglasa span4 standardni-oglas-popover">
               <span style="margin-left: 0;width: 100px " class="span1"> <i class="fa fa-gift"></i> Standard </span>
                   <?=$standard_datum?>
                            <button data-ads-payed="<?=$oglas_payd?>" data-tip="standard" data-state="<?=$ads_standard_actite?>"
                                    data-oglas="<?=$v['id_oglasi_nk']?>" 
                                    class="btn btn-xs <?=$standard_css?>  pull-right activate-ads">
                               <?=$standard_text?></button>     
                
                        </div>
              <div style="margin-left: 0;" class="alert  vrsta-oglasa span4 top-oglas-popover">
                  <span style="margin-left: 0; " class="span1"><i class="fa fa-phone"></i> Top </span>
                       <?=$top_datum?>
                                 <button data-tip="top" data-state="<?=$ads_top_actite?>" data-oglas="<?=$v['id_oglasi_nk']?>" 
                                         class="btn btn-xs  <?=$top_css?> pull-right activate-ads">
                              <?=$top_text?></button>       
          </div>
                               
                        
                        
                        
        <div style="margin-left: 0;" class="alert  vrsta-oglasa span4 premium-oglas-popover">
                    <span style="margin-left: 0; " class="span1"> <i class="fa fa-phone"></i>  Premium </span>
                            <?=$premium_datum?>
                            <button data-tip="premium" data-state="<?=$ads_premium_actite?>" data-oglas="<?=$v['id_oglasi_nk']?>" 
                                    class="btn btn-xs  <?=$premium_css?> pull-right  activate-ads">
                              <?=$premium_text?></button>             
                                    </div>    
                              
                                  
                              
                              
                              
        </div>
                              
                    
                            
    
                      
                </div><!-- /.body -->
                 
           
               

            </div><!-- /.property -->
        </div><!-- /.row -->
<?php     
               
               }
               
               
        }else{
            ?>
   <div class="alert alert-block alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Nema oglasa za prikaz</h4>
            <p>Trenutno nema rezultata po zadatom kriterijumu pretrage. Iskljucite ili promenite neke od primenjenih filtera ili ostavite novi oglasa. </p>
            <p>
              <a class="btn btn-primary" href="http://nadjinekretnine.com/ostavi-oglas">Postavi nov oglas <i class="fa fa-share"></i></a>
              <a class="btn" href="http://nadjinekretnine.com/moj-profil/moji-oglasi/po-strani/10">Resetuj filtere <i class="fa fa-times"></i></a>
            </p>
          </div>
        <?php }?>
        
        
        
    </div><!-- /.row -->
</div><!-- /.properties-rows -->


<?=$this->paginationControl($this->paginator,'Sliding','paginator-slide',['po_strani'=>$this->po_strani])?>

  

    
            </div>
     <?php
     /**
      * ============================================================
      * ============================================================
      * ============================================================
      * ============================================================
      * ============================================================
      * ============================================================
      * v============================================================
      * ============================================================
      * ============================================================
      * 
      * ============================================================
      * 
      * ============================================================
      * 
      * 
      * 
      * ============================================================
      * 
      * SAMO ZA PRAVNA LICA
      * 
      * 
      * ============================================================
      * 
      * ============================================================
      * ============================================================
      * ============================================================
      * ============================================================
      * ============================================================
      * ============================================================
      * ============================================================
      * v============================================================
      * ============================================================
      * ============================================================
      * ============================================================
      * ============================================================
      */
     
     }elseif($user_type==2){
         
    
     
     ?>
             <div class="span9">
             <div class="properties-rows">
                 <div class="row">
   <?php
            if (count($paginator)>0){
              //    var_dump($this->paginator);
               // var_dump($paginator);
           foreach ($paginator as $key => $v) {
              
                 
             ?>    
       
        <div style="" class="property span9">
            <div class="row">
                <div class="image span3">
                    <div class="content">
                        <a href="<?=$v['link']?>"></a>
                        <img style="width:270px;height: 200px;" src="<?=$v['slika_1']?>" alt="">
                    </div><!-- /.content -->
                </div><!-- /.image -->

                <div class="body span6  ">
                    <div style="padding-top: 8px;" class="title-price row">
                        <div class="title span4">
                            <h2><a style="font-size: 15px;" href="<?=$v['link']?>"><?=$v['naslov']?></a></h2>
                        </div><!-- /.title -->

                      <div style="font-size: 15px;" class="price">
                            <?=$v['cena']?>
                        </div> <!--  /.price -->
                    </div><!-- /.title -->

                     <div style="font-size: 13px;margin-bottom: 0px;padding-bottom: 5px;" class="location">
                    <?=$v['mesto'],isset($v['deo_mesta'])?", ".$v['deo_mesta']:"",isset($v['lokacija'])?", ".$v['lokacija']:""?> 
                     
                    </div><!-- /.location -->
                    
                    
      <?php
 
      if ($v['vrsta_oglasa']!=-1) {
         
    
       ?>              
                    <div style="font-size: 13px;;padding-bottom: 0" class="location">
                    <a href="http://nadjinekretnine.com/ostavi-oglas/ad/<?=$v['id_oglasi_nk']?>" 
                            style="padding: 7px 15px 7px 0;;" type="button" class="btn btn-link btn-small">
                                 Izmeni <i class="fa fa-pencil-square-o"></i>
                                 </a>
                    <button data-oglas="<?=$v['id_oglasi_nk']?>"  style="padding: 7px 15px;" type="button" class="btn btn-link btn-small delete-ad">
                                 Obrisi <i class="fa fa-trash-o"></i>
                                 </button>
          
               <a title="Selektuj oglas!" style="padding: 7px 10px;" type="button" class="btn btn-link btn-small">
                    <input type="checkbox" name="select-ads" value="<?=$v['id_oglasi_nk']?>"/>  
                                 </a>
                         <?php if (\in_array($v['vrsta_oglasa'],[1,2,3])):?>
                       <button data-oglas="<?=$v['id_oglasi_nk']?>" class="btn btn-link btn-small iskljuci-payd-ads">
                               Iskljuci <i class="fa fa-times"></i></button>   
                        <?php endif?>
                        
                        
                        
                        
                          
                        <div style=" padding-top: 5px;" class="pull-right">
                     <div title="Podelite na facebooku" class="fb-share-button pull-right" data-href="<?=$v['link']?>" data-layout="button"></div> 
           <!-- Place this tag where you want the share button to render. -->
           <a class="pull-right" href="https://plus.google.com/share?url=<?=$v['link']?>" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
                src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Podeli na Google+" title="Podeli na Google+"/>&nbsp;</a> 

            
                        
                        </div>     
                 
 </div>
           
                    
                     <?php
      
           if ($v['vrsta_oglasa']>0) {
               $test_positive_num=$istice_za=(int)floor((strtotime(date($v['datum_isteka']))-
                       strtotime(date("Y-m-d H:i:s")))/(60*60*24));
              
                    $istice_za=(string)$istice_za;
                    if (substr($istice_za, -1)=='1') {
                        $istice_za=$istice_za." dan";
                    }elseif (substr($istice_za,0)=='0') {
                        $istice_za='<label class="label label-important">DANAS</label>';
                    }else{
                         $istice_za=$istice_za." dana";
                    }   
           }
                     
              
          ?>
                    
                    
                    
                    <div style="padding-left:0px;margin-left: 0;" class="pull-left span2 ">
                     <dl class="dl-horizontal oglasi-info-pregled">
                    <dt>  ID oglasa:  </dt>  <dd>         <?=$v['id_oglasi_nk']?>  </dd>
                    <dt> Kategorija: </dt>  <dd>  <?=$v['kategorija']?></dd>
                      <dt>  Pregleda: </dt>  <dd>  <?=$v['broj_pregleda']?> </dd>
                      <?php if($v['vrsta_oglasa']==0):?>
                      <dt>  Status: </dt>  <dd> <label class="label label-important">NEAKTIVAN</label> </dd>
                      <?php endif?>
                     
                    <?php if ($v['vrsta_oglasa']>0):?>
                      <dt>Istice za: </dt> <dd><?=$istice_za?></dd>
                      <?php endif?>
</dl>
                                      
                                
                       
                    </div>              
  <?php
   }
  ?>
                                      <div style="margin-left:0;margin-right: 30px;" class="pull-right span4  ">
  <!-- 
    ako je oglas aktivan
  -----------------------------------------------------
  ----------------------------------------------------------
  ---------------------------------------------------------
  -->
            <?php if (\in_array($v['vrsta_oglasa'],[1,2,3])):?>
       <div style="background-color: #EEEEEE;margin-bottom: 0;position: relative;" class="well well-small">
      
         <h5 style="margin:0; font-weight: lighter;font-size: 20px;line-height: 24px;">
            <?php
                 switch($v['vrsta_oglasa']){
                     case 1: echo 'Standardni oglas';$label="";break;
                     case 2: echo 'Top ponuda';$label="TOP"; break;
                     case 3: echo 'Premium ponuda';$label='PREMIUM'; break;
                 }
            ?>
         </h5>   
         <p>
             Trajanje oglasa:  <small><?=date("j M Y",  strtotime(date($v['datum_postavljanja_oglasa'])))." - ".date("j M Y",  strtotime(date($v['datum_isteka']))) ?></small>
         </p>
         
   
     <?php if($v['vrsta_oglasa']==1):?>
         <button data-oglas="<?=$v['id_oglasi_nk']?>" 
                  data-datum_isteka='<?=date("j M Y",  strtotime(date($v['datum_isteka'])))?>'
                    data-datumrow='<?=date("j/m/Y",  strtotime(date($v['datum_isteka'])."+1 days"))?>'
                    data-vrsta_oglasa='<?=$v['vrsta_oglasa']?>'
                    data-datum_isteka_row='<?=date("j/m/Y",  strtotime(date($v['datum_isteka'])))?>'
                    class="btn btn-xs btn-primary pull-left produzi_oglas"  title="Produzi trajanje oglasa">
                                          PRODUZI OGLAS <i class="fa fa-refresh"></i></button> 
                    
                             
                     <div class="btn-group pull-right"> 
                     
                <button class="btn btn-danger dropdown-toggle btn-xs" data-toggle="dropdown">Unapredi oglas <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="activate-ads-pl" data-tip-oglasa="top" data-oglas="<?=$v['id_oglasi_nk']?>" href="#">Top ponuda</a></li>
                  <li><a class="activate-ads-pl" data-tip-oglasa="premium" data-oglas="<?=$v['id_oglasi_nk']?>" href="#">Premium ponuda</a></li>
           
                </ul>
              </div>
     <?php else:?>
         <button data-oglas="<?=$v['id_oglasi_nk']?>" 
                  data-datum_isteka='<?=date("j M Y",  strtotime(date($v['datum_isteka'])))?>'
                    data-datumrow='<?=date("j/m/Y",  strtotime(date($v['datum_isteka'])."+1 days"))?>'
                    data-vrsta_oglasa='<?=$v['vrsta_oglasa']?>'
                    data-datum_isteka_row='<?=date("j/m/Y",  strtotime(date($v['datum_isteka'])))?>'
                    class="btn btn-xs btn-primary pull-left produzi_oglas"  title="Produzi trajanje oglasa">
                                          PRODUZI OGLAS <i class="fa fa-refresh"></i></button> 
                  
     <?php endif?>
        
         <button style="position: absolute;top: 0;right: 0;<?=$label==""?'display:none':''?>" type="button" 
                 class="btn <?=$label=='TOP'?'btn-warning':'btn-danger'?> btn-xs">
             <?=$label?></button>
        
        
        
        
      <div class="clearfix"></div> 
    </div>   
   </div> 
                    
                    
                    
     <!-- 
    OGLAS JE NEAKTIVAN
  -----------------------------------------------------
  ----------------------------------------------------------
  ---------------------------------------------------------
  -->
  <?php elseif($v['vrsta_oglasa']==0): ?>                   
                                          
                                    
  <div style="margin-left: 0;" class="alert  vrsta-oglasa span4 ">
               
                   STANDARDNI OGLAS <i class="fa fa-arrow-right"></i>
   <button href="#"data-tip-oglasa="standard" data-oglas="<?=$v['id_oglasi_nk']?>" 
           class="btn btn-xs  pull-right activate-ads activate-ads-pl">
                               AKTIVIRAJ <i class="fa fa-share-square"></i></button>     
                
                        </div>
              <div style="margin-left: 0; " class="alert  vrsta-oglasa span4 " data-hasqtip="1" aria-describedby="qtip-1">
           TOP PONUDA <i class="fa fa-arrow-right"></i>
      <button href="#" data-tip-oglasa="top" data-oglas="<?=$v['id_oglasi_nk']?>" class="btn btn-xs btn-warning   pull-right activate-ads activate-ads-pl">
                              AKTIVIRAJ TOP <i class="fa fa-share-square"></i></button>       
          </div>
                               
                        
                        
                        
        <div style="margin-left: 0; " class="alert  vrsta-oglasa span4" data-hasqtip="2">
             PREMIUM PONUDA <i class="fa fa-arrow-right"></i>
   <button href="#" data-tip-oglasa="premium" data-oglas="<?=$v['id_oglasi_nk']?>" class="btn btn-xs  btn-danger pull-right activate-ads activate-ads-pl">
                              AKTIVIRAJ PREMIUM<i class="fa fa-share-square"></i></button>               
                                    </div>    
                                                        
             </div>                                 
                                          
                                          
   <?php else: ?>
                         </div>                     
                   <div style="margin-left:0;margin-right: 30px;" class=" alert alert-error ">
   <h4 class="alert-heading">Oglas je iskljucen</h4>
   <p>
       Oglas sa id brojem:<?=$v['id_oglasi_nk']?>, je iskljucen verovatno zato sto nije u skaladu da nasim
       <a href="http://nadjinekretnine.com/uslovi-koriscenja">uslovima koriscenja!</a>
       Za sve dodatne informacije vidite stranu <a href="http://nadjinekretnine.com/moj-profil/pomoc-podrska">pomoc i podrska</a>.
   </p>
       </div>                                
                                          
                                          
   <?php endif ?>                                        
    
                                        
                    
                            
    
                      
                </div><!-- /.body -->
                 
           
               

            </div><!-- /.property -->
        </div><!-- /.row -->
<?php     }
               
             
               
               
        }else{
            ?>
   <div class="alert span8 alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Nema oglasa za prikaz</h4>
            <p>Trenutno nema rezultata po zadatom kriterijumu pretrage. Iskljucite ili promenite neke od primenjenih filtera ili ostavite novi oglasa. </p>
            <p>
              <a class="btn btn-primary" href="http://nadjinekretnine.com/ostavi-oglas">Postavi nov oglas <i class="fa fa-share"></i></a>
              <a class="btn" href="http://nadjinekretnine.com/moj-profil/moji-oglasi/po-strani/10">Resetuj filtere <i class="fa fa-times"></i></a>
            </p>
          </div>
        <?php }?>
        
        
        
    </div><!-- /.row -->
</div><!-- /.properties-rows -->


<?php echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'paginator-slide',['po_strani'=>$this->po_strani,'get'=>$this->get_paginator]); ?>

                 
                 
                  </div>




<?php 
 }












