<?php                
 $filter=$this->filter;               
 $filter->prepare();                           
             

 $kategorija=$filter->get('kategorija');
$mesta_srbija=$filter->get('mesta_srbija');
$active=$filter->get("aktivni");
$isticu=$filter->get("isticu");

$cena_od=$filter->get('cena-od');
   $cena_do=$filter->get('cena-do');
   $kvadratura_od=$filter->get('kvadratura-od');     
   $kvadratura_do=$filter->get('kvadratura-do');         
$prodaja=$filter->get('prodaja');
$izdavanje=$filter->get("izdavanje");
           $submit=$filter->get("submit"); 
           
          $errors= $filter->getMessages();
      
          //var_dump($errors);
          
          $filter_counter=$this->moji_oglasi;
        
          $count_prodaja=" (0)";
          $count_izdavanje=" (0)";
          if (isset($filter_counter['prodaja_izdavanje'])) {
          foreach ($filter_counter['prodaja_izdavanje'] as $key => $v) {
              if ($v['prodaja_izdavanje']==1) {
                  $count_prodaja=" (".$v['count'].")";
              }elseif($v['prodaja_izdavanje']==2){
                   $count_izdavanje=" (".$v['count'].")";
              }
        }    
            }

   
            unset($filter_counter['prodaja_izdavanje']);
            
            $c_aktivni_ogalsi=0;
            foreach($filter_counter['aktivni'] as $k => $v){
                foreach ($v as $key => $value) {
                    if ($key==='vrsta_oglasa') {
                          unset($filter_counter['aktivni'][$k][$key]);
                    }else{
                        $c_aktivni_ogalsi+=$value;
                    }
                }
             
            }
           unset($filter_counter['aktivni']);
           
             $c_isticu_ogalsi=0;
            foreach($filter_counter['isticu'] as $k => $v){
                foreach ($v as $key => $value) {
                    if ($key==='vrsta_oglasa') {
                          unset($filter_counter['isticu'][$k][$key]);
                    }else{
                        $c_isticu_ogalsi+=$value;
                    }
                }
             
            }
            unset($filter_counter['isticu']);
            
 ?>      
           

<script>
     var filter_counter_php=<?=json_encode($filter_counter)?>;
  //  console.log(filter_counter_php)
   //console.log(filter_counter_php.kategorija)
   function config_mesto_options(){
        
  
 
  
         $("#mesta_srbija").select2({
            placeholder: "Izaberite mesto...",
            data: {
              results: filter_counter_php.mesto,
              text: "title"
            },
              formatSelection: function format(item) { return item.title; },
              formatResult: function format(item) { return item.title; },
              formatNoMatches:"Nema rezultata.",
              multiple: true,
         //     maximumSelectionSize: 3,
              
         });
            $("#deo_mesta").select2({
            placeholder: "Izaberite deo mesta...",
            data: {
              results: filter_counter_php.deo_mesta,
              text: "title"
            },
             formatSelection: function format(item) { return item.title; },
             formatResult: function format(item) { return item.title; },
             formatNoMatches:"Nema rezultata.",
             multiple: true,
         });
         
             $("#select_lokacija").select2({
            placeholder: "Izaberite lokaciju...",
            data: {
              results: filter_counter_php.lokacija,
              text: "title"
            },
             formatSelection: function format(item) { return item.title; },
             formatResult: function format(item) { return item.title; },
             formatNoMatches:"Nema rezultata.",
             multiple: true,
         });        
         


         
         
     /*
     var data_mesta=$("#mesta_srbija").select2('data'),
  data_deo_mesta=$("#deo_mesta").select2('data'),
  data_lokacija=$("#select_lokacija").select2('data');
         $("#select_lokacija").select2();
         $("#s2id_deo_mesta").css("margin-left","0");
         $("#s2id_select_lokacija").css("margin-left","0");
             $("#s2id_mesta_srbija").css("margin-left","0");
   $("#s2id_select_lokacija,#s2id_deo_mesta").css({
  width:'100%',
 });*/
//----------------------------------------------------
   }
    
    
    
</script>

<div class="sidebar span3">
                
              
                <div style="background-color:#ffffff" class="property-filter widget">
    <div class="content">
        <legend>Filteri</legend>
  
        
        
        
        <?=$this->form()->openTag($filter)?>
        
        
        <div class="control-group">
            <label style="color: #313131;" class="control-label" for="inputLocation">
                   ID oglasa
                </label>
             <div class="input-append">
    <?=$this->formInput($filter->get("id_oglasa"))?> 
    <button type="submit" class="btn btn-primary submit-form-filter"><i class="fa fa-search"></i></button>
  </div>
            </div>
        
        
        <div class="control-group">
            <label style="color: #313131;" class="control-label" for="inputLocation">
                    Kategorija
                </label>
                <div class="controls">
                     <?=$this->formInput($kategorija)?>     
                 </div><!-- /.controls -->
            </div>
 
        
        
             <div class="control-group">
                    <label  style="color: #313131;" class="control-label" for="inputLocation">
                         Prodaja / Izdavanje    
                        </label>      
            <div style="margin-left:5px;" class="controls">
 
                <label for="prodaja">Prodaja <?=$count_prodaja?></label>
                <?=$this->formCheckbox($prodaja)?>
 
            </div><!-- /.controls -->
        </div><!-- /.control-group --> 
               <div class="control-group">
          
            <div style="margin-left:5px" class="controls">
         <label for="izdavanje">Izdavanje <?=$count_izdavanje?></label>
              <?=$this->formCheckbox($izdavanje)?>             
       
            </div><!-- /.controls -->
        </div><!-- /.control-group -->         
        
        
        
       
               <div class="control-group">
                           <label style="color: #313131;" class="control-label" for="inputLocation">
                   Mesta
                </label>
            <div style="" class="controls">
             <?=$this->formInput($mesta_srbija)?>
            </div><!-- /.controls -->
        </div><!-- /.control-group --> 
        
        <div style="overflow: auto;" class="control-group">
                           <label style="color: #313131;" class="control-label" for="inputLocation">
                  Deo mesta
                </label>
            <div style="" class="controls">
             <?=$this->formInput($filter->get("deo_mesta"))?>
            </div><!-- /.controls -->
        </div><!-- /.control-group -->       
  
                <div style="overflow: auto;" class="control-group">
                           <label style="color: #313131;" class="control-label" for="inputLocation">
                 Lokacija
                </label>
            <div style="" class="controls">
             <?=$this->formInput($filter->get("lokacija"))?>
            </div><!-- /.controls -->
        </div><!-- /.control-group --> 
        
                    <div style="overflow: auto;" class="control-group">
                           <label style="color: #313131;" class="control-label" for="inputLocation">
                Ulica
                </label>
                          <div class="input-append">
            <div style="margin-left:5px" class="controls">
             <?=$this->formInput($filter->get("ulica"))?>
                  <button type="submit" class="btn btn-primary submit-form-filter"><i class="fa fa-search"></i></button>
  </div>
            </div><!-- /.controls -->
        </div><!-- /.control-group --> 
        
        
        
        
        
        
            <div class="control-group">
                          <label  style="color: #313131;" class="control-label" for="inputLocation">
                        Informacije  
                        </label>  
            <div style="margin-left:5px;" class="controls">
                <label for="aktivni">Samo aktivni oglasi (<?=$c_aktivni_ogalsi?>)</label>
                <?=$this->formCheckbox($active)?> 
       
            </div><!-- /.controls -->
        </div><!-- /.control-group --> 
               <div class="control-group">
          
            <div style="margin-left:5px" class="controls">
                <label for="isticu">Isticu za manje od 48h (<?=$c_isticu_ogalsi?>)</label>
               <?=$this->formCheckbox($isticu)?>
       
            </div><!-- /.controls -->
        </div><!-- /.control-group --> 
        
        
     

              <div class="control-group">
                        <label  style="color: #313131;" class="control-label" for="inputLocation">
                         Cena      
                        </label>
            <div style="" class="controls">
                    <?=$this->formInput($cena_od)?>
                -
                   <?=$this->formInput($cena_do)?> 
                <div></div>
                <button  class="btn btn-primary btn-xs submit-form-filter  ">Primeni cenu</button>
            </div><!-- /.controls -->
        </div><!-- /.control-group -->

            
       
         
              <div class="control-group">
                        <label  style="color: #313131;" class="control-label" for="inputLocation">
                         Kvadratura     
                        </label>        
            <div style=" " class="controls">
            <?=$this->formInput($kvadratura_od)?>
                            -
                         <?=$this->formInput($kvadratura_do)?>
                            <a href="#"  class="btn btn-primary submit-form-filter btn-xs">Primeni kvadraturu</a>
            </div><!-- /.controls -->
        </div><!-- /.control-group -->

          
        
        

        
       
           
        
        
         <?=$this->formSubmit($submit)?>
        
        <?=$this->form()->closeTag()?>
    </div><!-- /.content -->
</div><!-- /.property-filter -->
           


        </div>
<?php 
//var_dump( $filter_counter);

 //var_dump(array_count_values($filter_count['lokacija']));





?>