<div class="container">
    <div>
        <div id="main">
            <div class="about-us">
    <h2 class="page-header">About us</h2>

    <div class="row">
        <div class="content">
            <div class="member span4">
                <img src="/img/photos/john-doe-original.png" alt="John Doe">
                <h2>John Doe</h2>
                <p>Senior Vice President</p>
            </div><!-- /.member -->

            <div class="member span4">
                <img src="/img/photos/emma-hearth-original.png" alt="Emma Hearth">
                <h2>Emma Hearth</h2>
                <p>Co-Founder</p>
            </div><!-- /.member -->

            <div class="member span4">
                <img src="/img/photos/angie-blair-original.png" alt="Angie Blair">
                <h2>Angie Blair</h2>
                <p>Public Relations</p>
            </div><!-- /.member -->
        </div><!-- /.content -->
    </div><!-- /.row -->
</div><!-- /.about-us -->
            <hr>

            <div class="row">
                <div class="span6">
                    <h2>Our Mission</h2>
                    <p>Morbi rhoncus, nisi eget molestie gravida, nunc turpis porttitor tortor, id sagittis eros magna sed arcu. In hac habitasse platea dictumst. Integer placerat gravida orci, in gravida massa dapibus nec. Nam commodo rhoncus urna, et imperdiet odio lacinia sodales. Morbi accumsan aliquet metus, ac malesuada quam rutrum et. Curabitur porttitor tincidunt lorem, id mollis dui fringilla sit amet. Mauris vitae risus nunc. Nunc pulvinar varius magna, sed scelerisque arcu varius vitae.</p>
                    <p>Donec lobortis tincidunt justo et rhoncus. Etiam ac ligula a diam consectetur commodo vitae non ipsum. Etiam viverra leo at nunc sollicitudin hendrerit. Sed feugiat massa ac nisl dictum tempus sed quis nulla. Vivamus aliquam venenatis porta.<br>
                        Quisque eget velit dictum orci luctus lacinia. Donec eget augue non sem</p>
                    <p><a href="/contact-us" class="btn btn-primary">Contact us</a>
                    </p></div>
                <div class="span6">
                    <h2>Company presentation</h2>
                    <iframe src="http://player.vimeo.com/video/61702922" width="500" height="281"></iframe><p><a href="http://vimeo.com/61702922">EVERYBODY WANTS TO KILL BRUCE</a> from <a href="http://vimeo.com/user7408417">Pierre-Alexandre Chauvat</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
                </div>
            </div>
            <div class="partners">
    <h2 class="page-header">Partners</h2>
    <div class="content">
        <div class="partner">
            <a href="#">
                <img src="/img/photos/logo-sokolov.png" alt="Logo">
            </a>
        </div><!-- /.partner -->

        <div class="partner">
            <a href="#">
                <img src="/img/photos/logo-love-letters.png" alt="Logo">
            </a>
        </div><!-- /.partner -->

        <div class="partner">
            <a href="#">
                <img src="/img/photos/logo-royal-markt.png" alt="Logo">
            </a>
        </div><!-- /.partner -->

        <div class="partner">
            <a href="#">
                <img src="/img/photos/logo-shuba.png" alt="Logo">
            </a>
        </div><!-- /.partner -->

        <div class="partner">
            <a href="#">
                <img src="/img/photos/logo-sunsynk.png" alt="Logo">
            </a>
        </div><!-- /.partner -->
    </div><!-- /.content -->
</div><!-- /.partners-->        </div>
    </div>
</div>