<?php
   $form=$this->search_form;
   $form->prepare();

   
   
   
   
   
   
   $db_date='2015-04-15 12:35:08';
   

$RegisterDate[0] = date('Y-m-d H:i:s', strtotime($db_date . ' + 10 days'));

  
$replacdashDate = str_replace("-", "/", $RegisterDate[0]);
$currentDate = date('Y/m/d H:i:s');
$currentDateDash = str_replace('/', '-', $currentDate);
$difference = (int) floor((strtotime($RegisterDate[0]) - strtotime($currentDateDash)) / 86400);
/*
var_dump($difference);
        if ($difference > 0)
        echo 'in_countdown.php';
    else
        echo 'after_countdown.php';*/
?>
<div style="clear:both"></div>

     <div style="position: relative;">
          <div id="form-search-action" class="form-search-action span7" style="">
             <?=$this->form()->openTag($form)?>
        
                 <div class="style-form-map ">
                         <h1 class="map-search-title  visible-desktop">
                             <img id="logo_text_main_search" style="" src="/img/logo-black1.png" alt="Home"> 
                         </h1>
                         <img class="visible-tablet" style="width:250px;" src="/img/logo-black1.png" alt="Home"> 
                         <h2 class="page-header visible-phone">Pretraga oglasa</h2>
                     <div style=""  class="">    
                 
                         <?=$this->formInput($form->get('kategorija'))?>         
                               
                               
                         <?php 
                             $radio_piu=array_filter(explode("<label>", $this->formRadio($form->get('prodaja_izdavanje') )));
                             $array_map=array_map(function($n){
                                 return \preg_replace('@[a-zA-Z\s]+</label>@', "", $n);
                             },$radio_piu);
                             foreach ($array_map as $item) {
                                echo "<div style='margin-top:5px;' class='span100'>$item</div>";
                             }
                         ?>
                     </div>         
                   
                     <div style="clear: both;"></div>
         
                    
                     <div title="Da bih ste aktivirali tastaturu klikni te dva puta na input polje!" id="index-izaberi-lokaciju" style="margin-top: 20px;">
                   <?=$this->formInput($form->get('lokacija'))?>      
                    </div>
             <div style="clear: both"></div>
                <div style="overflow: auto">
                           
                         <div style="margin-top: 30px"  class="pull-right">
                           <?=$this->formButton($form->get('submit-main-search'))?> 
                                           </div><!-- /.form-actions --> 
                     </div>                    
                     <hr style="margin-bottom: 0;" class="visible-phone"/>  
                               
                 </div>  
              
             <?=$this->form()->closeTag()?>
         </div> 
 
    
    <div class="hidden-phone">
<?=$this->main_slider?> 
</div>

</div>

<div style="clear:both"></div>
            

    <div  id="main">
        <?=$this->reklame()?>



       
        
   <!--Premium slider-->
<?=$this->premium_carousel?>      
        


        <div class="bottom-wrapper">
        
           <div class="bottom container">   
               <h2 style=" " class="page-header">Najbolji sajt za nekretnine u Srbiji!</h2>
    
            <div class="span12">
           
                <p>
                
                    <a href="http://nadjinekretnine.com/">Nadjinekretnine.com</a> je <b style="color: black;">
                    internet portal za nekretnine</b> sa velikim brojem oglasa. 
            U ponudi su oglasi fizičkih lica, kao i oglasi vodećih agencija za nekretnine u Srbiji. 
            Pored novogradnje, možete pronaći i ostale stanove za prodaju ili izdavanje, lokale, kancelarije, magacinske prostore ili garaže, placeve, poljoprivredna zemljišta i usluge selidbi...
            Na našem portalu kao novine postoje virtualni prolazak gde imate priliku da vidite stan ili kuću koji vas zanima u realnom 3D modelu.
            Kao druga usluga koja kao korisniku može da vam pomogne oko traženja stana, kuće, ... 
            jeste <b style="color: black;">PRVI KUPAC</b> gde vas putem SMS obaveštavamo o novim oglasima na našem portalu.
Za pretragu se možete poslužiti pretragom na naslovnoj strani, ili filterima u okviru stranica sa listama oglasa 
ili da koristite brze linkove 
iz menija. Sve dodatne informacije možete pronadji u MARKETNIGU na našem portalu.
Nadjinekretnine.com  vam žele dobrodošlicu i uspešnu pretragu!
    
                
                
                </p></div>
       
       
        
          </div> 
 <?=$this->reklame()?>
        </div> 
        












        
        <div class="container">
        
    <?=$this->brzi_linkovi?>
 
    </div>
        
        
      
        

        
        

 

 <?=$this->reklame()?>
        
<?=$this->magazin?>        
        
   
    <?=$this->reklame(['desktop'])?>
   
   
   
   
   
   
       <div class="bottom-wrapper">
      
    <div class="bottom container">
        <div class="bottom-inner row">
            <div class="item span4">
                <div class="address decoration"></div>
                <h2><a>O nama</a></h2>
                <p>
                    Na portalu <a href="http://nadjinekretnine.com">NadjiNekretnine.com</a> mozete lako da predate vas oglas
                </p>
                <a class="btn btn-primary " href="http://nadjinekretnine.com/info/o-nama">Detalji</a>  
            </div><!-- /.item -->

            <div class="item span4">
                <div class="gps decoration"></div>
                <h2><a>Marketing</a></h2>
                <p>
                Zelite da saradjujete sa nama? Pogledajte nasu ponudu.
                </p>
              <a class="btn btn-primary " href="http://nadjinekretnine.com/info/marketing">Detalji</a>  
            </div><!-- /.item -->

            <div class="item span4">
                <div class="key decoration"></div>
                <h2><a>Uslovi koriscenja</a></h2>
                <p>
                Pravila korišćenja sajta NadjiNekretnine.com   
                </p>
                
              <a class="btn btn-primary " href="http://nadjinekretnine.com/info/uslovi-koriscenja">Detalji</a>  
                
               
            </div><!-- /.item -->
        </div><!-- /.bottom-inner -->
    </div><!-- /.bottom -->
    
    
    
    
</div>
        
        
        
    
        
        
        
</div>

    