
<div class="container">

<div class="our-agents-large">
    <h2 class="page-header">Our agents</h2>

    <div class="content">
        <div class="agent">
            <div class="row">
                <div class="image span2">
                    <img src="/img/photos/emma-large.png" alt="Emma">
                </div><!-- /.image -->

                <div class="body span6">
                    <h3>Victoria Summer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor diam in quam molestie ullamcorper. Praesent a tellus massa. Nulla laoreet tempus congue. Praesent ut ultrices nunc. Etiam at libero sed turpis tempor placerat in eget lectus. Curabitur pretium, ante vel aliquam lacinia, ipsum felis hendrerit leo, ut aliquet neque odio at nisl.</p>
                </div><!-- /.body -->

                <div class="info span4">
                    <div class="box">
                        <div class="phone">333-666-777 </div>
                        <div class="office">(800) 432-5540 </div>
                        <div class="email">victoria@example.com </div>
                    </div>
                </div><!-- /.info -->
            </div><!-- /.row -->
        </div><!-- /.agent -->

        <div class="agent">
            <div class="row">
                <div class="image span2">
                    <img src="/img/photos/emma-large.png" alt="Emma">
                </div><!-- /.image -->

                <div class="body span6">
                    <h3>Victoria Summer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor diam in quam molestie ullamcorper. Praesent a tellus massa. Nulla laoreet tempus congue. Praesent ut ultrices nunc. Etiam at libero sed turpis tempor placerat in eget lectus. Curabitur pretium, ante vel aliquam lacinia, ipsum felis hendrerit leo, ut aliquet neque odio at nisl.</p>
                </div><!-- /.body -->

                <div class="info span4">
                    <div class="box">
                        <div class="phone">333-666-777 </div>
                        <div class="office">(800) 432-5540 </div>
                        <div class="email">victoria@example.com </div>
                    </div>
                </div><!-- /.info -->
            </div><!-- /.row -->
        </div><!-- /.agent -->

        <div class="agent">
            <div class="row">
                <div class="image span2">
                    <img src="/img/photos/emma-large.png" alt="Emma">
                </div><!-- /.image -->

                <div class="body span6">
                    <h3>Victoria Summer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor diam in quam molestie ullamcorper. Praesent a tellus massa. Nulla laoreet tempus congue. Praesent ut ultrices nunc. Etiam at libero sed turpis tempor placerat in eget lectus. Curabitur pretium, ante vel aliquam lacinia, ipsum felis hendrerit leo, ut aliquet neque odio at nisl.</p>
                </div><!-- /.body -->

                <div class="info span4">
                    <div class="box">
                        <div class="phone">333-666-777 </div>
                        <div class="office">(800) 432-5540 </div>
                        <div class="email">victoria@example.com </div>
                    </div>
                </div><!-- /.info -->
            </div><!-- /.row -->
        </div><!-- /.agent -->

        <div class="agent">
            <div class="row">
                <div class="image span2">
                    <img src="/img/photos/emma-large.png" alt="Emma">
                </div><!-- /.image -->

                <div class="body span6">
                    <h3>Victoria Summer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor diam in quam molestie ullamcorper. Praesent a tellus massa. Nulla laoreet tempus congue. Praesent ut ultrices nunc. Etiam at libero sed turpis tempor placerat in eget lectus. Curabitur pretium, ante vel aliquam lacinia, ipsum felis hendrerit leo, ut aliquet neque odio at nisl.</p>
                </div><!-- /.body -->

                <div class="info span4">
                    <div class="box">
                        <div class="phone">333-666-777 </div>
                        <div class="office">(800) 432-5540 </div>
                        <div class="email">victoria@example.com </div>
                    </div>
                </div><!-- /.info -->
            </div><!-- /.row -->
        </div><!-- /.agent -->
    </div><!-- /.content -->
</div><!-- /.our-agents -->


</div>