<div class="container">
   <div id="main">
       <div  style="background-color: transparent;margin-bottom: 30px;" class="bottom-wrapper">
         <?=$this->reklame(['banner'=>['name'=>'flajer_baner', ]],false,true)?>
       </div>
     <div class="row">
            <div class="span9">
<?=$this->lista_oglasa?>
 </div>
<?=$this->sidebar?>
         </div>
    </div>
</div>