






<!--
Gornji  menu sa filterima i mobile menu

-->
<div id="filter" class="btn-toolbar divider-btn" style="">
     <form style="margin: 0;" name="filteri" method="post" action="">   
         <!-- mobile menu -->
         <a id="nav-mobile-map" href="#">
             <img id="nav-mobile-img" style=" float: left;" src="/img/btn-nav.png"/>
         </a>
              <!-- end mobile menu -->     
              
         <!-- prodaja -->
              <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">Prodaja <span class="caret"></span></button>
             <ul class="dropdown-menu dropdown-size1">
                    
                            <li>
                                <ul class="dropdown-inner-form">
                                    <li>
                                        <input id="prodaja-all" name="prodaja-all" type="checkbox">   
                                        <label id="prodaja-all-label" for="prodaja-all">
                                         <span class="label label-warning">Prodaja</span>
                                        </label>      
                                    <span class="badge badge-warning badge-custom">40.672</span>   
                                    <ul style="margin-top: 3px;">
                                            <li>
                                         <input id="prodaja-agencija" name="prodaja-agencija" type="checkbox">   
                                        <label id="prodaja-agencija-label" for="prodaja-agencija">
                                          Agencija
                                        </label>      
                                         <span class="badge  badge-custom">1</span>                                    
                                            </li>
                                            <li>
                                           <input id="prodaja-vlasnik" name="prodaja-vlasnik" type="checkbox">   
                                        <label id="prodaja-vlasnik-label" for="prodaja-vlasnik">
                                              Vlasnik
                                        </label>      
                                         <span  class="badge badge-custom">4</span>                                        
                                            </li>
                                            <li>
                                            <input id="prodaja-banka" name="prodaja-banka" type="checkbox">   
                                        <label id="prodaja-banka-label" for="prodaja-banka">
                                            Banka 
                                        </label>      
                                          <span style="" class="badge badge-custom">32.234</span>                                         
                                            </li>
                                                                                        <li>
                                            <input id="prodaja-investitor" name="prodaja-banka" type="checkbox">   
                                        <label id="prodaja-investitor-label" for="prodaja-investitor">
                                             Investitor 
                                        </label>      
                                          <span style="" class="badge badge-custom">3.209</span>                                         
                                            </li>
                                        </ul>  
                                     </li>
                                </ul>
                             </li>
                      
                        </ul>
              </div><!-- end prodaja -->
             
   
              
              
              
              
              
              
              
               <!-- izdavanje -->
              <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">Izdavanje <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-size1">
                          
                            <li>
                                <ul class="dropdown-inner-form">
                                    <li>
                                        <input id="izdavanje-all" name="izdavanje-all" type="checkbox">   
                                        <label id="izdavanje-all-label" for="izdavanje-all">
                                         <span class="label label-success">Izdavanje</span>
                                        </label>      
                                    <span class="badge badge-success badge-custom">40.672</span>   
                                    <ul style="margin-top: 3px;">
                                            <li>
                                         <input id="izdavanje-agencija" name="izdavanje-agencija" type="checkbox">   
                                        <label id="izdavanje-agencija-label" for="izdavanje-agencija">
                                          Agencija
                                        </label>      
                                         <span class="badge  badge-custom">1</span>                                    
                                            </li>
                                            <li>
                                           <input id="izdavanje-vlasnik" name="izdavanje-vlasnik" type="checkbox">   
                                        <label id="izdavanje-vlasnik-label" for="izdavanje-vlasnik">
                                              Vlasnik
                                        </label>      
                                         <span  class="badge badge-custom">4</span>                                        
                                            </li>
                                            
                                        </ul>  
                                     </li>
                                </ul>
                             </li>
                       
                        </ul>
                
              </div><!-- end izdavanje -->
       
              
              
               <!-- cena -->
                      <div class="btn-group">
                          <button id="cena-dropdown" class="btn dropdown-toggle" data-toggle="dropdown">
                              <span id="button-cena"></span> 
<span id="button-cena-min"></span><span id="cena-sep"></span><span id="button-cena-max"></span> 
                              <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-size2">
                            <li>
                                <div style="margin: 0 auto;">
                                    <input name="cena-min" style="width:75px;" type="text" class="input-small active" placeholder="Min">
                                    -
                                    <input name="cena-max" style="width: 75px;" type="text" class="input-small pull-right " placeholder="Max">
                                </div>
                                <ul id="lista-cena-left" class="price-sugestions pull-left"  >
                                    
                                    </ul>
                                    
                                <ul id="lista-cena-right" style="" class="price-sugestions pull-right">
                                   
                                    </ul>
                                 </li>
                         </ul>
                
              </div><!-- end cena -->
              
              
              
               <!-- kvadratura -->
             <div class="btn-group">
                 <button id="kvadratura-dropdown" class="btn dropdown-toggle" data-toggle="dropdown"> Kvadratura <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-size2">
                          <li> 
                              <input name="kvadratura-min" style="width:75px;" type="text" class="input-small" placeholder="Min">
                                    -
                                    <input name="kvadratura-max" style="width: 75px;" type="text" class="input-small pull-right " placeholder="Max">
                                    <div style="clear: both;margin: 10px auto;"></div>
                                    <button id="button-kvadratura" class="btn btn-primary pull-right btn-small">Potvrdi pomene
          <i class="icon-refresh icon-white"></i></button>
                          </li>
                          
                        </ul>
              </div><!-- end kvadratura -->
              
              
              
               <!-- broj soba -->
                <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span id="broj-soba-nav">0+</span>
                    Broj soba <span class="caret"></span></button>
                 
                <ul id="list-broj-soba" class="dropdown-menu ">
                         <li><a data-sobe="0" href="#">0+</a></li>
                          <li><a data-sobe="1" href="#">1+</a></li>
                          <li><a data-sobe="2" href="#">2+</a></li>
                         <li><a data-sobe="3" href="#">3+</a></li>
                         <li><a data-sobe="4" href="#">4+</a></li>
                         <li><a data-sobe="5" href="#">5+</a></li>
                         <li><a data-sobe="6" href="#">6+</a></li>
                        </ul>
              </div><!-- end broj soba -->
              
              
               <!-- modal dodatno -->
           <div class="btn-group">
                <button href="#modal-dodatno" data-toggle="modal" class="btn dropdown-toggle" >
                    Dodatno <i class=" icon-plus-sign  "></i></button>
            </div><!-- end dodatno -->
             
            
             <!-- radio buttons mapa ili lista -->
            <div style="margin: 0;" class="btn-group pull-right">
         <div  class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn btn-small btn-primary active">Mapa <i class="icon-map-marker icon-white"></i></button>
  <button type="button" class="btn btn-small  btn-primary">Lista <i class=" icon-th-list icon-white"></i></button> 
</div> 
    </div> <!-- end radio buttons mapa ili lista -->              
            
            
            <!-- 
               <div style="margin: 0;"  class="btn-group pull-right">
                      <button class="btn btn-primary btn-small" type="button">
                              Sacuvaj pretragu&nbsp; <i class="icon-heart  icon-white"></i>
               </button>   
              </div><!-- /btn-group -->    
        </form>
            </div>
     <div style="clear: both;"></div>









    
    
    
     <!-- 
     -----------------------------------------------------------------------
     -----------------------------------------------------------------------
     div za mapu i listu oglasa
     -----------------------------------------------------------------------
     -----------------------------------------------------------------------
     -----------------------------------------------------------------------
     -----------------------------------------------------------------------
     -->
    
    
      
      
      <div  id="map-con" style="">
         
       
     <!-- lista oglasa -->
      <div id="svi-oglasi-mapa">
         
          
          <div id="svi-oglasi-mapa-header">
              
               <h3 class="halo-title">
                       <img src="/img/logo.png"/>      
                                 Nadji Nekretnine |</h3>
                  <span style="color: #313131;font-size: 13px;">
                    <span class="badge badge-info">33,890</span>
                      pronadjenih oglasa
                       <!--
                       <a style=" " href="#">
                            <span style="font-weight: bolder;">45 </span>  nisu na mapi
                       </a>       
                      -->
                  </span>
                           
             
   <form name="" style="margin: 0;padding-top: 2px;margin-top: 20px;" class="">
       <label class="label-za-map" style="width: 100%" for="lokacija">Izaberane lokacije <span>(mozete izabrati vise lokacija)</span></label>
  <input type="hidden" data-width="500" data-default-values="[1,2,3]"  class="span2 search-query" id="lokacija-index">
 
  
    <div style="clear: both;"></div> 
  
  <div style="margin: 20px 0 20px 30px;" class="">
      <div style="float: left;width: 200px">
      <label class="label-za-map" style="margin-left: 0" for="kategorija">
          Kategorije </label>
      <input type="hidden" style="" class="" id="e1">          
      </div>

          <div style="float: left;width: 200px;margin-left: 50px;">
         <label class="label-za-map" style="margin-left: 0" for="kategorija">
         Sortiraj</label>
      <input type="hidden" style="" class="" id="sortiranje">           
      </div>             
   
      
    </div>    
      

             
      
      

  
  
</form>
          
          
          </div>
     
       
                   <div style="clear: both;"></div>

              <div style="width: auto;margin-left: 5px;" class="pagination pagination-mini pagination-left pull-left">
              <ul>
                  <li><a href="#">10</a></li>
                  <li class="active"><a href="#">20</a></li>
                  <li><a href="#">30</a></li>
              </ul>
       </div>          
              
              
              <div style="width: auto;margin-right:  5px;" class="pagination pagination-mini pagination-right pull-right ">
    
              <ul>
                <li><a href="#">« Prethodna</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">1694</a></li>
                <li><a href="#">Sledeca »</a></li>
             </ul>
    
            </div> 
              
           <div style="clear: both"></div>
          
          

          
        <!--
          --------------------------------------------------------
          --------------------------------------------------------
          --------------------------------------------------------
          
          krece lista oglasa
          --------------------------------------------------------
          --------------------------------------------------------
          --------------------------------------------------------
          -->    
        <div id="lista-oglasa-svi-oglasi">
            
     
          
          
           <div style=" " class="lista-oglasa-jedan-oglas">
     
             <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
                 <div class="oglasivac-datum">
               10. Jul 2014 |  <span class="label label-small label-important">agencija</span>
                  </div>
             </div>  
          
               <div class="lista-oglasa-body">
                   <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno, useljivo, novagradnja, moze na kreditUknjizeno, useljivo, novagradnja, moze na kredit
                            </a>
                       </div>
                   
                     <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 220.900€</span>
                       </div>   
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                 <div class="jedan-oglas-lista">
                     <b>Stan</b> | <b>31m<sup>2</sup></b> | <span class="label label-success">Izdavanje</span>
<span style="margin-right: 5px;" class="pull-right">
    <a title="Dodaj u favorite!" href="#"> 
        <img style="width: 26px;height: 26px;" src="/img/tmp/favorites.png">
    </a>
    <a class="hide-oglas" title="Sakrij oglas" href="#">
        <img style="width: 22px;height: 22px;" src="/img/tmp/toolbar_delete.png">
    </a>
</span>
                 </div>
          
           <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a, energetski pasoš, plakari, 
                       PVC petokomorni profil, nisko emisiona stakla, italijanska keramika, hrastov parket, Blind Vrata
                   </div>   
               
             </div> 
         
          </div>
          
                 
          <div style="clear: both"></div>
          
          
                 
          
          
          
          
          
              <div class="lista-oglasa-jedan-oglas">
     
        <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
            <div class="oglasivac-datum">
               10. Jul 2014 |  <span class="label label-info">Vlasnik</span>
             </div>
               </div>  
          
               <div class="lista-oglasa-body">
                   
                      <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno     </a>
                       </div>
                   
                 <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>    
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                   <div class="jedan-oglas-lista">
                       Stan | 31m<sup>2</sup> 
                 | <span class="label label-warning">Prodaja</span>       
                       <span style="margin-right: 5px;" class="pull-right">
    <a title="Dodaj u favorite!" href="#"> 
        <img style="width: 26px;height: 26px;" src="/img/tmp/favorites.png">
    </a>
    <a class="hide-oglas" title="Sakrij oglas" href="#">
        <img style="width: 22px;height: 22px;" src="/img/tmp/toolbar_delete.png">
    </a>
</span>
                   </div>
                  
                <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a
                     </div>   
               
          
           </div> 
           </div>
          
                 
          <div style="clear: both"></div>
          
          
          
                    
         <div class="lista-oglasa-jedan-oglas">
     
             <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
                 <span class="oglasivac-datum">
                   10. Jul 2014 |  <span class="label label-important">Agencija</span>
                  </span>
             </div>  
          
               <div class="lista-oglasa-body">
                   <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno, useljivo, novagradnja, moze na kreditUknjizeno, useljivo, novagradnja, moze na kredit
                            </a>
                       </div>
                   
                     <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>   
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                 <div class="jedan-oglas-lista">
Stan | 31m<sup>2</sup> | <span class="label label-success">Izdavanje</span>
<span style="margin-right: 5px;" class="pull-right">
    <a title="Dodaj u favorite!" href="#"> 
        <img style="width: 26px;height: 26px;" src="/img/tmp/favorites.png">
    </a>
    <a class="hide-oglas" title="Sakrij oglas" href="#">
        <img style="width: 22px;height: 22px;" src="/img/tmp/toolbar_delete.png">
    </a>
</span>
                 </div>
          
           <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a, energetski pasoš, plakari, 
                       PVC petokomorni profil, nisko emisiona stakla, italijanska keramika, hrastov parket, Blind Vrata
                   </div>   
               
             </div> 
         
          </div>
          
                 
          <div style="clear: both"></div>
          
          
                 
          
          
          
          
          
              <div class="lista-oglasa-jedan-oglas">
     
        <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
            <span class="oglasivac-datum">
               10. Jul 2014 |  <span class="label label-important">Vlasnik</span>
             </span>
               </div>  
          
               <div class="lista-oglasa-body">
                   
                      <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno     </a>
                       </div>
                   
                 <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>    
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                   <div class="jedan-oglas-lista">
                       Stan | 31m<sup>2</sup> 
                 | <span class="label label-warning">Prodaja</span>       
                       <span style="margin-right: 5px;" class="pull-right">
    <img style="width: 26px;height: 26px;" src="/img/tmp/favorites.png">
     <img style="width: 22px;height: 22px;" src="/img/tmp/toolbar_delete.png">
</span>
                   </div>
                  
                <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a
                     </div>   
               
          
           </div> 
           </div>
          
                 
          <div style="clear: both"></div>
                    
         <div class="lista-oglasa-jedan-oglas">
     
             <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
                 <span class="oglasivac-datum">
                   10. Jul 2014 |  <span class="label label-important">Agencija</span>
                  </span>
             </div>  
          
               <div class="lista-oglasa-body">
                   <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno, useljivo, novagradnja, moze na kreditUknjizeno, useljivo, novagradnja, moze na kredit
                            </a>
                       </div>
                   
                     <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>   
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                 <div class="jedan-oglas-lista">
Stan | 31m<sup>2</sup> | <span class="label label-success">Izdavanje</span>
<span style="margin-right: 5px;" class="pull-right">
    <img style="width: 26px;height: 26px;" src="/img/tmp/favorites.png">
     <img style="width: 22px;height: 22px;" src="/img/tmp/toolbar_delete.png">
</span>
                 </div>
          
           <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a, energetski pasoš, plakari, 
                       PVC petokomorni profil, nisko emisiona stakla, italijanska keramika, hrastov parket, Blind Vrata
                   </div>   
               
             </div> 
         
          </div>
          
                 
          <div style="clear: both"></div>
          
          
                 
          
          
          
          
          
              <div class="lista-oglasa-jedan-oglas">
     
        <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
            <span class="oglasivac-datum">
               10. Jul 2014 |  <span class="label label-important">Vlasnik</span>
             </span>
               </div>  
          
               <div class="lista-oglasa-body">
                   
                      <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno     </a>
                       </div>
                   
                 <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>    
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                   <div class="jedan-oglas-lista">
                       Stan | 31m<sup>2</sup> 
                 | <span class="label label-warning">Prodaja</span>       
                       <span style="margin-right: 5px;" class="pull-right">
    <img style="width: 26px;height: 26px;" src="/img/tmp/favorites.png">
     <img style="width: 22px;height: 22px;" src="/img/tmp/toolbar_delete.png">
</span>
                   </div>
                  
                <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a
                     </div>   
               
          
           </div> 
           </div>
          
                 
          <div style="clear: both"></div>
          
          
                    
         <div class="lista-oglasa-jedan-oglas">
     
             <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
                 <span class="oglasivac-datum">
                   10. Jul 2014 |  <span class="label label-important">Agencija</span>
                  </span>
             </div>  
          
               <div class="lista-oglasa-body">
                   <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno, useljivo, novagradnja, moze na kreditUknjizeno, useljivo, novagradnja, moze na kredit
                            </a>
                       </div>
                   
                     <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>   
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                 <div class="jedan-oglas-lista">
Stan | 31m<sup>2</sup> 
                 </div>
          
           <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a, energetski pasoš, plakari, 
                       PVC petokomorni profil, nisko emisiona stakla, italijanska keramika, hrastov parket, Blind Vrata
                   </div>   
               
             </div> 
         
          </div>
          
                 
          <div style="clear: both"></div>
          
          
                 
          
          
          
          
          
              <div class="lista-oglasa-jedan-oglas">
     
        <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
            <span class="oglasivac-datum">
               10. Jul 2014 |  <span class="label label-important">Agencija</span>
             </span>
               </div>  
          
               <div class="lista-oglasa-body">
                   
                      <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno     </a>
                       </div>
                   
                 <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>    
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                   <div class="jedan-oglas-lista">
                       Stan | 31m<sup>2</sup> 
                   </div>
                  
                <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a
                     </div>   
               
          
           </div> 
           </div>
          
                 
          <div style="clear: both"></div>
          
          
                    
         <div class="lista-oglasa-jedan-oglas">
     
             <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
                 <span class="oglasivac-datum">
                   10. Jul 2014 |  <span class="label label-important">Agencija</span>
                  </span>
             </div>  
          
               <div class="lista-oglasa-body">
                   <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno, useljivo, novagradnja, moze na kreditUknjizeno, useljivo, novagradnja, moze na kredit
                            </a>
                       </div>
                   
                     <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>   
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                 <div class="jedan-oglas-lista">
Stan | 31m<sup>2</sup> 
                 </div>
          
           <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a, energetski pasoš, plakari, 
                       PVC petokomorni profil, nisko emisiona stakla, italijanska keramika, hrastov parket, Blind Vrata
                   </div>   
               
             </div> 
         
          </div>
          
                 
          <div style="clear: both"></div>
          
          
                 
          
          
          
          
          
              <div class="lista-oglasa-jedan-oglas">
     
        <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
            <span class="oglasivac-datum">
               10. Jul 2014 |  <span class="label label-important">Agencija</span>
             </span>
               </div>  
          
               <div class="lista-oglasa-body">
                   
                      <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno     </a>
                       </div>
                   
                 <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>    
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                   <div class="jedan-oglas-lista">
                       Stan | 31m<sup>2</sup> 
                   </div>
                  
                <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a
                     </div>   
               
          
           </div> 
           </div>
          
                 
          <div style="clear: both"></div>
          
          
                    
         <div class="lista-oglasa-jedan-oglas">
     
             <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
                 <span class="oglasivac-datum">
                   10. Jul 2014 |  <span class="label label-important">Agencija</span>
                  </span>
             </div>  
          
               <div class="lista-oglasa-body">
                   <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno, useljivo, novagradnja, moze na kreditUknjizeno, useljivo, novagradnja, moze na kredit
                            </a>
                       </div>
                   
                     <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>   
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                 <div class="jedan-oglas-lista">
Stan | 31m<sup>2</sup> 
                 </div>
          
           <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a, energetski pasoš, plakari, 
                       PVC petokomorni profil, nisko emisiona stakla, italijanska keramika, hrastov parket, Blind Vrata
                   </div>   
               
             </div> 
         
          </div>
          
                 
          <div style="clear: both"></div>
          
          
                 
          
          
          
          
          
              <div class="lista-oglasa-jedan-oglas">
     
        <div id="glavna-slika">
               <div class="glavna-slika-oglasi-mapa">
                  <a href="#"><img src="/img/tmp/lista-2.jpg" alt=""></a> 
                   </div> 
            <span class="oglasivac-datum">
               10. Jul 2014 |  <span class="label label-important">Agencija</span>
             </span>
               </div>  
          
               <div class="lista-oglasa-body">
                   
                      <div class="jedan-oglas-title  ">
                            <a  class="title-size"  href="#"> 
  Novosadski dvosoban stan 54m2 Uknjizeno     </a>
                       </div>
                   
                 <div class="jedan-oglas-lokacija">
                         Beograd, Zvezdara, Medakovic 3
   <span class="jedan-oglas-cena pull-right"> 150.00€</span>
                       </div>    
                   
                   <hr style="margin: 5px 0;border-bottom: 1px dashed #A2A2A2;">              
                   
                   <div class="jedan-oglas-lista">
                       Stan | 31m<sup>2</sup> 
                   </div>
                  
                <div class="jedan-oglas-opis title-size">
                       Novogradnja direktna prodaja, povraćaj PDV''''a
                     </div>   
               
          
           </div> 
           </div>
          
                 
          <div style="clear: both"></div>
          
          
          
          
          
          
          
          
          
          <div class="map-con-foother">
              
              
     
              <div style="width: auto;margin-left: 5px;" class="pagination pagination-mini pagination-left pull-left">
              <ul>
                  <li><a href="#">10</a></li>
                  <li class="active"><a href="#">20</a></li>
                  <li><a href="#">30</a></li>
              </ul>
       </div>          
              
              
              <div style="width: auto;margin-right:  5px;" class="pagination pagination-mini pagination-right pull-right ">
    
              <ul>
                <li><a href="#">« Prethodna</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Sledeca »</a></li>
             </ul>
    
            </div> 
              
              
              
               <div style="clear: both"></div>
          
      
      
      <div style="margin: 20px auto 0 auto;width:333px">
          <img style="text-align: center;" src="/img/logo-opacity.png"/>
      </div>    
    
      <div class="foother-list-map ">
          <a class="btn btn-link btn-small" href="#">O nama</a>
          <a class="btn btn-link btn-small" href="#">Impresum</a>
          <a class="btn btn-link btn-small" href="#">Uslovi korišćenja</a>
          <a class="btn btn-link btn-small" href="#">Marketing</a>
          <a class="btn btn-link btn-small" href="#">FAQ</a>
            <a  class="btn btn-link btn-small" href="#">Mapa sajta</a>
        <a class="btn btn-link btn-small" href="#">Posao</a>  
 </div>

            
 
       
          
          
               
               <div style="margin: 10px 0 0 0;background-color: transparent;border: 0px solid red;" class="map-foother-copyright alert alert-success">
               © Copyright <?=date("Y"); ?> Nadji Nekretnine
                       
                    
                        <div class="pull-right">
                             Powerd by <a href="#">Moj dizajn</a>
                        </div>
        
                   
               </div>
               
               
               
               
               
               
               
               
               
          
      </div>
             
              
              

          
      </div>
      
         </div>
     
        
      
       <div id="map-canvas" class=""    style="
            height: 100%;
            z-index: 2;
           overflow:hidden;
          /* width: 60%;*/
         float: left;
         
        
            "></div>

      
      
      
      </div>
      
      
      
      
      
    


    
    
    
    
    
    
    <!--
LEFT mobile menu
-->
<ul id="menu-nav-map" style="position: fixed;top: 0;left: 0;width: 0%;
     height: 100%;
     background-color:#313131;z-index: 9999;overflow: auto;
     " class="nav nav-list">
                <li class="nav-header">Stambeni objekti</li>
             <li><a class="" href="#">Stan</a></li>
              <li><a class="" href="#">Soba</a></li>
              <li><a class="" href="#">Kuca</a></li>
              <li><a  href="#">Graža</a></li>
              <li><a  href="#">Plac</a></li>
              <li><a href="#">Ostalo</a></li>
                
         <li class="nav-header">Poslovni objekti</li>
                   <li><a href="#">Lokal</a></li>
    <li><a href="#">Poslovni Prostor</a></li>
    <li><a href="#">Hala</a></li>
    <li><a href="#">Kiosk</a></li>
    <li><a href="#">Stovariste</a></li>
    <li><a  href="#">Magacin</a></li>
    <li><a  href="#">Ostalo</a></li>
                
             
        <li class="nav-header">Zemljista</li>
       <li><a href="#">Poljoprivredna</a></li>
     <li><a  href="#">Gradjevinska</a></li>
         
        <li class="divider"></li>     
           <li><a href="#">Novogradnja</a></li>              
           <li><a href="#">Selidbe</a></li>        
           <li><a href="#">Agencije</a></li>          
           <li><a href="#">Magazin</a></li>   
      </ul>
<!--
end mobile menu
-->


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--
    --------------------------------------------------------------------------
    --------------------------------------------------------------------------
    MODAL ZA dodatne filtere
    --------------------------------------------------------------------------
--------------------------------------------------------------------------
 -->
    
    <div id="modal-dodatno" class="modal hide fade  " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

       <form name="dodatni-filteri" method="post"> 
            <div id="modal-body" style="padding: 0;" class="modal-body">
   
              <div id="" class="modal-header modal-dodatno-header">
      <a style="float: right;" href="#">
    <img style="width: 32px;height: 32px;" 
         data-dismiss="modal" aria-hidden="true" src="/img/tmp/remove.png">
      </a>
      <h3 class="">Dodatni Filteri</h3>
  </div>
      
      
      <div class="modal-body-left pull-left">
          <div class="" id="grejanje-sh">
          <h5 class="sh-dodatno-modal" style="margin: 0;">Grejanje</h5>
          <ul style="margin-bottom: 0;" class="dropdown-grejanje">
                                           <li>
                                               <input id="grejanje-cg"  name="grejanje-cg" type="checkbox">   
                                        <label for="grejanje-cg">
                                       CG
                                        </label>      
                                 <span class="badge pull-right">329</span> 
                               
                                     </li>                  
                                                                         
                                    <li>
                                       <input id="eg" name="eg" type="checkbox">   
                                        <label for="eg">
                                        EG
                                        </label>      
                                     
                                <span class="badge pull-right">329</span> 
                                     </li>
                                                    
                                       
                                    <li>
                                       <input id="ta" name="ta" type="checkbox">   
                                        <label for="ta">
                                       TA
                                        </label>      
                                     <span class="badge pull-right">329</span>  
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="gas" name="gas" type="checkbox">   
                                        <label id="gas-label" for="gas">
                                       gas
                                        </label> 
                                        <span class="badge pull-right">329</span> 
                                    </li>     
                                     </ul>       
          <ul id="grejanje-toogle" class="dropdown-grejanje">
                                    
                                                                         
                                    <li>
                                       <input id="podno" name="podno" type="checkbox">   
                                        <label for="podno">
                                       podno
                                        </label>      
                                    
                                <span class="badge pull-right">329</span> 
                                     </li>
                                                                         
                                    <li>
                                       <input id="kaljeva_pec" name="kaljeva_pec" type="checkbox">   
                                        <label for="kaljeva_pec">
                                        kaljeva pec
                                        </label>      
                                  
                                <span class="badge pull-right">329</span> 
                                     </li>
                                                                         
                                    <li>
                                       <input id="norveski_radiatori" name="norveski_radiatori" type="checkbox">   
                                        <label for="norveski_radiatori">
                                       Norveski radiatori
                                        </label>      
                                    
                                <span class="badge pull-right">329</span> 
                                     </li>
                                                                         
                                    <li>
                                       <input id="mermerni_radiatori" name="mermerni_radiatori" type="checkbox">   
                                        <label for="mermerni_radiatori">
                                        Mermerni radiatori
                                        </label>      
                                  <span class="badge pull-right">329</span> 
                               
                                     </li>
                                     
                                     
                                </ul>
          <ul  class="dropdown-grejanje">
              <li>
                  <a class="manje-vise-opcija" data-dodatno="grejanje" href="#">
                      Vise opcija ▼
                  </a>
              </li>
          </ul>
          </div>
          <div style="clear: both"></div>
          
          
          
          <div class="sh-dodatno-margin"  id="dodatni-kriterijumi-sh">
           <h5 style="margin: 0; ">Dodatni kriterijumi</h5>
          <ul class="dropdown-grejanje">
      
           <li>
                                       <input id="depozit" name="depozit" type="checkbox">   
                                        <label for="depozit">
                                       depozit
                                        </label>      
                                  <span class="badge pull-right">329</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="zamena" name="zamena" type="checkbox">   
                                        <label for="zamena">
                                        zamena
                                        </label>      
                                    <span class="badge pull-right">329</span>  
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="odmah_useljiv" name="odmah_useljiv" type="checkbox">   
                                        <label for="odmah_useljiv">
                                       odmah useljiv
                                        </label>      
                                   <span class="badge pull-right">329</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="za_pusace" name="za_pusace" type="checkbox">   
                                        <label for="za_pusace">
                                       za pusace
                                        </label>      
                                <span class="badge pull-right">329</span>   
                                     </li>
                                   </ul>          
             <ul id="dodatni-kriterijumi-toogle" class="dropdown-grejanje">
                                    <li>
                                       <input id="za_nepusace" name="za_nepusace" type="checkbox">   
                                        <label for="za_nepusace">
                                       za nepusace
                                        </label>      
                                    <span class="badge pull-right">329</span>  
                                     </li>
                                                                                                              
                                    <li>
                                       <input id="uknjizen" name="uknjizen" type="checkbox">   
                                        <label for="uknjizen">
                                        uknjizen
                                        </label>      
                                   <span class="badge pull-right">329</span>   
                                     </li>
                                                                                                              
                         </ul>  
          
                    <ul  class="dropdown-grejanje">
              <li>
                  <a style="" class="manje-vise-opcija" data-dodatno="dodatni-kriterijumi" href="#">
                      Vise opcija ▼
                  </a>
              </li>
          </ul>
           
          </div>
               <div style="clear: both"></div>
          
               <div class="sh-dodatno-modal"  id="namestenost-sh">
           <h5 style="margin: 0; ">Namestenost</h5>
          <ul class="dropdown-grejanje">
      
           <li>
                                       <input id="namesten" name="namesten" type="checkbox">   
                                        <label for="namesten">
                                       Namesten
                                        </label>      
                                     <span class="badge pull-right">11</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="polunamesten" name="polunamesten" type="checkbox">   
                                        <label for="polunamesten">
                                       Polunamesten
                                        </label>      
                                     <span class="badge pull-right">11</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="prazan" name="prazan" type="checkbox">   
                                        <label for="prazan">
                                      Prazan
                                        </label>      
                                    <span class="badge pull-right">11</span>   
                               
                                     </li>
                                                                            
                         </ul>  
          </div>
          <div style="clear: both"></div>
          
          <div class="sh-dodatno-margin"  id="vrsta-kuca-sh">
        <h5 style="margin: 0; ">Vrsta kuce</h5>
          <ul class="dropdown-grejanje">
      
           <li>
                                       <input id="standardna" name="standardna" type="checkbox">   
                                        <label for="standardna">
                                      Standardna
                                        </label>      
                                   <span class="badge pull-right">12.980</span>   
                               
                                     </li>
                                                                         
           <li>
                                       <input id="duplex-kuca" name="duplex-kuca" type="checkbox">   
                                        <label for="duplex-kuca">
                                      Duplex
                                        </label>      
                                   <span class="badge pull-right">12.980</span> 
                               
                                     </li>
                                               <li>
                                       <input id="vila" name="vila" type="checkbox">   
                                        <label for="vila">
                                      Vila
                                        </label>      
                                    <span class="badge pull-right">99</span>   
                               
                                     </li>
                                               <li>
                                       <input id="montazna" name="montazna" type="checkbox">   
                                        <label for="montazna">
                                     Montazna
                                        </label>      
                                    <span class="badge pull-right">99</span>   
                               
                                     </li>
          </ul>
                                      <ul id="vrste-kuca-toogle" class="dropdown-grejanje">
                                          
                                               <li>
                                       <input id="stmbeno-poslovna" name="stmbeno-poslovna" type="checkbox">   
                                        <label for="stmbeno-poslovna">
                                      Stmbeno poslovna
                                        </label>      
                                    <span class=" badge pull-right">99</span>   
                               
                                     </li>
                                               <li>
                                       <input id="seoska" name="seoska" type="checkbox">   
                                        <label for="seoska">
                                      Seoska
                                        </label>      
                                    <span class="badge pull-right">99</span>   
                               
                                     </li>
                                                                           
                         </ul>  
                <ul  class="dropdown-grejanje">
              <li>
                  <a style="" class="manje-vise-opcija" data-dodatno="vrste-kuca" href="#">
                      Vise opcija ▼
                  </a>
              </li>
          </ul>
        
        </div>
        
          <div style="clear: both"></div>     
          
          
          
          
          
          
          
          
      </div>
      
      
      
            
      <div class="modal-body-left pull-left">
          
          <div class=""  id="spratovi-sh">
          <h5 class="sh-dodatno-modal" style="margin: 0;">Spratovi</h5>
                                          <ul class="dropdown-grejanje">
                                           <li>
                                               <input id="suteren"  name="suteren" type="checkbox">   
                                        <label for="suteren">
                                       Suteren
                                        </label>      
                                               <span style="opacity: 0.5" class="badge pull-right">329</span>   
                               
                                     </li>                  
                                                                         
                                    <li>
                                       <input id="polusuteren" name="polusuteren" type="checkbox">   
                                        <label for="polusuteren">
                                      Polusuteren
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>
                                                    
                                       
                                    <li>
                                       <input id="prizemlje" name="prizemlje" type="checkbox">   
                                        <label for="prizemlje">
                                      Prizemlje
                                        </label>      
                                    <span class="badge pull-right">2</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="visoko_prizemlje" name="visoko_prizemlje" type="checkbox">   
                                        <label for="visoko_prizemlje">
                                      Visoko prizemlje
                                        </label>      
                                    <span class="badge pull-right">10,453</span>   
                               
                                     </li>
                                  </ul>            
             <ul id="spratovi-toogle" class="dropdown-grejanje">
                                    <li>
                                       <input id="potkrovlje" name="potkrovlje" type="checkbox">   
                                        <label for="potkrovlje">
                                      Potkrovlje
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="penthouse" name="penthouse" type="checkbox">   
                                        <label for="penthouse">
                                      Penthouse
                                        </label>      
                                    <span class="badge pull-right">9</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="do_pet" name="do_pet" type="checkbox">   
                                        <label for="do_pet">
                                      do 5
                                        </label>      
                                    <span class="badge pull-right">11</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="sest-deset" name="sest-deset" type="checkbox">   
                                        <label for="sest-deset">
                                        6-10
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                               
                                     </li>
                                     
                                        <li>
                                       <input id="jedanest-plus" name="jedanest-plus" type="checkbox">   
                                        <label for="jedanest-plus">
                                       11+
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                               
                                     </li>  
                                </ul>
          
                  <ul  class="dropdown-grejanje">
              <li>
                  <a class="manje-vise-opcija" data-dodatno="spratovi" href="#">
                      Vise opcija ▼
                  </a>
              </li>
          </ul>
          </div>
          <div style="clear: both"></div>
          
          
          <div class="sh-dodatno-modal"  id="tip-objekta-sh">
           <h5 style="margin: 0; ">Tip objekta</h5>
                                          <ul class="dropdown-grejanje">
                                           <li>
                                               <input id="stara-gradnja"  name="stara-gradnja" type="checkbox">   
                                        <label for="stara-gradnja">
                                       Stara gradnja
                                        </label>      
                                               <span style="opacity: 0.5" class="badge pull-right">329</span>   
                               
                                     </li>                  
                                                                         
                                    <li>
                                       <input id="novogradnja" name="novogradnja" type="checkbox">   
                                        <label for="novogradnja">
                                 Novogradnja
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>
                                                    
                                       
                                    <li>
                                       <input id="uizgradnji" name="uizgradnji" type="checkbox">   
                                        <label for="uizgradnji">
                                    U izgradnji
                                        </label>      
                                    <span class="badge pull-right">2</span>   
                               
                                     </li>
                                                                         
                                   
          </ul>
           </div>
          <div style="clear: both"></div>
          
          
          
          <div class="sh-dodatno-modal"  id="nacin-placanja-sh">
            <h5 style="margin: 0; ;">Način plaćanja</h5>
          <ul class="dropdown-grejanje">
      
           <li>
                                       <input id="mesecno" name="mesecno" type="checkbox">   
                                        <label for="mesecno">
                                      Mesecno
                                        </label>      
                                    <span class="pull-right">0</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="na-tri-meseca" name="na-tri-meseca" type="checkbox">   
                                        <label for="na-tri-meseca">
                                      na 3 meseca
                                        </label>      
                                    <span class=" pull-right">9</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="na-sest-meseci" name="na-sest-meseci" type="checkbox">   
                                        <label for="na-sest-meseci">
                                   na 6 meseci
                                        </label>      
                                    <span class=" pull-right">(11)</span>   
                               
                                     </li>
                                                                                  
                                    <li>
                                       <input id="godisnje" name="godisnje" type="checkbox">   
                                        <label for="godisnje">
                                     Godisnje
                                        </label>      
                                    <span class=" pull-right">(11)</span>   
                               
                                     </li>                                       
                         </ul>  
          </div>
          <div style="clear: both"></div>
          
          <div class="sh-dodatno-margin"  id="vrsta-placa-sh">
           <h5 style="margin: 0; ">Vrste placa</h5>
                                          <ul class="dropdown-grejanje">
                                           <li>
                                               <input id="plac"  name="plac" type="checkbox">   
                                        <label for="plac">
                                      Plac
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>                  
                                                                         
                                    <li>
                                       <input id="njiva" name="njiva" type="checkbox">   
                                        <label for="njiva">
                                    Njiva
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>
                                                    
                                       
                                    <li>
                                       <input id="vocnjak" name="vocnjak" type="checkbox">   
                                        <label for="vocnjak">
                                      Vocnjak
                                        </label>      
                                    <span class="badge pull-right">2</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="vinograd" name="vinograd" type="checkbox">   
                                        <label for="vinograd">
                                     Vinograd
                                        </label>      
                                    <span class="badge pull-right">10,453</span>   
                               
                                     </li>
                                                                         
                                  </ul>                             
             <ul id="vrsta-plac-toogle" class="dropdown-grejanje">                                                                                                                                      
                                    <li>
                                       <input id="suma" name="suma" type="checkbox">   
                                        <label for="suma">
                                   Suma
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                                     </li>
                                                                                                                                                
                                    
                                     
                                     
                                </ul>
                         <ul  class="dropdown-grejanje">
              <li>
                  <a class="manje-vise-opcija" data-dodatno="vrsta-plac" href="#">
                      Vise opcija ▼
                  </a>
              </li>
          </ul>
      </div>
           <div style="clear: both"></div>
          
          
          
          
          
      </div>
       
      
      
            
      <div style="margin-right: 0;padding-right: 0;border-right: 0px solid silver;" class="modal-body-left pull-left">
       
          <div class=""  id="dodatno-sh">
          <h5 class="sh-dodatno-modal" style="margin: 0;">Dodatno</h5>
                                          <ul class="dropdown-grejanje">
                                           <li>
                                               <input id="interfon"  name="interfon" type="checkbox">   
                                        <label for="interfon">
                                       interfon
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>                  
                                                                         
                                    <li>
                                       <input id="kablovska" name="kablovska" type="checkbox">   
                                        <label for="kablovska">
                                       kablovska
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>
                                                    
                                       
                                    <li>
                                       <input id="internet" name="internet" type="checkbox">   
                                        <label for="internet">
                                       internet
                                        </label>      
                                    <span class="badge pull-right">2</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="klima" name="klima" type="checkbox">   
                                        <label for="klima">
                                      klima
                                        </label>      
                                    <span class="badge pull-right">10,453</span>   
                               
                                     </li>
                                                                         
                                  </ul>                             
             <ul id="dodatno-toogle" class="dropdown-grejanje">                                                                                                                                      
                                    <li>
                                       <input id="lift" name="lift" type="checkbox">   
                                        <label for="lift">
                                       lift
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                                     </li>
                                                                                                                                                
                                    <li>
                                       <input id="podrum" name="podrum" type="checkbox">   
                                        <label for="podrum">
                                       podrum
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                                     </li>
                                                                                                                                                
                                    <li>
                                       <input id="topla_voda" name="topla_voda" type="checkbox">   
                                        <label for="topla_voda">
                                       topla voda
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                                     </li>
                                                                                                                                                
                                    <li>
                                       <input id="telefon" name="telefon" type="checkbox">   
                                        <label for="telefon">
                                       telefon
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                                     </li>
                                                                                                                                                
                                    <li>
                                       <input id="graza" name="graza" type="checkbox">   
                                        <label for="graza">
                                        graza
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                                     </li>
                                                                                                                                                
                                    <li>
                                       <input id="terasa" name="terasa" type="checkbox">   
                                        <label for="terasa">
                                        terasa
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                                     </li>
                                                                                                                                                                                 
                                    <li>
                                       <input id="parking" name="parking" type="checkbox">   
                                        <label for="parking">
                                       parking
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                                     </li>
                                     
                                     
                                </ul>
                         <ul  class="dropdown-grejanje">
              <li>
                  <a class="manje-vise-opcija" data-dodatno="dodatno" href="#">
                      Vise opcija ▼
                  </a>
              </li>
          </ul>
      </div>
                <div style="clear: both;"></div>
          
                <div class="sh-dodatno-margin"  id="opis-objekta-sh">
            <h5 style="margin: 0; ">Opis objekata</h5>
                                          <ul class="dropdown-grejanje">
                                           <li>
                                               <input id="izvorno"  name="izvorno" type="checkbox">   
                                        <label for="izvorno">
                                      Izvorno stanje
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>                  
                                                                         
                                    <li>
                                       <input id="renoviran" name="renoviran" type="checkbox">   
                                        <label for="renoviran">
                                     Renoviran
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>
                                                    
                                       
                                    <li>
                                       <input id="lux" name="luxt" type="checkbox">   
                                        <label for="lux">
                                       Lux
                                        </label>      
                                    <span class="badge pull-right">2</span>   
                               
                                     </li>
                                                                         
                                    <li>
                                       <input id="salonski" name="salonski" type="checkbox">   
                                        <label for="salonski">
                                      Salonski
                                        </label>      
                                    <span class="badge pull-right">10,453</span>   
                               
                                     </li>
                                                                         
                                  </ul>                             
             <ul id="opis-objekta-toogle" class="dropdown-grejanje">                                                                                                                                      
                                    <li>
                                       <input id="duplex" name="duplex" type="checkbox">   
                                        <label for="duplex">
                                      Duplex
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                                     </li>
                                                                                                                                                
                                    <li>
                                       <input id="za-renoviranje" name="za-renoviranje" type="checkbox">   
                                        <label for="za-renoviranje">
                                     Za renoviranje
                                        </label>      
                                    <span class="badge pull-right">0</span>   
                                     </li>
                                    
                                     
                                     
                                </ul>
                         <ul  class="dropdown-grejanje">
              <li>
                  <a class="manje-vise-opcija" data-dodatno="opis-objekta" href="#">
                      Vise opcija ▼
                  </a>
              </li>
          </ul>
      </div>
           <div style="clear: both;"></div>
          
           <div class="sh-dodatno-modal"  id="kuce-spratnost-sh">
            <h5 style="margin: 0; ">Spratnost</h5>
                                          <ul class="dropdown-grejanje">
                                           <li>
                                               <input id="prizemna"  name="prizemna" type="checkbox">   
                                        <label for="prizemna">
                                      Prizemna
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>                  
                                                                         
                                    <li>
                                       <input id="spratna" name="spratna" type="checkbox">   
                                        <label for="spratna">
                                    Spratna
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>
                                   
                                                                         
                                  </ul>  
                </div>
            <div style="clear: both"></div>
            
            
            
            
           <div class="sh-dodatno-modal"  id="ostalo-plac-sh">
           <h5 style="margin: 0;">Ostalo plac</h5>
                                          <ul class="dropdown-grejanje">
                                           <li>
                                               <input id="dozvoljena-gradnja"  name="dozvoljena-gradnja" type="checkbox">   
                                        <label for="dozvoljena-gradnja">
                                     Dozvoljena gradnja
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>                  
                                                                         
                                    <li>
                                       <input id="zapoceta-gradnja" name="zapoceta-gradnja" type="checkbox">   
                                        <label for="zapoceta-gradnja">
                                   Zapoceta gradnja
                                        </label>      
                                    <span class="badge pull-right">329</span>   
                               
                                     </li>
                                                    
                                       
                                    <li>
                                       <input id="deljiv" name="deljiv" type="checkbox">   
                                        <label for="deljiv">
                                      Deljiv
                                        </label>      
                                    <span class="badge pull-right">2</span>   
                               
                                     </li>
                     
          </ul>
      </div>
           <div style="clear: both"></div>
          
          
      </div>   
      <div style="clear: both;"></div>
      <div style="margin-top: 30px;" class="modal-footer">  
          <button class="btn" data-dismiss="modal" aria-hidden="true">Otkazi</button> 
          <button class="btn btn-primary">Potvrdi pomene
          <i class="icon-refresh icon-white"></i></button>
   
  
  </div>   
       
  </div><!-- modal body-->
        </form>
                  
</div>
    
    
    
       <!--
    --------------------------------------------------------------------------
    --------------------------------------------------------------------------
   END MODAL ZA dodatne filtere
    --------------------------------------------------------------------------
--------------------------------------------------------------------------
 -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<!-- mapa -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvYtramF7qKBJSKqBENBls3KUTgZBj0DM"></script>
<!-- mapa -->


    
    





